[2018-09-06 18:52] samreid commented on #100
@zepumph says if we want to re-release, we could use similar SHAs.
@pixelzoom says the whole point of re-release is to go from master.

@jbphet says it is OK to constrain to playback on the same MAINTENANCE version the recording was on.

[2018-09-06 19:10] samreid commented on #100
Consensus:

We would like to share MAJOR.MINOR to clients.  For loading prior version for playback, we can put together the URL from sim name + version.  We should expect that newer versions cannot be used to play back prior versions.

[2018-09-06 20:07] samreid commented on #100
@zepumph can you please help summarize work that should be done based on this decision? Is there anything other than:

* Add something to the playback wrapper that figures out the URL from sim name + version

If that's all, perhaps that should become a new issue and we can close this issue.  Let me know your thoughts.

[2018-09-06 22:31] zepumph commented on #100
please comment on my obnoxious essay above in https://github.com/phetsims/phet-io/issues/1355.

[2018-09-06 22:46] zepumph commented on #100
The rest will be covered by the issues created above. @samreid anything else for this issue?

[2018-09-07 03:16] samreid commented on #100
Looks great, thanks for organizing this.

[2018-09-07 03:16] #100 closed

[2018-09-10 16:57] jonathanolson commented on #101
General consensus is that the approach looks fine. For the next maintenance release, I'll probably pair with someone, and let others watch to go through the full process.

@ariel-phet does that sound good? capacitor-lab-basics (with @Denz1994) is probably next.

[2018-09-10 17:15] jonathanolson commented on #104
Current process seems fine.

[2018-09-10 17:15] #104 closed

[2018-09-12 17:14] ariel-phet commented on #101
@jonathanolson sounds good, I will close this issue and make a "round robin" maintenance release issue

[2018-09-12 17:14] #101 closed

[2018-09-12 17:18] jbphet commented on #10
The hosting of dev versions has been transferred from spot to bayes, and I just did a quick looks that the ownership and groups for files there, and it looks reasonable.  Nothing left to do here, closing.

[2018-09-12 17:18] #10 closed

[2018-09-12 17:19] ariel-phet opened #110 "Maintenance release round robin of developers"
This issue is to keep track of which developers have gone through the maintenance release process, and to track anything that comes out of using the current process in terms of suggestions/improvments

- [x] Denzell B
- [x] John B
- [x] Jesse G
- [x] Chris K
- [x] Michael K
- [ ] @pixelzoom
- [x] Matt P
- [x] Sam R

[2018-09-12 17:59] zepumph opened #111 "Sim Version parsing logic is copied all over the project"
Currently there are 3 repos taking in a version as a string and parsing it:

* joist's `SimVersion.parse()` with the following regex:
 `      var matches = versionString.match( /(\d+)\.(\d+)\.(\d+)(-(.+))?/ );`

* perennial's `SimVersion.parse()` with the following regex:
`       const matches = versionString.match( /^(\d+)\.(\d+)\.(\d+)(-(([^\.-]+)\.(\d+)))?(-([^.-]+))?$/ );`

* in chipper @samre

[2018-09-12 22:10] samreid commented on #110
To clarify a note from https://github.com/phetsims/perennial/issues/101#issuecomment-419984698, when preparing for upcoming maintenance releases, check what developers are interested in observing that round and try to schedule a time that works for all involved parties.

[2018-09-12 22:12] samreid commented on #111
Promoting @jonathanolson's comments to top-level so I can upvote it:

we should have perennial/chipper be pretty separate
Joist’s SimVersion could be moved to Chipper (so it could be used by browser and node.js code at the same time)

[2018-09-12 23:30] pixelzoom commented on #111
See also https://github.com/phetsims/joist/issues/411 (clean up version identifier).

[2018-09-13 15:19] Denz1994 commented on #110
I'll just make the note here, that Capacitor-Lab Basics would be my candidate for testing the maintence release process.

[2018-09-13 19:28] mattpen commented on #111
@zepumph will look into merging the joist handling into chipper.  chipper and perennial cannot be combined.  The perennial version is the latest and greatest version as of today.

[2018-09-13 19:31] zepumph commented on #111
This will involve using Perennial's parser as the "definition" of the version, as well as creating/updating the chipper version to work in requirejs mode and the build process. Then it will be a preload in sims.

[2018-09-13 19:39] samreid commented on #111
Thanks for volunteering to work on this, @zepumph.  I'm wondering if it's possible to have an exact file copy that works in both perennial and chipper?  Maybe that would help us synchronize them in the long run?

[2018-09-13 19:50] jonathanolson commented on #111
May be possible, but right now the perennial file uses node.js assert, and how would we keep them from getting out-of-sync?

[2018-09-13 22:27] zepumph commented on #111
microprocess that copy pastes perennial into chipper and commit/pushes? Sounds dangerous

[2018-09-13 22:32] samreid commented on #111
Schedule a slack text for every 3 months that reminds us to check if they differ?

[2018-09-17 20:10] zepumph opened #112 "grunt checkout-master requires providing `repo`"
A potential improvement would be to keep all the code the way it is now, but add a feature that if you omit the `repo` option, then it iterates through all `active-repos` and checks out master for every one.

[2018-09-20 16:59] jonathanolson commented on #110
Lots of things came up this week on my side, had to bump the handling of the maintenance release to tomorrow (Friday).

[2018-09-25 17:43] mattpen opened #113 "Improve status updates in Maintenance.deployProduction()"
Currently, when you run Maintenance.deployProduction(), it first iterates through the entire list of sims and deploys each to production, then updates the last deployed version after all are complete.

When I was running this, the terminal hung up in the middle of a deploy, and I had to kill the process and restart.  However, because none of the deploys were recorded, deployProduction started over

[2018-09-27 18:49] chrisklus commented on #110
From 9/27/18 dev meeting: @jonathanolson is going to make some improvements before the next maintenance release.

[2018-10-03 22:17] samreid commented on #110
After the preceding comment is complete, @jonathanolson and @samreid will schedule a time to work on a maintenance release for https://github.com/phetsims/joist/issues/524

[2018-10-04 19:14] jbphet commented on #110
In the 10/4/2018 dev meeting, @jonathanolson said that he is working on the documentation for handling the more subtle and complex issues that can arise.  Once he has that done, he'll work with @samreid on the next maintenance release.

[2018-10-18 01:35] samreid commented on #110
@jonathanolson completed documentation and the ball is in my court to schedule an appointment for maintenance release.

[2018-10-30 17:04] jessegreenberg commented on #110
https://github.com/phetsims/scenery/issues/883 Was recently fixed and requires maintenance releases. There are 5 sims published with keyboard navigation support that could get this in a maintenance release. Does the tool support publishing maintenance releases to a subset of sims? If so, I may be a good next candidate for this.

[2018-11-06 16:08] samreid opened #114 "Outputting the appropriate links for PhET-iO RCs"
From https://github.com/phetsims/molarity/issues/53

Older PhET-iO simulations have the wrapper index in sim/version/wrappers/index.  Newer PhET-iO simulations have wrapper index in sim/version/.  How can the maintenance release process know which to generate?  Or should it generate both?  Tagging for discussion in https://github.com/phetsims/special-ops/issues/122

[2018-11-06 16:35] samreid commented on #114
@jonathanolson pointed out that perennial/js/common/ModifiedBranch.js is responsible for tracking status of each simulation version (and its SHAs) and we can use that to create correct URLs.

[2018-11-07 00:50] samreid opened #115 "Maintenance.linkList after production deploys shows empty ()"
From https://github.com/phetsims/special-ops/issues/122#issuecomment-436459354, the links are showing empty parentheses:

acid-base-solutions 1.2 ()

- [ ] [acid-base-solutions 1.2.16](https://phet.colorado.edu/sims/html/acid-base-solutions/1.2.16/acid-base-solutions_en.html)

area-builder 1.1 ()

- [ ] [area-builder 1.1.11](https://phet.colorado.edu/sims/html/area-builder/1.1.11/area-builder_en.h

[2018-11-16 18:09] mattpen commented on #96
This has not reoccurred and was probably a transient issue.  Closing.

[2018-11-16 18:09] #96 closed

[2018-11-16 18:20] mattpen commented on #90
This has not reoccurred in many months, and was likely a transient problem. Closing.

[2018-11-16 18:20] #90 closed

[2018-11-17 17:46] zepumph opened #116 "Add an `every-repo` list?"
From https://github.com/phetsims/phet-info/issues/85#issuecomment-439469039 it looks like `active-repos` is not actually every repo. I think we should create a general list that actually lists every repo in phetsims. This may be useful for things other than just github labels? No matter it seems strange for github-labels to have and maintain its own list. Why wouldn't we just centralize that logic

[2018-11-28 19:37] chrisklus opened #117 "@chrisklus cannot do a maintenance release"
When I tried to do a maintenance release for Balloons and Static Electricity for phet-io with @samreid and @zepumph, I got the following error:

[code]

[2018-11-29 00:07] samreid commented on #116
Note: this means that special-ops doesn't have some labels it should have, like "status:blocks-publication"

[2018-11-29 17:16] jonathanolson commented on #116
Sounds fine to me.

[2018-11-29 18:38] mattpen commented on #116
Alternatively, we could use this API wherever a list of _literally every_ repo under phetsims is needed: https://developer.github.com/v3/repos/#list-organization-repositories.  This would remove the manual maintenance of a file like this.

[2018-11-29 19:53] pixelzoom commented on #110
11/29/18 dev meeting:

@zepumph is next up, will pair with @jonathanolson next Thursday.  Pending maintenance release is phetsims/chipper#720 (add phetmarks to shas).

[2018-11-29 19:55] pixelzoom commented on #110
11/29/18 dev meeting:

@zepumph is next up, will pair with @jonathanolson next Thursday.  Pending maintenance release is phetsims/chipper#720 (add phetmarks to shas).

@jessegreenberg will talk with @jonathanolson about scheduling an a11y-releated maintenance release.  This is not high priority, just a good time to do it.

@samreid asked if QA will have time for this, based on the January workload

[2018-12-06 02:52] pixelzoom commented on #116
I prefer @mattpen's suggestion.  But if you want to create yet-another data file, I'm OK with that, as long as I never need to manually edit it.

[2018-12-10 17:19] mattpen opened #118 "Investigate missing libraries"
The third party libraries are missing from https://phet.colorado.edu/en/simulation/graphing-quadratics and graphing-quadratics is missing from https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md#graphing-quadratics.

Assigning to myself to investigate and correct.

[2018-12-11 17:05] mattpen commented on #118
@pixelzoom - It looks like reportThirdParty.js should have run in the grunt task on your machine when you deployed graphing-quadratics to production last Friday.  Do you remember if it ran this task and if so was there any error?

[2018-12-11 17:17] pixelzoom commented on #118
I was admittedly multitasking. But I don't recall seeing any message about reportThirdParty.js or errors when running `grunt production --brands=phet --branch=1.0`.  And I received an email indicating that the build had succeeded.

Why is reportThirdParty.js generated locally? Why isn't it handled by the build server?

[2018-12-11 22:52] mattpen opened #119 "Maintenance release for new ios specific image"
In phetsims/phet-ios-app#425, we added an ios optimized thumbnail.  In order for this to be accessible, a maintenance release will be needed.

@jonathanolson - Has the MR documentation been improved since we released the twitter card changes? If so, I'm game to give this a shot on my own.  If not, I'd like to schedule this in a time where you could provide guidance.

This won't be needed until we

[2018-12-12 18:59] jonathanolson commented on #119
This should be noted maybe in https://github.com/phetsims/perennial/issues/110, since @zepumph and I may be doing a maintenance release first (not sure about the schedule). Documentation is in https://github.com/phetsims/perennial/blob/master/doc/automated-maintenance-process.md now. Does that look sufficient for documentation? (I don't recall how it was for the twitter-card one, but that file may

[2018-12-13 20:02] mattpen commented on #119
This is not quite ready as we'll probably also be adding an xz compressed version of the _all.html file before we release this.

[2018-12-13 20:02] pixelzoom commented on #110
12/13/18 dev meeting: @ariel-phet instructed to defer this until after January deadlines.

[2018-12-13 20:03] mattpen commented on #119
The documentation looks much better, thanks @jonathanolson.  I'm willing to give this a shot on my own once it is ready.

[2018-12-18 20:40] mattpen commented on #118
I ran reportThirdParty.js manually and GQ has been added to the appropriate places.

In #106 we decided to add it as a scheduled service on bayes.

[2018-12-18 20:40] #118 closed

[2018-12-18 20:41] mattpen commented on #106
@jonathanolson - What is the status on this issue?

I recently had to run this manually for Graphing Quadratics to solve #118.

[2018-12-18 21:01] jonathanolson commented on #106
Not yet implemented. Let me or @ariel-phet know if this would be a priority.

[2018-12-20 01:51] zepumph commented on #116
I think this is a consensus. @mattpen can you update the github labels script to use this api instead of looking at a list.

[2019-01-10 17:20] pixelzoom opened #120 "'grunt create-sim' is broken"
This was reported on in the Google Group by Rhys Lutsky, see https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/qOeVMo-OJKg.

Following the steps in the "Create a New Sim" section of the [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#bookmark=id.m3y45bokim89):

Rhys reports that step 3 fails with:

[

[2019-01-10 17:21] pixelzoom commented on #120
@jonathanolson Could you take a look at this please, since you're most familiar with perennial? High priority, since this problem is public facing.

[2019-01-15 04:11] pixelzoom commented on #120
On Slack, @jonathanolson said:

That's not the problem.  Example:

[code]

... results in the identical failure that I experienced and reported in https://github.com/phetsims/perennial/issues/120#issue-397933943:

Fatal error: error executing binary "git": Error: git log --diff-filter=A --follow --date=short --format=%cd -1 -- js/foo-config.js in ../foo failed with exit code 128 and stdout:

[2019-01-15 16:07] pixelzoom commented on #120
@samreid identified the problem with this line in generateConfig.js, add by @jonathanolson on

`71   await updateCopyrightDate( repo, relativeFile );`

`updateCopyrightDate` uses gitlog, and the new sim doesn't have a git repo at this point.

I'm going to comment out that line until @jonathanolson has a chance to fix and test.

Slack discussion:

Chris Malley [8:58 AM]
`grunt create-sim` was repor

[2019-01-15 16:11] pixelzoom commented on #120
After commenting out the problem line in generateConfig.js, `grunt create-sim` succeeds.  I'm not sure why  `updateCopyrightDate`, because the copyrights in the .js files even look correct.

I'll notify Rhys that this is fixed.

@jonathanolson please decide whether the `updateCopyrightDate` can be remove or needs to be done via a different means.

[2019-01-15 17:35] chrisklus commented on #120
Can I comment out `const updateCopyrightDate = require( './updateCopyrightDate' );` so lint-everything passes?,

[2019-01-15 18:40] samreid commented on #120
I have done so, please pull.

[2019-01-19 04:22] zepumph opened #121 "Problems with data/unit-tests"
There is no README entry for unit-tests, so I'm unsure how to proceed here.

I noticed this when adding tests to interaction-dashboard in https://github.com/phetsims/interaction-dashboard/issues/103.

Did I do the process right?

1. add `    "generatedUnitTests": true,` to package
2. `grunt update` in interaction-dashboard?

@samreid and I found in https://github.com/phetsims/interaction-dashboard

[2019-01-31 19:48] jbphet commented on #110
No longer on hold, since some of the things that were higher priority have been done.  @jessegreenberg is next up, tentatively schedule for near the end of February.

[2019-01-31 22:23] mattpen commented on #106
Bumping this issue due to phetsims/wave-interference#339.  @ariel-phet - I'v had to run this 3-4 times manually since the chipper 2.0 release. It generally takes me an hour or two.  I could pretty easily put this in a script that runs daily on phet, which would take 3-4 hours to implement and test.

[2019-01-31 23:42] chrisklus commented on #117
@jbphet and I fixed this today. I ran the command `npm install grunt-cli -g` to update grunt, and then had no trouble doing a maintenance release for Energy Forms and Changes. Closing.

[2019-01-31 23:42] #117 closed

[2019-02-01 15:56] samreid commented on #114
Is it naive for me to hope that we won't have too many more maintenance releases for PhET-iO before we start republishing PhET-iO sims with the reworked studio and wrapper index link?  The best case scenario is that perennial would just need to know how to publish the new style.

The relevant code in Perennial is:

https://github.com/phetsims/perennial/blob/a3abe5764f1589fde8dc747dc6ef302308c3601e

[2019-02-05 04:10] pixelzoom opened #122 "'grunt checkout-release' doesn't work as advertised"
The latest release branch for graphing-lines is 1.3, and `grunt checkout-release` is giving me the 1.2 branch.   So `grunt --help` and doc in checkoutRelease.js are apparently incorrect.  I suspect it's actually something like "the release branch for the latest production release".

[code]

[checkoutRelease.js](https://github.com/phetsims/perennial/blob/153fa7537067dcb24f5b0fe59c04d3c745aa9b85/js/

[2019-02-05 16:16] jonathanolson commented on #122
Sorry about that. I think our terminology changed a bit, as now "release branch" includes unpublished (RC) branches.

Does the above fix look good?

[2019-02-05 17:02] pixelzoom commented on #122
👍 Closing.

[2019-02-05 17:02] #122 closed

[2019-02-05 20:59] zepumph opened #123 "SASS and PS sims should be runnable: true and automatedTestEnabled: false"
From slack conversation, when `runnable: false`, then `grunt update` doesn't do anything to them.

<details>
Michael Kauzmann [11:22]
sugar and salt solution and protein solutions are "runnable: false" in their package. That means that `grunt update` isn't doing anything, so their runnable files are different from all other sims. Do I ignore this problem and not regenerate the dev html for those r

[2019-02-05 21:06] zepumph commented on #123
I updated these older but still active repos so that they were omitted from CT, but still had the proper flags.

Closing

[2019-02-05 21:06] #123 closed

[2019-02-06 23:33] samreid commented on #110
Heads up that https://github.com/phetsims/brand/issues/34 was proposed as an upcoming maintenance release.

[2019-02-07 21:43] jessegreenberg commented on #110
@Denz1994 volunteered to pair with @jonathanolson for the https://github.com/phetsims/brand/issues/34 batch of maintenance releases.

[2019-02-07 21:48] jessegreenberg commented on #110
There are a few releases that have queued up in this issue. @jonathanolson said it would be good practice to deploy more than one of these at once. So the next time we go through this process, two issues will go together.

The branding issue is higher priority than all the others and should go first. A maintenance release for others will happen later.

[2019-02-13 17:38] jbphet opened #124 "Translations builds failing, looks like a permissions issue"
Starting at 12:01 PM yesterday we started seeing failures for translation builds.  Here is one example, I'll put the others in an attachment to avoid cluttering the issue.
[code]

In each case, it says "EACCESS: permission denied" on the first line.  It looks like something may have changed about permissions of the directory structure that doesn't allow the build server to succeed.

[2019-02-13 17:58] jbphet commented on #124
Here are the other failure messages, and I added dates and times for each.

<details>
  <summary>Build Failures (click to expand)</summary>

[code]

</details>

[2019-02-13 17:59] jbphet commented on #124
I'm seeing eight failed builds in the last 24 hours, once this is fixed we should have @oliver-phet notify translators to retry, since these likely didn't get published.

[2019-02-13 18:00] mattpen commented on #124
@jbphet - This is directly a result of https://github.com/phetsims/website/issues/776. OIT is working on it and expects a fix today.

[2019-02-13 18:47] jbphet commented on #124
I've taken the translation utility offline for now (anyone who goes to it will see a "check back later" message).  Please let me know when this is all worked out and I'll put it back up.

[2019-02-14 19:45] mattpen commented on #124
@jbphet - OIT reports that the NFS is in a stable state again.  Can you please put rosetta back online and notify @oliver-phet when it is?

[2019-02-15 20:51] jbphet commented on #124
Okay, Rosetta is back in action.  @oliver-phet - I'm assigning this to you to let the translators know.  Below is a list of translation attempts that failed.  I think all they need to do is resubmit.  I didn't do it myself because I think in the past we've ended up messing up translation credits that way.

Locale | Language | Sim
--- | --- | ---
ko | Korean | function-builder
el | Greek | equality

[2019-02-18 15:30] oliver-phet commented on #124
@jbphet Is it possible to get the user ID's of the translators? Some of these languages have multiple trusted translators.

[2019-02-18 15:32] oliver-phet commented on #124
I've emailed all of our trusted translators for the locales indicated above.

[2019-02-18 20:06] jbphet commented on #124
Thanks.  I spot checked a couple and see that they are up, so I'll close this issue.

[2019-02-18 20:06] #124 closed

[2019-02-21 18:37] pixelzoom commented on #110
2/21/19 dev meeting:
Next maintenance release is still [phetsims/brand#34](https://github.com/phetsims/brand/issues/34), @jonathanolson and @Denz1994, pending input from @kathy-phet.

[2019-03-06 19:03] jbphet commented on #83
Two more of these failures occurred this week, one for a Swedish translation of Concentration, and another for a Georgian translation of the same sim.  The Swedish translator appears to have figured it out because there is a Swedish version on the web site.  There is not, however, a Georgian version, so I think this translator should be notified.

@oliver-phet - can you let the Georgian translator

[2019-03-06 19:32] oliver-phet commented on #83
Translator notified.

[2019-03-07 18:41] zepumph commented on #110
3/7/19

have been running into build failures and issues that have stalled out the process for @Denz1994 and @jonathanolson. They will keep working on it.

[2019-03-14 14:44] Denz1994 commented on #110
https://github.com/phetsims/brand/issues/34 has been updated with the latest progress. Currently builds not compatible with phetmarks are failing due to the .eslintrc config file.  See the trailing output of https://github.com/phetsims/brand/issues/34#issuecomment-471059848. The current proposal is to patch in the proper .eslintrc files for the failing repos with this maintenance release.

[2019-03-21 13:42] Denz1994 commented on #110
Bulk maintenance release related to https://github.com/phetsims/brand/issues/34 is now open for QA to test. See https://github.com/phetsims/QA/issues/299. Individual issues will need to be created for testing changes in sims that are in the middle of RC testing.

[2019-03-22 22:44] mattpen commented on #110
I'm interested in scheduling a batch maintenance release for phetsims/chipper#746 / phetsims/chipper@8bb209dd4d18381ba887114adba07890595f82aa.  I can give this a try on my own, but I will probably have questions and it would be nice if @jonathanolson was around and available when I'm working on it.

This is needed for the next minor release of the iOS app (1.3).

[2019-03-23 16:30] mattpen opened #125 "All builds are failing due to missing repo"
Builds are failing due to the presence of `number-line-integers` in active repos but its absence in GitHub.

`number-line-integers` was added to active-sims, active-runnables, and active-repos by @jbphet in f7f0aeb119063b17c0d5f6bc3626d3edc27fd673.  It looks like `generateData` was run shortly thereafter which automatically removed this entry from active-sims and active-runnables.  The repo is sti

[2019-03-23 16:33] mattpen commented on #125
I added https://github.com/phetsims/number-line-integers and builds should be working now

[2019-03-24 22:27] mattpen commented on #125
Builds seem to be working now.

[2019-03-24 22:27] #125 closed

[2019-03-24 22:30] mattpen opened #126 "Build Error: .eslintrc.js is not available"
There have been two build failures due to a missing `.eslintrc.js` file in chipper this weekend.  This file is referenced by phetmarks/package.json.  In the example I posted, this file does not exist in the chipper sha mentioned.

[code]

I'm not sure who is best assignee as I have no experience with phetmarks or eslint.  @samreid @zepumph would you be able to help?

[2019-03-24 22:39] samreid commented on #126
I was able to reproduce the problem by checking out 1.1 branch of gravity-and-orbits and running `grunt --brands=phet`.

This could be related to https://github.com/phetsims/tasks/issues/972 (new lint structure) or perhaps https://github.com/phetsims/chipper/issues/720 (adding phetmarks to shas).  I'm not sure how to proceed, but I'm leaving @zepumph assigned in case it is the former, and adding @

[2019-03-26 17:26] Denz1994 commented on #126
Just noting here: I wasn't able to reproduce this build failure.

I did a `npm update` and `npm prune` in `chipper`. Then ran `grunt checkout-target --repo=gravity-and-orbits --target=1.1` from perennial. From there `grunt --brands=phet` in the sim repo didn't produce an error.

[2019-03-27 21:33] zepumph commented on #126
**TLDR**: It you every have this problem and just want it to be fixed so you can build:
* Create `chipper/eslint/.eslintrc.js`
* the file should look like: `module.exports = {};`

This is happening because when overhauling the eslint system to be based on a tree instead of single file, we added a pointer from each repo's package.json to a central file in chipper called `.eslintrc.js`. For older re

[2019-03-28 16:58] Denz1994 opened #127 "Updating phetio wrapper links instance-proxies to studio."
During name changes of phetio studio seen [here](https://github.com/phetsims/phet-io-wrappers/issues/65), perennial continues to use "instance-proxies" as a naming convention. This caused a broken URL path during QA testing of a maintenance release https://github.com/phetsims/special-ops/issues/131#issuecomment-475772614.

The proposed solution involves determining whether the chipper dependency o

[2019-03-28 17:02] Denz1994 commented on #127
This will be tested by deploying RC versions in https://github.com/phetsims/special-ops/issues/131. Phet-io branded RCs using instance proxies should have valid links.

[2019-03-28 18:42] zepumph commented on #126
The above commit worked fix the error breaking the lint task of the build. I think that we can use it whenever we run into this in the future, to cherry-pick this into the proper chipper branch.

@jonathanolson mentioned that he thought he fixed this with other work, but I don't see any commits linked above, and it didn't seem to be fixed when I was working in FAMB 2.1-phetio.

From here I'm not t

[2019-04-02 15:38] pixelzoom opened #128 "problem with computing binDir in bash scripts"
Reported by @phet-steele and @arouinfar.

[code]

[2019-04-02 22:27] pixelzoom commented on #128
We determine the directory where the script lives like this:

`binDir=`dirname "${BASH_SOURCE[0]}"`

But with `./clone-missing-repos.sh`, binDir is `.`, not the full path to `perennial/bin`.

This should be:

`binDir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"`

This problem occurs in 13 scripts in `perennial/bin/`.

Options:

(1) Leave as is and don't support `./something.

[2019-04-02 22:29] pixelzoom commented on #128
Fixing all 13 scripts should be pretty quick, but you never know.  Each one should be tested.  And I don't have time to dive into this.  Assigning to @ariel-phet to prioritize and assign.

[2019-04-04 18:47] jbphet commented on #110
In today's dev meeting, we discussed having @mattpen lead the next one, @zepumph participate to get his training on this, and @jonathanolson will participate as a consultant.  This can start any time.

[2019-04-10 20:26] ariel-phet commented on #128
@mattpen said he is willing to tackle this one. This is an issue, but it is not breaking anything for anyone, just something that would be good to fix. Marked low-priority. Feel free to assign this back to me if it turns out to be difficult/rat hole

[2019-04-11 17:40] jessegreenberg commented on #110
@mattpen said that he will proceed with one maintenance release 4/11/19. @jessegreenberg will follow up with the one mentioned in https://github.com/phetsims/perennial/issues/110#issuecomment-434386842. @ariel-phet said that we want to finish up maintenance releases before deployment of the app.

[2019-04-11 19:10] mattpen commented on #128
This should be fixed. I tested all scripts for basic functionality using `./{{SCRIPT_NAME}}` and `perennial/bin/{{SCRIPT_NAME}}`.  Everything seems to be working fine.

[2019-04-11 19:10] #128 closed

[2019-04-17 16:31] chrisklus opened #129 "Remove automatedTestEnabled flag from package.json"
@zepumph, @samreid, and I were investigating options for https://github.com/phetsims/phet-io/issues/1443#issuecomment-482761618, and noticed that the flag `automatedTestEnabled` might be redundant and should be removed. Couldn't we instead just add and remove repo names from active-runnables? There's only two usages of `automatedTestEnabled=false` (eliot and protein-synthesis).

[2019-04-18 00:41] zepumph opened #130 "Problem running Maintenance.deployReleaseCandidates()"
While working on the maintenance release for https://github.com/phetsims/chipper/issues/746, I have run into an issue.

So far @mattpen has been driving, and we have completed `Maintenance.updateDependencies()` on his machine. He then gave me the `.maintenance.json` file, which I put in the root of perennial.
Then I tried to deploy the rcs and the following error occurred:
[code]

@jonathanolson I

[2019-04-18 00:44] zepumph commented on #130
Oh my goodness! I'm sorry about this issue. After looking further at the errors above,  it seems like having an eslintrc.js file in the root of my git repos directory was causing the issue. The task is now running. Closing

[2019-04-18 00:44] #130 closed

[2019-04-18 18:05] jonathanolson commented on #129
It seems like they should be things that are maintained, but not tested. Is that correct?

[2019-04-19 21:14] zepumph commented on #103
Duplicate of https://github.com/phetsims/perennial/issues/114

[2019-04-19 21:14] #103 closed

[2019-04-19 21:17] zepumph opened #131 "create a grunt task to print deliverable phet-io links"
@kathy-phet from time to time asks us for a "master list" of all links, we should make a grunt task instead of manually doing this each time.

[2019-04-19 22:34] zepumph commented on #131
The commit here is nice, but it may spit out more than one version per sim. Next let's only provide the "largest" version.

[2019-04-19 23:40] zepumph commented on #131
Alright, now the task only prints out the latest sim version.

@samreid  will you please review. I went with the "map" implementation to isolate the latest version. Feel free to simplify and change as you desire.

Also thanks @jonathanolson for getting us going today with this.

[2019-04-25 19:18] mattpen opened #132 "Maintenance Release Notes"
@zepumph and I made the following notes while working on the maintenance release for phetsims/chipper#746.

### Process notes/questions

- When using the maintenance REPL in GitBash / Windows 10, TAB auto-complete and Ctrl+C do not work as expected.  It would be super nice to get these working for Windows devs.
- Can we add history between sessions in the maintenance REPL?  It would be convenient

[2019-04-25 19:19] mattpen commented on #119
This approach was abandoned to to image quality concerns.

[2019-04-25 19:19] #119 closed

[2019-04-25 19:24] mattpen commented on #110
The maintenance release for gzip assets is complete.  Notes from @zepumph and I are in #132.

[2019-04-25 19:45] jessegreenberg commented on #110
OK thanks, that means I am next, I will meet with someone who is familiar with this process. I am free to do this starting after 5/1/19.

[2019-04-26 19:39] mattpen commented on #132
@jonathanolson said that Step #1 is for published branches and step #2 is for unpublished.

I think it would be super nice if Step #2 could be automated somehow.

[2019-04-29 18:31] ariel-phet commented on #132
@mattpen I think the maintenance release process is important enough to our project that it continues to deserve attention. Marking as medium priority. Feel free to also discuss at dev meeting as well.

[2019-04-30 18:01] Denz1994 commented on #127
Testing of the deployed RC versions was successful, so this issue can be closed.

[2019-04-30 18:01] #127 closed

[2019-05-02 16:42] zepumph commented on #126
@jonathanolson was a maintenance release published to handle this issue? I don't think @mattpen and I encountered this during the gzip maintenance release. Should this be closed?

[2019-05-02 17:45] mattpen commented on #126
I haven't seen this cause any recent build failures from translations either.

[2019-05-02 19:25] samreid commented on #110
@jonathanolson will update documentation.  We will not track the unpublished release branches quite yet.  Then @mattpen and @jessegreenberg will work together on the next maintenance release.  There is a known issue that windows shells don't all autocomplete.

[2019-05-02 19:28] samreid commented on #129
Decision from today's dev meeting.  We will remove eliot and protein-synthesis from active-runnables.

[2019-05-02 22:29] zepumph commented on #132
Note that on windows subsystem for linux (ubuntu 18 LTS) the tab complete does work:

![image](https://user-images.githubusercontent.com/6856943/57110918-bff08680-6ce6-11e9-817d-0d232a3ba676.png)

[2019-05-03 03:22] samreid commented on #129
Removed in preceding commit.  I went to take the next step of eliminating the `automatedTestEnabled` flag from package.json, but it led me to `testable-phet-io` and `testable-runnables`, described in https://github.com/phetsims/perennial/blob/d9d0e182060c931c7b241e642ba9b02fa929ce18/data/README.md.  @zepumph do we still need these?  Or can they be eliminated for the same reason we want to eliminat

[2019-05-08 21:13] #116 closed

[2019-05-09 18:46] zepumph commented on #129
I think the best way to proceed with this issue is to do 2 things:

1. Remove this flag
2. Think through the phet-io instrumentation life cycle, and create a way (if we think it necessary) to not ct test the phet-io features of a sim, but still be able to access the phet-io links from phetmarks. Right now they use two different lists, but they are differentiated based on `automatedTestEnabled`.

[2019-05-13 16:12] jonathanolson opened #133 "Maintenance REPL improvements"
As noted in https://github.com/phetsims/perennial/issues/132, there are essentially two improvements desired:

[2019-05-13 16:15] jonathanolson opened #134 "Check in .maintenance.json"
To allow switching between computers (after updateDependencies or before patches), and since only one of these should be used at a time, it would be great if .maintenance.json changed to a checked-in file. Noted in https://github.com/phetsims/perennial/issues/132 as:

The trickiest part of this would be whether to decide on auto-commits, or if we want to manually commit the file. (Presumably it wo

[2019-05-13 16:32] jonathanolson opened #135 "Integrate unpublished branch handling into maintenance process"
Ideally non-published release branches should be tracked somewhere, so that the automated maintenance process can detect and patch them (and notably without including them in the deployments).

Right now, there is an unclear easy-to-mess-up "ask developers on slack and look at QA issues" to determine the list of unpublished release branches. Additionally, this is handled as a second "phase" after

[2019-05-13 16:46] jonathanolson commented on #106
This also came up in https://github.com/phetsims/perennial/issues/132.

[2019-05-13 16:48] jonathanolson commented on #132
I believe the above 4 issues and 2 commits encompass all of the listed changes, with the exception of:

This sounds like a good change to make. I presume it would be done in the code also (`releaseRepo` maybe?)

[2019-05-13 16:49] jonathanolson commented on #132
@ariel-phet, the main documentation changes (with the exception above) have been made, and I've isolated actionable changes to the linked issues. Should I move forward with the changes, and if so with what priority?

[2019-05-15 19:51] ariel-phet commented on #132
@jonathanolson yes, please move forward with the changes. Still medium priority, although maybe some can be taken care of with this iO fix?

[2019-05-16 16:40] zepumph commented on #134
Right, there is no reasonable way to have a cross computer solution before `updateDependencies`. I agree with your lifecycle timeline.

Yes that is a good question. I can see it either way. Probably the best long-term solution would be to have the .maintenance release patch checked in and committed automatically. Basically to have everything done for you without you needing to think about it.

If

[2019-05-16 18:13] mattpen commented on #134
I think it should be automated, if possible.

Wouldn't calling Maintenance.reset() fix this?

[2019-05-16 18:24] mattpen commented on #135
Could we add a step in `grunt rc` that adds the branch name to an unpublished release branch list file (something like `perennial/data/unpublished-rc`)? `grunt production` could then remove the name from that list.  The biggest problem I foresee is needing to manually remove RC branches that are abandoned and never published to production.

[2019-05-16 18:26] mattpen commented on #135
Do you mean the website postgres DB?  Currently it maintains one row per sim, not one row per release, so this would be a fairly significant change.

[2019-05-16 19:21] pixelzoom commented on #135
5/16/19 dev meeting:

@jonathanolson prefers option (1) in https://github.com/phetsims/perennial/issues/135#issue-443494020, no objections.  @ jonathanolson will do this and integrate.

[2019-05-16 19:28] jessegreenberg commented on #110
@jonathanolson is doing some work on the maintenance release process, and is going to test it out on a batch maintenance release for https://github.com/phetsims/chipper/issues/661.

Removing my assignment, @jonathanolson please feel free to reassign when you feel this is ready again.

[2019-05-16 19:52] zepumph commented on #134
Yes that makes sense. Forgive me since I don't understand this process as much as you two, but I would also want to see the following if there was already a maintenance release in progress:

[code]

[2019-05-21 18:02] jonathanolson commented on #133
Now  `--experimental-repl-await` may be usable, so it may be possible to get rid of our custom evaluator.

In the documentation (https://nodejs.org/api/repl.html), it seems that using a custom evaluator precludes us from using the option `breakEvalOnSigint` (which is presumably why the Ctrl+C is exiting). This would require Node 10+, and I'm not sure if it would be compatible with `grunt`.

Additi

[2019-05-21 20:31] mattpen commented on #133
I think @jessegreenberg or @zepumph discovered that the ctrl-c and tab complete work in WSL, so I think if you're seeing diminishing returns that we shouldn't worry about it getting it to work in GitBash.

[2019-05-23 07:52] jonathanolson commented on #135
Implemented, closing.

[2019-05-23 07:52] #135 closed

[2019-05-23 15:25] jonathanolson commented on #134
Because it needs to update the file after every simulation in many cases (so it can prevent errors), this would cause many hundreds of commits to perennial. Is that a major downside?

[2019-05-23 23:58] zepumph opened #136 "for-each.sh doesn't support multiple commands"
Often I have wanted to do something like:

`for-each.sh perennial/data/active-sims npm install && grunt update`

but currently it won't work.

After quite a bit of experimenting (some with @samreid and @chrisklus), I think I found a solution.

If we change this line:
`    (cd ${repository} > /dev/null; "${@:2}") # command is all args after the filename`
to
`    (cd ${repository} > /dev/null; eval

[2019-05-24 00:00] zepumph commented on #136
@mattpen will you please review. Does this make sense? I don't know too much about `eval` as a command.

[2019-05-24 00:01] zepumph commented on #136
Once done it may be nice to share this at dev meeting as a PSA. I'm unsure how many others have run into this.

[2019-05-24 17:57] zepumph commented on #134
@jonathanolson and I discussed this today while working on https://github.com/phetsims/chipper/issues/661. We thought one way to proceed could be to just check in the file after whole commands had finished. This has the drawback that if `updateDependencies` fails half way through, the maintenance file wouldn't be checked in, but mast on github would be partially co-opted by this maintenance releas

[2019-05-30 22:33] samreid commented on #129
This will take more time to work through, so I'm reducing priority relative to other high priority tasks.

[2019-06-01 00:09] zepumph commented on #131
It should be noted that this currently doesn't support the "latest" feature, and that should be built into this so that the list delivered to clients will include versions that automatically increment to the latest.

[2019-06-03 16:07] mattpen commented on #136
I have never used eval and I'm not aware of the problems.  I reviewed http://mywiki.wooledge.org/BashFAQ/048 and it sounds like the main problem with eval is that it can execute arbitrary code if it is passed information from a user.  However, in our case this sounds like desired behavior.  At the end of that article there are some guidelines for robust usage.

In the past, when wanting to use for

[2019-06-03 18:21] zepumph commented on #136
That is not something I am easily able to write, and I bet that is the same for many phet devs.

Yes I am thinking that it would be used as "one-off"ish as any `for-each.sh` script I run, like running a grunt/node/npm/git task once.

I looked at the "robust usages" section, and it seemed like most of it was overkill for the purposes of `for-each.sh`. Thanks for you your help. We haven't heard any

[2019-06-03 18:21] #136 closed

[2019-06-10 21:52] zepumph opened #137 "Great a grunt task to compare PDOM descriptions"
From a11y dev meeting today with @jessegreenberg, we were interested in prototyping around with a way to test description comparisons between two versions. We worked on a prototype today, and got to a commit point where we can compare the PDOMs on startup of working copy sim with the same from master (using `git stash`ing). This is working, but there are some pretty big todos to think about before

[2019-06-10 21:52] zepumph opened #138 "create a grunt task to compare PDOM descriptions"
From a11y dev meeting today with @jessegreenberg, we were interested in prototyping around with a way to test description comparisons between two versions. We worked on a prototype today, and got to a commit point where we can compare the PDOMs on startup of working copy sim with the same from master (using `git stash`ing). This is working, but there are some pretty big todos to think about before

[2019-06-10 22:23] jessegreenberg commented on #137
github must really like this idea because it created two of these issues, this is identical to #138. Closing this one because #138 has labels and commits with references.

[2019-06-10 22:23] #137 closed

[2019-06-20 16:56] mattpen opened #139 "MR process: adding patches after updateDependencies"
A problem arose while @jessegreenberg and I were working on the MR for phetsims/scenery#883.

We added the commits and repos that we thought were necessary for the patch and thought that we were ready for updateDependencies().  There was a build failure during the run for one of the sims and we realized that further commits were needed.  We created a new commit and added it with addPatchSHA.  We t

[2019-06-21 21:00] jessegreenberg commented on #139
This description is how I remember it as well.

I think this is very likely. We hit a problem twice where it was unable to checkout a SHA. The first time we fixed it by removing all SHAs from .maintenance.json and starting fresh. The second time it was fixed by manually removing two `\u0016 ` characters that were added when I accidentally Ctrl+V a SHA into the command.

[2019-06-21 21:04] jessegreenberg commented on #138
In #139 we also discovered that Ctrl+V adds extra `\u0016` characters that may be interfering with things.

[2019-06-21 21:19] jessegreenberg commented on #106
+1 for this, I didn't run into an error but it adds a substantial amount of time to when running `Maintenance.deployProduction` in the final steps of the maintenance release process.

[2019-06-21 22:00] jessegreenberg commented on #110
@mattpen and I completed the batch maintenance release for https://github.com/phetsims/scenery/issues/883. It was a small set of sims but went very smoothly. For a the things we encountered we made issues in perennial.

[2019-06-25 22:44] jessegreenberg commented on #133
In #139 we also discovered that Windows git bash Ctrl+V adds extra \u0016 characters that may be interfering with things.

[2019-06-27 18:09] zepumph commented on #110
@jonathanolson mentioned today that there are one or maybe two MRs coming up. @chrisklus will tag along!

[2019-07-02 18:33] jonathanolson opened #140 "phet-io .htaccess rewrite loops"
In https://github.com/phetsims/phet-io/issues/1465, it was noticed that attempts to visit https://phet-io.colorado.edu/sims/phet-io-test-sim/1.1.0/ ended up showing content for the maintenance release 1.0.1.

Based on the rewrite rules (filtered for ones that don't apply):
[code]

It turns out that this is ignoring any prefixes in the URL, so that `1.0/(.*)` WILL actually end up matching on the ur

[2019-07-02 18:35] jonathanolson commented on #140
Additionally, similar things seem to be possible in production, for example the following link actually loads the latest sim: https://phet.colorado.edu/sims/html/masses-and-springs-basics/somethingthatisthelatest/masses-and-springs-basics_en.html

I'll leave that for @mattpen to look into.

[2019-07-02 18:54] jonathanolson commented on #140
Pulled build-server and restarted. Looks like the commit above is working correctly. Un-assigning myself and @chrisklus.

[2019-07-02 23:35] zepumph commented on #140
This is blocking GQIO publication, marking as such

[2019-07-03 15:26] mattpen commented on #140
@zepumph - It looks like @jonathanolson already deployed the fix for phet-io to production.  What about this issue is blocking GQIO?

[2019-07-03 15:38] mattpen commented on #140
The carets look like the appropriate fix for this problem.

I've applied the fix to phet brand and deployed it to production (pulled perennial and restarted build-server on phet-server).

@zepumph, if this is no longer blocking GQIO, please close the issue.

[2019-07-03 15:48] chrisklus commented on #140
Thanks @mattpen! Closing.

[2019-07-03 16:34] zepumph commented on #140
@jonathanolson, I am curious about why a "^" works. I would expect for that to match the beginning of a string. Why is this better or more thorough than prefixing with a `/`? Does apache break up each path part and run it through the htaccess test? Or maybe the fact that this rewrite rule exists in the parent that holds the version folders means that a "^" applies to the path beginning with the fo

[2019-07-03 18:58] mattpen commented on #140
These rules are preceded by a RewriteBase rule, which defines the beginning of the path.  The caret matches the beginning of the string after the rewrite base.  The rewrite base is defined as `/sims/{{sim-name}}/`.  So the slash is included in this part of the pattern rather than in the version matching.

[2019-07-03 21:24] zepumph commented on #140
Ahh makes perfect sense. Thank you so kindly @mattpen.

[2019-07-03 22:43] zepumph commented on #140
Nevermind :)

[2019-07-03 22:43] #140 closed

[2019-07-09 18:42] zepumph commented on #60
@jessegreenberg and I ran into this in https://github.com/phetsims/perennial/issues/138 today. We may use this script.

[2019-07-09 18:43] zepumph commented on #138
Notes from discussion:
[code]

[2019-07-09 19:17] jessegreenberg commented on #138
The notes in https://github.com/phetsims/perennial/issues/138#issuecomment-509760019 illustrate that we discussed comparing the PDOM against a given date by SHA. This way, we aren't locked into a single PDOM defined at publication time and we don't compare against master which would make it easy to miss things.

[2019-07-10 00:49] zepumph commented on #138
@twant and I worked on this today. We were able to get very far on testing the current working copy (even with unstashed changes) against a previous sim commit.

given this working copy change in `GFLBScreenView`:
![image](https://user-images.githubusercontent.com/6856943/60931936-18ed1580-a268-11e9-96f9-a9b3f388f9ab.png)

And this command, where the sha is most recent commit in gravity-force-lab-

[2019-07-10 21:26] zepumph commented on #138
This task was breaking a MR that @chrisklus was working on, because checkout-master-all was unable to load the chipper `getPhetLibs` script. To bypass it, I did the same workaround that we do to support lint-everything from perennial: requiring only within the grunt task. Sorry for the trouble! Tagging @jessegreenberg too.

[2019-07-11 19:53] zepumph opened #141 "Create daily-grunt-work.sh and run it on bayes"
From https://github.com/phetsims/chipper/issues/763, it would be nice to have a script that runs once a day on bayes that can be run on bayes to do some of the automatic work that we don't want to have to deal with anymore.

So far we have the following items to be added to this list:
1. Third parties report in https://github.com/phetsims/chipper/issues/594
2.  updating copy right dates in https:/

[2019-07-11 19:58] chrisklus commented on #141
@zepumph here is the comment with steps for updating copyright dates for the whole project: https://github.com/phetsims/tasks/issues/988#issuecomment-464892353.

[2019-07-11 22:10] zepumph commented on #141
I created a script, and set it up to run every night with a cron job. Thanks @chrisklus for the steps to get started.

[2019-07-11 22:12] zepumph commented on #141
For a bit I was thinking I would try to use pm2, and maybe to combine this with the generate-data process, but that runs continuosly, and we don't need this to run so much. I also like the idea of easily being able to add to this script and having the cron job pick it up. Furthermore, I am piping the output to a log in phet-admin's home `daily-grunt-work.log`, and will check in tomorrow to make su

[2019-07-12 01:34] zepumph commented on #120
This was fixed (or will be) as part of https://github.com/phetsims/chipper/issues/763

[2019-07-12 01:34] #120 closed

[2019-07-12 18:37] zepumph commented on #141
This cron job on phet-admin on bayes is working well. I checked the log at `~/daily-grunt-work.log`, which will continue to be overwritten each night when running. Things are looking very good! It worked as expected. Since the cron job pulls perennial before running the script, we can just change the script from here to add what we want.

@jonathanolson would you please review these changes. As sa

[2019-07-17 06:06] samreid commented on #110
@chrisklus and I ran a maintenance release process for https://github.com/phetsims/query-string-machine/issues/34 99% on our own, and it went well.  Thanks to @jonathanolson for setting up this process and documenting it nicely.

[2019-07-18 02:29] zepumph commented on #141
This has now been running for a week, and the log still looks good to me.

[2019-07-18 05:11] samreid opened #142 "Update documentation about maintenance release RC publications"
Several of us were surprised that the maintenance release process only created RCs for published branches.  In retrospect this makes sense, but we thought it might be nice to document that explicitly in the instructions.  From slack:

[code]

Also, at one point today it would have been useful to create an RC for an unpublished version, so @zepumph suggested that might one day be an option.  We cou

[2019-07-18 05:22] jonathanolson commented on #141
I see a mix of `npm update` (perennial) and `npm install && npm update` (chipper). I believe the ideal set of commands (and the ones that perennial usually uses) is `npm prune && npm update`.

Additionally, we'll probably want to update copyright dates in more places than active-runnables (e.g. scenery).

Otherwise, it looks good to me.

[2019-07-18 18:06] jonathanolson commented on #141
Honestly, I iterated over active-repos and ignored repos where `grunt` didn't work or do anything. Can we do that?

[2019-07-18 18:21] jonathanolson commented on #142
Added above. @samreid does that look sufficient?

[2019-07-18 19:46] zepumph commented on #141
How do you do that? Also note with that answer that I would want to npm install first.

[2019-07-18 21:54] zepumph commented on #141
The above commits have a few updates.
* add clone missing repos
* push copyright updates
* update copyrights for active-repos
* simplify commit/push step for third party report

@jonathanolson please see how I'm still just doing npm update for non chipper/perennial repos, does that seem ok? Or should I use `npm prune && npm update`

[2019-07-18 22:05] zepumph commented on #141
- [ ] @jonathanolson in addition to the above question, when this is good to go we should also remove `report-third-party` from production deploys.

Is there anything else for this issue?

[2019-07-18 22:09] zepumph opened #143 "Add brands to build server notification email"
This would be of minor help as we begin to publish more sims for phet-io.

[2019-07-18 22:11] zepumph commented on #143
I think that the build server needs to be restarted for this to be picked up. There is no rush, but if that only takes a minute or two that could be nice. @mattpen could you comment, deciding whether to restart now, or to let it sit until next restart. Either is alright with me. Feel free to close this issue if the change looks good.

[2019-07-18 23:03] jonathanolson commented on #141
I'd recommend always doing the prune with the update.

Let me know when it's at the point to remove the third-party report from deploys (if I should do that, or if you were planning on doing it).

[2019-07-19 00:15] zepumph commented on #141
Removed above. I also added binder doc and cleaned up the copyright loop since we are using active-repos now, @jonathanolson anything else?

[2019-07-19 02:37] jonathanolson commented on #141
Looks good to me, thanks!

[2019-07-19 02:37] #141 closed

[2019-07-19 06:34] mattpen commented on #143
It's usually fine to restart it at anytime. I can restart it tomorrow if you're unsure of the process.

[2019-07-19 16:13] zepumph commented on #143
That would be great thank you.

[2019-07-22 19:32] samreid commented on #142
Looks great, thanks so much!

[2019-07-22 19:32] #142 closed

[2019-07-23 14:50] mattpen commented on #143
Sorry for the delay.  I restarted the build server today.  @zepumph please confirm if this issue is resolved.

[2019-07-23 19:01] zepumph commented on #143
![image](https://user-images.githubusercontent.com/6856943/61739581-2eb70c00-ad39-11e9-9070-6b3a2b56b002.png)
👍

[2019-07-23 19:01] #143 closed

[2019-07-29 20:03] pixelzoom opened #144 "unexpected results when canceling RC deploy"
I started doing an RC deploy.  When I answered "N" to "Is it ready to deploy?", it continued to do something (checking out master?), and then failed with the Error shown below.

First, it would be nice if it told you that it was reverting to master, not continuing to deploy.

Second, I'm wondering if this Error is even really an error.  It looks like something that's expected.

Assigning to @ariel

[2019-07-29 20:11] pixelzoom opened #145 "gas-properties RC deploy failed"
I'm trying to deploy 1.0.0-rc.1 for gas-properties.  I ran:

[code]

Email from PhET Build Server informs me that the build failed, see below.  I have no familiarity with the build server. I asked for help on Slack, but no response, so creating this issue.

@ariel-phet please assign.  This is blocking RC testing for gas-properties.

[code]

[2019-07-29 20:15] pixelzoom commented on #145
It looks like package.json in gas-properties 1.0 branch will need to be manually reverted.  Version should be rolled back to 1.0.0-rc.0.

[code]

[2019-07-29 20:16] zepumph commented on #145
On bayes, looks like GP doesn't have group write:

`drwxr-sr-x.  47 malleyc    phet 4096 Jul 25 16:23 gas-properties`

[2019-07-29 20:17] zepumph commented on #145
Perhaps this is a problem with the dev deploy process, but @pixelzoom you could fix it by going onto bayes and chmoding to add group write, then rerunning the rc.

[2019-07-29 20:17] zepumph commented on #145
fix the immediate, top priority problem.

[2019-07-29 20:17] pixelzoom commented on #145
Hmmm.  I did not manually create `gas-properties/`.  And why did `grunt dev` worked 44 times?

[2019-07-29 20:18] zepumph commented on #145
the dev process uses the username in your build-local, rc uses phet-admin via the build-server.

[2019-07-29 20:20] zepumph commented on #145
Right that is the buggy part to be fixed in this issue. The dev process likely didn't give correct group permissions when creating that folder. Everything else I'm speaking about is just to get the ball rolling for GP.

[2019-07-29 20:21] pixelzoom commented on #145
waves-intro/ is also `drwxr-sr-x` (@samreid), maybe that's a clue to when this problem was introduced.

[2019-07-29 20:31] pixelzoom opened #146 "'grunt dev' assigns wrong permissions to target directory"
This manifested as an RC deploy failure, see https://github.com/phetsims/perennial/issues/145.

`grunt dev` runs as whatever `devUsername` is set in $HOME/.phet/build-local.json.  For gas-properties, gases-intro, diffusion, and waves-intro, the directory permissions were set to `drwxr-sr-x`.

`grunt rc` runs as phetadmin, so it needs group write permissions on the target directory -- which it does

[2019-07-29 20:33] pixelzoom commented on #145
Thanks @zepumph.  After `chmod g+w` on gas-properties/, `grunt rc` is succeeding.

I've created https://github.com/phetsims/perennial/issues/146 to track the problem with `grunt dev` and directory permissions.

Closing.

[2019-07-29 20:33] #145 closed

[2019-07-29 20:36] zepumph commented on #146
Note that this isn't a problem for the dev versions themselves, but instead just the containing folder:

[code]

[2019-07-29 20:39] zepumph commented on #146
Looks like @mattpen commented out the chmod line in dev.js in 6/2018 as part of 0fe9f1752f94e4c7f5a467ce6bda0419b4f16688 in https://github.com/phetsims/perennial/issues/91. @mattpen  over to you to explain why we shouldn't chmod to g+w, or to add that line back in:

[code]

[2019-07-29 20:47] mattpen commented on #146
In https://github.com/phetsims/perennial/commit/0fe9f1752f94e4c7f5a467ce6bda0419b4f16688 I moved the `chmod` call to after the content was written, I didn't simply comment it out.  However, I also changed the target from the sim directory to the version specific directory, so this is the likely cause.

[2019-07-29 21:55] zepumph commented on #134
Unassigning for now, let me know if you need anything.

[2019-07-29 22:12] mattpen commented on #146
I think the above commit should fix this issue, but I'm not quite sure how to test it.  I think it would require a dev running `grunt dev` then `grunt rc` on a sim.  I think it requires that the developer does not have `umask g+w` included in their bayes:~/.bashrc.

[2019-07-29 22:17] mattpen commented on #146
I thought that adding `umask g+w` to bayes:~/.bashrc used to be part of the new developer or deployment document, but I couldn't find it anywhere.  I'm going to add it to [chipper-2.0.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md) as this should have also solved this problem.

[2019-07-30 14:24] samreid commented on #146
I tried running `grunt dev` before adding `umask g+w` and received this error:

[code]

That led me to find this issue.  I'll try changing my `umask` and see if that helps.

[2019-07-30 14:41] mattpen commented on #146
@phetsims/mark-morlino - Can you help on this issue?  Users in the phet group cannot change permissions of children of `bayes:/data/web/htdocs/dev/html` despite the fact that they have group write permissions on the folders.  Is there a problem with SELinux settings perhaps?

[code]

[2019-07-30 14:46] mattpen commented on #146
For now, I've reverted d0fa3b9ee822723588b9ca0670ba51cd5c366af8 as it appeared to make things worse.

[2019-07-30 14:53] samreid commented on #146
Thanks @mattpen, the revert is working ok for my dev deploys.

[2019-07-30 14:56] markmorlino commented on #146
I can't VPN right now (because it will break something else I'm doing) what are the owner/group/permissions of /data/web/htdocs/dev/html itself?

[2019-07-30 14:57] samreid commented on #146
Hi @markmorlino, are you on slack (phetsims.slack.com)?  I can help investigate now if that's helpful.

[2019-07-30 14:58] samreid commented on #146
Also, `ls -la` reports:

[code]

[2019-07-30 14:58] mattpen commented on #146
[code]

[2019-07-30 17:06] zepumph commented on #146
Beyond this specific bug, it would be nice to be able to automatically add group write to all new users. Is there a way to give new users a template `bashrc` with the `umask` command baked into it?

[2019-07-30 19:52] mattpen commented on #146
Apparently only file owners and root can change file permissions, group write access does not grant permission to change file level permissions.  https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Step_by_Step_Guide/s1-navigating-ownership.html

@markmorlino - Do we even need to call `chmod g+w` inside /data/web/htdocs/dev/html, since we have the setgid bit?

[2019-07-30 21:28] markmorlino commented on #146
@zepumph yes, "umask 0002" could be added to the bottom of /etc/skel/.bashrc so that new users would have this in their ~/.bashrc files (it would not impact existing users)

@mattpen the setgid bit on the parent directory will cause files/folders created underneath of it to inherit the group of the parent folder (instead of the primary group of whatever creates them). But it does not change the de

[2019-07-30 22:13] mattpen commented on #146
@markmorlino - Could we achieve this with Default ACL's? https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/storage_administration_guide/acls-setting

Would running the following provide default group write access?
[code]

[2019-07-30 22:27] markmorlino commented on #146
@mattpen It might. I had a similar thought but I wasn't sure if it would apply to direct children only, or to everything created below. And I wasn't sure if it was possible to set different defaults for files(rw) and directories(rwx) (although this may not be needed if the regular permissions are already allowing group execute on directories).

[2019-07-30 22:46] markmorlino commented on #146
@mattpen I did a quick test in my home directory on bayes and the setfacl command applies to any directory created underneath. However, it doesn't change things that were created before the setfacl command was run.

Based on my quick test, `setfacl -R -m g:phet:rw /data/web/dev/html` would take care of anything existing.

[2019-07-31 20:34] jonathanolson commented on #144
What would the ideal behavior be? It sounds like a message immediately after saying it's not ready would be good (instead of having the message be part of the thrown error, so that it would print "Aborted rc deployment (reverting the version change and checking out master)" near the top?

An error/throw is useful, so that it will flag things as "not successfully completed".

Relevant code:
[code]

[2019-08-01 17:43] mattpen commented on #146
The default ACL with the setgid bit seems to be working.  I removed the chmod/chown commands from the dev and rc processes.

[2019-08-01 17:50] mattpen commented on #146
I tested a grunt dev and rc for chains.  Both created files with group write for the phet group, even without umask in my .bashrc or chmod commands in the process.  Closing.

[2019-08-01 18:42] pixelzoom opened #147 "improving documentation and tracking for maintenance releases"
In 8/1/19 dev meeting, I brought up the topic of improving documentation and tracking for maintenance releases.   The process is currently a bit informal, and could bite us in the future.

Examples that could be problematic:
* A patch sneaks into an active RC process, without the responsible developer or QA noticing.
* Something goes wrong and we want to answer the question "What maintenance relea

[2019-08-01 21:22] pixelzoom commented on #144
Something like:

[code]

"Reverting version to 1.0.0-rc.0" instead of "Bumping version to 1.0.0-rc.0" would be a bonus.

And definitely not throwing an Error.  The user requested to abort the deploy, and the process is doing that correctly.  If it couldn't abort, then an Error would be appropriate.

[2019-08-13 22:26] mattpen commented on #146
@samreid had a build failure today due to `permission failed` during a mkdir step.

To recreate the problem, logon to bayes as phet-admin, and run `mkdir /data/web/htdocs/dev/html/waves-intro.bk/test`.  This fails due to `permission denied` even though phet-admin is in the phet group and the directory `/data/web/htdocs/dev/html/waves-intro.bk` has group phet and group write permissions.

[code]

@

[2019-08-14 03:18] markmorlino commented on #146
hi @mattpen

It appears as though the 'group:phet:rw-' ACL is being ignored completely and it is only using 'group::r-x'.

I am able to mkdirs as phet-admin in the /data/web/htdocs/dev/html/waves-intro.bk/1.0.0-dev* subdirs and in the /data/web/htdocs/dev/html/waves-intro/ directory. All of those have slightly different facls with 'group::rwx' and 'default:group::rwx'

I'm not sure why this is hap

[2019-08-22 17:15] zepumph commented on #141
Oops the third party credits is now being pushed correctly.

[2019-08-23 04:52] samreid opened #148 "PhET-iO Graphing Quadratics 1.1 maintenance releases should not be password protected"
In https://github.com/phetsims/phet-io-website/issues/108 we decided Graphing Quadratics 1.1 PhET-iO should not be password protected, so it can be used for reference by clients without a PhET-iO account.

We can manually modify the existing 1.1.1 publication to remove password protection, but we should set up perennial to take care of this step in the future so we don't have to manually remove pa

[2019-08-23 16:22] zepumph commented on #148
@chrisklus and I found a bug in the boolean logic in the patch above. It should be

`!(simName === 'graphing-quadratics' && parsedVersion.major === 1 && parsedVersion.minor === 1)`.

We reviewed the patch and ended up committing it above. Next steps for this issue:
* Note this work is currently blocking production deploys of
* @mattpen review the commit
* @mattpen or @jonathanolson retart the buil

[2019-08-23 18:00] jonathanolson commented on #148
The patch looks good to me. I'm going to pull and restart the build-server for this.

[2019-08-23 20:26] zepumph commented on #148
https://github.com/phetsims/perennial/commit/bb693fd10d1d438d2bc2fa1f0d0890ffb4322a75

did not work. `writePhetioHtaccess` also handles updating the redirect rules. So the logic needs to surround just the `wrapper` passwork protection. Not rewriting the htaccess that exists at the top level of the sim. I will propose a patch soon.

[2019-08-23 21:16] zepumph commented on #148
In the below patch I added support for the needed logic to be passed into `writePhetioHtaccess`. This made the most sense to do by adding an options object for the variety of options that it currently supports. @mattpen I'm sorry this issue got a bit out of hand, because of me. Could you please comment on the below patch. The goal is to make sure that GQ 1.1 branch is public for all maintenance re

[2019-08-24 03:34] mattpen commented on #148
Will this be the only time we want to deploy a sim with public wrappers?  Would it be better to make this an option sent to the build-server rather than hard coding in GQ v1.1 into the build server?

Hard-coding it in doesn't seem very robust to me, but perhaps I'm missing the context.

<hr>

@zepumph - The diff in https://github.com/phetsims/perennial/issues/148#issuecomment-524464937 looks ok to

[2019-08-24 04:32] samreid commented on #148
I agree this would be better not to hard-code into perennial.  If perennial can read package.json, perhaps we could add a new metadata entry there (in the branch)?

[2019-08-25 19:08] mattpen commented on #148
@samreid - Yes.  This could be handled like we are handling the optional root htaccess file as described in https://github.com/phetsims/phet-io-wrappers/issues/135.

[2019-08-29 17:43] chrisklus commented on #114
From 08/29/19 phet-io meeting: @samreid is going investigate

[2019-09-04 21:27] zepumph commented on #148
Looking through https://github.com/phetsims/phet-io-wrappers/issues/135, I think it is best to add something to package that specifies if we password protect the wrappers.

* What is the name of the key? For parallelism I think a good name is `addWrapperHTAccessFile`.
* Would this be nested under the `phet.phet-io` key, or just under `phet`?
* @mattpen do you mind taking this on? I could work on s

[2019-09-05 03:06] samreid commented on #148
Being password-protected should be the default, so perhaps the key should be named around being opt-in for being public, and this seems it should be in phet-io only.

[code]

[2019-09-05 03:16] mattpen commented on #148
@zepumph @samreid - When is this needed? I'm happy to work on it, but unless it is top/very high priority I can't address it immediately.

[2019-09-05 18:25] samreid commented on #110
We may have a maintenance release coming up for phetsims/phet-core#64 about iOS Full Screen

@ariel-phet suggests maybe @pixelzoom can assist, if the timing is right.  We would like to make this maintenance release before we publish the app.  But we would like to publish the app right away.  So if the app gets greenlighted, we may have @jonathanolson quickly do this.  If there is time, then @pixel

[2019-09-10 04:42] samreid commented on #148
Until this is fixed, every time we run a maintenance release, graphing-quadratics PhET-iO becomes password protected again.  Hence if @kathy-phet shares the PhET-iO documentation with a new client right after a maintenance release, the client may run into a password dialog, before they have a password.  We do not have a process in place for maintenance releasers to do this step manually or to comm

[2019-09-10 15:37] jonathanolson commented on #148
So we'll probably have one or two maintenance releases finish this week. What's the desired short-term plan?

[2019-09-17 22:54] pixelzoom commented on #110
It looks like the maintenance release for phetsims/phet-core#64 is already underway, and I'm not involved. So unassigning.

[2019-09-18 20:48] zepumph opened #149 ""PhET-iO Latest Deploys" on website should respect `ignoreForAutomatedMaintenanceReleases`"
Found while looking at https://github.com/phetsims/perennial/issues/148. It would be nice if that flag set new release branches to be automatically inactive. It looks like bumper/chains may be already automatically set to inactive.

`grunt print-phet-io-links`, and the maintenance release process use the phet-io metadata's active flag, and it would be good to make sure everything here is in sync.

[2019-09-19 00:18] zepumph commented on #148
@mattpen and I worked on this today. We added support for a package.json flag called `allowPublicAccess` in `phet[ 'phet-io' ]`. This felt like a good place because it is very much phet-io brand specific. When this is present only the production deploy will be public, not rc/dev versions (this includes the rc that is published on production deploy).

This ended up being a bit more complicated than

[2019-09-19 18:09] Denz1994 commented on #110
Discussed at dev meeting: 09/19/19

Maintenance release with @jbphet  for Tambo and Vibe coming up.

[2019-09-20 16:20] mattpen commented on #148
I reviewed the next few commits and everything looks great.  Thanks for finishing this up.

This sounds ok to close.

[2019-09-20 16:20] #148 closed

[2019-09-20 16:23] mattpen commented on #149
This was addressed in https://github.com/phetsims/website/commit/53a0022acc5bbea42807cba0b73caadb1c0b0ad4 and deployed.  @zepumph when you were testing deploys of phet-io-test-sim in #148, did you notice if this was working or not?

I thought we had set everything to inactive, but it seems to have reverted itself here: https://phet.colorado.edu/?wicket:bookmarkablePage=:edu.colorado.phet.website.a

[2019-09-20 22:55] zepumph commented on #149
I checked the active status of phet-io-test-sim on https://phet.colorado.edu/?wicket:bookmarkablePage=:edu.colorado.phet.website.admin.AdminPhetioDeploy, and found that every minor version of phet-io-test-sim is active.

During out work wednesday, I toggled all of these to be inactive. From this I think that this issue is not done.

[2019-09-25 17:38] zepumph opened #150 "Problems with `data/testable-phet-io-validated`"
* Call it `phet-io-validated`, since all the other testable files are auto-generated
* Add that `&phetioValidateAPI=false` when not validated (along with restarting CT) (something like `continuous-server:676`)
* It isn't in the `data/README.md`. It should be documented as a way to opt in to tandem and API validatation

[2019-09-26 19:32] pixelzoom opened #151 "How to handle batch patches"
From 9/26/19 dev meeting:

JO: How to handle sim patches on published release branches for general maintenance deploys.

Option 1: Detect during batch maintenance process, defer until sim is finished with RC test. Makes it difficult to published high-priority fixes.

Option 2: Change how we use release branches. Any change that requires QA must be done in a new release branch with a new minor numb

[2019-09-26 19:48] pixelzoom commented on #151
@jonathanolson @jbphet and I discussed after dev meeting, did some whiteboarding, and consensus is that Option 2 is the best fit for PhET's build process.   It will require some developer education, and some fail-safes in the maintenance toolchain.

[2019-09-26 22:22] zepumph commented on #111
I went ahead with trying to consolidate SimVersion logic. Here is a summary of the work done in the above commits:
* Alter PERENNIAL/SimVersion to support running from node or the browser, this involved passing through an assert object that is different for both modes, and supporting `assert && . . .`
* Copying that file directly to Chipper
* Making the chipper one a preload, updating build.json a

[2019-09-27 16:04] samreid commented on #111
@pixelzoom pointed out that this message prints out even for unpublished sims:

[2019-09-28 00:14] pixelzoom commented on #111
`chipper.SimVersion` has no `isSimNotPublished` field.  So this `if` expression in `joist.UpdateCheck` is never true, and all sims are treated as published.

[code]

[2019-09-28 00:22] pixelzoom commented on #111
Why are there identical copies of `SimVersion` in chipper and perennial?

I'm also wondering why the `if` expression in `UpdateCheck` is:

`if ( this.ourVersion.isSimNotPublished ) {`

In joist.SimVersion, `isSimNotPublished` was a method, not a field.  And it's being used as a field in `UpdateCheck`. From https://github.com/phetsims/joist/commit/18e6b6a9dcd86451312f7e57477ca67a03b0e81d#diff-f59e3

[2019-09-28 00:25] pixelzoom commented on #111
So `isSimNotPublished` is missing from chipper.SimVersion.  Anything else that got dropped?

[2019-09-30 19:21] zepumph commented on #111
@pixelzoom the commits titled "bug fix by adding `SimVersion.isSimNotPublished`" fixed the issue you were describing above.

Honestly I'm quite sorry about the sloppy execution of this issue. I spent more time on the mechanics of having 1 SimVersion file than I did on making sure their APIs were compatible.

I went through all of the usages of `SimVersion` in joist (only used in `updateCheck.js`),

[2019-09-30 19:23] zepumph commented on #111
I won't remove the blocks publication label until it has been looked at.

[2019-09-30 19:37] pixelzoom commented on #111
Changes looks good.  But I'm still curious about `isSimNotPublished`.  It's a function, but I don't see it called anywhere in PhET code.  In `updateCheck`, it's not being called, it's testing to see if it exists:

`if ( this.ourVersion.isSimNotPublished ) {`

Doesn't that seem incorrect?

[2019-09-30 19:44] zepumph commented on #111
It is a getter, would you rather me change it to a function so that it makes more sense?

[2019-09-30 19:48] pixelzoom commented on #111
Oh duh, I see.  No, fine to leave as is.

Removing 'block publication' label.

[2019-09-30 19:52] zepumph commented on #111
@pixelzoom I'm not totally clear on if you reviewed the bug fix, or the entire changeset for this issue.

If you have reviewed everything and feel like all is good, I think we can close.

If you only reviewed the bug fix. Can you review the whole issue? If that is too much, please assign over to @jonathanolson for the review (for the same reason as mentioned in https://github.com/phetsims/joist/is

[2019-10-02 19:12] zepumph commented on #149
I think that this issue should be raised in priority, all example-sim chains bumper and phet-io-test-sim branches have been switched to active. I would rather not manually toggle those, and it seems like whatever toggled them that way (perhaps a release?) means that it could happen programmatically again.

Discovered because phet-io-test-sim made it into a recent maintenance release and @KatieWoe

[2019-10-02 19:14] zepumph commented on #149
In https://github.com/phetsims/website/commit/53a0022acc5bbea42807cba0b73caadb1c0b0ad4 the flag is ignoreForAutomatedMaintenanceReleases, but over in PERENNIAL/notifyServer, it looks like the flag is called `active`. I thought we decided to have it be called `active` to hide the implementation detail of that package flag name from the website service.

[2019-10-02 19:16] zepumph commented on #149
Sorry this is not true!!! Only phet-io-test-sim's were switched, I misread the table. Still though, this bug would come up, and toggle any of these version to become active whenever they are redeployed. I still think the priority stays, especially if it is an east fix. @mattpen let me know if I can help, and feel free to production deploy phet-io-test-sim till your heart's content to test.

[2019-10-03 17:00] samreid commented on #151
With Option 2, we will have an abundance of release branches.  Will the maintenance process maintain all of these, or does it only do the latest major or minor versions?

[2019-10-03 17:33] jonathanolson commented on #151
This would be good to discuss during dev meeting. I realize that phet-io uses the major.minor and assumes maintenance versions would keep those.

[2019-10-08 04:04] ariel-phet commented on #151
Marking as a high priority since we should finish discussing this question

[2019-10-10 19:33] jessegreenberg commented on #151
Discussion from 10/10/19:

We talked about a different option from the original list. Instead, we are going to try a process change where when we encounter the case where a release branch has changes that have not yet been published, we decide whether or not to revert the changes and add back after a batch maintenance release or publish the maintenance release changes on top of them. This gives us

[2019-10-12 00:08] zepumph commented on #111
Oops, assigning over to @pixelzoom, sorry for the delay.

[2019-10-14 23:16] pixelzoom commented on #111
I don't see any other problems. But I also wasn't involved in implementation of SimVersion, and I'm not familiar with all of the places that it's used.  So @zepumph I'll leave it up to you -- if you think there's a reason for @jonathanolson to have a look, assign to him. Otherwise feel free to close.

[2019-10-14 23:54] zepumph commented on #111
@jonathanolson could you give this change set a spot check before close. Here are the main changes/takeaways:

* SimVersion rewritten to be use UMD
* One writeable SimVersion in Perennial (`PERENNIAL/SimVersion`)
* Copied to chipper automatically every night (`daily-grunt-work.sh` and `CHIPPER/SimVersion`)
* `CHIPPER/SimVersion` is a preload for all sims (`build.json`)
* Perennial's `SimVersion` u

[2019-10-17 19:05] zepumph commented on #151
Does this still need to be marked for developer meeting?

[2019-10-17 19:28] pixelzoom commented on #110
10/17/19 dev meeting:  @jbphet and @jonathanolson are in the middle of a maintenance release.

[2019-10-22 18:24] jonathanolson commented on #83
It looks like this happened again. The above commit should fix it for sims published from master. @ariel-phet should this patch/change be maintenance-released?

[2019-10-23 20:03] jbphet commented on #83
Yes, it did happen again.  @oliver-phet - can you let the Turkish translator (locale = tr), know that their translation of Area Model Decimals failed because they need to translate the title?  I can get you the ID of the translator if you need more info to know exactly who it was.

[2019-10-23 20:20] oliver-phet commented on #83
Email to translator sent.

[2019-10-23 20:49] jonathanolson opened #152 "Machine-readable responsible_dev.md for autogenerated maintenance/CT issues"
It would be great to have this information somewhere machine-readable, for uses like generating issues. Having the information in package.json (and then generating a visible list) has advantages (sim repos won't be missed), and production deploys could flag the sim as published. We could even have multiple responsible devs for sims?

I'd like to discuss the structure of how this would be set up, a

[2019-10-24 00:04] zepumph commented on #152
How about the following idea:

Add "responsibleDevs" to package.json under "phet" as a list. It is ordered, so that the first is the most responsible.

Then, as part of `generateData`, all of those are compiled into potentially two different files:
* A a machine readable JSON
* A human readable table like we have now (maybe this is more fluff, but it would be easy enough to keep the same format as

[2019-10-24 00:53] pixelzoom commented on #152
What are the advantages of automation, and do they justify the cost?  How tragic is it if this info occasionally gets out of sync? I'm not convinced that we want to automatically assign issues to the responsible developer - issues should often be assigned to the responsible _designer_ (for which we have no list). And I haven't had a problem with keeping my responsible_dev.md up to date.  So I'm am

[2019-10-24 16:11] ariel-phet commented on #83
@jonathanolson no, this is not appropriate for a maintenance release since it is a rare problem.

If in future the rate of this bug increases we will reconsider.

[2019-10-24 16:12] ariel-phet commented on #83
As issues come up we will continue to document in this issue, but leaving as deferred for the moment

[2019-10-24 18:25] zepumph commented on #152
we can also add "isPublished" flag that is set when regenerating the published readme during production deploys.

We can generate a pretty one and a machine readable one.

@pixelzoom mentioned that we can use the repo name instead of the sim display name.

[2019-11-08 21:29] jbphet opened #153 "Built sims are failing in IE"
It was reported in https://github.com/phetsims/gravity-force-lab/issues/192 that a built version of the GFL sim is failing to load.  QA reports that they noticed the same thing with [a recent dev version of Number Line: Integers](https://phet-dev.colorado.edu/html/number-line-integers/1.0.0-dev.8/phet/number-line-integers_en_phet.html).  Based on the error output, it appears that something has cha

[2019-11-08 21:32] jbphet commented on #153
Here is the Slack dialog where this was discussed and ultimately led me to create this issue:

[code]

[2019-11-08 21:35] samreid commented on #153
Perhaps usage of RichText by accessibility triggered usage of himalaya, which is trying to call Array.from?

[2019-11-08 21:39] jbphet commented on #153
Good theory.  The previous dev version of Number Line: Integers runs fine in IE, the most recent one doesn't, and I added a `RichText` element between the two versions.

[2019-11-08 23:08] zepumph commented on #153
It looks like this error occurred because of this build line:

[code]

and `_toConsumableArray` is calling `Array.from`.

In `AriaHerald` for https://github.com/phetsims/utterance-queue/issues/1, I added `this.ariaLiveElements = [ ...this.ariaLiveContainer.children ];`. This feels like it may be an issue with Babel. I thought that it would be able to handle transpiling the spread operator. I will

[2019-11-08 23:12] zepumph commented on #153
I didn't have to update Wilder, I just rebuilt it (because it uses the spread operator in WilderModel). That fails in the same way.

So it looks like the spread operator currently isn't supported by Babel by IE. I'm not sure how to handle this, but I'll mark for dev meeting.

[2019-11-08 23:15] zepumph commented on #153
I think that the only reason it is breaking right now is because the spread operator is used very rarely. There are only 24 usages of `/\[ \.\.\.\w/` in the project. I broke this recently because I added a spread operator basically to every SCENERY/Display instance (because or https://github.com/phetsims/utterance-queue/issues/1).

[2019-11-08 23:57] zepumph commented on #153
@samreid and I found that this was an issue with not only the spread operator, but with the spread operator on an HTMLCollection, as is being done in AriaHerald.

We think it isn't enough to just hand the case in himalaya, and it also isn't enough to change this usage in `AriaHerald`. We should do one of the following:

* Polyfill Array.from and potentially others as needed (MDN has https://develo

[2019-11-12 17:27] KatieWoe commented on #153
This is blocking some testing in https://github.com/phetsims/QA/issues/456

[2019-11-14 18:35] jessegreenberg commented on #153
Could you describe the reasoning? I have never had a need for the spread operator and would be OK saying it cannot be used if that resolves this issue.

[2019-11-14 19:53] samreid commented on #153
@jonathanolson said it would be nice to look into the babel polyfills to accomplish this and potentially cover other cases we may need in the future.  Babel has a way to select the parts you want for the polyfill.

@jonathanolson volunteered to investigate implementing this via babel polyfill.  If that works well, great!  If that runs into trouble, our backup plan will be to add our own preload fo

[2019-11-14 20:00] samreid commented on #153
@zepumph will create an issue to add the polyfill to PHET_CORE/polyfills or PHET_CORE/preloads

[2019-11-14 21:23] zepumph commented on #153
The stop gap measure will be completed over in https://github.com/phetsims/chipper/issues/817. Demoting priority on this issue.

[2019-11-20 16:46] pixelzoom opened #154 "warn: No build-local.json detected!"
If $HOME/.phet/build-local.json is not present, then `grunt create-sim` prints a warning. For example, if I'm a new developer and I follow the steps in the "Create a New Sim" section of the [PhET Development Overview](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#creating-a-new-sim):

[code]

This was potentially confusing to at least one member of the Google G

[2019-12-05 20:02] Denz1994 commented on #110
As discussed in dev meeting on 12/05/19:

We will return to maintenance releases after more high priority tasks are handled (app work, website, etc).

[2019-12-06 21:47] zepumph opened #155 "grunt generate-data bayes process broken"
@pixelzoom reported waiting for a while to get updated data lists, I'll investigate.

[2019-12-06 22:09] zepumph commented on #155
I tried debugging this in a variety of ways, but I think what failed this is that there was an npm dependency added just that `grunt generate-data` failed. So even though the process will npm update, it won't ever get to that. I think that the way to fix that is to have the process run a script that pulls perennial, npm updates, and then runs `grunt generate-data`. Honestly I'm not too interested

[2019-12-07 01:38] zepumph commented on #155
I broke down and added `generate-data.sh`. @jonathanolson could you please review the updated documentation and new script.

[2019-12-09 16:24] jonathanolson commented on #155
I don't see a place where chipper is explicitly npm pruned/updated (and we'll want to `npm prune` and `npm update` for perennial, instead of just `npm update`). Can we make that change for the bash script, and let me know how chipper's npm is handled?

[2019-12-09 19:02] zepumph commented on #155
Why does chipper need to be handled? Don't we just need to read all the sim's `package.json` files? I added that in, and then took it out.

* I'll add npm prune`
* I'll then restart the process.

[2019-12-10 16:52] jonathanolson commented on #155
It looks like we're not running any `grunt` tasks in the sim repos? Then it should be fine to omit chipper.

[2019-12-10 20:32] zepumph commented on #155
Agreed, and thanks for the review. I just checked and the process is still running. Closing

[2019-12-10 20:32] #155 closed

[2019-12-11 18:19] pixelzoom opened #156 "package.json files are not POSIX compliant"
It looks like PhET's package.json files do not conform to the POSIX specification, and are therefore being modified by newer versions of npm.

I'm running npm 6.1.21..  When I run `npm install` in any repo directory, it changes package.json, adding an extra blank line at the end.  It does this each and every time. If I generate a patch using WebStorm for the modified package.json, I see this:

[co

[2019-12-11 18:24] pixelzoom commented on #156
This same issue (`npm install`modifying package.json) was reported in https://github.com/npm/npm/issues/18545.

[2019-12-11 19:15] jessegreenberg commented on #156
So this is a requirement for all files (not just package.json)? I have a Sublime Text setting
[code]

and can set to true if this is required.

[2019-12-12 04:47] samreid commented on #156
When I run `npm install` I do not see a change in package.json.

[code]

[2019-12-12 04:48] samreid commented on #156
Same result (no change to package.json) after I updated to npm `6.13.4`.  I wonder if we have different settings?

[2019-12-12 14:45] pixelzoom commented on #156
@samreid your OS and version?

My npm settings are....

[code]

[2019-12-12 14:49] pixelzoom commented on #156
I ran `npm install -g npm` to update to 6.13.4.  I'm still seeing package.json modified when I run `npm install`.  E.g.:

[code]

[2019-12-12 16:11] jessegreenberg commented on #156
I have Windows 10, npm version 6.13.4. When running npm install in natural-selection or others I don't see any changes to package.json.

[2019-12-12 16:45] samreid commented on #156
macOS 10.15.1

[code]

[2019-12-18 14:52] kdex commented on #156
@pixelzoom Just chiming in to note that contrary to popular belief, POSIX does not mandate files to end with a trailing newline, so your `package.json` is indeed POSIX-compliant. @Alexsey has summarized this [here](https://github.com/npm/npm/issues/18545#issuecomment-389433650).

[2019-12-18 15:31] pixelzoom commented on #156
Thanks @kdex!

[2019-12-19 01:31] pixelzoom opened #157 "encapsulate build-local.json"
In 12/19/18 developer meeting agenda, @jbphet asked:

I count at least 4 different places where build-local.json is being read, see below. (This may not be a complete list.)  So it's really difficult to determine what the set of supported fields are. This would have been so much easier if build-local.json had been read and encapsulated in _one_ place, with all of the supported fields documented in

[2019-12-19 15:27] samreid commented on #157
reportThirdParty.js only uses `buildLocalJSON.websiteAuthorizationCode`
Gruntfile.js only uses `brands` and `localTestingURL`

I'm unfamiliar with the perennial usages.

[2019-12-19 17:29] jonathanolson opened #158 "Reduce duplication with wrapper.js/dev.js"
wrapper.js has copied and modified a lot of dev.js, with customizations. It's unclear about what type of future the wrapper deployment will have, so I'm purposefully NOT spending the effort to clean this up at the moment (but this could be an improvement in the future).

[2019-12-19 17:38] jonathanolson commented on #156
I've generally included a newline at the end, and I'm fine with whatever others decide.

[2019-12-19 18:17] pixelzoom commented on #110
12/19/19 dev meeting:

I'm the only one left, so assigning to me.

[2019-12-30 18:41] ariel-phet commented on #157
Marking to be discussed at dev meeting

[2019-12-31 02:57] samreid commented on #114
@jonathanolson changed the paths in https://github.com/phetsims/perennial/commit/a31a1e78b792b6846016abcf78f70ebe24ff8989, @jonathanolson can this issue be closed?

[2019-12-31 19:11] zepumph opened #159 "Size of "file" column in apache index pages"
When navigating sim folders on phet.colorado.edu (i.e. https://phet.colorado.edu/sims/html/gravity-force-lab-basics/latest/), all of the interesting bits of the filenames are cut off. This makes it quite challenging to find the file you are looking for.

Since this doesn't happen on phet-dev (https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0/phet/), I wonder if it is a small settin

[2020-01-02 17:48] mattpen commented on #159
@zepumph - It looks like phet-dev was using a fixed width of 55.  phet was not specifying a width, so the column was auto sized but a maximum of 20.  I've changed both phet and phet-dev to use auto width, i.e. `*`.  This is already in place (only required a non-invasive reload of an .htaccess file) on both servers.  https://phet.colorado.edu/sims/html/gravity-force-lab-basics/latest/ seems to be w

[2020-01-02 18:16] pixelzoom commented on #156
Another interesting side-effect.... Because PhET package.json files don't end with a newline, inspecting (e.g.) natural-selection/package.json in an editor shows that it contains 25 lines.

But some shell tools have a problem with this and don't read the last line. Examples...

[code]

This script to read each line of the file only reads the first 24 lines:

[code]

This seems like a potential pro

[2020-01-02 20:24] pixelzoom commented on #157
12/19/19 dev meeting:

@jbphet will remove the github* parameters.

[2020-01-02 20:25] mattpen commented on #157
We can reduce the number of usages to two, one in chipper and one in perennial.

[2020-01-02 21:50] kdex commented on #156
@pixelzoom I don't know enough about this project to be heavily invested in this issue, though I'd still like to clarify the probable misconception of `wc -l` counting the lines in a file and also give advice on how to handle both `\n`-terminated as well as non-`\n`-terminated files.

The `man` page of `wc` is relatively clear that it counts the *newlines* (i.e. the newline characters) in a file,

[2020-01-02 22:26] pixelzoom commented on #156
Thanks (again!) @kdex.  The clarifications are much appreciated.

Any thoughts on why `npm install` is adding a newline to package.json?  And why that might be happening only to me?  Other members of our team with identical macOS and npm versions are not experiencing this.

[2020-01-02 23:38] zepumph commented on #159
This is so awesome. Thank you greatly!!!

I see the entire filename now.

![image](https://user-images.githubusercontent.com/6856943/71699742-87211980-2d6d-11ea-81ea-4356f0191b17.png)

[2020-01-02 23:38] #159 closed

[2020-01-03 00:44] kdex commented on #156
@pixelzoom Sure thing!

The newline issue is a long-standing bug in `npm` and affects many subcommands such as `npm version` or even `npm install`. There have been numerous issues about this, one of which can be viewed [here](https://github.com/npm/npm/issues/18545). Though I'm not sure why your other team members aren't affected.

The reason why this happens is that `npm` will always try to rewri

[2020-01-03 00:57] pixelzoom commented on #156
Awesome, thanks @kdex.

[2020-01-03 19:50] pixelzoom commented on #110
@ariel-phet Now that this issue is assigned to only me, I'm wondering...  How am I going to know when a maintenance release is happening, and how is someone who is doing a maintenance release going to know that it might be time to involve me?   Would it be better to assign this issue to whoever is responsible for schedule maintenance releases?

[2020-01-06 18:49] jbphet opened #160 "Command execution wrapper doesn't log error output"
I'm working on a build failure that seems to be caused be problems related to directory creation.  The email that gets sent as a result of the failure has the following line in it:

[code]

The build server log has essentially the same line but with a time stamp:

[code]

In both cases, there is either nothing in `stdout` or it is not being printed correctly, which is unfortunate, because the erro

[2020-01-06 20:10] jbphet commented on #146
I ran into this problem on Jan 3 2020 while trying to deploy the first RC for number-line-integers.  After trying several things, I was able to fix the issue by manually changing the ownership of the directory on bayes from my account to phet-admin.  This cost me some time to track down and resolve, and other developers are likely to run into this again too.  I'm going to assign to @ariel-phet to

[2020-01-06 20:16] jbphet commented on #146
In the interests of saving time for others who may run into this, the way I was able to publish an RC was to change the permissions of the directory to which the RC needed to be deployed using the following sequence:

1. log into bayes
2. go to the deployment directory via the command `cd /data/web/htdocs/dev/html`
3. change the ownership of the directory where the deployment needs to go, in my ca

[2020-01-06 21:05] jbphet commented on #157
I have removed key-value pairs for `githubUsername`, `githubPassword`, and `githubOauthToken` from the `build-local.json` files on bayes, phet-server, and phet-server-dev.  The last one - `githupOathToken` - was only on phet-server-dev, and I think was from an experiment that was abandoned.

Before doing this, I searched through to current code base and only found usages of these strings in Rosett

[2020-01-06 21:11] jbphet commented on #157
Removing my assignment, since I think my contribution is complete.

[2020-01-06 22:56] pixelzoom commented on #110
Self unassigning until I get feedback on https://github.com/phetsims/perennial/issues/110#issuecomment-570679436.

[2020-01-07 01:02] ariel-phet commented on #110
@pixelzoom I think we will just close this issue. I should generally be in the loop with any maintenance releases, as we are attempting to be judicious about such things with regards to the app. Enough people have been through the process now and there has been enough knowledge sharing that I don't think it is critical for you to participate soon. Basically, we wanted to make sure that if somethin

[2020-01-07 01:02] #110 closed

[2020-01-07 01:19] pixelzoom commented on #110
Sounds good, thanks.

[2020-01-07 20:30] jbphet commented on #14
I just logged into phet-server and ran the command @zepumph described for the previous test and found no instance of the error string.  I examined the log and saw the following line in it, which indicates the time span:

[code]

Based on this, I think it's safe to say that the problem hasn't occurred in over nine months, and no one has updated this issue for over two years, or run into the problem

[2020-01-07 20:30] #14 closed

[2020-01-09 20:11] jessegreenberg commented on #146
Discussed during dev meeting, @mattpen will investigate a bit more.

[2020-01-17 19:34] pixelzoom commented on #156
`npm config set save false` resolved this issue for me, and that step is noted in the PhET Developer Overview.  So I'm going to close this issue.

[2020-01-17 19:34] #156 closed

[2020-01-20 18:03] samreid opened #161 "Daily grunt work deleted important code"
While working on https://github.com/phetsims/balancing-act/issues/96, I ran `grunt update` from a phet-io change, and noticed that it generated an unpublished readme for balancing act.  I tracked the problem down to a commit in which the daily grunt work deleted an important function:

https://github.com/phetsims/chipper/commit/63d47a9ca816515bbf3e5fc66e83c2f88a114c41

I'm unfamiliar with this scr

[2020-01-21 00:02] zepumph commented on #161
Chippers SimVersion is copied from perennial each night. To make changes to the file you must commit to the one in perennial and it will be copied over. (or commit equally to both for a more immediate usage). It is noted at the top of the chipper version and perennial version. Please let me know how better the issue can be addressed if this linkage isn't documented well enough to you.

[2020-01-21 15:08] samreid commented on #161
Thanks for the good information!  I committed to perennial/SimVersion, closing.

[2020-01-21 15:08] #161 closed

[2020-01-22 19:47] mattpen commented on #146
I'm still unable to reproduce this problem.  Today I identified several sims that have had dev deploys on bayes but whose parent directory has non-standard ownership and permissions.  These were circuit-construction-kit-ac, number-play, natural-selection, and density.  These directories are all owned by the responsible dev instead of tomcat or phet-admin.  They (and all other directories) belong t

[2020-01-23 17:27] ariel-phet commented on #146
@mattpen will make blocking publication issues in the following sims:
Density
Energy Skate Park
Build a Molecule

He will plan to ride along when these sims move from dev to RC

[2020-01-31 05:11] samreid opened #162 "Return not permitted outside of function for new es6-compatible lint rules"
From https://github.com/phetsims/chipper/issues/837, when I use the chipper webpack branch, I get this lint error

[code]

Here's a patch that I think will solve it:

<details>

[code]

</details>

@mattpen can you please take a look?

Tagging for https://github.com/phetsims/chipper/issues/850

[2020-01-31 13:36] samreid commented on #162
Here's the full file in case that's more helpful than the patch:

<details>

[code]

</details>

[2020-01-31 19:42] mattpen commented on #162
@samreid - That patch looks fine to me.  I don't think this change needs to be tested as (IIRC) this was basically a one off script that probably won't be needed again (but would be nice to have if we do).

[2020-01-31 20:44] samreid commented on #162
Thanks, I pushed the version above.  Closing.

[2020-01-31 20:44] #162 closed

[2020-02-24 20:50] pixelzoom commented on #62
A couple years after the fact, I'm guessing this is never going to happen.  Should we just close this issue?

[2020-02-24 23:20] samreid commented on #62
I vote to close this issue regarding perennial/bin, but future repo-relocates should use a history-preserving strategy.

[2020-02-26 01:04] jonathanolson commented on #62
Looks like we have copy-history-to-different-repo for future handling? I'd strongly prefer to just close, unless this is worth a lot of time.

[2020-03-03 20:16] zepumph commented on #153
@jonathanolson, @samreid, and I ran into this with the es6 module upgrade over in phetsims/chipper#899.  When upgrading to Babel 7, this error occurred again. This time babel was needing a `Symbol` polyfill to accomplish this. Instead we just used `Array.from()` inline instead of having a spread operator on an array-like item (HTMLCollection). Things are working well now.

@jonathanolson anything

[2020-03-03 21:56] jonathanolson commented on #153
This looks good to me. Should we discuss ways to (a) better debug this in the future on IE, or (b) ways to catch this specific error if it re-occurs?

[2020-03-03 22:18] zepumph commented on #153
To me this issue is largely stemming from a Promise polyfill that eats up our errors silently. If we were able to see the error sooner, perhaps this would be caught easier. I also think a CT testing device devoted to built IE tests could be really nice. That way we don't have to wait for RC to catch these. Were you thinking of something more specific?

Likely we should investigate core-js for our

[2020-03-05 17:58] jonathanolson commented on #153
We can just point IE towards CT and its results will show up! I think that might be on me, need to get remote desktop working.

No clue on what would be good for the Promise implementation.

[2020-03-05 21:18] mattpen opened #163 "branch: image-decouple"
For tracking work related to https://github.com/phetsims/chipper/issues/825

[2020-03-06 01:07] zepumph commented on #153
I think that core-js would be the first place I would look. I created https://github.com/phetsims/chipper/issues/911 for investigation.

I pinged over in https://github.com/phetsims/aqua/issues/80#issuecomment-595524434

@jonathanolson, I'm ready to close. Over to you for a final inspection.

[2020-03-06 20:53] pixelzoom opened #164 "branch: iso-i18n"
This is a branch with no GitHub issue.  Could whoever created this branch please describe it here?

[2020-03-06 20:54] pixelzoom opened #165 "branch: xz"
This is a branch with no GitHub issue.  Could whoever created this branch please describe it here?

[2020-03-06 20:58] pixelzoom commented on #165
Looks like @mattpen created this branch on 3/18/2019.  Please describe or delete.

[2020-03-06 20:59] pixelzoom commented on #164
Looks like @mattpen created this branch on 11/1/2016.  Please describe or delete.

[2020-03-10 16:06] mattpen commented on #164
This branch was abandoned, I deleted it today.

[2020-03-10 16:06] #164 closed

[2020-03-10 16:07] mattpen commented on #165
This branch was abandoned, I deleted it today.

[2020-03-10 16:07] #165 closed

[2020-03-10 16:09] mattpen commented on #81
This branch was 0 commits ahead of master, so I deleted it.

[2020-03-10 16:09] #81 closed

[2020-03-13 01:03] pixelzoom commented on #138
While working on https://github.com/phetsims/tasks/issues/1017, I discovered that this apparently has introduced a dependency on chipper in perennial:

[code]

And this dependency has existed since 7/29/19.  That seems potentially very bad, and should be addressed immediately, no?  Assigning to @zepumph and labeling for developer meeting.

[2020-03-13 01:09] pixelzoom opened #166 "multiple TODOs in PDOMComparison"
For https://github.com/phetsims/tasks/issues/1017.

Multiple TODOs in PDOMComparison.js, created by @zepumph:

[code]

[2020-03-13 01:12] pixelzoom opened #167 "misc TODOs by mattpen"
build-server.js:

`// TODO: determine if this comment needs updating for chipper 1.0 deploys`

getLocales.js:

`// TODO: should we call reject here? what happens when callbackLocales is undefined?`

[2020-03-13 01:13] pixelzoom opened #168 "improve repo-report.js"
For https://github.com/phetsims/tasks/issues/1017.

TODO by @zepumph in repo-report.js:

[code]

[2020-03-13 01:15] pixelzoom commented on #168
Closing, duplicate of https://github.com/phetsims/tasks/issues/942.

[2020-03-13 01:15] #168 closed

[2020-03-13 01:17] pixelzoom opened #169 "remove when all chipper 1.0 usage is not required"
For phetsims/tasks#1017.

TODO in checkoutShas.js by @jonathanolson:

[code]

[2020-03-16 23:53] zepumph commented on #138
This issue is for an experimental grunt task that isn't currently used. There is a dependencies getter in perennial that I was able to use instead of calling over to chipper. Thanks for the poke on the TODO.

[2020-03-16 23:55] zepumph commented on #138
Keeping labelled for dev meeting in case @pixelzoom had other thoughts beyond fixing the issue in master.

[2020-03-16 23:57] zepumph commented on #166
These all apply to https://github.com/phetsims/perennial/issues/138, so I linked the TODOs there. Closing

[2020-03-16 23:57] #166 closed

[2020-03-17 20:38] zepumph commented on #111
@jonathanolson noticed that daily-grunt-work was fighting against itself here. The SimVersion being copied from perennial each night had an incorrect copyright date. I updated the SimVersion section of the script to also update copyright dates. @jonathanolson please add the above commit to the list to review for this issue.

[2020-03-24 17:17] jbphet commented on #83
We had three occurrances of this issue this week, all for the recently published diffusion sim, locales were iw, nb, and nn.

[2020-03-24 23:14] jbphet commented on #83
I added code to prevent submissions of empty string files for https://github.com/phetsims/perennial/issues/83.  I still think that this should be fixed in the build server, but at least for now rosetta should be preventing this sort of build request from occurring.

[2020-03-26 19:10] zepumph commented on #138
The dependency on chipper was removed above, after discussing in dev meeting, nothing else is needed to be done here for that problem.

[2020-04-04 22:53] chrisklus opened #170 "Update puppeteer from v1.11.0 to v2.1.1 (latest)"
This update will fix https://github.com/phetsims/chipper/issues/928.

I'm not sure who to ask before doing this and what all needs to be checked after it's updated. If updating to the latest version is problematic, a small update to `v1.12.0` will likely still fix the above issue.

Assigning to @zepumph and @samreid for now, please feel free to unassign and recommend someone else.

[2020-04-05 17:12] zepumph commented on #170
I don't think perennials puppeteer is used for update phet io files.
Wouldn't it be chippers? I updated chippers to fix an npm vulnerability
last  month.

On Sat, Apr 4, 2020, 14:53 Chris Klusendorf <notifications@github.com>
wrote:

[2020-04-05 18:05] samreid commented on #170
Why does perennial even have puppeteer?

[2020-04-05 18:29] chrisklus commented on #170
Oh whoops, yeah the problem from https://github.com/phetsims/chipper/issues/928 is fixed if i revert my local update in perennial and `npm prune && npm install` in chipper. Thanks.

[2020-04-13 19:32] jonathanolson commented on #153
Looks good to me.

[2020-04-13 19:32] #153 closed

[2020-05-07 18:27] zepumph opened #171 "Outline processes devs use for git hooks"
This is the parent issue to https://github.com/phetsims/aqua/issues/90, as well as other things.

It was brought up during dev meeting that linting as a git hook on master is very valuable.

@jonathanolson mentioned that for maintenance releases we need to have an easy way to turn this off.

We should also outline that git hooks is a method for running code before a git commit goes through, but th

[2020-05-07 18:31] zepumph commented on #171
This is largely a duplicate of https://github.com/phetsims/chipper/issues/751, but oh well.

[2020-05-14 19:13] pixelzoom commented on #171
5/14/2020 dev meeting:
Re:

Run maintenance processes with hooks off (`--no-hooks`?)

[2020-05-14 21:31] pixelzoom commented on #171
As I started to do this, I realized that the change to be made in https://github.com/phetsims/aqua/issues/90#issuecomment-628844352 will likely make what I write immediately obsolete. So I've moved this task to that issue.

[2020-05-14 21:32] pixelzoom commented on #171
@zepumph I'm not sure what else you had in mind for this issue, so back to you.  I'm guessing that the work to be done in https://github.com/phetsims/aqua/issues/90#issuecomment-628844352 will address this, and that this issue can be closed.

[2020-05-15 15:25] #171 closed

[2020-05-19 03:10] pixelzoom opened #172 "updateHTMLVersion.js fails after reverting version in package.json"
It used to be the case that, if you had a failed build, you could just revert the version number in package.json.  Now there's a new task, updateHTMLVersion.js, that does "Bumping dev HTML with new version". And if I revert version in package.json, my next build fails on that task.

This behavior is most inconvenient.  I have occasional failures due to VPN hiccups, and I don't enjoy having unexpla

[2020-05-19 16:32] pixelzoom commented on #172
Here's an example...

Publish natural-selection 1.0.0-dev.41:

`% grunt dev --brands=phet,phet-io`

Uh, oh. Something went wrong. Log into bayes, delete the 1.0.0-dev.41/ directory.  Edit package.son and revert "version" to "1.0.0-dev.41".  Attempt to deploy 1.0.0-dev.41 again:

[code]

Great. package.json has been committed and push with 1.0.0-dev.41, and then the deploy fails.

[2020-05-19 16:58] pixelzoom commented on #172
@samreid suggested that I delete and re-clone natural-selection.  I tried that, and identical results after deleting and re-cloning.

[2020-05-19 18:35] jonathanolson commented on #172
Added a patch that should allow this, although having a gap in version numbers has been the supported way of doing things.

[2020-05-19 18:44] pixelzoom commented on #172
Thanks, I'll check it out.

I've been reverting deploys like this for literally years, it's never been a problem until now. And the build process even tells you something like "Are you trying to do a redeploy? Then you need to delete {dirName} on bayes."

[2020-05-20 18:57] pixelzoom commented on #172
Tested with example-sim 1.0.0-dev.17 and it's working nicely.  Thanks, closing.

[2020-05-23 14:19] pixelzoom opened #173 "should pre-commit hook run unit tests for brand=phet-io?"
See https://github.com/phetsims/axon/issues/298.

[2020-05-23 16:32] samreid opened #174 "What brands should we run unit tests for in the precommit hook?"
Related to https://github.com/phetsims/aqua/issues/90 and from https://github.com/phetsims/phet-io/issues/1668#issuecomment-632987582,

@pixelzoom asked:

If the phet-io brand tests were a superset of all the tests, we could just run the phet-io tests.  However, it is possible that phet brand tests are not a pure subset.  For example, if the phet brand accidentally tries to use an object only defi

[2020-05-23 16:45] samreid commented on #173
I created https://github.com/phetsims/aqua/issues/96 before I was aware of this issue.  It has a bit more detail, so I'll close this one.

[2020-05-23 16:45] #173 closed

[2020-05-25 23:10] pixelzoom commented on #174
I'm not with brand=phet-io unit tests, so I have no idea what the performance implications are, or how they overlap with brand=phet unit tests.

Imo, the goals should be:

* Efficient use of CT
* Ensure that pushed code passes lint and unit tests
* Commit and push operations should be quick

If running unit tests significantly impact commit times, then we should discuss whether developers want to

[2020-05-27 14:49] samreid commented on #174
Typically the brand=phet-io unit tests just add a few tests and it doesn't take much longer. For instance, in axon:

brand=phet:
46 tests completed in 877 milliseconds,

brand=phet-io:
51 tests completed in 899 milliseconds

Perhaps we should just run all tests with ?brand=phet-io.

[2020-05-27 14:49] samreid commented on #174
@zepumph what do you recommend?

[2020-05-27 19:20] zepumph commented on #174
Sure seems like we should run in phet-io brand too! Do you think there is a time that would be too long?

Options:
1. We preemptively say that doubling the unit test time across the board for phet-io sims doesn't work for us, and we just add in a few here and there that we think are valuable.
2. Turn it on and wait for complaints on time. There is no reason to over-optimize before it is necessary.

[2020-05-27 19:44] samreid commented on #174
How about if we just run `?brand=phet-io` tests and not the `?brand=phet` tests, since most of them are a subset?

[2020-05-27 22:13] zepumph commented on #174
For everything? We could try it and see how it goes.

[2020-05-27 22:48] zepumph opened #175 "Use http.createServer instead of localTestingURL"
After seeing some great work done over in https://github.com/phetsims/phet-io/issues/1664 by @samreid, it is clear and simple to create a server instead of relying on `localTestingURL`. For example see this commit here: https://github.com/phetsims/chipper/commit/9d74fe9631d73521029ff548d13549813991975e.

I think we should try to get rid of this everywhere. Here is where I see usages currently:

-

[2020-05-27 22:52] samreid commented on #175
I agree we should let node serve files and get away from localTestingURL as much as possible.  I opened https://github.com/phetsims/aqua/issues/97 for the qunit part.

[2020-05-28 14:50] KatieWoe opened #176 "CT error process is not defined"
[code]

[2020-05-29 15:24] samreid commented on #174
When I investigated this, I saw a failure in balloons and static electricity tests locally that isn't happening on CT:

[code]

[2020-06-01 14:11] Denz1994 commented on #176
Due to changes in https://github.com/phetsims/weddell/issues/3 the appropriate gruntfile is being used for Weddell. CT is looking clear so I'll close this issue. Thanks for opening.

[2020-06-01 14:11] #176 closed

[2020-06-08 21:18] zepumph commented on #170
I added it for the PDOMComparison task.

I think this issue is now a duplicate of https://github.com/phetsims/chipper/issues/949. Closing

[2020-06-08 21:18] #170 closed

[2020-06-09 16:17] pixelzoom opened #177 "CT: Lint-everything failed"
[code]

[2020-06-09 19:32] samreid commented on #174
I'd love to bounce this idea off of @zepumph before proceeding.  @zepumph can you please review the last 3 comments and advise?

[2020-06-11 15:30] oliver-phet opened #178 "Committed strings in babel aren't being published to the website"
Two translators have reported fully translating Build an Atom (Portuguese _pt and Telugu _te) -- however, this may not be isolated to BaM. The strings appear to have been correctly [committed to babel](https://github.com/phetsims/babel/tree/master/build-an-atom), but [aren't being published to the site](https://phet.colorado.edu/en/simulation/build-an-atom).

[2020-06-11 22:53] jbphet commented on #178
The root cause was that the code for the deployImages task was never resolving, so the task queue was getting stopped up.  Should be fixed now.  We tested deployImages and a translation build (the ab version of Chains) and both worked.

I'll see if I can create a script to build the translations that didn't get deployed while the build server was out of commission.

[2020-06-11 23:15] jbphet commented on #178
Due to this problem, the build server has not been operating since May 21.  I just checked the logs, and it looks like there are 19 requests for translation builds that did not get executed between then and now.  With roughly 2-3 hours of additional effort, I think I could create a NodeJS script that will allow me (and others in the future) to trigger the build server to build and deploy the missi

[2020-06-11 23:23] jbphet commented on #178
Here are the log entries that indicate which translations haven't been deployed.  Some are actually redundant, so it's not actually 19 unique redeploys.  More like 15.

[code]

[2020-06-12 02:38] ariel-phet commented on #178
@jbphet I actually think given the COVID situation and our worldwide support, it is reasonable to address as a priority.

[2020-06-12 22:53] jbphet opened #179 "Need to update graceful-fs before updating node"
While working on https://github.com/phetsims/perennial/issues/178 I noticed the following message in the build server log:

[code]

That sounds fairly urgent, and I know we're thinking about updating node in October if not before, so this should probably be attended to.

Assigning to @mattpen since he's the main build-server guy, and to @ariel-phet since he is tracking several issues related to th

[2020-06-12 23:12] jbphet commented on #178
I've now published the translations that didn't go out while the build-server was out of commission.  I didn't verify every one, but I spot checked several and they looked correct

@oliver-phet - can you notify any translators who might be interested, and particularly those that contacted us, that their translations should be up now?  Thanks.

[2020-06-15 16:55] mattpen opened #180 "Add call to syncronize website DB for decaf deployment"
I've added an http method call to notify the website that it should add a given project to the list of CheerpJ simulations.  We should add a process so that developers like @samreid can call this automatically.

@samreid pointed me towards https://github.com/phetsims/perennial/blob/master/js/grunt/decaf/deployDecaf.js.

Sam, if we put the http call in this script, it will add it to the DB as soon

[2020-06-15 17:27] oliver-phet commented on #178
Translators notified, closing.

[2020-06-15 17:27] #178 closed

[2020-06-15 20:32] jessegreenberg commented on #174
In https://github.com/phetsims/balloons-and-static-electricity/commit/ff4e2632d880a1711878b8f866a7f008423448f1, balloons-and-static-electricity-tests.js was changed to call `qunitStart` synchronously, but waits to start tests until after the async work is done.

[2020-06-15 23:16] samreid commented on #180
When running the dev deploy task, it outputs a script that can be run to promote the dev version to a production version (see line 140).  Would it make sense to make it part of that script?

[2020-06-15 23:27] zepumph opened #181 "Check api differences on phet-io production deploys?"
In the past the phet-io team created PERENNIAL/phetioAPIChangeCheck to validate that nothing changes between maintenance releases, but while trying to publish GFL for a MR in https://github.com/phetsims/gravity-force-lab/issues/266, this function was trouble. I removed it for now, but we should decide if we want it back in at all, and if so, how we want it to work.

[2020-06-16 00:08] zepumph opened #182 "Only require phet-io dependencies when building for phet-io"
@jbphet mentioned that he got this error when building tambo for phet-io:

![image (3)](https://user-images.githubusercontent.com/6856943/84717460-54856a80-af22-11ea-8d7c-ded91f3c8ddc.png)

I was thinking that this logic should only occur if phet-io is in the `brands` option.

[2020-06-16 00:09] zepumph commented on #182
@jonathanolson will you please review this at a high priority, to make sure we are on the same page.

[2020-06-16 15:07] KatieWoe opened #183 "CT phetioAPIChangeCheck is assigned a value but never used"
[code]

[2020-06-17 00:50] ariel-phet commented on #179
Speaking with @mattpen it would appear this is a fix that can be made independent of node upgrades.

It does not sound like a huge lift of a fix, but @mattpen currently has bigger priorities.

This might be a good small project for after the successful deploy of the browse/filter pages.

[2020-06-18 20:25] zepumph commented on #174
I think that qunitStart should not be used in BASE. Instead, since it needs custom logic, it should implement its own logic that loads everything in the order it needs.

Then running only in phet-io brand feels like a good step forward for the precommit hook. I can leave myself assigned and try to get to it soon.

[2020-06-19 01:43] zepumph commented on #183
Thanks! This has been fixed.

[2020-06-19 01:43] #183 closed

[2020-06-19 20:40] jonathanolson commented on #172
Reopening, it appears I bugged this up (if you have ONLY staged changes and NO unstaged changes, it reports as "clean", so this isn't committing in the normal deployment case).

[2020-06-23 19:51] samreid commented on #172
In slack, @jonathanolson commented that this would not block dev versions.

[2020-06-24 14:39] samreid commented on #175
`localTestingURL` is now used in a sublime plugin:

[code]

Hence we may not be able to delete it.  But we should still get rid of as many usages as possible.

[2020-06-25 15:32] jonathanolson commented on #172
Should be fixed above, forgot an await :/

[2020-06-25 15:32] #172 closed

[2020-06-29 01:16] pixelzoom opened #184 "clone-missing-repos.sh should install git hooks"
Now that all PhET developers are using git hooks...  Should clone-missing-repos.sh be modified so that it installs the git hooks for each repo that it clones?  If it does not, then developers need to remember to do that manually, and I see evidence (CT lint errors) that that is not happening.

[2020-06-29 01:23] pixelzoom commented on #184
PSA to Slack dev-public channel:

@chrisklus would you mind reviewing this?

[2020-06-29 16:36] mattpen commented on #180
@samreid - that is a possibility.  Which user runs that script on phet-server?  The user would need the `serverToken` key in `~/.phet/build-local.json`, if the user is `phet-admin` then this is already in place.

[2020-06-29 17:06] samreid commented on #180
I believe the user is `phet-admin` for that build step.

Since there is already a dev step, and the production step is solely copying files over, it seems pretty safe to make the change visible after files are copied.  If we detect a problem afterwards, could it be rolled back?  I also see the advantage of matching this with our other deployment processes.  Which is easier?

[2020-06-29 17:12] mattpen commented on #180
Not adding an additional check/publish step is easier as that is already in place.  It would take an additional 4-5 hours to setup, test, and deploy a "Publish CheerpJ" button on the sim admin page.

[2020-06-29 19:10] chrisklus commented on #184
Looks great, working on my end. Thanks!

[2020-06-29 22:12] mattpen commented on #180
@samreid - The script should now include commands to sync the DB and effectively publish the cheerpj sim.

The curl command will currently fail with a 404 Not Found until the following issues are complete:

https://github.com/phetsims/website/issues/1070
https://github.com/phetsims/website-meteor/issues/216

[2020-06-30 15:31] mattpen commented on #179
Hmm, this is a bit confusing.  We've never used graceful-fs < 4.0.0.  When I added graceful-fs to the build-server, it started at 4.1.1.  See: c8a9e902e88227502b925c9b4f026922cf1dae10

Also, it says "graceful-fs v3.0.0 and before will fail on node releases >= v7.0" and we have been using Node 8 or higher for 2 years.

[2020-06-30 15:47] mattpen commented on #179
This looks like it might be a problem with grunt.  I noticed in arithmetic that the only dependency is `"grunt": "~1.0.0"`, but grunt has a dependency on `"glob": "~3.1.21"` which depends on `"graceful-fs": "~1.2.0"`.  See arithmetic/node_modules/glob/package.json in master.

@ariel-phet I think someone more familiar with grunt should continue this investigation.

[2020-06-30 21:14] jessegreenberg commented on #184
This is a great idea. However, I recently ran clone-missing-repos.sh and it nested the directories in an incorrect way. It put weddell inside of tangible inside of ratio-and-proportion.  I think we are missing a `cd ..` after the new line in https://github.com/phetsims/perennial/commit/f7805e9643f15cd857596f6713b176303885dff5.

[2020-06-30 21:21] pixelzoom commented on #184
Sorry about that @jessegreenberg.   Fixed in the above commit.   The `cd` is made temporary by putting parentheses around the command.  Please verify.

[2020-07-01 20:13] ariel-phet commented on #179
@jonathanolson will investigate for about an hour soon, and then reassign to me if going to be a long project (with an estimate)

[2020-07-01 21:58] jonathanolson commented on #179
Switched to grunt 1.1.0, this should solve the problem. @jbphet can you verify that we don't get the same warning now?

[2020-07-02 18:46] pixelzoom opened #185 "make clone-missing-repos.sh usable by 3rd parties"
clone-missing-repos.sh iterates over active-repos, which includes both public and private repos.  For 3rd parties that don't have access to private repos, this makes clone-missing-repos.sh difficult/confusing to use.

At 7/2/2020 dev meeting, we discussed a couple of options:

(1) Add a flag to clone-missing-repos.sh and a private-repos file that excludes private repos.  This requires private repo

[2020-07-02 20:23] jbphet commented on #179
The process to verify this change will be something like this:

+ pull the latest changes on to phet-server
+ restart the build server
+ run a test build
+ verify that the test build succeeded and that there are no instances of this message that were generated as a result of the build (there will likely be instances of the message in the log from before the restart)

We might want to try it all ou

[2020-07-06 16:14] samreid commented on #181
Can you please comment how this disrupted the GFL MR?

[2020-07-06 16:24] pixelzoom commented on #185
If I go with option 1 above...  Create perennial/data/private-repos.  Use `comm -23 active-repos private-repos` to filter out private repos.

[2020-07-06 16:34] pixelzoom opened #186 "bad doc for lint-everything-say-bitbar.sh"
In lint-everything-say-bitbar.sh:

[code]

The 3rd line looks wrong, `lint-everything-say.sh` does not exist.

The last line looks like a copy-paste error, since this script has nothing to co with `checkout-branch.sh`.

The documentation also doesn't tell me what this script does. I have no idea what `fswatch` is, or how this script might be useful to me.   And what is "bitbar"?

[2020-07-06 16:37] samreid commented on #186
The work in https://github.com/phetsims/chipper/issues/918 was obviated by commit hooks.  I'll delete the script and daemon task.

[2020-07-06 16:39] samreid commented on #186
Removed, closing.

[2020-07-06 16:39] #186 closed

[2020-07-06 16:40] pixelzoom opened #187 "Can revert-migrate.sh be deleted?"
We've completed migration to ES6 modules.  Can revert-migrate.sh be deleted?

[code]

[2020-07-06 16:42] samreid commented on #187
Yes, thanks.  I removed it in the commit.  Closing.

[2020-07-06 16:42] #187 closed

[2020-07-06 16:42] pixelzoom opened #188 "delete restore-shas.sh"
I polled devs on Slack, and no one is using this script.  It can be deleted, and code can be removed from pull-all.sh that creates $HOME/.phet/print-shas.out.

[2020-07-06 16:44] #188 closed

[2020-07-06 17:08] pixelzoom opened #189 "delete log.sh"
log.sh is:

[code]

There's no reason to have a separate script for this. It's 3 lines (and should be 2 lines). It could be a bash `function` in commit-report.sh, or more likely inlined.

[2020-07-06 17:16] pixelzoom commented on #189
I decide to revert this, because I realized that commit-report.sh has no way of specifying a file, it always uses active-repos.  And I'd like to be able to do `for-each.sh pixelzoom-repos log.sh pixelzoom`.

The one change that I did make was to add `--no-pager` to log.sh, so that it doesn't paginate.  If you want pagination, pipe to `more` or `less`.

[2020-07-06 17:16] #189 closed

[2020-07-06 18:31] mattpen commented on #179
This didn't involve a change to the build-server, @jbphet's proposed testing scheme won't work.  To actually test this on the build-server would require a batch maintenance release for all affected sims.  I would assume that this could just be tested with a local build on master for every sim and checking for the presence of this line in the npm output.  As this hasn't caused any problems with the

[2020-07-06 18:36] pixelzoom commented on #185
I went with option 1.  Summary:

* There's a new file, `perennial/data/active-repos-private`.  I named it `active-repos-private` hoping that it might remind developers when adding a private to `active-repos`.
* clone-missing-repos.sh has a new option, `-p`, which ignores private repos.  PhET developers will generally not have to use `-p`. It's intend for use by 3rd-party developers who don't have

[2020-07-06 18:40] pixelzoom commented on #185
I notified @heldentodd about the `-p` option.

[2020-07-07 02:11] zepumph commented on #181
Great question! I will need to think about it. All I remember is that it failed on `phetioAPIChangeCheck` when running `grunt production`. I remember feeling like it was because api files had changed, and so it wasn't expected to work anymore. I will need to take a closer look sometime, and perhaps try to reproduce.

[2020-07-08 16:48] ariel-phet commented on #185
@mattpen will review - marking medium as this should be a quick review.

[2020-07-08 22:59] pixelzoom commented on #184
@jessegreenberg ping.

[2020-07-09 03:39] mattpen opened #190 "Add Prototype Publication Process"
In response to the high demand for remote learning due to covid-19, we started publishing simulation prototypes.  These are versions of a simulation where https://phet.colorado.edu/sims/html/{{sim-name}}/latest/{{sim-name}}_en.html exists prior to the publication of 1.0.0.  Eventually, the file is replaced by the normal production deploy process.

Here is the current process:

1. Deploy an RC or D

[2020-07-09 14:32] jessegreenberg commented on #184
Thanks, it is working well. I tested by removing three repositories and then running clone-missing-repos.sh and verified that the new repos were in the right spot.

[2020-07-09 14:32] #184 closed

[2020-07-13 21:47] samreid commented on #131
I tested `grunt print-phet-io-links` and the results looked reasonable.  Some comments:

In this code:

[code]

The arguments are documented as `string` but also have `versionMajor` attributes, so they may not be strings.  Can we actually use `SimVersion` instances here?

Also, I see a few usages of `for..of` but I see this is restricted by our lint rule:

[code]

How is this passing lint?  But I

[2020-07-15 04:54] mattpen commented on #180
@samreid - This should be operational now.

[2020-07-15 04:54] #180 closed

[2020-07-15 23:06] samreid commented on #190
Another option:

(6) Think of the "prototype" as 1.0.0, name it as such and use our normal deploy process.  Can we set up the links like we want without making the sim pages visible?

[2020-07-16 19:17] Denz1994 commented on #190
From Dev Meeting on 07/16/20:

**Discussion:**

@mattpen: Easiest method would be publishing to production but not making it visible, with the drawback that the versioning will be off (see Method 1 in the [OP](https://github.com/phetsims/perennial/issues/190#issue-653738061))

@ariel-phet: I'm concerned about managing the history of these production builds. We should have a clear understanding tha

[2020-07-16 19:18] Denz1994 commented on #190
From Dev Meeting on 07/16/20:

**Resolution:**
@ariel-phet will communicate with QA to develop steps for a new test cycle for a prototype. Natural-Selection may be the next candidate for this process.

@jbphet mentioned this should be documented in the chipper 2.0 md documents. @ariel-phet will take a first stab at this.

[2020-07-16 19:34] Denz1994 commented on #179
From Dev Meeting on 07/16/20:

**Discussion:**
@mattpen @jbphet : This doesn't seem like it requires a maintenance release and isn't a high priority. This hasn't failed since using grunt despite the warning. Updating the grunt version seemed to fix this issue.

@jbphet The worst-case scenario we upgrade Node and it fails to build sims. We have been using an upgraded version of sim and it hasn't br

[2020-07-18 00:42] zepumph commented on #131
You are look at our base, default set of lint rules, but there is a special set of rules that apply just to node code. for-of loops are only problematic in the browser, thus, see how we turn them on in `node_eslintrc.js`:

`    'no-restricted-syntax': [ 'off', 'ForOfStatement' ],`

This passes lint because perennial's package declares that the whole repo uses the node set of rules. The markup in y

[2020-07-18 00:48] zepumph commented on #131
I think I confused myself. This seems to be working as expected. The "latest" feature is where you automatically get the latest maintenance number. This seems to be working as expected. Without posting the list here, I will just say that all version are only the `major.minor`.

Over to @samreid to discuss the eslint stuff.

[2020-07-18 02:10] samreid commented on #131
Thanks, the changes look good and the lint makes sense.  For this code:

[code]

Can you please add a code comment explaining why `active` and `latest` have to be specified to both `simPhetioMetadata` and the `filter`?

Also, I'm wondering if this code would read simpler if it was written using `_.maxBy`, is that an option?

[code]

[2020-07-20 00:39] zepumph commented on #131
Thanks for two suave comments. The above commit gets the same job done with a lot less code. Closing. Please reopen if you have anything else.

[2020-07-20 00:39] #131 closed

[2020-07-28 19:50] pixelzoom commented on #190
Natural Selection is ready for prototype publications, see https://github.com/phetsims/natural-selection/issues/116#issuecomment-665242012.   I'll be happy to beta test the process documentation in [chipper-2.0.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md) when it's ready.

[2020-07-28 19:55] pixelzoom commented on #190
@ariel-phet When you've completed a draft of the process description in chipper-2.0.md, let's have @mattpen review it before I proceed with  phetsims/natural-selection#116. I'm not at all familiar with the website end of this process.

[2020-07-29 02:41] ariel-phet commented on #190
@pixelzoom @mattpen Prototype process documentation has been given a rough draft in https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md (near the bottom).

[2020-07-29 15:40] mattpen commented on #190
This process looks fine as far as I am concerned.  ✓

[2020-07-29 15:49] KatieWoe commented on #190
Issue template for prototype tests has been made: https://github.com/phetsims/QA/blob/master/issue-templates/prototype-test-template.md. There is also a testing matrix template.

[2020-07-29 19:53] pixelzoom commented on #190
I made a couple of edits to the process description and QA template, but overall looks good.  I followed the process to create natural-selection 1.0.0-rc.1, see https://github.com/phetsims/QA/issues/522.

Back to @ariel-phet.  If there's nothing else to do here, please close.

[2020-07-30 01:56] #190 closed

[2020-08-07 21:38] mattpen commented on #149
@zepumph - is this actually high priority?  Sorry I haven't been able to prioritize the work.  Please reassign me if this is needed urgently.

[2020-08-12 21:26] zepumph opened #191 "Common code unit tests are not run in PhET-iO brand"
Looking through `listContinuousTests.js`, I don't see a way that common code is being tested in phet-io brand. This is because repos like `tandem` and `axon` are not in `perennial/data/phet-io`, as they aren't runnable phet-io repos. For right now, I will just manually add them to make sure they get unit tested in phet-io brand.

[2020-08-12 21:33] zepumph commented on #191
After the above commit, I'm pretty sure that axon is going to start failing on CT, as that was what I found to be the case when beginning to work on https://github.com/phetsims/axon/issues/316, but it is better for it to be load failures instead of quiet ones.

Tagging @jonathanolson to make sure that it is alright to use `assert` in `listContinuousTests.js` as I did above.

Tagging @samreid and @

[2020-08-12 21:35] zepumph commented on #191
Also, I wonder if this would be solved by adding phet-io unit tests to pre-commit hooks.

[2020-08-12 21:35] zepumph commented on #191
Here are the tests axon was testing up until this point:

![image](https://user-images.githubusercontent.com/6856943/90070681-bbb06880-dca0-11ea-9556-3f6758c3c73b.png)

[2020-08-15 00:44] samreid commented on #191
Would it be reasonable to say "all tests run in ?brand=phet-io" and we endeavor to make the phet brand unit tests a subset of phet-io brand unit tests?

[2020-08-17 17:36] mattpen commented on #185
These changes look fine to me. Closing.

[2020-08-17 17:36] #185 closed

[2020-08-17 19:28] jonathanolson opened #192 "Automated maintenance failing autocomplete on Node.js 14"
The autocomplete feature is preventing normal operation, I'll either want to disable it or fix it up.

[2020-08-19 01:20] samreid commented on #175
I'm not planning to work on this in the near future, unassigning.

[2020-08-19 03:35] samreid commented on #129
I'm wondering how much of this was covered by https://github.com/phetsims/tandem/issues/191

[2020-08-19 23:20] zepumph commented on #191
Yes, as long as we don't just run them in PhET-iO brand. Perhaps they could all be run in both on CT? I don't think that would require much work.

I ran the following, and found potentially simple instrumentation errors to fix in scenery, scenery-phet, and sun. Everything else passed:

http://localhost:8080/area-model-common/area-model-common-tests.html?ea&brand=phet-io
http://localhost:8080/area-

[2020-08-19 23:58] zepumph commented on #191
I was a little on the fence thinking about all of the above sims that don't support PhET-iO brand, but especially after the above commit, I think that it is still the way to go.

The above work now makes scenery run successfully in scenery. I would say it was 90% busy work, but it still felt like important clean up. The other 10% were actual PhET-iO tests that were broken and hadn't been run anyti

[2020-08-19 23:59] zepumph opened #193 "Can I use assert in listContinuousTests?"
From https://github.com/phetsims/perennial/issues/191#issuecomment-673122044:

Over to you @jonathanolson to confirm that the usage of assert in listContinuousTests is ok. Feel free to close.

[2020-08-20 15:11] KatieWoe opened #194 "CT Error: grunt lint repo=perennial in ../chipper failed with exit code 1 and stdout:"
[code]

[2020-08-20 15:18] chrisklus commented on #194
Fix pushed above, closing.

[2020-08-20 15:18] #194 closed

[2020-08-20 16:36] zepumph commented on #174
Reviewing `balloons-and-static-electricity-tests.js`, it looks like `qunitStart` seems correct in this case.

After https://github.com/phetsims/perennial/issues/191, every unit-test-enabled repo now runs successfully with `?brand=phet-io`. I think we are ready to turn this on.

[2020-08-20 16:41] zepumph commented on #174
After the above change, I tried committing this change which I expected to fail out in phet-io brand, and it didn't let me commit:

[code]

@samreid please review this issue in correlation with https://github.com/phetsims/perennial/issues/191

[2020-08-20 16:42] zepumph commented on #191
@samreid  please review in correlation with https://github.com/phetsims/perennial/issues/174. How do we feel about the assumption that all unit tests support being run in `brand=phet-io`?

[2020-08-20 22:38] zepumph commented on #149
After much investigation and remembering what the heck I was talking about last year, I think that this is not a bug, but that there is a little cleanup that makes sense to do.

the "ignoreForAutomatedMaintenanceReleases" flag is being set as the `active` flag when posted to the website service:

https://github.com/phetsims/perennial/blob/dfccee19db8034db6ff2da227a30eb7491e9cf96/js/build-server/no

[2020-08-21 05:36] samreid commented on #174
This seems like a good solution.  I tested by hacking a test in PropertyTests and saw that `node ../perennial/js/scripts/hook-pre-commit.js` failed.  I'll comment on the other aspects in #191, closing.

[2020-08-21 05:36] #174 closed

[2020-08-21 05:42] samreid commented on #191
Running all unit tests in both brand=phet and brand=phet-io sounds appropriate and in line with the long term vision of our project.  For repos that have no special phet-io features, they will run redundant tests, but I believe that is OK because most unit tests are fast to run.

If and only if we decide that is taking too long, then I'd recommend pursuing a strategy where we only (or predominantl

[2020-08-24 00:23] samreid commented on #129
Now that we have `phetioValidation` can we proceed to remove `automatedTestEnabled`?  @zepumph please confirm and reassign to me to proceed.

[2020-08-26 18:33] jbphet commented on #4
This is an old issue and the build server has evolved quite a bit since the time this issue was created.  I just looked through the build server log on phet-server, which currently has about 5 1/2 days worth of data in it, and I see no signs of this message.  Also, I searched through the build sever code for the string "translator probably" from the error message shown above and couldn't find it i

[2020-08-26 18:33] #4 closed

[2020-08-26 23:52] zepumph commented on #129
Yes I think we are ready. We should remove `automatedTestEnabled` which then means that we remove support for and delete `testable-phet-io` and `testable-runnables`. Those usages in `listContinuousTests` can just use `phet-io` and `active-runnables`. I confirmed that the "testable-" data lists are exactly the same as their base list.

I confirmed that generate-data is up and running on bayes, so a

[2020-08-27 00:38] samreid commented on #129
I ran the above steps, back to @zepumph for review.

[2020-09-01 16:58] mattpen commented on #149
Ok, I cleaned up this file.  Closing.

[2020-09-01 16:58] #149 closed

[2020-09-02 09:21] mohammadjavadnouri commented on #154
Hi,

I have the same issue!! :((

[2020-09-02 14:01] pixelzoom commented on #154
@mohammadjavadnouri you can safely ignore this warning. build-local.json is optional, not required to use PhET's build tools.

[2020-09-03 23:31] zepumph opened #195 "Maintenance Process improvements"
From my MR I am doing for https://github.com/phetsims/chipper/issues/979#issuecomment-686674583, I have a couple things that could be really nice to do for UX.

1. I kept getting errors because of my working copy and network while calling `Maintenance.addNeededPatchesAfter()`. It would be really nice if you could give it a repo to start with, so that you don't have to repeat the first half of the

[2020-09-04 04:41] zepumph commented on #195
Over to @jonathanolson for comment.

[2020-09-08 16:43] jonathanolson commented on #195
Added documentation improvements that hopefully help with 2 and 3. The first point has been annoying for me too, wholeheartedly agree it should be a change (leaving assigned).

[2020-10-14 16:45] zepumph opened #196 "`-phetio` is not added to dev server version path for chipper 1.0"
Noted in https://github.com/phetsims/QA/issues/559.

Instance Proxy paths are broken because the directory structure isn't as expected. Notice this is broken in these sims, even an old MR:
https://phet-dev.colorado.edu/html/charges-and-fields/1.0.20-rc.3/wrappers/index/
https://phet-dev.colorado.edu/html/charges-and-fields/1.0.7-rc.1/wrappers/index/

This isn't broken on the production server:
htt

[2020-10-14 18:14] jonathanolson commented on #196
I believe this sounds good, although presumably we'd also need to update the maintenance links generation code (I can do it after).

Can we have that applied, and then do another RC for that branch, to ensure it resolves the issue?

[2020-10-15 00:39] zepumph commented on #196
@ariel-phet what is the priority of this as it pertains to my other PhET-iO work (like https://github.com/phetsims/scenery/issues/1047)?

[2020-10-15 00:41] zepumph commented on #196
@mattpen, is there an easy way to test a build with chipper 1.0? For example chains in a certain branch or something like that? I remember 2 years ago when you were working on this, that you were doing a lot of test builds, split on chipper 1.0/2.0. Do you have guidance on how I could reproduce a chipper 1.0 phet-io build for testing?

[2020-10-15 01:16] mattpen commented on #196
Ostensibly you would just check out an old branch of chipper and follow the old deployment instructions. I'm not an expert on what happens in chipper, but the build server should still work for chipper 1.0.

There is no build-server 1.0. The build server just has two ways of interpreting input.  Once it knows what to deploy it does the same thing whether it received the request from chipper 1.0 or

[2020-10-15 03:02] ariel-phet commented on #196
@zepumph as to priority I would like to understand ramifications here a bit better and discuss briefly at dev meeting so I am sure I am clear on the issue

[2020-10-15 19:31] zepumph opened #197 "generateData won't loop"
@samreid brought up that the generate data pm2 process on bayes is not working as expected. I noticed that when I restart it, it runs, but it doesn't repeat afterwards. @jonathanolson, could we pair on this at some point?

[2020-10-15 19:33] zepumph commented on #197
[code]

[2020-10-15 22:11] zepumph commented on #197
After restart and the above commit, I have been monitoring the logs, and it is repeating as expected now. Hopefully `prune` was the cause of the errors. I think it is likely because much of the error logging I saw looked `npm` related.

Tagging @samreid that there was a change, and hopefully the next time this is needed, the service will just work.

[2020-10-15 22:11] #197 closed

[2020-10-21 17:00] mattpen commented on #196
@zepumph - Let me know if you need anything else from me on this issue.

[2020-11-04 22:56] zepumph commented on #196
I committed the update above, and I'm testing by publishing CAF 1.0.20-rc.4.

[2020-11-04 23:04] zepumph commented on #196
I did the necessary steps, and found success in changing the name of the version directory.

I still found that instance proxies was trying to reach the production version of the sim.

To get around this, I used `launchLocalVersion`, and things worked well. See https://phet-dev.colorado.edu/html/charges-and-fields/1.0.20-phetiorc.4/wrappers/instance-proxies/instance-proxies.html?sim=charges-and-fi

[2020-11-04 23:04] #196 closed

[2020-11-05 19:17] samreid opened #198 "Make it easy to share working copy changes"
Often in pair programming, we would like to share all changes to a new driver.  It used to work pretty well to Webstorm => VCS => Create Patch From Working Copy Changes => Paste into Slack => Copy out of Slack => Apply Patch from Working Copy Changes.  But lately apply patch has been intermittently failing, saying “chunks failed to process”.  Also, sometimes the patch is larger than a slack messag

[2020-11-12 01:42] pixelzoom commented on #198
@samreid said:

From https://docs.google.com/document/d/1duip7__YZk_waSeedH0AnpcSaG7kn7-c05aQUpLLk14/edit:

[2020-11-12 20:24] chrisklus commented on #179
From 11/12/20 dev meeting:

We are good with closing this and opening a new issue for updating grunt (or getting rid of it??)

[2020-11-12 20:24] #179 closed

[2020-11-13 23:47] zepumph opened #199 "createSim propagates readmeCreatedManually:true to new sims"
I see 30 usages of `readmeCreatedManually: true` in package.json files, and it is because the simula rasa package.json has `readmeCreatedManually: true` in it. I think that we can add a simple piece of code to PERENNIAL/createSim that deletes that and keeps this from becoming a bigger problem

Then we need to remove this from other sims already having this problem.

[2020-11-14 00:00] zepumph commented on #199
I added code to createSim and removed this from all new sims. Luckily the only ones I found had not been published yet, so there were no changes to the readme files. @samreid will you please review.

[2020-11-14 00:24] samreid commented on #199
Good catch! This solution looks appropriate, thanks!  Closing.

[2020-11-14 00:24] #199 closed

[2020-11-14 16:45] samreid opened #200 "Build server is down"
From https://github.com/phetsims/gravity-and-orbits/issues/345#issuecomment-727232279

@ariel-phet can you please recommend how to proceed?

[2020-11-14 16:51] samreid commented on #200
To clarify, the build command completed with:

[code]

[2020-11-14 17:18] Denz1994 commented on #200
Just noting that I ran `grunt rc` for CLB and it successfully deployed and sent me an email. The logs were also captured on our production server. I didn't see any logs for GAO, but @samreid confirmed that a request was successfully sent to deploy to the production server (as noted in his CLI output) during the rc deploy.

[2020-11-14 17:24] samreid commented on #200
Working with @Denz1994 and @zepumph, we determined there were unpushed changes in phet-core.  I pushed that and will try again, thanks!

[2020-11-14 17:24] #200 closed

[2020-11-16 23:09] zepumph opened #201 "upgrade winston to latest"
This is causing https://github.com/phetsims/chipper/issues/993 when loading perennials' gruntfile.

I applied this patch, but it didn't work right out of the bag, likely because winston's api has changed:

[code]

I'm not sure what the priority of this issue should be, or who is responsible for winston in this repo. I don't know why our gruntfile uses winston, since it was meant to be logging for

[2020-11-16 23:24] zepumph commented on #201
When I apply this patch, I get messages like this for `grunt print-phet-io-links`:

[code]

When I add this patch, I then get messages that look like this:

[code]

[code]

I don't know how winston is used in the build-server, but log.js would need to be brought up to a new API. I think also that we would want to use the upgrade guide https://github.com/winstonjs/winston/blob/HEAD/UPGRADE-3.0.md.

[2020-11-17 01:27] ariel-phet commented on #201
@jbphet @muedli is this Rosetta related? If so, perhaps something @muedli could tackle?

[2020-11-17 17:30] jbphet commented on #201
It's not directly related to Rosetta, but we do use the same logger (winston) in both the build-server and rosetta, so @muedli could probably take care of it.  Since it is build server code, which is pretty critical to our day-to-day operations, I would propose that @muedli make the changes and then have @mattpen review and approve them, and @mattpen should also deploy them since he is much more e

[2020-11-17 21:39] ariel-phet commented on #201
Sounds like a great plan to me @jbphet and a good experience for @muedli

[2020-11-18 23:28] zepumph commented on #129
I got rid of the lists also. I think this is ready to close. Thanks @samreid!

[2020-12-01 19:41] mattpen commented on #160
@jbphet - This is handled in `perennial/js/common/execute.js`.  It looks like it is logging content from stderr in the logs (and has been since 2017).  Do you want the stderr content in the email as well?

[2020-12-02 17:12] pixelzoom opened #202 "'grunt create-sim' fails if $HOME/.phet/build-local.json doesn't exist"
Reported by a 3rd-party in the Google Group, https://groups.google.com/d/topic/developing-interactive-simulations-in-html5/zBt-qQQVbkM?pli=1&authuser=0:

able to start the http server and see the example sim in action, however,
when I went ahead and entered the command:

'/Users/mayankpandey/.phet/build-local.json'
Warning: Task "create-sim" not found. Used --force, continuing.

machine, but appar

[2020-12-02 17:16] pixelzoom commented on #202
Response to the user in the Google Group:

Sorry that you've encountered this problem.  I've reproduced the problem, and created a GitHub issue to get it resolved. See https://github.com/phetsims/perennial/issues/202.

In the meantime, you can create an empty build-local.json by opening the Terminal application on macOS, and running this command:

echo "{}" > /Users/mayankpandey/.phet/build-local.

[2020-12-02 19:33] jbphet commented on #160
I don't think that's necessary.  I generally go to the log to follow up on any emails that indicate build errors, and assume others do too.

It seems like it.  I just looked through the log and saw a number of places where the `stderr` logging preamble is output but there isn't any content.  Here's an example from yesterday:

[code]

I think we should understand why these blank `stderr` lines are

[2020-12-03 05:02] mattpen commented on #160
I think I see what the problem was, stdout and stderr were printed asynchronously, so their outputs were interpolated.  I change the executor to accumlate all output for each and print them separately after the command finished.  It looks much better now.  There could still be blank lines, but they should be intentional (the command actually printed a blank line to stderr/stdout).  If stdout/stder

[2020-12-03 05:02] #160 closed

[2020-12-03 21:18] jbphet commented on #160
Sounds good.  I just looked through the log and saw a number of non-blank `stderr` entries, so it seems like an improvement.

[2020-12-04 19:36] zepumph commented on #202
I think that the error is coming from https://github.com/phetsims/perennial/blob/627e7f5c5e836721fbf2eb2fbbd37fb085fd64ac/js/grunt/decaf/deployDecaf.js#L28, because it is outside of a function, it executes upon import into perennial's Gruntfile.

I would recommend using `buildLocal.js` anyways, which has built-in grace. Over to @Denz1994 who added that logic in deployDecaf.

[2020-12-07 16:44] Denz1994 commented on #202
Right, I moved these constants into the function scope of both`buildDecaf.js` and `deployDecaf.js`.  This wasn't caught initially, because my machine has a `.phet/build-local.json`.

I didn't use `buildLocal.js` because it returns only a subset of fields from the `buildLocalObject`, so fields like `buildLocalObject.gitRoot` don't carry over. Instead, I added assertions to check for these fields wh

[2020-12-07 17:56] samreid commented on #202
Looks great and I also tested after renaming by local file, closing.

[2020-12-07 18:27] zepumph commented on #202
In my opinion, `buildLocal.js` should be the entire schema of what can be found in build-local.json on master. I think it would be better and clearer to add this field to buildLocal with a reasonable default instead of using a separate implementation of the same job. Perhaps another issue should be created for this though.

Another solution would be to alert buildLocal.js so that it returns whatev

[2020-12-07 18:30] samreid commented on #202
Good point @zepumph, I agree.

[2020-12-10 20:11] pixelzoom commented on #198
12/10/2020 dev meeting

@pixelzoom I would start by trying to figure out why patches are not working.  If it's a WebStorm bug, report to JetBrains.  As a workaround, try using the command line.

@jbphet suggested creating a temporary branch for collaborating. @zepumph said that's problematic because we're sometimes in multiple repos.

@samreid will keep this on his radar and investigate the next t

[2020-12-10 20:13] samreid commented on #198
We also discussed trying zoom remote control.

[2020-12-10 20:36] pixelzoom commented on #198
Zoom remote control requires you to explicitly transfer control to the remote user.  As soon as you click on your screen, you take control back.  If one person is driving for a chunk of time, that can work OK.  If you really want to collaborate at the same time, it's a pain.

[2020-12-14 17:51] mattpen opened #203 "Add alternative screenshots to deployment process"
The screenshots should be optimized for the size needed for the new sim pages, probably 600px width.  We need to check which sims have these available and which still need them.

[2020-12-14 21:58] mattpen commented on #203
This was fairly simple to add, and the alternative screenshots have been added to the production server in a 600px wide version.

[2020-12-14 21:58] #203 closed

[2021-01-05 20:48] ariel-phet commented on #147
How are we feeling about the maintenance release process these days? I feel like there have been some refinements, are we in a "good enough" working state or are there pain points we should be actively addressing?

[2021-01-07 21:18] pixelzoom commented on #147
1/7/2021 dev meeting.

Most of these pain points were more related to batch maintenance releases.  Consensus was that this can be closed.  If we have future problems, we'll open a new issue.

[2021-01-07 21:18] #147 closed

[2021-01-07 21:18] zepumph commented on #195
- [ ] I also felt like `Maintenance.checkBranchStatus()` was really a nuisance, beause it takes so long and can cull my momentum on an MR (which is often not my highest priority). Is there a way to parallelize that, or perhaps make it faster?

[2021-01-08 20:03] jonathanolson commented on #195
Yes, it takes a frustrating amount of time! It has to check out a lot of things, I'm unaware of any easy way to make it faster.

[2021-01-13 19:06] mattpen opened #204 "Extract sim screen titles for the translations XML"
We need to update createTranslationsXML.js to report the translated names for all screens of a sim.  This will require adding screen data to package.json for every sim.  For each sim, for master and each of its active release branches, we need to add an entry like the following to package.json's `phet` object:

[code]

For example, here is how area-model-multiplication/package.json would look:
[co

[2021-01-13 19:06] mattpen commented on #204
Assigning self to generate a list of all branches that need to be updated.

[2021-01-14 04:33] mattpen commented on #204
- [ ] acid-base-solutions 1.2
- [ ] acid-base-solutions master
- [ ] area-builder 1.1
- [ ] area-builder master
- [ ] area-model-algebra 1.2
- [ ] area-model-algebra master
- [ ] area-model-decimals 1.2
- [ ] area-model-decimals master
- [ ] area-model-introduction 1.2
- [ ] area-model-introduction master
- [ ] area-model-multiplication 1.2
- [ ] area-model-multiplication master
- [ ] arithmetic 1

[2021-01-14 20:39] jessegreenberg commented on #204
1/14/21 Meeting:

Devs will meet at 10am MT 1/15/21 to discuss the proposal. During discussion on 1/14/21 it wasn't clear whether this could be done by the deadline of 1/31/21, we will discuss that as well.

[2021-01-14 21:20] mattpen commented on #204
Chris Malley said:

@pixelzoom - We are planning to discuss this issue tomorrow.  This is potentially a chip away task for the entire dev team so we wanted to make sure you were aware and would welcome any input you have.

[2021-01-14 21:29] samreid commented on #204
I took this for a test drive in Bending Light, for master and 1.1.  It took about 16 minutes to review the issue and update both.  I couldn't cherry pick due to significant changes in the package.json.

[2021-01-14 22:18] pixelzoom commented on #204
I see from the bending-light example that this was added to package.json:

[code]

PhET convention is that keys for screen titles have the format "screen.*". Why can't we just extract all matches for that pattern directly from the strings.json files?

[2021-01-14 22:20] pixelzoom commented on #204
Also pointing out that there's a problem with bending-light. Those keys should be screen.intro, screen.prisms, and screen.moreTools.

[2021-01-14 22:22] pixelzoom commented on #204
I see from the bending-light example that this was added to package.json:

[code]

I'm wondering why it's necessary to add that to package.json

First, it's duplicated information.  And if a change is made to strings.json, you now have to remember to also change package.json.

Second, it seems unnecessarry. PhET convention is that keys for screen titles have the format "screen.*". Why can't we jus

[2021-01-14 22:50] samreid commented on #204
Does the metadata require the correct ordering of the screens (array-like), or just the unordered list (set-like)?

[2021-01-14 23:17] mattpen commented on #204
We need to link the screen titles with their position that is used by the screens query parameter.  Including these as an ordered list should accomplish this (albeit with an off-by-one error), but we could also do a set-like representation with additional properties, e.g.:
[code]

Agreed! I don't like the duplication either and we're open to better solutions.  @chrisklus, @jonathanolson, and I spe

[2021-01-15 00:06] pixelzoom commented on #204
I'm not sure how to address the problems that @mattpen raises in the preceding comment.  But my recollection is that PhET adopted the "screen.*" key convention to make it easy to identify strings that correspond to screen names.  So if we're unable to make use of that convention here, I have another question - why bother with this convention?

[2021-01-15 02:46] samreid commented on #204
Would it be worth it spending time applying that convention to all of the branches?  Also, that convention was proposed before we had structured strings.  Should we finish support for translating structured strings, and move toward:

[code]

If we did that, could we rely on the parse order to get the screen indices?

[2021-01-15 03:19] pixelzoom commented on #204
From https://www.rfc-editor.org/rfc/rfc7159.txt: "An object is an unordered collection of zero or more name/value pairs ..."

[2021-01-15 18:29] mattpen commented on #204
1. Should we assign one person to manually go through all sims, or create a chip away task and assign all responsible devs?

2. Are there any sims/branches about to be released that are not listed below?

It sounds like this is a no, we don't need to handle this for this issue.

3. Does the metadata require the correct ordering of the screens (array-like), or just the unordered list (set-like)?

L

[2021-01-15 18:32] mattpen commented on #204
[code]

[2021-01-15 18:49] mattpen commented on #204
Dev Meeting 1/15:

I'm going to move ahead with using a script like this in the build-server and I'll bring this up again in dev meeting if there are roadblocks. The main concern is build-server performance in a production context.

 There was no clear consensus on a method to retrieve this data without duplicating information (as proposed in the package.json scheme), so we are going to table the

[2021-01-15 18:50] zepumph commented on #204
In https://github.com/phetsims/joist/issues/603 we updated how the `phet.joist.sim.screens` global operated. Before that issue, the array did not include the HomeScreen as its first element, and after (and on master) it does. I think this is commit where that changed. https://github.com/phetsims/joist/commit/ea3f51d0f497775752d2c86dc46ba995b9167255. Perhaps that will be helpful when getting a cons

[2021-01-15 18:51] mattpen commented on #204
@samreid - do we need to revert phetsims/bending-light@6e59aeac8b344069ed18e6b30a5d95010a61d23f and phetsims/bending-light@9cc1594139bc37d5a8b98440645662eb23790ff7?

[2021-01-15 18:54] samreid commented on #204
Yes, I'll revert those, thanks!

[2021-01-19 16:16] mattpen commented on #204
@jonathanolson - When we capture strings by using puppeteer, they are wrapped in what looks like embedding marks.  Do you think these should be stripped out before the strings are stored in the database for the metadata api?

[2021-01-19 16:48] mattpen commented on #204
[code]

These sims all have one screen with `phet.joist.sim.screens[0].name`  equal to `null`.  Some other sims with one screen, like area-model-decimals and atomic-interactions, have a named screen, but it generally looks like it is the same as the title of the sim.

Is there a better way to get the screen name for these sims? If not, can I assume that if `phet.joist.sim.screens[0].name` is null

[2021-01-19 16:55] samreid commented on #204
Sims with one screen often do not have screen names in the code.  I don’t know what will be best for the metadata service. The cases that have a single, named screen are cases where one screen is reused from another sim.

Here are some choices:
* Metadata service should always return null for screen names for 1-screen sims
* Metadata service should always return the sim name for screen names for 1

[2021-01-19 17:40] mattpen commented on #204
This seems appropriate to me, but we can handle any one of those options on the metadata service side, so I think it is fine to just leave these screen names out or let them be null.

[2021-01-21 02:53] ariel-phet commented on #106
It would be good to either polish off this issue or close it if it is no longer a priority.

[2021-01-22 16:16] samreid opened #205 "How to deal with unpushed commits?"
Several times in the last few months there have been problems caused by local commits remaining unpushed. This leads to problems and duplication of effort such as in: https://github.com/phetsims/sun/issues/676#issuecomment-765151686

My IDE push dialog takes a long time to populate and doesn't always check all of the repos with commits.

I'd like to investigate better ways to address this problem.

[2021-01-22 16:28] samreid commented on #205
I added a script that quickly pushes all repos with unpushed commits in any branch.  I also unwired the key command for the IDE push dialog.  Hopefully this will help, but I'm also wondering if I should just set up a post-commit hook as described in https://stackoverflow.com/questions/7925850/how-to-automatically-push-after-committing-in-git

[2021-01-23 02:06] samreid commented on #205
Here's a patch for parallel push, but it isn't faster (>4 seconds):

<details>

[code]

</details>

[2021-01-23 02:07] samreid commented on #205
I'll try the "after commit tool" for a bit, combined with the first solution "push all".  So far it seems nice!

![image](https://user-images.githubusercontent.com/679486/105565640-0e2c9100-5ce5-11eb-8465-4ce3a329f246.png)

[2021-01-23 20:10] samreid commented on #205
"Run tool" has been working well.  @zepumph also suggested adding "-p" to the `push-all.sh` script like we have done for the `pull-all.sh`.  I'm not opposed to the idea, but I don't think it will speed things up, if we just add an `&` to the push task, since it takes >2 seconds even for unpushed repos.  `push-parallel` adds 2 new files (but each is trivial), but it runs in around 1.2 seconds, and

[2021-01-25 18:49] zepumph commented on #205
I'm glad that your platform-specific script is working well! I added `-p` support to push-all.sh by following `pull-all.sh` as a template. It is working well for me, and because git has the local ability to check if there are unpushed changes, it works very fast in the repos that have no commits to push with or without the `-p` option. I also liked your idea of getting rid of the "nothing to push"

[2021-01-28 19:14] jonathanolson commented on #204
I honestly don't know... what do we do with translated sim titles? Probably whatever we do for that.

[2021-01-28 21:32] jonathanolson commented on #126
I haven't encountered this, and I believe we are now NOT linting to prevent these types of failures. Closing!

[2021-01-28 21:32] #126 closed

[2021-01-29 01:39] samreid opened #206 "Improve the output of pull-all"
One of my most-used scripts is `pull-all.sh -p`, which works great, but it does not output the results in a friendly way.  For instance, here is a result from a recent run:

<details>

[code]

</details>

Generally, it is impossible to tell which sims were updated, which have local changes and which were up-to-date.  I'd like to work on making this more legible.

[2021-01-29 01:49] samreid commented on #201
Can we please increase the priority of this? It is unnecessary noise in many of our perennial operations.  If @muedli won't be able to get to it soon, is this something @mattpen can work on?  I noticed he added winston originally (at least to package.json).

[2021-01-29 01:59] samreid commented on #206
I tried using shell scripting to accomplish this, but it appears nontrivial to capture output from background processes.  I'd like to try Node.

[2021-01-29 02:01] samreid opened #207 "Make it so execute can run without stopping on first failure on Promise.all"
From https://github.com/phetsims/perennial/issues/206.  Currently when `execute` is used as a Promise, `Promise.all` fails on the first error.  In order to run `pull-all.js` for https://github.com/phetsims/perennial/issues/206, I'd like to receive a report of the errors rather than fail on the first one.  Hence I'll add an option that lets you resolve on errors.  I'll leave the default as it is no

[2021-01-29 02:03] samreid commented on #207
In the commit, I added an option to `execute` that allows you to resolve instead of reject errors.  I tested in a test harness for https://github.com/phetsims/perennial/issues/206, which I'll commit shortly.  @jonathanolson since you are the original author of `execute`, can you please take a look?

[2021-01-29 02:11] samreid commented on #206
I added a script (bottom result), it's about the same speed as `pull-all.sh -p` (top result):

[code]

The output seems much nicer, but I'll test it over the next few business days to see if I want to make improvements.  I'm also considering an option to pull-all without rebase or with stash push-pop.  Or an interactive mode that iterates over repos that didn't pull and asks if you want to pull wi

[2021-01-29 03:08] muedli commented on #201
@samreid, I haven't started work on this issue. I will take a look at it tomorrow and determine how long it will take. I will post an update in this issue.

[2021-01-29 04:03] samreid commented on #205
The node script in https://github.com/phetsims/perennial/issues/206 is working well, I decided to try a similar thing for push-all.

[2021-01-29 04:10] samreid commented on #205
I committed it and it seems OK in initial testing, running in about half the time of push-parallel

[code]

I'll test in practice over the next few business days.

[2021-01-29 05:00] muedli commented on #201
### Update

I tried:

* updating Winston to v3.3.3, and
* updating /build-server/log.js to conform to v3.3.3

This didn't fix MK's problem. I stashed my changes. I think I'll have to look at invocations of Winston on a more granular level to see what's going on here. I probably won't be able to sink much time into this tomorrow.

@samreid, I also tried updating Winston to v2.4.5 and the output of

[2021-01-29 05:12] muedli commented on #201
@samreid, if you scroll a bit further in the issue you posted (`https://github.com/winstonjs/winston/issues/1797#issuecomment-730828150`), it seems the issue can still happen when you've updated to v2.4.5. I still think we should update to v2.4.5 as a stop-gap measure to see if that would reduce the noise you speak of.

[2021-01-29 16:16] samreid commented on #201
I updated to 2.4.5 locally without pushing changes to package.json and so far simple scripts like https://github.com/phetsims/perennial/issues/206 seem OK. But I haven't tried deploys or more complicated work.  Perhaps it would be best to see if @mattpen can advise on a long-term solution?  I don't know enough about how winston is used to attempt an upgrade to 3 on my own.

[2021-01-29 16:45] mattpen commented on #201
@muedli - let's schedule some time next week to see if we can get this working.

[2021-01-29 17:40] mattpen commented on #204
Thanks for the comments @jonathanolson @zepumph.  We currently don't store these marks in babel, we don't store them from sim titles in the translations xml, nor do we store or use them in website translation. I think it is a means for simulations to show mixed direction strings.  I'm planning to strip these out for delivery in the API.

[2021-01-29 18:19] samreid commented on #206
I wrote to slack dev public:

[2021-01-29 20:06] jessegreenberg commented on #206
I work on a windows 10 machine and just tried both pull-all.js and push-all.js, it worked well! I did get an error about "credential storage lock" in one repo, but the commit was still pushed successfully. I just checked and I am seeing the same thing using pull-all.sh, so it probably isn't specific to these new scripts.

[code]

[code]

[2021-01-29 21:42] zepumph commented on #205
Did I do something something wrong here?

[code]

[2021-01-29 21:43] zepumph commented on #206
Similar to https://github.com/phetsims/perennial/issues/205#issuecomment-770065853, I was unable to use this js script:

[code]

Any ideas on why I have this but perhaps others don't

[code]

[2021-01-29 23:27] jonathanolson commented on #207
Looks like things broke a few things, it used to resolve the stdout value by default (so e.g. getBranch is failing).

example:
[code]

[2021-01-29 23:27] jonathanolson commented on #207
Also `assert && assert(` should just be `assert(` in node code.

[2021-01-29 23:30] jonathanolson commented on #207
Fixed above. I like the general change and everything else. @samreid can you review my fix?

[2021-01-30 00:17] samreid commented on #207
Good catch, thanks for fixing that.  Closing.

[2021-01-30 00:17] #207 closed

[2021-01-30 00:20] samreid commented on #206
If we want to get it working on machines like @zepumph we could try _.chunk and running them as batches, but as long as he has a solution that works well for him, I'm not sure we need to expend the effort.

[2021-02-03 18:44] muedli commented on #201
@mattpen and I worked on this today.

I'm going to

- [ ] keep the changes I made to log.js to make it conform to the new API,
- [ ] change log.js to logger.js (this is more idiomatic),
- [ ] move logger.js to /common,
- [ ] find and replace all instances of `winston` with `logger`,
- [ ] find and replace all instances of `require( 'winston' )` with `require( '/path/to/logger' )` (the path will be

[2021-02-05 18:46] jonathanolson commented on #106
@zepumph handled this in https://github.com/phetsims/chipper/issues/594, closing.

[2021-02-05 18:46] #106 closed

[2021-02-10 22:24] zepumph commented on #206
This script works for me about 75% of the time for me right now, but sometimes it fails with batch timeout problems:

[code]

I would recommend adding in the `_.chunk` functionality as an option, that defaults to not chunking (running them all at once). Then it could work well for me (on windows) to know to specify a chunk even if you don't have to.

[2021-02-10 22:40] zepumph commented on #206
- [ ] I would also consider making `--rebase` an option that is auto on. Sometimes it is nice to merge in some cases.

[2021-02-10 22:42] zepumph commented on #181
@samreid and I discussed this today and it seemed like there was good reason that this check failed out for the GFL release. I think we should reinstate this check.

[2021-02-10 22:48] zepumph commented on #181
@samreid anything else here?

[2021-02-13 03:28] samreid commented on #206
I added the _.chunk strategy in this patch:

<details>

[code]
</details>

Here are the results from the timing on my system:

[code]

I should note that there were 2 failures where a git pull just stalled out--I haven't seen that symptom before, not sure if it was related to the patch or if there was a temporary web/github outage.

@zepumph would you be interested in checking the patch, trying in

[2021-02-13 04:22] zepumph commented on #206
[code]

[2021-02-13 04:31] zepumph commented on #206
That said, @samreid recommended trying again without the patch, and there were no problems time was:

10.8
14.5
12.2
17.9

So I guess I have no opinion. Seems like the next step for me is to just use this instead of the bash script, and I can report errors if they are systemic.

[2021-02-14 04:47] samreid commented on #181
Looks good, thanks!  We still could improve on the "backward compatible vs exact match" comparison, but there is already a TODO and issue for that, closing.

[2021-02-14 04:47] #181 closed

[2021-02-19 15:29] samreid opened #208 "disable the git pre-commit hooks for non-sim related or non-javascript repos"
From slack, @mattpen said:

[2021-02-19 15:32] samreid commented on #208
I ran `node ../perennial/js/scripts/hook-pre-commit.js` from phet-android-app and saw an error during the report-media task.  So I added a way to opt certain repos out of reportMedia.  The other way to go about this would be to prevent the precommit hooks from populating in those repos in the first place, but maybe hook-pre-commit.js makes sense as a central point (in case we do decide to add some

[2021-02-19 15:51] samreid commented on #208
`assert` is failing precommit hooks because `getPhetLibs.js` requires package.json to have a `phet:{phetLibs:[]}` entry.  This code makes `getPhetLibs` more graceful, and the precommit hooks pass.  But I am wondering if we should just require all package.json to have a `phet:{phetLibs:[]}` entry.  @zepumph can you please advise?

[2021-02-19 16:03] samreid commented on #208
Also, I iterated through all active repos like so `for-each.sh active-repos node ../perennial/js/scripts/hook-pre-commit.js` and found problems in many repos.  I'll look at opting them out.  Regarding the above comment, I don't think we should require "phet" and "phetLibs" entries for all repos, so I'll factor out the graceful handling to `getPhetLibs.js`

[2021-02-19 16:08] samreid commented on #208
In the commits, I opted out of certain tests for certain repos, and added graceful handling for missing entries in package.json.   After the commits, all repos are passing the precommit hooks.  @zepumph can you please review, particularly about the change to getPhetLibs.js?

[2021-02-23 18:50] zepumph commented on #206
I've been using pull-all.sh for the past week with great enjoyment and success. Today I can't run it without getting this error:

[code]

[2021-02-23 18:59] zepumph commented on #206
This was because I hadn't pulled installer-builder since it was archived/deleted. It would be nice to get better error handling. I'll look into it.

[2021-02-23 19:17] zepumph commented on #206
This patch demonstrates the problem, and works towards catching the error. Perhaps we can work to improve the error message in pull-all.js. I'm also happy to ignore. I just hate how general the ENOENT error is, and would prefer to help future users of this script. @samreid do you have any ideas on how to improve?

[code]

[2021-02-23 19:46] zepumph commented on #208
I'm bummed about duplication of opt out lists.

https://github.com/phetsims/chipper/blob/ba14aa5aa70c4166a471569cd35d1da89a56fd28/eslint/.eslintignore#

https://github.com/phetsims/chipper/blob/60ccd7596ac8c4e1f2d5dc91736f1be17923a363/js/grunt/lint.js#L18-L32

I could not figure out a way to combine the two above lists. Could we work to combine `optOutOfLint` with the list in `lint.js` so that the

[2021-02-24 00:37] zepumph opened #209 "phetioAPIChangeCheck requires authentication"
phetioAPIChangeCheck was created in https://github.com/phetsims/perennial/issues/181

Since phet-io api jsons are now password protected (which they weren't when this feature was added), phetioAPIChangeCheck fails, as @jessegreenberg found while trying to publish GFL 2.2 for phet-io. The error he encountered during the auto MR process was:

[code]

I'm not sure how to navigate this generally. For

[2021-02-24 00:37] zepumph commented on #209
Tagging @samreid too.

[2021-02-24 00:38] zepumph commented on #209
I forgot this is in perennial, so I can't do this this just for GFL. Still for now I will do this.

[2021-02-24 16:08] samreid commented on #209
I'm not sure which of the proposed ways forward (make the API files public or add authentication for our process) is more promising.  A third alternative which seems less promising is to have the build process check out and build the old version.  This seems fragile and like it would slow things down, but it circumvents the access problems.

[2021-02-24 20:47] zepumph commented on #209
@samreid and I want to use basic authentication through headers using request-promise-native (what we are using to request stuff currently).

Like this!

[code]
See https://www.npmjs.com/package/request-promise#get-something-from-a-json-rest-api for doc

Steps for this issue:

1. Create a "machine" account or something, which all devs will need to add to their build-local, with their password".
2.

[2021-02-25 15:12] samreid opened #210 "Convert commit-report.sh to js"
commit-report.sh has been very helpful to me, but requires many manual steps for postprocessing.  By moving to node, it will be easier to automate some of that effort.

[2021-02-25 15:37] samreid commented on #210
Fixed in https://github.com/phetsims/perennial/commit/da9e0df331925ed87754124940c428eb2ef36aa0, closing.

[2021-02-25 15:37] #210 closed

[2021-02-25 22:17] samreid commented on #208
Would it work for lint.js to read in .eslintignore and parse it to create its array?

Sounds reasonable, but would it be even better to just have `grunt lint` be a no-op for those repos?

[2021-02-26 16:23] pixelzoom opened #211 "Improve unit tests for perennial and run them in CT."
Based on https://github.com/phetsims/chipper/issues/1011 ...

Looking at unit tests for chipper, coverage is inadequate.  All top-level task (those shown in grunt --help) should have a niminimum of 1 test.

Units tests are also apparently not run in CT. They should be.

Labeled for developer meeting to decide who to assign.

[2021-02-26 16:24] pixelzoom commented on #211
Units tests are also apparently not run in CT.  They should be.

[2021-02-26 22:58] zepumph commented on #208
Yes. Everything you said above would be better than what is currently there, but I have not been able to get it to work. I'd love it if you wanted to take a try. Also if you just close this and we go with two list copies, I understand. Especially since one is in perennial and one in chipper (so annoying).

[2021-03-02 18:02] samreid commented on #206
That proposal looks good to me, but I recommend the following:

* Can the `reject` calls be more aligned?  One is:
[code]

And one is
[code]

* Perhaps this change in execute should be reviewed by @jonathanolson, since he knows more about how it is used and was able to identify a bug based on an earlier change.

[2021-03-03 03:03] samreid opened #212 "There is duplication in opt-out lists."
In https://github.com/phetsims/perennial/issues/208#issuecomment-784464694 @zepumph said:

[2021-03-03 03:09] samreid commented on #212
I moved 'phet-io-website' from the precommit ignore list to the lint ignore list.  This way the precommit hook doesn't need a lint ignore list any more.  @zepumph can you please review?

[2021-03-03 03:09] samreid commented on #208
I moved the remaining part to https://github.com/phetsims/perennial/issues/212 and proposed a solution for it.  Closing.

[2021-03-03 03:09] #208 closed

[2021-03-03 04:01] samreid commented on #205
I suspect the recommendations at the end of https://github.com/phetsims/perennial/issues/206 would address this issue.  Closing.  @zepumph please reopen as appropriate

[2021-03-03 04:01] #205 closed

[2021-03-03 13:20] samreid opened #213 "The grunt generate-data.sh task on bayes often needs help"
@pixelzoom reported:

then later

then later:

I have had similar experiences with this, can we discuss why this process is prone to being offline, making it more robust, or converting it to a manual process?  Assigning @jonathanolson and @zepumph who appear to be authors of the file, but also marking for dev meeting in case that's helpful.

[2021-03-03 17:15] jonathanolson commented on #213
Hmm, @zepumph do we get notifications when there is a problem with it?

[2021-03-03 17:26] zepumph commented on #213
No. I check on bayes every few months and it always says it is online, but I don't think there is anything set up to know when the task fails. This is the same for daily-grunt-work, which I think broke some time ago but still gets kicked off, failing every night. @jonathanolson how might we be able to set up notifications for these pm2 tasks when things break?

[2021-03-03 17:26] jonathanolson commented on #206
Those changes look like it wouldn't give a consistent rejection type. I'm curious what the purpose of the patch is, or why it would be needed?

[2021-03-03 17:43] jonathanolson commented on #213
Yotta does the following in its error.sh:

[code]

and reliably pings me whenever an error happens.

[2021-03-03 17:57] zepumph commented on #213
I may need a bit more info at some point, but that's enough to get the ball rolling.

[2021-03-03 17:58] zepumph commented on #213
I'm going to leave open for dev meeting because I'm totally swamped at the moment. It would be good to just tell devs to manually run generate-data on their own machines when they need to. Or if someone else wants to take the lead on this.

[2021-03-03 18:27] zepumph commented on #206
I found that there was a class of error that wasn't being handled by `execute`, in which the spawning of the child process itself threw an error, rather than the process that was spawned (which `ExecuteError` handles nicely).

In my particular example in pull-all.sh, active-repos had a repo that had just been deleted (installer-builder), and pull-all tried to execute `git pull` inside installer-bu

[2021-03-03 19:00] pixelzoom commented on #213
Btw...  `cd perennial ; grunt --help` says:

That "DO NOT run locally" bit isn't exactly reassuring, and is why I've avoided doing so.

[2021-03-03 23:25] jonathanolson commented on #213
The main part of the "do not run locally" is that you WOULD be likely to cause a merge conflict for the process on bayes also trying to update it.

[2021-03-03 23:28] jonathanolson commented on #206
Ok, sounds good to handle. I'd like to ensure that we have consistent reject types (because code COULD be wanting to parse things out). Sounds like there won't be an exit code to debug? Is 'close' guaranteed to NOT be invoked? Or could we JUST improve the error message and then use the same error handling code?

[2021-03-04 01:46] mattpen commented on #157
https://user-images.githubusercontent.com/11747676/109897825-85443600-7c50-11eb-9f58-edfc94c70220.mp4

Here's a screen cap of the current behavior on my Samsung galaxy a51.

[2021-03-04 22:17] zepumph commented on #212
Very nice thanks! Having done this work, so you still like the list for `optOutOfReportMedia`? Feel free to close.

[2021-03-08 19:29] samreid commented on #206
Here's an updated patch (other one has conflicts)

<details>

[code]

</details>

Also, I cannot find `process.on('error')` documented anywhere in https://nodejs.org/api/process.html, so I have some questions about that.

[2021-03-08 19:55] samreid commented on #206
I recommend the following changes for execute.js.

* Move ExecuteError out of the closure (to a top level, non-exported type)
* Rename ExecuteError to ExecuteResult, and add `message`
* All reject/resolve should return `new ExecuteResult`.
* ExecuteResult should have an optional `message`

I am unfamiliar with the usages of `execute` that expect a string to be returned, or expect an `Error` in rej

[2021-03-08 22:09] jessegreenberg opened #214 "Maintenance.updateDependencies may be clearing changedDependencies too soon"
I recently used the MR process for https://github.com/phetsims/phetmarks/issues/48, it was very useful. I did encounter one potential issue with updateDependencies.

For a few of the release branches, the build failed while running updateDependencies. After figuring out and resolving the problem, I tried to run updateDependencies again, but the process just printed "Dependencies updated". I then f

[2021-03-08 22:14] jessegreenberg opened #215 "Automated maintenance process may be deploying phet-io brand when it shouldn't"
Noticed while using the automated maintenance process for https://github.com/phetsims/phetmarks/issues/48. One of the release branches failed to build a phet-io brand sim, but it was found that that release branch probably shouldn't include phet-io anyway. From https://github.com/phetsims/phetmarks/issues/48#issuecomment-792963400

Assigning to @jonathanolson and @zepumph.

[2021-03-08 22:27] zepumph commented on #206
I was just bit again by the lack of error handling via `process.on( 'error' . . . ` because my second copy of git didn't have all the repos in active-repos. I'm going to commit a callback for `process.on` "error" now.

[2021-03-08 22:52] zepumph commented on #206
I again can't figure out a way to get a useful error from child process. I'm going to give up for now.

[2021-03-09 19:02] samreid commented on #212
It's not great, but I don't see a preferable alternative at the moment, I recommend closing and we can re-evaluate if it causes problems in the future.

[2021-03-09 19:02] #212 closed

[2021-03-10 16:58] samreid opened #216 "Promise executor functions should not be async"
From https://github.com/phetsims/chipper/issues/814, I tried enabling `no-async-promise-executor` and saw 3 problems in perennial:

[code]

ESLint says https://eslint.org/docs/rules/no-async-promise-executor

I assigned to the primary authors of the files, can you please take a look?

[2021-03-10 21:50] zepumph commented on #216
PDOMComparison may not run right now, but I fixed that lint rule.

[2021-03-13 23:38] samreid opened #217 "Move phet-io tests under phet-io section"
In https://github.com/phetsims/phet-io/issues/1741, I noticed some phet-io tests that are not listed with the main phet-io tests.

[2021-03-13 23:40] samreid commented on #217
Fixed in the commit. I'm unfamiliar with this file, so a quick spot check would be nice.  @zepumph and @jonathanolson both have commits in this area, so I'll assign to them.

[2021-03-14 17:04] jonathanolson commented on #217
Looks good to me!

[2021-03-15 16:34] samreid commented on #217
Thanks, closing.

[2021-03-15 16:34] #217 closed

[2021-03-16 19:16] samreid commented on #204
CT is reporting a lint problem for the commit https://github.com/phetsims/perennial/commit/5c3dec1a0ca90467a6e051711f8b7d254dd33edf

[2021-03-16 19:55] mattpen commented on #204
@samreid - `grunt lint-everything` isn't working on my machine at the moment.  Is the error just a missing semi-colon on line 31?

[2021-03-16 20:12] mattpen commented on #204
I just pushed fixes for the lint failures.

[2021-03-18 15:27] jonathanolson commented on #114
Yes, this seems to be working as desired. Closing.

[2021-03-18 15:27] #114 closed

[2021-03-18 16:17] zepumph commented on #182
@jonathanolson, could this be problematic in a case where you built in phet brand without a phet-io repo checked out and then committed that dependencies.json file to our codebase? Then we would no longer be tracking this. Perhaps we should assert somehow that all our dependencies are in dependencies.json?

[2021-03-18 16:27] jonathanolson commented on #182
That could perhaps mess with dependencies.json in master, if there's a dev version deployed with only phet brand AND the user had missing phet-io dependencies?

Thoughts, should we test with that setup? Release branches should generally be fine.

[2021-03-18 16:37] zepumph commented on #182
Yeah, perhaps just test in dev.js then, eh?

[2021-03-22 17:39] jonathanolson commented on #215
It's an unpublished release branch, so the maintenance process has to kind of "guess" what to build for it. Since its package.json marks it as phet-io, it builds it, but it WILL NOT deploy anything, because it's an unpublished release branch.

Last I heard, no, the next version wouldn't include phet-io.

So, once CLB is published (with phet-brand only), it will show up in MR as phet-brand only.

[2021-03-22 17:46] jonathanolson commented on #214
This is tricky, if the built fails, the MR process will be left in a manual-recover state anyway (since it WILL have already done the branch operations, but the dependencies.json on the branch will NOT be handled).

So if it did NOT change `changedDependencies`, then it would still error (since it wouldn't be able to re-add that merge presumably?)

Can you think of a better way this could have han

[2021-03-22 18:31] pixelzoom opened #218 "Delete deprecated instructions from build-server/README.md"
Can this be deleted from https://github.com/phetsims/perennial/blob/master/js/build-server/README.md?

[2021-03-22 20:13] pixelzoom opened #219 "Build server is not sending email notifications"
I published molecule-polarity 1.1.0-rc.1 today and received no email notification.

@samreid reported:

The log shows ECONNRESET error when attempting to send email:

[code]

I'm not sure who is responsible for build-server, so I'll start by assigning to @jonathanolson and @mattpen.

[2021-03-22 20:14] pixelzoom commented on #219
I'm not sure who is responsible for build-server, so starting by assigning to @jonathanolson and @mattpen.

[2021-03-22 20:26] jonathanolson commented on #219
This doesn't look critical, and I'm not as familiar with build-server as @mattpen (so I'll defer to him).

[2021-03-22 23:05] zepumph commented on #219
This occurred just now in my recent build of Ratio and Proportion 1.0.0-rc.4.

[2021-03-22 23:07] zepumph commented on #219
My logs were a bit different, they end with "attempting to send email" and don't get an error. Perhaps because it was only 10 minutes ago (and the connection hasn't reset yet). Likely the same error.

[code]

[2021-03-24 14:29] samreid opened #220 "Error: spawn git ENOENT for missing repo in pull-all.js"
This is a specific subproblem from #206.

Error when running pull-all.js with a missing repo:

[code]

[2021-03-25 00:12] zepumph commented on #220
I was just bit by this for skiffle, so I committed https://github.com/phetsims/perennial/commit/6764b284fabc82bdaf0b9e9e722bf6873728214f, which fixes this issue, but only handles part of the work to be done over in your recommendation in https://github.com/phetsims/perennial/issues/206#issuecomment-793031078.

This is the error before I cloned skiffle after that commit:

[code]

It could be furthe

[2021-03-25 01:37] zepumph commented on #182
I don't really see the issue about master, since we never use master's dependencies.json to checkout shas.

Let's say you make the following actions:
* Don't have `phet-io/` checked out
* Create a dev version of simX with `--brands=phet`
* Now master will have a copy of dependencies.json without phet-io.js in it.

Who cares though? The next time someone builds a dev version with phet-io brand (or

[2021-03-25 02:24] zepumph opened #221 "Build server failure: Build aborted,at least one repository failed to pull master"
I am ready to production deploy Ratio and Proportion, but there was an error with the build server:

[code]

When pulling all, some repos had errors like:

[code]

I feel a bit stuck, though @samreid had some great ideas about how to fix this like
https://github.com/github/hub/issues/1644 and https://github.com/kemayo/sublime-text-git/issues/176#issuecomment-9606079

I think it makes the most sens

[2021-03-25 15:43] jonathanolson commented on #182
It will likely mess with checkout-master/checkout-target, things to use master dependencies.json (although we could make that more consistent).

We don't really switch release branches to/from multiple brands, BUT we might want to.

New plan: how about we don't write dependencies.json (ever) if you don't have dependencies for all brands checked out?