[2021-03-25 20:21] pixelzoom commented on #221
Since we established that this is a general problem, I've transferred this issue from ratio-and-proportion to perennial.

[2021-03-25 20:25] pixelzoom commented on #221
Slack:

Google Calendar shows that Matt is out through the end of the week.  Is anyone else available to look into https://github.com/phetsims/perennial/issues/221?  If it’s not fixed today or tomorrow, that’s going to throw a monkey wrench into my plans to take some time off next week, and ability to meet Ido’s deadline.

Sam Reid  2:19 PM
@jonathanolson said “I’ll be able to check into it”

[2021-03-25 20:59] zepumph commented on #182
Seems reasonable to me!

So instead of erroring only when building phet-io, instead it should be based on supportedBrands. Please review the above commit.

I tested with `grunt dev --brands=phet --repo=ratio-and-proportion` when I deleted the `studio/` repo. It failed like so:

[code]

Then it passed when I cloned studio back in. This is because ratio and proportion supports phet-io brand in its p

[2021-03-25 22:18] pixelzoom commented on #221
Slack:

Michael Kauzmann  3:03 PM
Unlike for ratio and proportion, I see no way to work around this for molecule polarity because it needs PhET-iO repos (which require passwords I guess).

[2021-03-26 00:30] jonathanolson commented on #221
Had issues pulling number-play and rosetta due to probable history changes (was faster to reclone). Also had to provide authentication for GitHub. I couldn't get an authentication token quickly for the phet-dev user, so I used the password provided and set it up with the credential helper.

Bumper deploy completed with no errors, so this shouldn't block anymore. @mattpen should look into this more

[2021-03-26 01:38] pixelzoom commented on #221
Thanks for the quick attention to this issue @jonathanolson.  I was able to deploy Molecule Polarity 1.1.0-rc.2.

[2021-03-26 01:40] pixelzoom commented on #219
I published Molecule Polarity 1.1.0-rc.2.  I never received email notification.  This time I see what @zepumph reported in https://github.com/phetsims/perennial/issues/219#issuecomment-804454012.  There is no ECONNRESET in the log, just "attempting to send email", followed by nothing:

[code]

[2021-03-26 16:58] zepumph commented on #221
@jonathanolson can you please specify a bit more detail on how you fixed the issue (in the off chance that I could do it next time?)

[2021-03-26 17:31] zepumph commented on #219
Yes, this is the same behavior I see in the logs for Ratio and Proportion 1.0.0 production deploy I just did. @pixelzoom  if you look at the timestamps, the ECONNRESET is something like a timeout 40 minutes later or so.

[2021-03-26 17:37] jonathanolson commented on #221
I saw error messages stating that pulls had failed. Looked up build-server docs, saw that things lived in data/share/phet/phet-repos, ran:

[code]

saw
[code]

with pulls failed, classic symptoms of some history-changing commit where if the build-server pulls at a certain time, then future pulls will fail out.

Recloned:
[code]

Did a pull-all, but it asked for a username/password for interaction-

[2021-03-30 02:12] mattpen opened #222 "ratio-and-proportion failed deploy of 1.0.0"
[code]

This failed because we had a dependency on the simulation metadata before the call to syncronize the project.  I removed this dependency, instead drawing the list of locales from the available files in babel.  This is now identical to how we determine the locales for the titles of the sims, so it should work nicely.

[2021-03-30 02:18] mattpen commented on #222
I confirmed that this fixed the issue with a manual deploy of the translation XML, fix is pending confirmation from @zepumph that the RAP redeploy goes well.

[2021-03-30 03:09] mattpen commented on #222
@zepumph confirmed this worked in Slack. Closing.

[2021-03-30 03:09] #222 closed

[2021-03-30 18:32] mattpen commented on #219
OIT ticket: [INC0726665](https://colorado.service-now.com/sncms/view.do?sysparm_document_key=task,204ed1101bdfe410fe790f6cdc4bcbdb)

[2021-03-30 21:47] jonathanolson commented on #182
The commit above sounds good, however I was recommending that we isolate the writing of dependencies.json at the root to "do we have all of the dependencies checked out". If not, building still would be fine, but it wouldn't write the file.

Will do.

[2021-03-30 21:49] jonathanolson opened #223 "Only write dependencies.json if all dependencies are checked out"
In https://github.com/phetsims/perennial/issues/182#issuecomment-810599465, I'm recommending that we only write the dependencies.json (in master) when we have all dependencies checked out. If all dependencies are NOT checked out, we still build if we are able, but would NOT write the top-level dependencies.json file.

[2021-03-30 21:49] jonathanolson commented on #182
Created in https://github.com/phetsims/perennial/issues/223, closing.

[2021-03-30 21:49] #182 closed

[2021-03-31 14:05] samreid opened #224 "URLs in the phet-io spreadsheet should drop the maintenance version so maintenance updates will seamlessly use the new versions"
@kathy-phet reported:

Should be https://phet-io.colorado.edu/sims/gravity-and-orbits/1.4/
I fixed it, and that is the link I delivered.
Can you update the "steps for PhET-iO" publication to make sure this detail is reflected in the steps?

[2021-04-01 04:46] mattpen commented on #204
The partner api now has screen names in the latest version in production, and screen names are automatically updated on production deploys of sims as well as translations. Closing.

[2021-04-01 04:46] #204 closed

[2021-04-05 15:25] pixelzoom commented on #198
I receiveved an email from JetBrains today, announcing"Code With Me", a new collaborative development and pair programming service: https://www.jetbrains.com/code-with-me/

[2021-04-05 19:04] mattpen commented on #216
f3e53bcfe27512695a12fa198647e147f4479217 should fix the lint issue.  I switched to using the `fs.promises` API over using the `graceful-fs` api wrapped in an async function wrapped in a Promise.  There were some issues with race conditions during file creation in this part of the process during the chipper-2.0 sprint, and the klugey promise/async wrappers were a leftover and failed attempt to fix

[2021-04-06 02:20] samreid commented on #224
Fixed, closing.

[2021-04-06 02:20] #224 closed

[2021-04-06 19:34] mattpen commented on #221
I'm not sure why the PAT in the credentials doc wasn't working, it wasn't working for me on ox-dev either.  I checked and it is still working for rosetta, so I assume that it is wrong.  I created a new access token for use on ox-dev and it is working, we can use it when the cache times out next year.

[2021-04-07 15:19] mattpen commented on #219
I worked on this again today and found a problem with the port configuration after the upgrade to the latest version of emailjs, and email started working after I started using the correct ports.

This is currently blocked by #216.

[2021-04-09 16:40] mattpen commented on #218
These have been removed, neither of these servers is currently running the build-server

[2021-04-09 16:40] #218 closed

[2021-04-09 23:50] mattpen commented on #216
I was not able to run tests due to https://github.com/npm/cli/issues/3044, but there have been several successful translations and RCs since I deployed this.  I think we can close this issue and address any problems if they come up.

[2021-04-09 23:50] #216 closed

[2021-04-13 15:01] samreid commented on #201
What is the proposed timeline for this issue?  If it will take a long time, can we investigate upgrading to `2.4.5` to clean up our console output?  I have been using `2.4.5` for a few months now and haven't noticed any adverse side-effects (though I know I don't run all of the tasks).

[2021-04-13 18:51] liam-mulhall commented on #201
@samreid, this fell off my radar. I will put it on my list of things to do, but I suspect I won't get around to it this week. The next two weeks or so are also busy in terms of school, but if there's a lull in QA I will spend some time on it. Once the semester is over (end of April), I should have plenty of time to work.

[2021-04-15 18:53] pixelzoom commented on #211
Folding this into https://github.com/phetsims/chipper/issues/1012, closing.

[2021-04-15 18:53] #211 closed

[2021-04-15 19:00] samreid commented on #213
At today's dev meeting, we discussed that we would like this to run on the server, but we will need to dedicate time to investigating this.  Until then, it seems we need to run it manually.  If developers run into problems with this, please add a note in this issue and increase the priority.

[2021-04-16 21:43] samreid opened #225 "Add unit tests for create-sim"
From https://github.com/phetsims/chipper/issues/1012, we determined that someone on the google group pointed out that create-sim was failing.  This is not surprising since we rarely run it.  We would like to create a unit test in perennial that creates a sim, and make sure the task doesn't fail.  The test could also make sure the output looks as expected, and even run the created sim in puppeteer

[2021-04-23 00:15] zepumph commented on #152
@jonathanolson, over in https://github.com/phetsims/special-ops/issues/185 we made a `responsible_dev.json` which is machine readable. It is currently a master list that is manually updated with the latest and greatest responsible humans. If you would like to add an `isPublished` flag in that, go for it!

In that issue, we decided that the extra I/O time from reading so many package.json files was

[2021-04-29 19:17] jessegreenberg commented on #213
Dev meeting 4/29/21

@zepumph reiterated https://github.com/phetsims/perennial/issues/213#issuecomment-789937944, and mentioned he wouldn't get to this any time soon.

MK: One way forward would be to move generate-data.sh to "daily grunt work" and then allow people to run it locally. But that isn't ideal.

SR: Should we gravitate towards a philosophy where it is up to the developer who makes a cha

[2021-04-29 19:40] jessegreenberg commented on #225
Developer meeting 4/29/21 -

This is on hold until a general way to create tests is done in https://github.com/phetsims/chipper/issues/1012.

[2021-04-30 18:16] zepumph commented on #213
I will just take the pm2 task offline here, since it isn't working anyways. Then all you need to do is update generateData and daily-grunt-work.sh and confirm that's running on bayes.

[2021-04-30 18:19] zepumph commented on #213
Stopped and deleted:

<details>

[code]

</details>

[2021-05-09 15:39] jonathanolson opened #226 "Maintenance deleted dependencies.json"
https://github.com/phetsims/molecule-polarity/commit/09adee21470b21cf6ef01d94b280af588071d3ff was committed by the automated maintenance process, notably:

[code]

because there was content on dependencies.json:

[code]

Looks like the updateDependenciesJSON somehow... committed an empty file, and then left an unstaged file?

[2021-05-10 19:49] jonathanolson opened #227 "Maintenance should patch dependencies.json directly"
Instead of having to build the sim to update a small number of lines, this can be heavily streamlined directly.

[2021-05-13 15:30] jessegreenberg commented on #213
Thanks @zepumph! In https://github.com/phetsims/perennial/commit/30214b75ad2188415ceefabe5a1b21955540ef23 I removed the pull-all and clone-missing-repos part of generate-data. In https://github.com/phetsims/perennial/commit/9ce446be8c2b2a1381d7c2deb19ea138c1f26526 I added it to daily-grunt-work.

I am getting an error when trying to run locally though
<details>

[code]

[2021-05-13 15:37] jessegreenberg commented on #213
After https://github.com/phetsims/perennial/commit/5b9a257acc47ba6c9331524130ac2309a9c44fe2 it worked when I ran it locally and https://github.com/phetsims/perennial/commit/772389e88b8a05daa49bab79f90e4b720aa99f5f was the resulting commit.

@samreid volunteered to be a reviewer in https://github.com/phetsims/perennial/issues/213#issuecomment-829520835, would you mind reviewing? How can we best ver

[2021-05-13 15:46] jessegreenberg commented on #213
I removed interactive-description from example-sim to test this. If we see the perennial lists update with an automated commit from bayes in the next 24 hours hat will confirm it is running. After we can add interactive-description back to example-sim.

[2021-05-13 18:01] jonathanolson commented on #227
Implemented and tested through a trial by fire!

[2021-05-13 18:01] #227 closed

[2021-05-13 18:02] jonathanolson commented on #226
Likely an IDE caused something?

[2021-05-13 18:02] #226 closed

[2021-05-13 19:40] jessegreenberg commented on #213
I found another reference to this that needed updating in the phet-io-instrumentation-process-checklist in https://github.com/phetsims/phet-io/commit/702d4a01df70924479f843f63de245c62c7e6f3b

[2021-05-14 21:18] jessegreenberg commented on #213
I am not seeing an automated commit to perennial for https://github.com/phetsims/example-sim/commit/79b00cf2f68be610f8f115c9c3e6a09de1bbbdf0 so maybe the process isn't running or it hasn't gotten the update. So not ready for review yet, Ill see if I can figure out why.

[2021-05-14 21:23] zepumph commented on #213
It's unclear the current status of daily grunt work on Bayes. I haven't checked up on it recently.

[2021-05-14 21:36] jessegreenberg commented on #213
I see, thanks. If it were running would it have showed up in the list in https://github.com/phetsims/perennial/issues/213#issuecomment-830276556?

[2021-05-14 21:58] jessegreenberg commented on #213
I read through https://github.com/phetsims/perennial/issues/141 and noticed that this is not running with pm2, but is a cron job on phet-admin on bayes. I tried to go to phet-admin on bayes but I don't have permission. I shouldn't/can't poke around any more on my own, will need some help to troubleshoot further.

[2021-05-20 20:38] zepumph commented on #213
@jessegreenberg and I went through `daily-grunt-work.sh` and how to use it and how it runs on bayes.

We found two more clean up spots for `generate-data`. We also cleaned up the `automated-grunt-work/` folder. In which there were two messed up repos (coloumbs-law and phet-io-test-sim). There was a merge conflict when pulling, so we recloned.

[2021-05-20 21:06] jessegreenberg commented on #213
We ran daily-grunt-work.sh directly on bayes and observed it working through updating npm for its copy and updating copyright dates. We should see it run early tomorrow morning to do the rest.

We also discussed that generate-data.sh can be deleted.

[2021-05-24 17:09] jessegreenberg commented on #213
daily-grunt-work.sh hit an error when trying to update copyright dates that looks like
![errors](https://user-images.githubusercontent.com/6396244/119382803-8c4b7500-bc90-11eb-844c-a7c2c0dd1d23.png)

But these errors do not appear when running daily-grunt-work.sh directly with grunt in the automated-grunt-work folder. Perhaps this is an issue with cronjob.

[2021-05-24 17:39] jessegreenberg commented on #213
Maybe we need to use the full path to grunt to allow it to run in cron?
https://askubuntu.com/questions/604438/command-works-on-terminal-but-doesnt-work-in-cron and https://stackoverflow.com/questions/17735043/running-grunt-and-node-as-batch-files-through-cron

`which grunt` yields `/usr/bin/grunt`, I might try replacing `grunt` with `/usr/bin/grunt` in daily-grunt-work.sh.

[2021-05-24 17:50] zepumph commented on #213
Sounds like a great idea! Good luck and thank you.

[2021-05-25 03:52] jessegreenberg commented on #213
Thanks! Using the path to grunt in https://github.com/phetsims/perennial/commit/6d934dc9ef9cc017b3e4d2a761e06f84d8fae274, lets see if that does the trick.

[2021-05-25 17:19] jessegreenberg commented on #213
That didn't fix it. To debug a bit further I temporarily added a task to crontab that lints molecules-and-light with -v and got this more verbose output:
![image](https://user-images.githubusercontent.com/6396244/119540273-45768180-bd5b-11eb-95ae-d0d394b31239.png)

[2021-05-25 17:30] jessegreenberg commented on #213
I think I need some help here again, does anyone know why this error might happen when running from cron but not when run directly from command line?

[2021-05-25 18:11] jessegreenberg commented on #213
Inspecting Page.js, line 707 is at the catch in
[code]

[2021-05-25 19:32] jessegreenberg commented on #213
bayes is using node at version 14.15.0, but the cronjob is using node at 8.17, Using `which node` I see that bayes is using node at /usr/local/bin/node and the cronjob is using node at /usr/bin/node. So we need to set the path to node in our crontab I think.

[2021-05-25 19:44] zepumph commented on #213
You probably already know this, but you can `node` the `grunt` runnable like ` node node_modules/grunt/bin/grunt`, so perhaps it is just that simple, like `/usr/local/bin/node` `/usr/bin/grunt` . . . .

[2021-05-25 19:46] zepumph commented on #213
But better yet, @mattpen, can we get the cronjobs on bayes phet-admin to use the newer version of node and grunt?

[2021-05-25 19:58] jessegreenberg commented on #213
Thanks! I did not know that, but doing that much fixed the problem just when linting a single sim from cron.

[2021-05-25 20:24] jessegreenberg commented on #213
@mattpen said on slack

In the above commit I changed the task to use paths to node and grunt we want to use in the cronjob.

[2021-05-25 20:46] zepumph commented on #213
This is unfortunate because we have lost a way to test this locally. If I continued to maintain this file, I would definitely prefer to have a way to run this file locally.

[2021-05-25 21:02] jessegreenberg commented on #213
Understood - I can't spend more time on this this week, but I am seeing references to being able to set the PATH from crontab, Ill try this out later. https://stackoverflow.com/questions/23834276/how-to-set-path-variable-in-crontab-via-whenever-gem

[2021-05-25 21:59] zepumph commented on #213
I wanted to note that it isn't a pure win, but I also don't see myself running this locally anytime soon. I definitely think this is in a much better state than it was! Thanks for all your hard work.

[2021-05-26 14:49] mattpen commented on #213
It looks like you can set environment variables directly in crontab.  The current value of $PATH was `/usr/bin:/bin`.  I added this line to the top of the crontab: `PATH=/usr/local/bin:/bin:/usr/bin`, as apparently you can't use the `/some/path:$PATH` expansion in crontab.  When you call node in phet-admin's crontab now, it will point at `/usr/local/bin/node`.  I don't think we ever needed full pa

[2021-05-27 14:19] jessegreenberg commented on #213
Excellent @mattpen, thanks! I will revert the change and then verify tomorrow that grunt tasks ran from daily-grunt-work.sh from the cron job.

[2021-06-10 18:19] jessegreenberg commented on #213
I am seeing commits coming in regularly form the daily task, and I just checked the log and saw no errors. It is working well, closing.

[2021-06-10 18:19] #213 closed

[2021-06-16 04:36] samreid opened #228 "branch: typescript"
To support https://github.com/phetsims/chipper/issues/1047

[2021-06-27 21:57] samreid commented on #201
I updated to winston 2.4.5, which is the first minor problem that doesn't exhibit the problem:

[code]

The winston changelog is here: https://github.com/winstonjs/winston/blob/master/CHANGELOG.md.

Here are the breaking changes between 0.9.0 and 2.4.5:

[code]

Marking as blocks-publication until we do a publication or two to make sure there are no problems on our build chain.

[2021-07-01 18:33] zepumph commented on #201
@samreid mentioned during today's dev meeting that this wouldn't block publication for something, but that we should be on the look out about potential issues that this caused. @samreid and I will restart the build server to make sure that there are no problems there also.

Otherwise this is not blocking anymore. We can continue with the full upgrade.

[2021-07-01 21:35] zepumph commented on #201
@samreid and I restarted build server and tested things out by ensuring that perennial was up to date on the build server, and then rc building chains. We saw in the logs that no usage of `padLevels` occurred. Ready to unblock.

[2021-07-08 17:56] zepumph opened #229 "Daily grunt work problems again?"
@chrisklus mentioned that something he would have thought would have been updated 2 weeks ago isn't. I'll look into it.

[2021-07-08 18:57] zepumph commented on #229
I looked at the log and it seems like something happened while generating data

[code]

[2021-07-08 19:17] zepumph commented on #229
The log seemed to have complete, but I updated the cron task to better output errors:

[code]

I also added a print statement for each section for clarity

I then found multiple  repos that seemed to have not pushed. I don't know why. The commit message that was not pushed was:
`update copyright dates from daily grunt work`. This often works and pushes, so I'm unsure why it didn't here. To be safe

[2021-07-08 19:17] zepumph commented on #229
I'll check back in tomorrow.

[2021-07-09 17:56] pixelzoom opened #230 "Change wording of prompt in production.js"
Running `grunt production` (production.js) prompts the user with:

Every time I see this, I have to read it at least twice. It's a double negative.  How about changing this prompt to the following?

I would have changed this myself, by because it's in perennial, I wasn't sure if changing would mess something up.

[2021-07-09 21:23] samreid commented on #220
I added optional resolve support for process errors, and support it in the pull-all.js harness.  You can test it by adding a fake repo name to active-repos.js and running pull-all.js.  I see this:

[code]

@zepumph can you please review?

[2021-07-09 22:19] samreid commented on #206
There is some motion on this problem in https://github.com/phetsims/perennial/issues/220#issuecomment-877464043.  https://github.com/phetsims/perennial/issues/206#issuecomment-793031078 still seems like a good idea though.

[2021-07-10 02:57] samreid opened #231 "Improve execute and add ExecuteResult"
From https://github.com/phetsims/perennial/issues/206#issuecomment-793031078,

I recommend the following changes for execute.js.

* Move ExecuteError out of the closure (to a top level, non-exported type)
* Rename ExecuteError to ExecuteResult, and add `message`
* All reject/resolve should return `new ExecuteResult`.
* ExecuteResult should have an optional `message`

Note that we raised reasons no

[2021-07-10 03:01] samreid commented on #206
I moved https://github.com/phetsims/perennial/issues/206#issuecomment-793031078 to new issue https://github.com/phetsims/perennial/issues/231 and there is a proposed fix for the ENOENT in https://github.com/phetsims/perennial/issues/220#issuecomment-877464043.  Let's close this issue and continue in the related issues.

[2021-07-10 03:01] #206 closed

[2021-07-11 19:13] samreid commented on #231
Here are my main concerns before starting on this:

* Is it OK to put execute in dual/?  That means to make an improvement for chipper, you have to commit to perennial, run a task, commit to chipper and push both.  If you commit directly to chipper, your changes will be overwritten.  Commit history for chipper will not be idiomatic.  I'd like to find a better way, but I'm not sure what it would be

[2021-07-12 13:16] zepumph commented on #229
The error log was helpful! I found a problem in binder, and set up emails so I will get notifications about the scripts problems.

[2021-07-12 13:18] zepumph commented on #229
This is the problem line, likely localTestingURL is not consistent on bayes, let's use createServer instead. I'm thinking like https://github.com/phetsims/perennial/issues/175.

[2021-07-12 16:01] zepumph commented on #175
@jonathanolson created `withServer` in perennial which is pretty excellent. I would like to use it, or a copy of it, whenever possible, but I have a few concerns. It uses `express`, and I would rather do something that is more vanilla, so that we don't need to depend on such a heavy-weight server app across our project. For example, if I want to use this script in binder/ (for the issue found in h

[2021-07-12 16:13] zepumph commented on #175
I could not figure out an easy way to test ReleaseBranch, so I converted the usage in Binder to confirm that the conversion works. I found that the mime types in the PhET-iO api generation are not complete for phet sims, and I had to add svg and json in order for the sim to fully load in puppeteer.

I didn't rerun generation though to make sure that new commits in https://github.com/phetsims/peren

[2021-07-12 16:15] zepumph commented on #229
I fixed the binder issue I found over in https://github.com/phetsims/perennial/issues/175. I'll check back to see what the next run of daily grunt work looks like.

[2021-07-12 16:50] zepumph commented on #175
I was able to use PERENNIAL/withServer for binder's usage above. That works really well, but we won't be able to use perennial in Chipper for `generatePhetioMacroAPI`. Perhaps that could benefit from a `dual/` strategy for `withServer`.

[2021-07-12 16:50] zepumph commented on #175
PDOM Comparison went smoothly as well.

[2021-07-12 17:15] jonathanolson commented on #231
That seems less than ideal, preference against that. Could we add winston to chipper?

The other consistency sounds good to me. My main question is... would `ExecuteResult` extend `Error`? I see it either as "we are throwing something that isn't an error" or "we are returning something normal that is subtyped as an Error". Thoughts?

[2021-07-12 17:50] zepumph commented on #175
Alright, all usages of localTestingURL have been removed expect that used by the phet-sublime-plugin. @jonathanolson over to you to review the above commits, and to update the python code for the plugin.

My goal is to tell people that they can remove that key from their build-local, so let me know when you think it is safe for me to do that.

[2021-07-12 17:57] zepumph commented on #220
Excellent!

[2021-07-12 17:57] #220 closed

[2021-07-12 18:26] jonathanolson commented on #175
Looks good to me! I'll change the plugin at my own convenience.

Looks safe to tell people that!

[2021-07-12 18:31] zepumph commented on #175
Posted, closing

The most dangerous usage conversion was in our pre-commit unit testing task. If you run into unexpected trouble there, please post in that issue. Thanks!

[2021-07-12 18:31] #175 closed

[2021-07-12 18:41] jonathanolson commented on #230
Changed above, thanks. Closing.

[2021-07-12 18:41] #230 closed

[2021-07-12 18:47] zepumph commented on #231
How possible is it to instead devote our energy into converting all our tooling to modules? Perhaps that isn't worth it because of the soon-to-come (???) typescript conversion. No matter, this feels more and more like a headache in the making.

[2021-07-12 18:50] samreid commented on #231
Can you please elaborate on how converting tooling to modules would help?  `execute` is already a module and suffers from the "perennial always wants to be in master" problem.

[2021-07-12 19:27] zepumph commented on #231
Oh, a simple answer: because I was being dump and incorrect. Do you want to go all in on `dual/` as our strategy to use files in perennial and chipper. I would really like to.

[2021-07-13 02:02] samreid commented on #229
On my local, ` cp -r perennial/js/dual/ chipper/js/` is copying the files into chipper/js/SimVersion.js and chipper/js/execute.js.  Not into chipper/js/dual. I'm not sure what accounts for this discrepancy, but based on https://unix.stackexchange.com/a/228637 I'll try

[code]

which works on mine  and seems clear.

[2021-07-13 04:35] samreid commented on #231
I added winston to chipper and moved execute to dual as part of https://github.com/phetsims/chipper/issues/1018.  Next steps:

* Move ExecuteError out of the closure (to a top level, non-exported type)
* Rename ExecuteError to ExecuteResult, and add `message`
* All reject/resolve should return `new ExecuteResult`.
* ExecuteResult should have an optional `message`

I don't think ExecuteResult shoul

[2021-07-13 14:09] zepumph commented on #229
That works well on my windows! Thanks.

[2021-07-13 14:54] zepumph commented on #229
I am working on better error handling here for emailed errors.

[2021-07-13 15:14] samreid commented on #231
Numerous occurrences rely on the success output just resolving with `stdout`.  Do we want to change all of them to resolve with the `ExecuteResult` and they can take the `stdout`?  Or do we like the convenience of resolving with `stdout` even though sometimes in resolves with `ExecuteResult`?  For instance, getBranch currently reads:

[code]

But if we resolve with `ExecuteResult` it would be more

[2021-07-13 16:10] zepumph commented on #229
I ran it manually, and did successfully get an email of errors this time. One included a puppeteer error, I think about binder:

[code]

[2021-07-14 15:10] zepumph commented on #229
The important line in the above is `Error: Navigation failed because browser has disconnected!`.

See https://github.com/phetsims/chipper/issues/958 and https://github.com/phetsims/chipper/issues/1032#issuecomment-828859639 for previous versions of this problem as it related to using puppeteer for PhET-iO API generation. Poking through those, I see that binder isn't awaiting `browser.close()`, so

[2021-07-14 18:33] jonathanolson commented on #231
That seems fine/expected to me.

[2021-07-19 11:25] zepumph commented on #229
One of things I saw in the errors email was

[code]

The above comment should help.

[2021-07-19 11:44] zepumph commented on #229
The only error left in the log that matters is this one:

[code]

I tried to figure out where it is coming from, but couldn't find the repo it related to. I think for the next night, I'm going to pipe the entire log into the email to gain the context. That said I'm still not sure I will be able to fix it.

[2021-07-19 12:25] zepumph commented on #229
I can't figure out how to pipe to an email, so I'm going to just log the whole thing out, and then pipe the errors in an email in a separate step. Updated aboe.

[2021-07-19 12:34] samreid commented on #229
Would it help to run `./bin/daily-grunt-work.sh` locally, so you can iterate and comment out subtasks?  Or does the problem only happen on the remote?

[2021-07-19 13:00] zepumph commented on #229
Well the problem comes from the puppeteer qunit task, and seems to be about the particular version of puppeteer installed/running on bayes, because I don't ever get that error running locally.

[2021-07-19 13:05] samreid commented on #229
Got it, thanks for elaborating.  I'll link to https://github.com/phetsims/chipper/issues/114 which may help us get reproducible node_modules in case that is the problem.

[2021-07-19 14:00] zepumph commented on #229
I think it is more about how puppeteer is running cross platform, as opposed to node modules, but I'll keep it in mind.

[2021-07-19 17:12] samreid opened #232 "Why are we using winston?"
During https://github.com/phetsims/chipper/issues/1018, @mattpen and I discussed usage of winston.  We weren't sure how much value it is adding, since the build server outputs all console.log to a file anyways.  We have had hassles upgrading it in #201 and wondering if we can abandon it?  But I think it is used in rosetta?

Since we aren't sure who to ask this question to, @mattpen recommended mar

[2021-07-20 12:49] zepumph commented on #229
phet-io-wrapper-classroom-activity was mispelled in the package.json, so it was failing some grunt tasks.

[2021-07-20 15:32] jbphet commented on #232
FWIW, yes, we use winston for the logging in Rosetta.  I chose to use it there because it allows logging of different levels, such as 'debug', 'info', and 'error'.  It also allows you to set up different transports, which are places to log information.  It has been reasonably useful, but if it's giving you trouble and console.log gets you what you need, I certainly wouldn't object to _not_ using i

[2021-07-21 12:24] zepumph commented on #229
I just looked at the log that came in last night, and I realized that I forgot to pipe error output to the same log.

[2021-07-22 12:16] zepumph commented on #229
I saw that the error from https://github.com/phetsims/perennial/issues/229#issuecomment-882481924 was coming from running grunt update-copyright-dates on bamboo (at least last night). I can consistently get it to reproduce on bayes with:

[code]

[2021-07-22 12:17] zepumph commented on #229
I cannot reproduce this on master locally. So this appears to be a bayes-specific (or linux server specific) problem.

[2021-07-23 20:57] samreid opened #233 "When updating the PhET-iO spreadsheet, make sure the text and link are both updated"
When updating the PhET-iO spreadsheet, make sure the text and link are both updated.  @kathy-phet said:

[2021-07-23 20:59] samreid commented on #233
Proposed fix is in the commit.  @zepumph can you please spot check?

[2021-07-26 13:05] zepumph commented on #233
Seems right to me! Thanks

[2021-07-26 13:05] #233 closed

[2021-07-27 05:05] mattpen commented on #219
This was fixed some time ago. Closing.

[2021-07-27 05:05] #219 closed

[2021-07-28 01:52] samreid commented on #231
I got partway through in this patch:

<details>

[code]

</details>

However, I cannot proceed confidently because there are too many occurrences that I have no familiarity with.  For instance, there are 22 files with `return execute(` and all of these usage cases must be traced back to make sure return values and thrown errors are handled with the correct types.  I would feel better if someone fa

[2021-07-29 19:34] zepumph commented on #232
we looked at `log.js`, and saw that we have never changed the debug log level on build server in many many years. No one that manages the build server seems to care about any of the features that winston gives us.

We ran out of time, but here are a few more thoughts.

It isn't used in the build server, so perhaps we can remove it from the build-server and its dependency files

It IS used in the m

[2021-07-29 20:15] zepumph commented on #229
I read through https://github.com/puppeteer/puppeteer/issues/6560 but didn't find any trouble  that made sense why it works on other sim repos, but not for bamboo.

I updated to puppeteer version 10.1.0 (latest)
I blew away node modules and reinstalled
I blew away bamboo and re downloaded.

I'm a bit stumped. I don't know why that single repo is having this trouble, and nothing else.

[2021-07-31 19:45] samreid commented on #229
I ran `rm -rf node_modules/` and `npm install` with our user account, and now bamboo `node ../perennial/js/scripts/hook-pre-commit.js` seems to be working OK on bayes.  @zepumph can you please verify?

[2021-08-02 14:19] zepumph commented on #229
Wow. That is great news!! Thanks for your help. I confirmed that I didn't see this issue in the log on bayes from last night's run. Things are so much better than before this issue was opened. I am ready to close this issue.

[2021-08-02 14:19] #229 closed

[2021-08-03 14:14] zepumph commented on #138
Over in friction, I'm about to tear up some PDOM descriptions to help support voicing. It would be just excellent if we could get something here working to support that effort. I would want to know if there were any problems I was creating earlier rather than later.

I think that my first idea above was a good one, but I didn't really know about the snapshot comparison tool, which is already prett

[2021-08-03 19:05] zepumph commented on #138
This issue was first about a grunt task. I'd rather create a new issue for experimenting with snapshot comparison, so I'll pick this up in https://github.com/phetsims/aqua/issues/127. If things go well. I'll delete the grunt task and close this issue.

[2021-08-05 17:55] pixelzoom opened #234 "`grunt create-sim` fails with valid repo name."
What am I doing wrong here?  "foo" is certainly a repo name that meets the requirements.

[code]

[2021-08-05 17:56] pixelzoom commented on #234
Wondering why `"--repo=foo"` is shown twice in this error message?

[2021-08-05 17:57] pixelzoom commented on #234
Interesting... If I run the same command from annual, it works:

[code]

[2021-08-05 18:00] pixelzoom commented on #234
The sim generated by annual fails at startup with:

[code]

[2021-08-05 18:13] pixelzoom commented on #234
Apparently I was missing something in my local copy.  After another pull-all.sh, this is working from perennial and annual. Though I'm not sure why I should be able to run `grunt create-sim` from both.

[2021-08-05 18:13] #234 closed

[2021-08-05 18:29] zepumph commented on #234
It is not recommended to run any grunt commands from `annual`. At all. That said it is just a copy of perennial, so we don't have enforcement.

[2021-08-05 19:26] chrisklus commented on #232
From 8/5/21 dev meeting,

@samreid summarized that this is a growing pain and we are okay with it and going to close this issue.

[2021-08-05 19:26] #232 closed

[2021-08-05 21:32] samreid opened #235 "How can perennial run from master, but check out prior versions during maintenance tasks?"
From https://github.com/phetsims/chipper/issues/1018, perennial needs the ability to check out prior versions while it runs.  We also want other sim code to be able to share code with perennial.  That led to the prior 2 solutions:

* (A) Copy paste select files from perennial to chipper, and keep perennial in master
* (B) Create another checkout of perennial (perennial-alias), and keep perennial i

[2021-08-05 22:43] mattpen commented on #235
As far as the build-server goes, I think we don't even need to go as far as introducing a build step.  We can have 2 clones without needing to worry about renaming them.  We have (a) `/data/share/phet/build-server/perennial` which is where we execute the build-server expressjs server and (b) `/data/share/phet/phet-repos/perennial` which is checked out in parallel with the other repos and is repo t

[2021-08-06 23:27] jonathanolson commented on #235
Some things to discuss:

1. Presumably we'd need to start every script with something that would build perennial? I don't want to manually be having to remember to build perennial all the time or else pulling all repos or common operations I use when starting work wouldn't work...https
2. I'm not convinced that "building" that way would work. The "built" code would still rely on node modules, so w

[2021-08-07 16:39] zepumph opened #236 "request-promise-native is deprecated"
This is a package that is used in perennial. In a recent `npm update` in `perennial-alias`, I got these warnings:

[code]

I'm not sure how many of these are related to this library, but I thought I'd add them all for a complete discussion. Marking for dev meeting

[2021-08-11 23:48] zepumph commented on #138
https://github.com/phetsims/aqua/issues/127 is totally the way of the future. After giving @jessegreenberg a tour, I am ready to give up on this old strategy.

[2021-08-11 23:49] zepumph commented on #138
Removed above. Closing

[2021-08-11 23:49] #138 closed

[2021-08-13 22:56] mattpen opened #237 "git credentials for phet-admin are stuck"
The git credentials for phet-admin are stuck in storage and aren't clearable by normal means.  The credentials that are stored are using a basic password, so all git operations in private repos are failing.  This is causing all production, rc, and translation builds to fail.

I've used the normal method (i.e. `git credential-cache exit`) to clear the credentials for my user (`mape5853`) on phet-se

[2021-08-13 23:25] markmorlino commented on #237
I heard about this change but mostly deal with Github enterprise so I haven't had to fix issues related to it yet. I would try renaming the /home/phet-admin/.git-credentials file as a first step and seeing if it will let you add new credentials after that is gone

[2021-08-13 23:25] mattpen commented on #237
@markmorlino - we use the credential helper cache instead of the credential store, so /home/phet-admin/.git-credentials doesn't exist.

[2021-08-13 23:26] markmorlino commented on #237
[code]

[2021-08-13 23:27] mattpen commented on #237
@markmorlino - bayes is working fine, the problem is on phet-server.

[code]

[2021-08-13 23:28] mattpen commented on #237
@markmorlino - I tried using the credential store, but still no luck:

[code]

[2021-08-14 01:35] markmorlino commented on #237
I'm at a loss to explain what is going on with this

[2021-08-14 17:55] jonathanolson commented on #237
I strace'ed it (`strace -f -e trace=open git pull`), saw:

This included a developer's username/password. I removed the file, and it's now prompting for a username.

Presumably this should be sufficient to get the token approach working now?

[2021-08-15 13:52] kathy-phet commented on #237
Thanks for helping here, @jonathanolson. Sounds promising!

[2021-08-15 20:19] mattpen commented on #237
I used the "website-meteor" PAT from the credentials spreadsheet in a git pull as phet-admin and it worked succesfully.
 Subsequent git pull's in other private repos worked as expected and did not prompt for credentials.  It looks like this is solved --- thanks @jonathanolson!!!

I also reenabled rosetta and tested a translation of chains successfully.

[2021-08-15 20:19] #237 closed

[2021-08-17 20:27] pixelzoom opened #238 "dot and kit units test are looking for chipper/js/SimVersion.js"
dot-tests.html and kite-tests.html are both pointing to

[code]

... which does not exist.  This results in a 404 error when running those tests.

[2021-08-17 20:31] samreid commented on #238
Fixed and ready for review.  scenery/ did not seem to have the same problem.

[2021-08-17 20:41] pixelzoom commented on #238
👍🏻

[2021-08-17 20:41] #238 closed

[2021-08-30 17:59] zepumph opened #239 "Can we trim "unneeded" repos from active-repos?"
I was recently downloading a new checkout of the codebase on to a different computer, and I was surprised to see that the apps were in this list. I recommend the following thoughts:

1. Remove repos from active repos that the core, sim-development team doesn't need to have in actice-repos.
2. Create a new list called `all-repos`, which we use the script I wrote over in phet-info to populate with l

[2021-09-01 20:35] samreid commented on #228
Merged to master, closing.

[2021-09-01 20:35] #228 closed

[2021-09-01 22:03] samreid opened #240 "Perennial-alias is missing node_modules npm install at some step"
From https://github.com/phetsims/chipper/issues/1018#issuecomment-894515217 and below, we put a band-aid on it for now, but there is some place where `npm install` is missing in perennial-alias.

Also, there is a proposal for an alternate strategy in https://github.com/phetsims/perennial/issues/235 which hasn't been completely ruled out yet.

[2021-09-01 22:03] samreid opened #241 "update dual"
From https://github.com/phetsims/chipper/issues/1018

Now that we have perennial-alias, we can optimize dual/ and its contents around it.

[2021-09-01 22:05] samreid opened #242 "Make sure all docs that refer to pushing perennial also say to pull perennial-alias"
From https://github.com/phetsims/chipper/issues/1018#issuecomment-893835410

[2021-09-02 18:29] samreid commented on #236
We discussed the following ideas:

1. We could try to identify node modules that are no longer used, and remove them
2. We could update to newer versions of dependencies
3. When we wanted to use a newer verison of winston, that was nontrivial and still incomplete

But some libraries may have security problems, or errors.

@zepumph volunteered to try upgrading these.

@mattpen said axios can replac

[2021-09-02 18:54] samreid commented on #239
We also saw a way to list all repos in https://github.com/phetsims/special-ops/issues/201#issuecomment-902319277

[code]

[2021-09-02 19:01] samreid commented on #239
In dev meeting:

MK: Is this list trying to be all repos, or all repos related to sim development?
SR: It would be nice to prune this as much as possible.  What would go wrong if we remove the apps from active repos?
MP: I don't really use active-repos, you can take them out.
SR: Would we want to change the name if we also change the semantics?
MK: I'd like to keep the name as active-repos
MP: Smi

[2021-09-08 23:35] samreid opened #243 "Failure during graphing quadratics 1.2 deploy"
@pixelzoom reported:

[code]

We confirmed that the perennial-alias sha is being recorded and it seems reasonable (from a few days ago).  We think there is a problem in the image generation phase, since 1.2 seems like it deployed OK, except the image was broken.

@jonathanolson and I looked through the thumbnail generating code on the build server, but it was unclear where the problem lies.

Inste

[2021-09-08 23:37] jonathanolson commented on #243
It seems like somehow the build-images step ran with an out-of-date perennial-alias (but I'm not sure how that would have happened).

Sim pages seem to make broken localhost image requests, which also results in breaking JS (if you go to a sim page with devtools open, and go back-and-forth between "About" and "Teaching Resources", it will error with this:

![image](https://user-images.githubuserco

[2021-09-08 23:38] jonathanolson commented on #243
I copied images from graphing-quadratics 1.1.6 => 1.2.0. It looks like the images are showing up on the sim page now.

[2021-09-08 23:40] jonathanolson commented on #243
I also shut down the build-server and recloned perennial while working on this (shut down 17:05, started back 17:38).

A third issue we'll need to handle is incorrect user permissions (non-phet-admin) in build-server's phet-repos directory. We'll probably want to reclone all repos if possible @mattpen. Thoughts, or should we fix this by adjusting permissions and users?

[2021-09-09 01:01] pixelzoom commented on #243
Graphing Quadratics 1.2.0 was for brands=phet,phet-io, so this may also impact the PhET-iO website. The deployed links should be:

https://phet.colorado.edu/sims/html/graphing-quadratics/latest/graphing-quadratics_en.html
https://phet-io.colorado.edu/sims/graphing-quadratics/1.2

[2021-09-09 01:11] mattpen commented on #243
These should be transient, but I opened https://github.com/phetsims/website-meteor/issues/337 to fix them.

<hr/>

I'm really confused why deploy-images would be using perennial-alias.  The build server should check out chipper master branch and run the code from there.

[2021-09-09 01:21] mattpen commented on #243
It looks like the code that prepares to run build-images is still doing an  `npm prune && npm install` in annual, but chipper master now depends on perennial-alias, so this needs to be changed.

[2021-09-09 01:34] mattpen commented on #243
It looks like the rename of annual to perennial-alias in the build-server code was implemented but never deployed.  The fixed in 32276f5b5e298e1ebcdc54f522665a63930f51da, but this wasn't ever deployed.  As part of the GQ failure, this change was finally deployed (the build-server crashed and automatically restarted itself at master).  I think this should have corrected the problem.  I'll try a pro

[2021-09-09 01:42] mattpen commented on #243
Somehow chains had a dependency on annual in branch 1.34 still, I just changed it to perennial-alias.

[2021-09-09 02:09] mattpen commented on #243
I'm not able to test chains at the moment due to some problems with my npm configuration.  However, it looks like the only thing that failed is the images themselves, and @jonathanolson corrected this manually.  I don't recommend a redeploy of GQ 1.2 as there is nothing to fix.  I believe this problem self-corrected and won't happen again going forward, but I currently can't test to confirm.

[2021-09-09 02:33] mattpen commented on #156
This work-around did not work for me, nor did the `--no-save` option. This is preventing me from running rc/production tests.

[code]

[2021-09-09 02:38] mattpen commented on #156
I opened an issue in the new npm repo back in April, but it hasn't received any traction: https://github.com/npm/cli/issues/3044

[2021-09-09 14:39] mattpen commented on #156
This seems to be related to Node 15, which is no longer supported.  Using Node 14 or 16 solved the problem, so I'm going to leave this closed.

[2021-09-09 17:27] jbphet commented on #239
We discussed this in today's dev meeting and decided that we can remove:
- the android app
- the iOS app
- smithers

The others should probably stay because of dependencies and the need to keep an eye on them.

Weddell's size should be reduced in the future so that it doesn't take so long to clone.

[2021-09-09 17:28] #239 closed

[2021-09-09 19:46] mattpen commented on #243
A production of deploy for chains worked successfully. We still have not confirmed that the image deploys are working correctly, but that will need to be tested on a public facing sim.

[2021-09-09 21:40] pixelzoom commented on #243
@mattpen said:

@mattpen Is that true for both the phet and phet-io brands? I'm trying to determine whether my work on Graphing Quadratics is indeed done, and whether https://github.com/phetsims/graphing-quadratics/issues/137 can be closed.

[2021-09-10 00:07] mattpen commented on #243
@pixelzoom I'm not familiar with what a correct phet-io deploy looks like these days, it would be good to have one of the experts confirm. However,  the only thing that should happen after the step that failed is the final cleanup (checking out master in all repos and deleting temporary files), so I'm fairly confident it was successful.

Maybe @samreid or @zepumph could take a quick look?

[2021-09-10 00:18] samreid commented on #243
I clicked through https://phet-io.colorado.edu/sims/graphing-quadratics/1.2/ and it seemed ok.

[2021-09-10 17:08] amanda-phet commented on #243
@jonathanolson said

I just went to https://phet.colorado.edu/en/simulations/graphing-quadratics and I don't see the alt images. I don't understand the full scope of the problems in this issue, but wanted to clarify that 1.2 is still not looking good to me.

[2021-09-10 20:40] mattpen commented on #243
This is likely because the image deployment failed and was corrected manually.  I added the alt images to the database, but it will be a while before they appear due to server side caching (24hours).

[2021-09-11 19:55] zepumph commented on #243
I think the cache has finally lapsed:

![image](https://user-images.githubusercontent.com/6856943/132959950-7d1d2c92-ee23-4f61-9652-b58545b460b1.png)

Anything else here?

[2021-09-13 16:01] jonathanolson opened #244 "`grunt lint` in perennial seems to be missing errors"
If I add a lint error to perennial and run `grunt lint`, the following happens:

[code]

Whereas `grunt lint-everything`:
[code]

However pre-commit hooks and IDEs seem to be properly linting.

@zepumph any thoughts on this?

[2021-09-13 16:26] zepumph commented on #244
My first question is if `--eslint-disable-cache`

[2021-09-13 16:28] zepumph commented on #244
With this patch:

Index: js/common/isGitRemoteDifferent.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/js/common/isGitRemoteDifferent.js b/js/common/isGitRemoteDifferent.js
--- a/js/common/isGitRemoteDifferent.js	(revision 7ebacc61adfaaab7724a8a4a70b4ed3f9a97dcf2)
+++ b/js/

[2021-09-13 16:30] zepumph commented on #244
When I log the patterns passed to lint, it shows that it is linting chipper:

[code]

[code]

[2021-09-13 16:58] zepumph commented on #244
Looks like this broke during https://github.com/phetsims/perennial/commit/1647619ce05cc306e306166c8c5964b35a949cef, because we got rid of the repo option, but perennial's pattern wasn't specified directly. Fix coming in hot!

[2021-09-13 17:18] zepumph commented on #244
A couple of fixes:

* make sure that if patterns is not provided, it is added on with a value to lint perennial.
* make sure that if the error from chipper occurs, it doesn't fail doubly (getting caught in chipper's and perennial's wrap task grunt failures, so I resolve errors in the execute command.

To test:

`grunt lint` -> lints perennial
`grunt lint --patterns=../perennial,../chipper` -> lint

[2021-09-13 17:27] samreid commented on #244
I reviewed the commits, and tested `grunt lint` in perennial with a bad lint.  Everything seems nice, thanks!  Closing.

[2021-09-13 17:27] #244 closed

[2021-09-13 17:46] amanda-phet commented on #243
Thanks @mattpen and @zepumph ! I see the alt screenshots now too.

[2021-09-14 18:02] zepumph opened #245 "ReleaseBranch.includesSHA and isMissingSHA performance improvements"
While working on https://github.com/phetsims/phet-io/issues/1806 with @jonathanolson, we found a couple of spots where we were checking out the entire dependency tree when we really only needed to check out a single repo. We tested and things are looking good. Commit coming soon.

[2021-09-14 18:20] zepumph commented on #245
@jonathanolson, I realized that the changes we had made weren't tested before commit, because I changed them in my main commit, but we were doing testing for the MR in my second checkout. As a result I tested this again with the same snippet as before:

[code]

And things were much, much faster. Ready to close.

[2021-09-14 18:20] #245 closed

[2021-09-20 14:50] mattpen commented on #243
This problem looks like it is resolved. We can reopen the issue if the problem recurs.

[2021-09-20 19:35] mattpen commented on #236
Here's a patch to fix perennial, chipper, and phet-office-mix.  This does not fix yotta, @jonathanolson I was not sure how to handle that case since metadataRequest will need to convert to an async function.

It looks like we'll need to test phet and phet-io rc and production deploys, the report-third-party tool, and the phet-office-mix package tool to confirm this patch is acceptable.

[code]

[2021-09-21 20:52] mattpen commented on #221
I think any remaining problems in this issue were solved when passwords stopped working for github in August. Closing.

[2021-09-21 20:52] #221 closed

[2021-09-28 23:53] samreid commented on #235
Yes, or just remembering to build it when its codebase changes (from local changes or a pull).  This would have to be traded off against having to remember basically the same thing for perennial-alias.

"building" could basically mean copy/pasting the directory.

If it is a copy/pasted directory, it would be easy enough to debug.

I'm seeing that perennial-alias is the copy/pasted directory, and d

[2021-09-28 23:53] #235 closed

[2021-10-04 15:07] samreid commented on #241
I updated the documentation.  The main other aspect to consider is whether we should move execute.js and SimVersion.js to other directories since they no longer need to be in dual/.  Dual is clear to me that they have this different usage style, but that's probably just because I'm used to it.  I wouldn't want everything usable by perennial-alias to be in dual/.  @jonathanolson or @zepumph can you

[2021-10-04 15:18] samreid commented on #240
I'm not sure how to identify the point where this is missing.  Perhaps I'll raise it for dev meeting:
a) for ideas how to investigate/iterate on this
b) as a public service announcement that when adding package.json entries to perennial-alias, the build server may be missing an npm update step.

[2021-10-04 15:25] samreid commented on #242
I reviewed the files listed above, and most references to perennial do not warrant work for perennial-alias.  However, I'd like to raise this for quick PSA during dev meeting:

* If you see documentation that should mention pulling perennial alias, please update it or let me know.

[2021-10-04 15:53] zepumph commented on #241
I think we should deprecate dual. We can search for usages of `perennial-alias` to understand all files that are used by our versioned code.

Is that what you mean? Or did you want me to say "joist and chipper, and likely others."

[2021-10-04 15:55] samreid commented on #241
Sorry, holdover from talking about "packages" terminology in Java.  I'm wondering what directory those files should move to.

[2021-10-04 16:29] jonathanolson commented on #241
execute/simVersion could presumably move to js/common (since they're used by grunt stuff, build-server stuff, externals, etc.)

[2021-10-04 16:32] samreid commented on #241
Thanks, I'll do that in a separate issue.  Closing.

[2021-10-04 16:32] #241 closed

[2021-10-04 16:33] samreid opened #246 "Move execute and SimVersion to js/common/"
From https://github.com/phetsims/perennial/issues/241#issuecomment-933651581 @jonathanolson said:

[2021-10-04 17:07] samreid commented on #246
Pushes complete, @jonathanolson can you please review?

[2021-10-04 17:11] jonathanolson commented on #246
Looks good to me, everything working after pull. Thanks!

[2021-10-04 17:11] #246 closed

[2021-10-07 18:05] zepumph commented on #240
Dev team determined that we should fix this proactively. I will help assist @samreid in finding this. @mattpen said he would help if needed. Thanks!

[2021-10-08 02:58] mattpen commented on #236
I tested a translation of chains, which verified that addTranslator worked correctly with axios.

[2021-10-08 03:33] mattpen commented on #236
I tested out the phet-office-add-in script and it is working as well.

@jonathanolson - I'm reassigning to you to address the remaining usage in yotta, or let me know if it is safe to convert metadataRequest to an async function. It currently uses a callback structure.

[2021-10-11 22:06] zepumph opened #247 "Lazily require imports from Gruntfile"
Expanding to this repo's gruntfile from https://github.com/phetsims/chipper/issues/1107. Basically it is much faster to lazily require inside tasks, instead of all at once at the top of the file.

[2021-10-11 22:24] zepumph commented on #247
The time to run this task on average is around .8 seconds for me.

[code]

[2021-10-11 22:38] zepumph commented on #247
And after the above work, I'm down to about .5 seconds. @samreid, will you give me a spot check please?

[2021-10-13 03:25] #247 closed, assigned to zepumph

[2021-10-13 15:42] KatieWoe opened #248 "CT various code alerts"
[code]

[2021-10-13 22:35] jbphet opened #249 "Prototype type deployments are not updated by the maintenance tools"
While performing a maintenance release to address https://github.com/phetsims/tambo/issues/151 and subsequently https://github.com/phetsims/tambo/issues/152, I noticed that the greenhouse-effect phet brand prototype, which is version 1.0, was not being deployed as part of the process.  The phet-io version _was_ being deployed.  I discussed this with @jonathanolson, and our best guess is that proto

[2021-10-14 17:23] jessegreenberg commented on #249
Discussed 10/14/21:

JB: How many prototypes would need to be patched if we were to fix this?
MP: Currently there are three.
MP: We could add a query to fix this so that we can maintain published prototypes. Should be pretty easy for me to support this. Whatever queries are used by the batch MR process would need to be change to use this.

Assigning to MP to add the query parameter. Then JO will u

[2021-10-14 20:34] jessegreenberg commented on #242
I think I found a couple more places that may need this in new_repo_checlist.md, @samreid is this right?
[code]

[2021-10-18 20:22] samreid opened #250 "deployImages assumes that options.branch is always main"
Discovered in https://github.com/phetsims/perennial/issues/240, @zepumph and I saw this code in deployImages:

[code]

Note that we check out `options.branch` for chipper and perennial-alias.  However, immediately afterwards in `processSim` we run :

[code]

Therefore, it seems we may want to assert that `options.branch` is master when running `deployImages`.  @mattpen does that sound right to you

[2021-10-19 21:54] jbphet opened #251 "Build failures: git pull fails with 'You are not currently on a branch'"
We had three build failures that occurred over the weekend, and all three seemed to be trigged by translations.  I've pasted the info from each of the emails into a separate details section below.  We should figure out why these happened and whether there is anything we need to do about it.

<details><summary>Build Error Sun 10/17/2021 8:04 AM</summary>

[code]

</details>

<details><summary>Build

[2021-10-20 22:58] mattpen commented on #251
Looking through the code, it looks like this probably failed in [deployImages.js line 18/19](https://github.com/phetsims/perennial/blob/7260edd68f7d9df019bf20bb9ad753bff67c1fc3/js/build-server/deployImages.js#L18).  We run a `git pull` on the repo being built directly after running `grunt checkout-master-all`.  This raises 2 questions, (a) why are we running image deploys for translation builds an

[2021-10-20 23:44] mattpen commented on #250
I think this is fine for now, and the patch looks good to me.  In the future, we may want to support more flexibility in terms of which branch we use, but for now only master is supported.

The grunt function triggers a build-server procedure that redeploys all images for all sims from master to the phet brand production releases, for when we make an image configuration change that should affect a

[2021-10-20 23:52] mattpen commented on #250
@samreid @pixelzoom - anything else to do here?

[2021-10-26 14:19] #242 closed, assigned to jessegreenberg

[2021-11-29 20:39] jbphet opened #252 "Investigate build failures with message "Error: Request failed with status code 50x""
We've been getting a number of build failure emails lately that contain the message `Error: Request failed with status code 50x` where the x is either 0, 2, or 3.  Here is an example from Sun 11/28/2021 3:05 PM:

<details>

[code]

</details>

I checked whether this particular build was actually published, and it appears that it was, so this error seems like something after the actual build and pu

[2021-11-29 20:41] jbphet commented on #252
By the way, this seems to me like a different problem than #251, which is another open issue related to build failures.  That's why I opened a new issue.

[2021-12-01 16:46] mattpen commented on #252
I'm planning to evaluate this and #251 tomorrow morning.

[2021-12-02 16:49] mattpen commented on #251
It looks like there are five recent failures due to a 500 response from tomcat.  The 500 response appears to be false, as I checked the logs and verified that each of these requests completed successfully.   However, the error response would trigger the build to abort and anything after the `notifyServer` step would be skipped.  It looks like this means that each of these builds would have skipped

[2021-12-02 16:54] mattpen commented on #252
It looks like there are five recent failures due to a 500 response from tomcat. The 500 response appears to be false, as I checked the logs and verified that each of these requests completed successfully. However, the error response would trigger the build to abort and anything after the notifyServer step would be skipped. It looks like this means that each of these builds would have skipped the a

[2021-12-02 17:55] mattpen opened #253 "Build Failures: 'import' and 'export' may appear only with 'sourceType: module'"
There have been 3 recent build failures for translations, due to multiple instances of grunt failing with `Parsing error: 'import' and 'export' may appear only with 'sourceType: module'`.   It looks like maybe some changes leaked into a release branch without being tested, or perhaps master was checked out when the build server was expecting a release branch? I'm not sure who should investigate th

[2021-12-02 18:41] oliver-phet commented on #252
I'll send you a dm with the (likely) translator id. But it should be recognized that some locales have _many_ trusted translators so it would not be easy to identify the translator that submitted. Also, it is currently possible for _any_ trusted translator (or PhET team member) to submit a _yo translation.

[2021-12-02 18:46] mattpen commented on #252
@jbphet - is the translator for these logged in rosetta? It would be ideal to confirm that we are crediting the correct translator.

date: Nov 18 13:07, locale: yo, sim: area-model-introduction
date: Nov 18 13:38, locale: yo, sim: balancing-act
date: Nov 23 12:07, locale: yo, sim: balloons-and-static-electricity
date: Nov 28 15:02, locale: yo, sim: forces-and-motion-basics
date: Nov 30 10:01, loca

[2021-12-02 18:52] oliver-phet commented on #252
@mattpen userid is logged in babel, if that helps: https://github.com/phetsims/babel/blob/master/area-model-introduction/area-model-introduction-strings_yo.json

[2021-12-02 19:02] mattpen commented on #252
Yep, that works, thanks!

[2021-12-02 19:43] mattpen commented on #249
From Developer meeting discussion:

[2021-12-02 21:09] mattpen commented on #253
Once we identify a fix, these builds will need to be resubmitted.  These did not get deployed at all.

[2021-12-02 21:11] mattpen commented on #251
On the positive side, since the only thing that failed is the image deployment these were completely successful and don't need corrections for the sim file or translation credits.

I'll also add a guard to prevent image deployment for translation builds.

[2021-12-02 21:22] mattpen commented on #251
I submitted a translation for chains in yo with the above changes to the build-server, so I'm going to close this issue with tentative optimism.

[2021-12-02 21:22] #251 closed

[2021-12-02 21:30] mattpen commented on #252
I deployed the changes and successfully tested a yo translation of chains.  I also confirmed that all the appropriate translation credits were applied (perhaps the translator had translated previous versions or submitted multiple times). This appears to be fixed, closing.

[2021-12-02 21:30] #252 closed

[2021-12-02 22:01] samreid commented on #253
@markgammon asked if I could take a look.

[2021-12-02 22:54] samreid commented on #253
These problems are from linting chipper/dist.  We attempted to ignore linting chipper/dist in https://github.com/phetsims/chipper/issues/1080#issuecomment-974575471, but note that diffusion was missed by the process.

@jonathanolson said:

[2021-12-09 15:50] KatieWoe opened #254 "CT perennial task failed (quake)"
Seems to be connected to quake
[code]

[2021-12-09 17:22] mattpen commented on #249
I noticed today that simMetadata.js is still using API v1.0, which doesn't support the query parameter that would fetch prototype sims (`includeUnpublished`).  Ideally we should upgrade simMetadata to use v1.3, which introduces some breaking changes.  If this is prohibitively expensive, we could retrofit 1.0 to support this parameter but that is not preferable.

[2021-12-09 22:28] jbphet commented on #254
It looks like `node_modules` is being linted here, but I don't know why.  I committed a specific ignore directive (see the commit above), and that fixed the problem for me locally.  I'll follow up with CT to make sure it's passing.  But the question is: Why is this necessary at all?  Why isn't `node_modules` being ignored here by default?

@zepumph and @samreid - Do either of you know what I need

[2021-12-10 00:05] jbphet commented on #254
I just checked, and the perennial repo does indeed appear to be fixed on CT.

[2021-12-13 16:44] zepumph commented on #254
This seems weird. There is no manual exclusion of node_modules in the project thus far. Presumably the linter is set up to automatically ignore that directory. I decided to be explicit across the project though just to be safe, and removed your sim-specific commit. `node_modules` should forever be ignored now, can you confirm on your side what you can?

[2021-12-13 19:57] jbphet commented on #254
Both the local `grunt lint` and `grunt lint-everything` from perennial seem to work fine with this change.  Looks good to me!  Thanks @zepumph - closing.

[2021-12-14 16:58] jonathanolson opened #255 "Maintenance process should check to make sure branches are remotely tracked"
It came up today with the following reported error:

[code]

where the branch existed locally, but wasn't tracked to the remote. This failed out updateDependencies.

This required manually setting the upstream with `git branch --set-upstream-to=origin/balloons-and-static-electricity-1.5 balloons-and-static-electricity-1.5` in scenery in this case.

[2021-12-14 21:42] mattpen opened #256 "Build Failure: Cannot find module 'acorn'"
As part of deploying CCK:AC 1.0.0, @samreid added a dependency on the npm module acorn to chipper.  However, npm on phet-server failed to install this when running `npm update` in chipper with the appropriate sha checked out.  I manually ran `rm -rf node_modules && npm install` in chipper master, which successfully added `chipper/node_modules/acorn`.  We ran the production deploy again afterwards

[2021-12-14 21:45] mattpen opened #257 "Build Failure: TimeoutError: waiting for function failed: timeout 30000ms exceeded"
While building CCK:AC 1.0.0, @samreid and I encountered the error "TimeoutError: waiting for function failed: timeout 30000ms exceeded". It looks like this probably failed during the puppeteer actions to retrieve the translated screen names from a running sim:

https://github.com/phetsims/perennial/blob/59b18094a8ff515030f41da94021ed526af7b566/js/build-server/parseScreenNames.js#L20-L29

We tested

[2021-12-16 21:07] oliver-phet opened #258 "Missing translation builds"
Reported by Sandor and Yoan (longtime translators).

Oliver - I'd recommend creating an issue in perennial, putting this information in it, and then assigning it to Matt and pinging him.
If he needs it, we do now have the means to re-request a translation build.
My best guess at this point would be that the build server is "stuck" with some unresolved Promise or something along that line.

@mattpe

[2021-12-16 21:17] jbphet commented on #258
Actually, I think I made a mistake when looking through the build server log - I was searching on the "Build Successful" string, which is only present when an email is sent.  I should have been looking for "finished successfully", which _does_ appear in the log.  So, I think the builds may be fine, which means it may be more of a deployment problem.

Also, so that it doesn't go unnoticed, there ar

[2021-12-16 21:17] liam-mulhall commented on #258
There are also errors associated with sending emails.

[2021-12-16 21:20] liam-mulhall commented on #258
If it helps, here's a build error from the 14th (two days ago as of this writing):

[code]

[2022-01-03 16:31] pixelzoom commented on #256
I'm unable to deploy 1.0.4-rc.1 for fourier-making-waves, likely because of this problem. The grunt `build` task is failing, details below. I'm guessing other deploys and MRs would be similarly affected. Raising priority to high, and adding @samreid to assignees.

[code]

[2022-01-03 16:41] samreid commented on #256
We have had an implicit transitive acorn dependency which generated a warning.  In https://github.com/phetsims/chipper/issues/1171 we eliminated the warning by explicitly listing acorn in dependencies.json.  Should we just try reverting https://github.com/phetsims/chipper/issues/1171 and live with the warning?  Will that fix this problem?

[2022-01-04 18:17] pixelzoom commented on #256
I worked around this as described in https://github.com/phetsims/fourier-making-waves/issues/215#issuecomment-1005056771, and was able to publish Fourier 1.0.4.

[2022-01-04 20:50] zepumph commented on #256
This seems like a more important issue than just following the workaround described in https://github.com/phetsims/fourier-making-waves/issues/215#issuecomment-1005056771. Translators has having failures that look the same, like these that came in today:

[code]

I don't know enough about this issue to know how severe this issue is. marking for dev meeting.

[2022-01-05 00:18] pixelzoom commented on #256
I totally agree. I only applied the workaround in Fourier because I needed to move forward.

[2022-01-05 23:52] samreid commented on #256
I decided to revert acorn for now.  After reverting it, I did a trial deploy of CCK DC phet brand, and it seemed to work OK.  The commit is referenced over in https://github.com/phetsims/chipper/issues/1171

[2022-01-06 16:39] samreid commented on #256
From slack:

@KatieWoe said:

I replied:

[2022-01-06 18:27] KatieWoe commented on #256
Example of what is showing up on CT:
[code]

[2022-01-07 04:00] samreid commented on #256
CT corrected in the 12:51 shas, perhaps someone ran an npm update on CT?  @jessegreenberg mentioned working in that area.

[2022-01-07 15:39] jessegreenberg commented on #256
Great! But was not me. I tried but used the wrong account, I didn't try again after this:
[code]

[2022-01-07 18:04] samreid commented on #256
I'm not sure what else to do or try before the upcoming dev meeting, so I'll unassign myself until then.

[2022-01-10 22:17] jbphet commented on #256
I'm going to unassign myself too because I'm not clear on the current status or what, if anything, to do about this.  We'll clear it up in dev meeting I guess.  We should make sure to discuss why the translation builds of CCK were failing, but appear to be succeeding now.

[2022-01-10 22:20] mattpen commented on #256
I'm also unsure of what I can do at this time, unassigning. I did see two more translation build failures (CCKAC, CCKACVL in fa) happen over the weekend because of this error, so it definitely needs to be addressed.

[2022-01-10 22:22] mattpen commented on #256
Maybe a simple solution could be to use `rm -rf node_modules && npm install` instead of `npm prune && npm update` where acorn is needed. This would definitely result in longer build times.

[2022-01-10 23:14] samreid commented on #256
I reverted the acorn change in https://github.com/phetsims/chipper/issues/1171, maybe we should cherry pick the revert to affected maintenance branches.  Would be good to decide at dev meeting.

[2022-01-13 16:28] KatieWoe opened #259 "CT Mismatched require statement values"
[code]
Other sims seem to have a related failing that looks like:
[code]

[2022-01-13 16:50] liam-mulhall commented on #259
The first error should be fixed in https://github.com/phetsims/weddell/commit/26f050dd7a10d0b93b1d18f8fae62d849756197f. I don't think the Greenhouse Effect errors have anything to do with Weddell. I'm going to assign @jbphet since he's the dev responsible for Greenhouse.

[2022-01-13 16:51] KatieWoe commented on #259
There's a few sims with that error. I thought it was related since it started at about the same time

[2022-01-13 17:01] samreid commented on #259
I think this can be solved by commenting out line 32 of DirectionEnum:

[code]

@jbphet want me to commit that?

[2022-01-13 17:18] zepumph commented on #259
Ahh, yes, thanks @samreid. I added `EnumerationDeprecated.prototype.keys`  to the API for cross compatibility with the new Enumeration, so this is redundant. I'll commit.

[2022-01-13 21:26] jbphet commented on #259
The last two rounds of CT for Greenhouse have been successful, and they appear to be after @zepumph's commit above, so I think this is resolved.  Closing.

[2022-01-13 21:26] #259 closed

[2022-01-14 15:30] samreid opened #260 ""update copyright dates from daily grunt work" generates too many clutter commits"
While working on https://github.com/phetsims/studio/issues/243 I needed to check the joist history, and I saw a distracting amount of clutter commits due to "update copyright dates from daily grunt work".

![image](https://user-images.githubusercontent.com/679486/149540225-04f944ec-a727-41fc-bf4e-12b843242dfc.png)

[code]

The first step for this issue will be to see if I am the only one bothered

[2022-01-14 15:40] samreid commented on #260
@mattpen said:

[2022-01-14 15:50] chrisklus commented on #260
I can see how there might be a lot of these around the new year when checking a whole repo, so I'm not opposed to changing it if you'd like to. In WebStorm, I only check history for a single file or by selection within a file, so I never see them cluttering them like this.

[2022-01-14 16:08] samreid commented on #260
Maybe the watch process could update the copyright dates when a file changes, see https://github.com/phetsims/chipper/issues/1173

[2022-01-26 16:22] zepumph opened #261 "Minor logging update for pull-all.js"
I have been seeing that a couple of "Already up to date" lines have been sneaking through for my git bash on windows, related to https://github.com/phetsims/perennial/blob/a2a1a6c8b2b47e303c34a508fcf1c96b799515fb/js/scripts/pull-all.js#L35-L37. Can we be a bit more graceful with an `includes( 'up to date')`?

[2022-01-26 16:23] zepumph commented on #261
@samreid, does this feel alright to you?

[2022-01-27 18:13] samreid commented on #260
There were enough votes above that the consensus is:

Therefore, this doesn't warrant discussion at dev meeting.  But I'll leave self assigned based on the preceding comment.

[2022-01-27 18:58] mattpen commented on #258
I'd say there is a good chance this was related to https://github.com/phetsims/website/issues/1299.  Is this problem still occurring?  I think the new route for rebuilding translations would be the best way to notify the website database about the missing translations.  @oliver-phet - is there a list of sims that are missing?

[2022-01-27 19:06] chrisklus commented on #256
From 1/27/22 dev meeting: We are going to leave it like it is because no one has enough time to investigate more and it hasn't been a problem recently. Closing.

[2022-01-27 19:06] #256 closed

[2022-01-27 19:54] oliver-phet commented on #258
It's not clear to me if this is still occurring. I'll ping Sandor to see if he can submit a sim to test.

[2022-02-01 20:40] samreid commented on #261
I see the problem and it is probably OK, but maybe we should guard ourselves by explicitly listing them.  For example, what if in git 2.31 they change the wording to "The repo is not up to date", then this would misclassify it.  Can we just try to list out the problematic lines explicitly?

[2022-02-01 22:14] zepumph commented on #261
I believe that the contents were different because I had unpushed changes in a non-checked out branch. I have since fixed that, so there are no more to update at this time. I reverted the commit.

[2022-02-01 22:14] #261 closed

[2022-02-03 19:38] zepumph commented on #260
My personal thought on this was pretty much encapsulated by the thumbs up, but I also want to add that I really like these commits. We used to have these sneak into other commits all the time, or just have outdated copyrights. Now, since calling this in daily grunt work, I haven't thought about it in over a year.

https://github.com/phetsims/chipper/issues/1173 seems likely to be a step backward i

[2022-02-22 04:45] pixelzoom opened #262 "protect-branches-for-repo.js fails with "Did not find repository: geometric-optics-basics""
I'm trying to follow the instructions in https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md for creating a new sim repo.  The repo is geometric-optics-basics. I'm having problems with this step:

Following the instructions at the top of protect-branches-for-repo.js, I'm getting this failure:

[code]

[2022-02-22 15:44] jessegreenberg commented on #262
Hmm, I am not sure. I just ran the script successfully
[code]

One thought, which may impact setting github labels as well - is your `developerGithubAccessToken` still usable in buildLocal.json? Perhaps it expired. I would have expected a more direct error for that but maybe I am not handling it well in this script.

[2022-02-22 17:44] pixelzoom commented on #262
Thanks for running the script.

`developerGithubAccessToken` does exist in my build-local.json, and I don't recall changing it on GitHub.  I'l leave this issue open to investigate.

[2022-02-23 21:26] pixelzoom commented on #262
This was indeed a problem with my GitHub PAT.  After putting a valid PAT in my build-local.json, the script succeeds.

Closing.

[2022-02-23 21:26] #262 closed

[2022-03-11 04:48] pixelzoom opened #263 "CT: Duplicate test specified in listContinuousTests"
Looks like @zepumph introduced a duplicate entry on 3/8/2022 in https://github.com/phetsims/perennial/commit/3ded4e39c428a206f5cfcd60ce0e2853ca89c521 for https://github.com/phetsims/scenery/issues/1373.  I see 2 entries in listContinuousTests.js for `'phet-io-input-record-and-playback-fuzz'`.

[code]

[2022-03-11 05:39] pixelzoom commented on #263
I was going to just delete one of these tests. But on closer inspection, they have different query parameters:

[code]

I'm guessing that the intention was to add an additonal test for keyboard fuzzing (`fuzzBoard`), and they the test name needs to be changed.  But I'll let @zepumph decide what he intended here.

[2022-03-18 21:05] pixelzoom opened #264 "Email notification failed from build-server"
I deployed geometric-optics 1.1.0-rc.1 today.  The deployed files look correct.  But I never received an email confirmation.    Here's the log:

[code]

[2022-03-18 21:20] pixelzoom opened #265 "Email notification failed from build-server"
I deployed geometric-optics 1.1.0-rc.1 today.  The deployed files look correct.  But I never received an email confirmation.    Here's the log (`XXXXXX` is a potential password that I've redacted.)

[code]

[2022-03-18 21:21] pixelzoom commented on #264
Deleting this issue because of potential clear-text password shown in the log. I'll create a new issue with that password redacted.

[2022-03-18 21:23] zepumph commented on #265
@pixelzoom and I think the `XXXXXX` part may be a password. If this is the case @mattpen, could we get that out of the log in the future?

[2022-03-29 17:37] mattpen commented on #265
I think both issues should be fixed, the bad email password and the logging of the password in plain text.  The logs with the old password were deleted upon the last log rotation. I successfully ran an RC and production deploy for chains to test. Closing.

[2022-03-29 17:37] #265 closed

[2022-03-30 18:30] oliver-phet commented on #258
@mattpen I just got another report of a missing translation for CCKAC:Virtual Lab in Arabic _ar. It looks like the sim file was created this morning at 2022-03-30 03:50: https://phet.colorado.edu/sims/html/circuit-construction-kit-ac-virtual-lab/1.0.1/

Are translations taking longer to become visible on the website? We specify "Within half an hour" in the translation user guide.

[2022-03-30 19:06] mattpen commented on #258
Yes, we should probably change that to 48 hours.

[2022-04-05 13:54] pixelzoom opened #266 "RC deploy fails with "Cannot find module ‘acorn’""
I attempted to publish Geometric Optics 1.1.0-rc.3, using `grunt rc --branch=1.1 --brands=phet`. Build server sent me an email reporting failure: `Cannot find module 'acorn'`.   The abbreviated email that I received is shown below. (I removed several hundred TypeScript compilation lines.)

The local build step in `grunt rc --branch=1.1 --brands=phet` worked fine, and I was able to run & test the s

[2022-04-05 13:57] samreid commented on #266
Here is the chipper acorn issue that is probably related: https://github.com/phetsims/chipper/issues/1171

[2022-04-05 16:25] zepumph opened #267 "Remove productionServerName"
We don't use this anymore, and @mattpen says we can delete it. This also exists in our build-local.

It is only used in error logging, so perhaps we can use productionServerURL instead?

[2022-04-05 16:26] zepumph commented on #267
We can also factor out usages of phet-server2 while we are at it.

[2022-04-05 16:54] zepumph opened #268 "Upgrade puppeteer"
Over in https://github.com/phetsims/chipper/issues/1171 we needed to upgrade Node to 16, and perennial 5 breaks on Mac M1 chips and won't even install. So we should upgrade. The latest version is 13.5.2 right now.

[2022-04-05 17:25] samreid commented on #268
@zepumph discovered that running `cleanup` before `resolve` in generate-phet-io-api enabled compatibility with puppeteer 13, so we would like to proceed with that.

[2022-04-05 18:14] samreid commented on #268
We saw this error on CT:

So @zepumph and I agreed to update aqua's version of puppeteer as well.

[2022-04-05 19:06] zepumph commented on #268
The issue was reported by the CT quick server and by @mattpen from the build-server side. For CT, SR and I have "fixed" the problem by stopping the service, running prune/update commands in chipper, perennial ,and perennial-alias, and restarting the server.

[2022-04-05 21:52] mattpen commented on #268
I ran the prune/update commands on phet-server2.  @jbphet - to verify if this fixes the problem we'll need to resubmit the latest swahili translation of balancing-act.

[2022-04-05 22:04] mattpen commented on #268
@jbphet reran the translation and it worked successfully.

[2022-04-05 22:05] mattpen commented on #268
Back to you for any further steps @zepumph

[2022-04-06 13:06] samreid commented on #268
@pixelzoom reported:

AssertionError [ERR_ASSERTION]: Full API expected but not created from puppeteer step, likely caused by https://github.com/phetsims/chipper/issues/1022.
This used to happen once in awhile, but is now occurring more often, and for more sims.

[2022-04-07 14:49] zepumph commented on #268
@samreid, I'm worried about our fix in the PhET-iO API generation, because it looks like @jonathanolson made https://github.com/phetsims/chipper/commit/c30502c26d3a6f30c9fe7dbcdfad9ae2ecf9edfc, and I'm seeing the resurgence of

"Error: Navigation failed because browser has disconnected!"

@jonathanolson, can we pair on this sometime soon?

[2022-04-07 16:36] samreid commented on #268
Is that problem only happening on CT?  We have been able to deploy phet-io RCs without a problem.

[2022-04-07 16:49] zepumph commented on #268
If it is the same issue as it presents as from https://github.com/phetsims/chipper/issues/1032 and https://github.com/phetsims/perennial/issues/229, it is a race condition based on something like threads and CPU availability. I have not yet hit it locally while building phet-io sims or generating APIs, but in those issues we did.

[2022-04-09 17:26] samreid commented on #268
I logged into CT and ran a two builds and `generate-phet-io-api` calls.  Both builds succeeded, and 5/6 `grunt generate-phet-io-api` calls succeeded.  The failed one reported:

[code]

[2022-04-11 18:51] pixelzoom commented on #268
@KatieWoe asked about this problem today, it's affecting sims frequently in CT.   The reports in CT generally look like:

[code]

[2022-04-12 16:22] samreid opened #269 "We need a utility that can transfer history from one repo to another, including file renames"
In https://github.com/phetsims/vegas/issues/101#issuecomment-1093479022 I wrote:

<img width="919" alt="image" src="https://user-images.githubusercontent.com/679486/162546477-28258c0a-fba9-4e3b-b74d-bee7e26cd0c1.png">

<img width="925" alt="image" src="https://user-images.githubusercontent.com/679486/162546517-ebdab78b-53af-41d9-a497-1fe6dbb7a5de.png">

Later, I added:

[code]

[2022-04-12 16:23] samreid commented on #269
In https://github.com/phetsims/vegas/issues/101#issuecomment-1093659193 I said:

I have a proposed plan that I think will work well for this issue and future cases where we want to move history from one repo to another more robustly.

1. Install the command `git filter-repo`.  It is recommended by the git documentation as an improvement over `git filter-branch`.  https://git-scm.com/docs/git-filte

[2022-04-12 16:24] samreid commented on #269
I used the strategy proposed in the preceding comment to migrate StatusBar and its history, including file renames.  @pixelzoom confirmed the history transfer seemed correct.

This issue is about reviewing the process above and either adding tooling or documentation to simplify that process.  @zepumph can you please review and comment?

[2022-04-12 16:53] samreid commented on #268
It sounds like @zepumph intends to collaborate with @jonathanolson on this issue, self-unassigning for now.

[2022-04-15 23:24] samreid commented on #269
Thanks, @chrisklus and I adapted this procedure into a script.  I'll test out the script for https://github.com/phetsims/mean-share-and-balance/issues/5.

The script has not been well vetted and not tested on Windows.  In particular, I wonder if forward and backward slashes will cause mixups.

[2022-04-15 23:42] samreid commented on #269
In https://github.com/phetsims/mean-share-and-balance/issues/5#issuecomment-1100471805 I used this script to transfer QuestionBar from center-and-variability to scenery-phet.  It appears to be working OK.  Leaving self-assigned for testing on Windows.

[2022-04-20 15:14] zepumph commented on #268
@jonathanolson FYI,

[2022-04-20 18:28] jbphet opened #270 "Investigate recent build failures"
I had seven "BUILD ERROR" messages in my inbox this morn.  They started at 3:36 AM, and the most recent one occurred at 7:22 AM.  Based on a quick look, these all seem related to translation build requests, and the locales are ha, de, and it.  The core error is the same in al seven emails, and is:

[code]

Below is a full copy of one of the emails (the first one):

<details>
Build failure: Error:

[2022-04-20 18:39] jbphet commented on #270
I just looked at the build server logs, and it looks like all build requests since the first error report have failed.  The last success was at around 2 pm yesterday, here's the log message.

[code]

After this, everything has failed.  There are additional failures shown in the log for which I didn't receive emails.  I'm not sure why not, perhaps they were blocked by my spam filter.

[2022-04-20 19:34] zepumph opened #271 "Error: Could not find expected browser (chrome) locally. Run `npm install` to download the correct Chromium revision (970485)."
`Build failure: Error: Build aborted, Error: Could not find expected browser (chrome) locally. Run `npm install` to download the correct Chromium revision (970485).`

This is also showing up in the sim fuzzing on CTQ (quick server).

Our best guess that puppeteer 13.6 was released last night (around 3pm). We are on ^13.5.2, which automatically picked up 13.6 on npm prune && npm update. So I think

[2022-04-20 19:45] zepumph commented on #271
This commit cleaned up CTQ, so we assume that it will clean up builds too.

[2022-04-20 19:46] mattpen commented on #270
@jbphet - we think we have a fix in #271 - can you resubmit the latest translation that failed so we can see if that fixes the failure on the build-server?

[2022-04-20 19:46] zepumph commented on #270
@mattpen @samreid and I fixed these in https://github.com/phetsims/perennial/issues/271, sorry for the duplicate.

There were 10 failed builds before we solved this. These are all from translations, @jbphet can you kick off these again to make sure they succeeded. Also, @mattpen, @samreid and I don't know how to kick off these again, so perhaps mentioning some documentation for next time so we don

[2022-04-20 19:47] zepumph commented on #271
Solved, we will continue in #270

[2022-04-20 19:47] #271 closed

[2022-04-20 22:22] jbphet commented on #270
I've analyzed the build logs using some grep patterns, and the raw output included at the bottom of this comment.  There were some redundancies, so there are actually 8 rebuilds that need to happen.  They are:

- [ ] sim: states-of-matter-basics, locale: ha
- [ ] sim: states-of-matter, locale: ha
- [ ] sim: projectile-motion, locale: ha
- [ ] sim: pendulum-lab, locale: ha
- [ ] sim: geometric-opti

[2022-04-20 23:30] jbphet commented on #270
I have triggered a build for each of the sim-locale pairs above and monitored the build sever log after each.  All of them finished successfully.  I can see them at the fixed URL where they reside, such as https://phet.colorado.edu/sims/html/states-of-matter-basics/latest/states-of-matter-basics_ha.html, but they are not yet on the web site.  I'll check back tomorrow and make sure they appear.

[2022-04-21 16:49] zepumph commented on #270
How did you do this?

[2022-04-21 17:26] mattpen commented on #270
@zepumph - I think the docs are here: https://github.com/phetsims/rosetta/blob/master/doc/admin-guide.md#triggering-a-rebuild-without-being-credited. I haven't tried this myself

[2022-04-21 18:10] samreid commented on #269
Today @zepumph volunteered to review after it's working on Windows.

[2022-04-22 00:17] zepumph commented on #270
Thanks!

[2022-04-22 16:37] jbphet commented on #270
I spot checked most of the translations to verify that they are now up on the web site, and the are, so I think we're good.  Closing.

[2022-04-22 16:37] #270 closed

[2022-04-24 18:48] samreid opened #272 "The precommit hooks must type check downstream usages"
From https://github.com/phetsims/chipper/issues/1174

For instance, if you make a change to SUN/Panel, then the precommit hooks just check `tsc -b` in `sun/`, then the type won't check any sim usages of SUN/Panel.  If an API was broken, the type checker wouldn't catch it.

This may be the reason some type errors have passed the precommit type checks and got pushed to master.

There are a few level

[2022-04-24 19:39] samreid commented on #272
This script takes about 24 seconds on my machine to find all direct usages (non-transitive) of Panel.ts exports:

<details>

[code]

</details>

The question is whether that can be optimized and combined with a typescript command that only type checks a subset of files.  I'm not sure whether that is compatible with project references.  Also, do we need to trace transitive usages?

[2022-04-25 14:24] samreid commented on #272
It looks like TypeScript experimented with a tool that detected downstream places that needed to be type checked: https://github.com/microsoft/TypeScript/issues/13538#issuecomment-273695261

[2022-04-25 15:52] zepumph commented on #272
I think that 0) is not workable. An improvement to it (IMO) would be to have zero type checking, so that the dev isn't lulled into a sense of security from the half measure. If there was no type checking, then it would be up to the dev to ensure that they run tsc -b on the whole project before committing, which is something that I am getting used to doing now. This is (of course) NOT the preferred

[2022-04-26 00:49] jonathanolson commented on #272
(1) would require developers to have everything checked out, no? Hooks slowing things down still seems quite unfortunate.

This might be a side note, but... is `tsc -b` able to be run in parallel 50 times if we're committing to 50 repos? I'd guess it would run into conflicts when the commits happen in parallel, `tsc -b` happens in parallel for `all`, and many processes try to read and write the sa

[2022-04-26 01:03] jonathanolson commented on #268
Any idea what is causing this? Possibly CPU or memory limits? (What happens if we try to run 100 copies of things at the same time?)

[2022-04-26 16:55] zepumph commented on #268
Yeah. That is a good idea, though I'm unsure how to do that locally. It seems like too much of a space constrain to have that many checkouts. Perhaps we can adapt CTQ to kick off 100 puppeteer loads and see if we can recreate.

Perhaps the issue is that there is just one error/exit hook we are missing from Puppeteer that we could use to trigger a retry. Like on browser crash or something.

[2022-04-30 01:31] mattpen commented on #267
@zepumph - I think your commit should be sufficient, I can't find any uses of this property in master across all our repos.  Is this ok to close?

[2022-05-05 18:56] mattpen opened #273 "BUILD ABORTED! TimeoutError: waiting for function failed: timeout 30000ms exceeded"
There was a build failure for a `gu` translation of ESP this week. I verified that the sim file, the screen titles, and the database entry have all been added, so either the translator resubmitted the build successfully or this was somehow eventually correct.

This error likely occured while waiting for puppeteer to parse screen names from the translated sim.  If this starts recurring we should co

[2022-05-09 16:32] zepumph commented on #267
`phet-server2` as a string is in quite a few spots (35) right now, but it doesn't seem obvious how I would factor it out, most of it is in documentation or code comments. Or in different applications (MR process vs build-server etc). If we need to change the server again, presumably we would easily find these usages and change them too.

[2022-05-09 16:32] #267 closed

[2022-05-12 22:09] mattpen commented on #258
@oliver-phet - is this issue ok to close?

[2022-05-14 01:29] samreid commented on #272
In https://github.com/phetsims/chipper/issues/1245, we use `include` patterns for tsconfig, which are graceful (don't complain if a file isn't there).

Also, after https://github.com/phetsims/chipper/issues/1245 it seem the precommit hook should just run the full type checker.  It is a bit faster now and may be ok.

Maybe in that case, I would recommend running the type checker/ lint check/etc onc

[2022-05-14 01:31] samreid commented on #272
I notified slack #typescript

[2022-05-16 19:18] samreid commented on #268
Today for https://github.com/phetsims/phet-io/issues/1848 @zepumph and I tried checking out `grunt checkout-shas` for gravity-and-orbits 1.5 and got this error:

<details>

[code]

</details>

We think this means we may need to maintenance release updated puppeteer versions.

[2022-05-19 04:08] samreid commented on #272
Marking for dev meeting public service announcement, and to see if the issue can be closed.

[2022-05-19 18:49] zepumph commented on #272
PSA during dev meeting today. All sounded good. I had questions about having simA's type errors effect committing to simB. As a whole the dev team decided that we want zero type errors on the master always and forever, and so if you encounter that case, it should be rare. Just ignore it by not running with git hooks. Closing

[2022-05-25 17:50] zepumph commented on #268
We did one manual patch for this in Natural Selection 1.4

[2022-05-26 02:49] marlitas opened #274 "ts-status shell script"
A shell script that counts and keeps track of javascript and typescript lines of code and percent completeness in relevant common code repositories.

Info tracked:
- ts LOC
- js LOC
- % Complete
- @ts-ignore
- @private

[2022-05-26 18:54] zepumph commented on #274
Now ts-ignore and private searches are only in typescript files.

[2022-05-27 17:18] jonathanolson commented on #274
Added some additional review notes above.

[2022-06-03 22:41] zepumph commented on #268
@samreid and @jonathanolson ran into some build failures such that it looks like even phet brand sims that don't run puppeteer are still having a build failure on old versions of puppeteer. We should MR all sims with PUppeteer in the package.json. We also found that this failed when npm installing perennial-alias as well, so I believe that we have to do that repo too.

[2022-06-03 23:35] marlitas commented on #274
@jonathanolson Looked into the use of Number() vs. parseInt() and it seems like it's very dependent on context. Here is a pretty thorough [discussion on stackOverflow. ](https://stackoverflow.com/questions/4090518/what-is-the-difference-between-parseint-and-number)

General overview from my understanding:
- Number() is type conversion
- parseInt() parses the string to return a number
- Number() wi

[2022-06-04 23:20] jonathanolson commented on #274
I wasn't actually familiar that parseInt would ignore certain content in the string (eek).

It looks like `Number(...)` is equivalent to a + operator cast. Since it NaNs more easily, it seems better to use in general for numbers. Perhaps we could add an integer variety that only outputs integers.

Might be worthy of dev meeting discussion.

[2022-06-07 21:16] marlitas opened #275 "Number() vs. parseInt()"
This issue comes from a discussion in: https://github.com/phetsims/perennial/issues/274

What is the best string => number conversion for PhET usage. A couple of things to note that have come up from initial discussions/research:
- parseInt() can ignore content in a string to return a number (not great)
- Number() returns a NaN if string has symbols that do not equate to numbers ( is equivalent to

[2022-06-07 21:17] marlitas commented on #274
Created new issue for dev meeting discussion. https://github.com/phetsims/perennial/issues/275

[2022-06-09 18:25] zepumph commented on #275
When converting, let's also remember to search for parseFloat, and Number.parseInt.

[2022-06-10 16:18] liam-mulhall commented on #201
It looks like chipper is no longer using Winston as a logger. @samreid, @zepumph, can this issue be closed?

[2022-06-10 16:20] liam-mulhall commented on #201
Wow, that's embarrassing! Wrong repo.

[2022-06-10 21:04] pixelzoom opened #276 "Precommit hook type-checking fails for release branches."
When trying to patch function-builder 1.2, I had big problems with commiting anything to that branch.  `grunt commit` appeared to succeed, but was actually failing pre-commit hooks.  And it was failing because it was running tsc for _all repos_ ,  not just the repos that are identified in function-builder's dependencies.json.

So 2 problems:

(1) `git commit` command line is failing silently, not

[2022-06-11 00:34] liam-mulhall commented on #201
Okay, I'm not able to repro MK's problem, but since there are so many files affected by these changes, I think I probably need to pair with someone to test the changes a bit more extensively before I push them.

[2022-06-11 21:14] jonathanolson commented on #276
Notably for (2), the automated maintenance tools pass `--no-verify` to commits.

[2022-06-14 00:35] samreid commented on #276
How should this issue be solved?  Adding a check in the precommit hooks to detect whether a repo is a common one or not is insufficient--checking all downstream dependencies would still yield incorrect results if some repos are checked out to a maintenance SHA and some are still in master.

[2022-06-15 04:28] samreid commented on #269
I ran this script on Windows today for moving customizeWrapperTemplateForAction as part of https://github.com/phetsims/phet-io-wrappers/issues/435.  I'll add some notes and reassign to @zepumph

[2022-06-16 20:18] marlitas commented on #274
TS-Status script is completed and reviewed. Closing.

[2022-06-16 20:18] #274 closed

[2022-06-16 21:06] marlitas commented on #275
@jbphet discovered an infinite loop in Expression Exchange that we traced back to another inconsistency between parseInt() and Number().
Below screenshot demonstrates the issue as it relates to Expression Exchange.

![Image](https://user-images.githubusercontent.com/42476338/174163405-8b41ae37-7ee5-472e-8e5a-189e8ed9e9db.png)

PSA:
Number( '' ) => 0
vs.
parseInt( '' ) => undefined

[2022-06-21 16:14] jessegreenberg opened #277 "hook-pre-commit.js does not print tsc errors by default"
`tsc` errors are only printed if `outputToConsole` is true.

https://github.com/phetsims/perennial/blob/master/js/scripts/hook-pre-commit.js#L101-L107

Would it be OK if we always print tsc errors? hook-pre-commit.js always reports lint errors so I had expected tsc errors to always be reported as well. Without printing I had thought that hook-pre-commit.js was failing silently somewhere. If there

[2022-06-21 16:16] jessegreenberg commented on #277
I removed the `outputToConsole` check so it always prints if there is error. @samreid are you OK with this?

[2022-06-23 18:00] zepumph commented on #275
From dev meeting today. @marlitas is still chipping away at this. Moving to subgroups

[2022-06-25 18:11] marlitas commented on #275
Conversion done. Will leave issue open for a few days in case something comes up that I didn't see in testing.

[2022-06-26 17:36] samreid commented on #277
Excellent, thanks!  Closing.

[2022-06-26 17:36] #277 closed

[2022-06-29 17:40] marlitas commented on #275
I did not find any CT errors related to the Number() conversion in the last few days. Closing

[2022-06-29 17:40] #275 closed

[2022-07-23 16:31] samreid opened #278 "Precommit hooks should run from perennial-alias instead of perennial"
From https://github.com/phetsims/chipper/issues/1286 we identified that the precommit hooks `node ../perennial/js/scripts/hook-pre-commit.js` are loading files from chipper and aqua:

[code]

Generally, perennial should not import from chipper. But it is OK for perennial-alias to import from chipper.  Rather than move all these processes to perennial, it seems like the precommit hooks should run f

[2022-07-24 15:42] zepumph commented on #278
While this is true, and  we talked about this on Friday, we also said that it would be buggy if you had sim shas checked out and tried to commit in a repo on master (like perennial or aqua). Does this seem like an important case?

[2022-07-24 16:25] samreid commented on #278
I recall that conversation and wanted to discuss a bit further.

Let's say we have checked out maintenance SHAs for gravity-and-orbits and we want to commit a change to perennial.  On the maintenance SHAs chipper/eslint has a rule that requires us to use `type` instead of `interface`.  But in master, chipper/eslint has a rule that requires us to use `interface` instead of `type`.  So the precommit

[2022-07-28 19:26] samreid commented on #278
In today's meeting, we agreed to move precommit hooks, absolute-tsc, and other code that uses ../chipper over to chipper itself.

[2022-08-01 20:20] samreid commented on #278
@marlitas and I moved:

* precommit hooks, and the multi-script
* absolute-tsc

We do not think the build-server commands should be moved.  We are uncertain about these remaining usages of `../chipper` in perennial:

* ChipperVersion
* outputJSAll
* Gruntfile/lint

@jonathanolson what do you recommend for these parts?

[2022-08-03 22:48] samreid commented on #266
Let's track this in https://github.com/phetsims/chipper/issues/1171, closing.

[2022-08-03 22:48] #266 closed

[2022-08-03 22:55] samreid commented on #260
I feel the appropriate fix for this issue would be a lint rule that is easy to autofix.  But it doesn't seem like a significant problem for anyone and therefore should just be closed.

[2022-08-03 22:55] #260 closed

[2022-08-15 16:52] samreid opened #279 "execute output is truncated"
In https://github.com/phetsims/chipper/issues/1306 @marlitas and I observed that the output from execute is truncated when the string length exceeds a certain (unknown) threshold.

The solution we are pursuing for https://github.com/phetsims/chipper/issues/1306 involves `stdio: 'inherit'` so would be incompatible with aggregating the data (that strategy fails when calling `process.on('data')`.)

S

[2022-08-15 17:45] KatieWoe opened #280 "CT Lint-everything failed with status code 1:"
[code]

[2022-08-16 13:56] mattpen commented on #280
I'm not sure what I can do to help here. @jonathanolson please let me know if you need anything from me.

[2022-09-09 16:34] KatieWoe commented on #280
[code]

[2022-09-12 13:48] mattpen opened #281 "Build Failure: Sherpa is not being checked out to master"
There were 4 failures this morning. When I logged in to check, a build was ongoing and completed successfully.  After the build Sherpa was still checked out to a sha and not on master.  This is a problem I've seen frequently, but I'm not sure if this is actually the problem that caused the original builds to fail.

A rebuild of the translation worked successfully for https://phet.colorado.edu/tran

[2022-09-12 18:12] mattpen commented on #281
The other translations succeeded after a rebuild with no further intervention.  I wonder if this was actually caused by a github outage and not our build process.

[2022-09-12 18:13] mattpen commented on #281
https://www.githubstatus.com/history I'm seeing some incidents on 9/7-9/9, but none for 9/12.

[2022-09-13 01:11] jonathanolson commented on #280
I believe @jbphet fixed this lint error with https://github.com/phetsims/rosetta/commit/37ac1ae8ac641dbb97153d70e087de41c2c82249, closing!

[2022-09-13 01:11] #280 closed

[2022-09-13 14:32] mattpen commented on #273
This happened again today, for ESP in `rw`.

[2022-09-14 22:31] KatieWoe commented on #248
Closing for https://github.com/phetsims/qa/issues/832 as it looks like this is solved. If this is in error, feel free to reopen.

[2022-09-14 22:31] #248 closed

[2022-09-28 15:37] jonathanolson opened #282 "generate-data reverted my-solar-system"
https://github.com/phetsims/perennial/commit/3be6e714dd5387dab19a52f143b10f614080134a happened, after my-solar-system was added to phet-io. @zepumph thoughts?

[2022-09-29 15:23] samreid opened #283 "MR process: isFirstVersion is unexpectedly true"
During https://github.com/phetsims/chipper/issues/1337 @mattpen and I were surprised to see

[code]

This is on a sim that is not the first version.  Also we were shocked that the following line didn't trigger:

[code]

What is going on?

UPDATE: In batch mode for maintenance, the booleanPrompt is suppressed.  But we still need to know what is wrong with the metadata.

[2022-09-29 15:35] samreid opened #284 "During maintenance process, fatal: Unable to create 'acid-base-solutions/.git/index.lock': File exists."
From https://github.com/phetsims/perennial/issues/283, @mattpen and I saw git lock problems around creating the README file.  Note this problem will be rare after #283 is fixed, but we thought we should mention it.

[code]

[2022-10-03 23:21] zepumph commented on #282
Every so often I go onto the generate-data repos on bayes and find some repos with working copy changes. I haven't done this in about 2 years, and 8 repos had this. So I stashed the changes and pulled all. my-solar-system was one that couldn't be pulled.  What I found was that it was trying to find pre-commit-hooks in perennial still, which is why the commit failed and it still had working copy ch

[2022-10-03 23:21] #282 closed

[2022-10-06 17:00] jonathanolson commented on #284
Is this something where we were trying to concurrently run multiple copies of git?

[2022-10-06 17:27] zepumph commented on #269
I have not had a chance to run these steps just yet. It is still on my radar for my next repo history move though.

[2022-10-06 22:16] zepumph opened #285 "Issues with daily-grunt-work and pre-commit hooks"
I don't believe that daily-grunt-work should run pre-commit hooks. It leads to working copy changes in the repos.

[2022-10-06 22:57] samreid commented on #284
I'm not sure, @mattpen is that possible?

[2022-10-07 02:54] mattpen commented on #284
I think this process was running on your machine Sam.  Did you have a git dialog open in webstorm while you were running the deploy perhaps? Or a separate terminal with a git operation in progress? This was not a problem with the server side process.

[2022-10-07 03:02] samreid commented on #284
I'm not aware of anything that was running concurrently, but maybe a process had failed silently somewhere? Want to close this issue and come back to it if it recurs?

[2022-10-07 14:07] mattpen commented on #284
It seems difficult to reproduce this and low consequence if it reoccurs. Closing sounds appropriate.

[2022-10-10 22:00] zepumph commented on #285
I checked in with the daily grunt work again today and things are looking much better. One of the keys was to pull again before pushing at the end, just in case. Also I found that the babel updates needed more than a `commit -am` if they are a newly created file. So I am manually adding everything from that generated directory.

[2022-10-11 19:49] zepumph commented on #285
Looking much better! But babel still didn't push, so I updated the ending script just in case a translation comes in between runnings.

[2022-10-13 21:57] zepumph commented on #285
Last night was looking pretty good, but binder messed some things up last night.

[2022-10-20 02:01] pixelzoom opened #286 "Stale link in perennial/data/README.md"
In perennial/data/README.md, link https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md does not exist.  I'm not sure what it's supposed to point to.

[2022-10-20 03:14] samreid commented on #286
I fixed the link and tested. Thanks!  Closing.

[2022-10-20 03:14] #286 closed

[2022-10-20 17:43] zepumph commented on #285
I just say great things from a wonderful run. After a week status is still good, and runs happen every night. Closing

[2022-10-20 17:43] #285 closed

[2022-11-10 20:58] samreid opened #287 "Show all commits + referenced issues between 2 versions"
For the PhET-iO Project Board, we discussed that it would be nice to be able to see all the commits between 2 versions.  This can help us know what we may need to maintenance release, or what QA should test.  This is like a "bottom up" dense approach to change logs, which is described in https://github.com/phetsims/tasks/issues/1084

Following https://stackoverflow.com/questions/18679870/list-comm

[2022-11-11 04:05] samreid commented on #287
I have a working prototype, but I'm questioning the value of this tool for trunk-based development.  Between gravity and orbits 1.6 rc1 and rc4 there were 1490 commits that referenced 208 different issues.  Here is that output:

<details>

[code]
</details>

[2022-11-16 16:28] marlitas commented on #284
This happened again in Mean Share and Balance. https://github.com/phetsims/mean-share-and-balance/issues/127

[2022-11-16 17:27] mattpen commented on #284
This looks like there are some race conditions for git operations in the `grunt production` task AFTER it makes the http call to the build-server.  I did a quick glance at [`production.js`](https://github.com/phetsims/perennial/blob/7858954fbcc2ea455173ebd1f8aef77c1a1c79b2/js/grunt/production.js#L201-L210) - my guess is that the first line in that snippet ( is returning a sucessful Promise before

[2022-11-16 22:51] pixelzoom commented on #284
Sorry, this is also outside my wheelhouse.  I wrote generateREADME.js 7+ years ago, as a standalone grunt task, and I haven't touched it since.  And I have no familiarity with the current incarnation of the build-server, or how it uses generateREADME.js.

[2022-11-17 16:12] mattpen commented on #284
Just to clarify, the build-server does not use generateREADME.js, this is used by the `grunt production` task on the developer's machine.

[2022-11-17 19:40] zepumph commented on #268
@jonathanolson just ran into the MR stuff around this for another MR. I'm so sorry!!!! We are discussing and want to proceed with this MR.

I see that the new latest version is 19.2.2. We should update to that on master and then also propagate that to old versions too.

[2022-11-18 03:44] samreid commented on #268
I committed a revert commit on the perennial one to test https://github.com/phetsims/gravity-and-orbits/issues/479#issuecomment-1319496893

[2022-11-18 03:49] samreid commented on #268
I don't know if I need to restart the build server to pick up perennial package.json changes.

[2022-11-18 03:55] samreid commented on #268
It seems the build succeeded, so I'll leave perennial puppeteer at `"puppeteer": "~13.5.2",` for now.  We may need to do the same for aqua or chipper, until we sort out the `~/.cache/puppeteer` issue on linux.

[2022-11-18 14:49] samreid commented on #287
Due to the uncertain helpfulness of this issue, let's close it for now.  Next time we want to compare 2 branches we can give it another try if we want.  Also caution the script doesn't re-checkout master at the end.

[2022-11-18 14:49] #287 closed

[2022-11-18 20:28] jbphet opened #288 "Create a "used strings" artifact from the build process for use by the translation utility"
One of the steps that the translation utility (Rosetta) current executes while presenting the translation UI to a user is to obtain the HTML of the sim being translated and extract a list of used string keys.  Since the sims can be pretty big, this can be time consuming, and results in a lot of wasted time and bandwidth since so little of HTML file is actually used.  It would be great if we could

[2022-11-18 21:25] veillette opened #289 "perennial, perennial-alias and pull-all script"
While trying out GitHub codespace, I checked out all the repos to build calculus-grapher, as if I was a new user.
Although Calculus-Grapher is not published, I tried to mimic the steps given for a published simulation such as https://github.com/phetsims/gravity-and-orbits/edit/master/README.md

If you do some, you would clone perennial as
``
git clone https://github.com/phetsims/perennial.git pere

[2022-11-24 02:57] jonathanolson commented on #254
Reopening this, as I'll need to maintenance release to get some branches to build (e.g. BASE 1.5)

[2022-11-25 21:42] zepumph commented on #276
Since our type checking will check all repos (at least as of now and in the past publications), we should just totally opt out. Should that logic go in the script that is outside of chipper? Is there such a thing anymore, or was it all moved to chipper?

A solution would be to have this line changed to a new file in perennial that will NEVER change, and then have the perennial file conduct the log

[2022-11-28 18:59] jbphet commented on #254
@jonathanolson - You reopened this, and it's assigned to me, but I think you're using it as a place to log commits.  I'm assigning it to you, let me know if you think there is something I need to do here.

[2022-11-28 22:40] zepumph commented on #268
I worked with @mattpen, we needed to restart the build server. After pulling on the server, npm updating, and restarting, we production deployed chains and had no errors. We are ready to close this in terms of the recent upgrade to 19.2. We are NOT ready to close this issue in terms of the MR to back propagate the new version to old shas. Over to @jonathanolson to close if all goes well with his M

[2022-11-29 16:09] samreid commented on #276
I considered something like this:

<details>

[code]

</details>

It only runs tsc if the current repo (the one precommit hooks are running for) is in the master branch. Does this seem it may work?

[2022-11-29 22:04] zepumph commented on #268
I believe that all has been done here on my end.

[2022-11-30 01:32] pixelzoom commented on #276
This bit me again today, while patching the 1.2 release branch of geometric-optics-basics.  My workaround again was to commit from WebStorm with githooks disabled.

[2022-11-30 02:24] samreid commented on #276
The problem with precommit hooks is that they are repo-specific and monorepo-oriented.  We have a polyrepo setup, so trying to fit cross-repo checks into precommit hooks causes problems.  Maybe we should abandon git hooks and do something more sophisticated.

[2022-11-30 03:51] pixelzoom commented on #273
This happened today for a production build of geometric-optics-basics 1.2.0.  This is a new sim, and the first time that `grunt production` has been run.

[2022-11-30 15:44] mattpen commented on #273
This happened twice on 11/29:

1. geometric-optics-basics production release (1.2)
2. energy-skate-park lg translation

@pixelzoom reported on Slack that he redeployed GOB 1.2 and it was successful the second time.  I reran the failed translation (ESP in lg) and the build succeeded.