[2015-09-29 17:27] pixelzoom opened #1 "migrate things from chipper that should always be on master"
From 9/29/15 dev meeting...

Take a closer look at what should be moved over from chipper.

checkoutShas.js was copied from chipper, then modified.  One of these should be deleted or renamed.

[2015-09-29 21:05] aaronsamuel137 commented on #1
While looking at https://github.com/phetsims/chipper/issues/345, I saw that build-server depends on getDeployConfig from chipper. In light of this, it would probably be advisable to move it over to perennial too.

Do you see any downsides to this @pixelzoom?

[2015-09-29 21:18] pixelzoom commented on #1
@aaronsamuel137 getDeployConfig.js is used by `deploy-dev` and `deploy-production tasks`.  I haven't used those tasks yet, and I'm not very familiar with their implementation.  So I can't answer your question with confidence.  That said... If getDeployConfig.js is moved to perennial, and perennial is design to be always on master, then it's possible that older versions of those 2 grunt tasks might

[2015-10-21 15:19] aaronsamuel137 opened #2 "[build-server] adding new sims to rosetta fails"
Most likely caused by running git pull after modifying the simInfoArray file.

[code]

[2015-10-21 15:25] aaronsamuel137 commented on #2
Appears to be fixed. Closing

[2015-10-21 15:25] #2 closed

[2015-11-03 23:19] aaronsamuel137 opened #3 "[build-server] add option for adding email to build fail list"
Discussed over Skype that it would be useful to be notified of some build fails but not all.

[2015-11-09 17:44] aaronsamuel137 commented on #3
Added a --email option to grunt deploy-production. Anything else we should do here? Do we want to send an email on build success too?

We could also add a field in build-local.json so that a desired email is always passed automatically to deploy-production every time.

Assigning to @pixelzoom for review since he suggested this change.

[2015-11-09 21:33] pixelzoom commented on #3
I think it would be great to send an email on success.  That way you get an email either way, indicating how things went, and you'll know when the process has completed.

[2015-11-10 19:02] aaronsamuel137 commented on #3
Added email on build success, as well as an optional field in build-local.json, buildServerNotifyEmail, which will automatically pass an email every time so you don't need to add --email.

Assigning to @pixelzoom for review.

[2015-11-10 19:47] pixelzoom commented on #3
I don't see the `email` option described in the `grunt --help` for `deploy-production`.

Also, the original request was for an option in build-local.json. Any chance that we could add that, with the ability to override via `--email`?

[2015-11-10 20:10] aaronsamuel137 commented on #3
There is a new optional field in build-local.json, buildServerNotifyEmail, if you want to be notified by default if your deploy-production succeeds or fails. If you are on the default email list you will get all failure notices, but not success ones.

Discussed with @pixelzoom, closing.

[2015-11-10 20:10] #3 closed

[2015-11-17 18:38] pixelzoom commented on #3
Reopening. This is not working for me.  I've added buildServerNotifyEmail to $HOME/.phet/build-local.json, and have yet to receive an email. Searching for "buildServerNotifyEmail" through all .js yields not found.  And build-server.js includes this documentation:

[code]

So I'm confused. There is no buildServerNotifyEmail field documented. And there are other fields that I thought had gone away.

[2015-11-17 19:32] pixelzoom commented on #3
My bad. I was on a chipper sha dates 11/10/15 that precedes the addition of buildServerNotifyEmail.

Closing.

[2015-11-20 22:42] jbphet opened #4 "build server logs error when a translator resubmits a translation"
Currently, if a user submits a translation, then makes some mods and resubmits, the build server will log an error in the log file.  This error indicates that there is already an entry for this user-sim-locale combination.  Since this is a normal condition, it would be good to keep the logs clean and either check the DB first or catch the error.

The error looks like this:

[code]

[2015-11-28 15:45] samreid opened #5 "PUSH FAILED on 11/25/15, 2:09 PM"
I received this PUSH FAILED email on the aforementioned date:

Assigning @jbphet since it is related to build-server.  Tagging @pixelzoom since it relates to acid-base-solutions.

EDIT: Formatting

[2015-11-28 17:08] pixelzoom commented on #5
The `[object Object]...` portion of that error message is pretty useless.  A related issue would be to improve the error message.

[2015-11-30 21:37] jbphet commented on #5
Gathering information on this.  The commit in question seems to have made it into babel, and the timestamp matches that reported in the email message, i.e. 11/25/15, 2:09 PM MST.  See https://github.com/phetsims/babel/commit/f293f542d524e155429f68a1dc40b74146cb37d8.

[2015-11-30 21:52] jbphet commented on #5
This issue is in the wrong place.  The problem is coming from the translation utility (rosetta), not the build server (perennial).  Moving.

[2015-11-30 21:57] jbphet commented on #5
This issue has been moved to https://github.com/phetsims/rosetta/issues/105.  Closing this version.

[2015-11-30 21:57] #5 closed

[2016-01-07 17:48] jbphet opened #6 "log time stamps in Mountain Time rather than UTC"
The log currently logs events using UTC, and this makes them a bit tricky to interpret.  It would be easier to work with these logs if they were in Mountain Time instead.  This will need to be done for Rosetta too, see https://github.com/phetsims/rosetta/issues/107.

[2016-01-14 22:22] jonathanolson opened #7 "Failed build for molecule-shapes-basics RC"
The changes to inspect the .xml to see what translations were previously deployed also seems to have broken this particular case. The file in question (/data/web/htdocs/phetsims/sims/html/molecule-shapes-basics/1.0.0-dev.5/molecule-shapes-basics.xml) does NOT exist, as it was deployed a long time ago.

[code]

[2016-01-14 22:31] jonathanolson commented on #7
Looks like the files.sort()[ files.length - 1 ]; is picking out the wrong directory (1.0.0 is newer than 1.0.0-dev.5).

[2016-01-19 16:52] jbphet opened #8 "problems with deployment of older maintenance release"
On Monday, January 11, 2016, @pixelzoom attempted to deploy a maintenance release for Beer's Law Lab, but the existing translations did not get properly rebuild and redeployed.  Below is the Skype dialog that chronicles the discussion.  This is here mainly for record keeping, and I'll try to summarize the problem and solution(s) in subsequent comments.

[2016-01-19 19:06] jbphet commented on #8
There was an problem identified a while back where the build server was not rebuilding translations when ```grunt deploy-production``` was used (see https://github.com/phetsims/rosetta/issues/101).  Modifications were made to the build-server to do this, but chipper had to be modified as well so that it would specify ```locales=*``` for a production deployment, and this flag was interpreted as "re

[2016-01-19 19:17] jbphet commented on #8
For reference, the commit to chipper that made ```---locales=*``` the default for production deployments was made on November 10, 2015 (see https://github.com/phetsims/chipper/commit/dfa45c1613a09c16d71afc9a896e8a246adc41da), so sim release branches with chipper versions prior to that date will have this problem with maintenance releases.

[2016-01-19 19:46] pixelzoom commented on #8
@jbphet said:

This "quirk" is actually a bug.  According to the Grunt FAQ (http://gruntjs.com/frequently-asked-questions), "boolean options can be specified using just a key without a value. For example, running `grunt deploy --staging` on the command line would cause `grunt.option('staging')` to return `true`."  But that's not actually the case, it's buggy, see https://github.com/gruntjs/grunt-c

[2016-01-20 18:34] jbphet commented on #8
Below is a list of the simulations whose most recent branch with a numerical name (e.g. 1.2) contain a version of chipper from prior to Nov 10 2015, and thus would need to have maintenance releases deployed with the ```--locales=*``` option:

+ acid-base-solutions
+ area-builder
+ balancing-act
+ balloons-and-static-electricity
+ beaker
+ beers-law-lab
+ build-an-atom
+ color-vision
+ concentratio

[2016-01-20 18:40] jbphet commented on #8
I wrote a bash script to print the date of the chipper version for the most recent numerical branch for all active sims.  I'm disinclined to check it into github, so I thought I'd just paste it below in case it is ever needed again.  This is not particularly robust (it assumes that branch numbers are printed out in order, which was the case on my system, but may not be on others), and I haven't do

[2016-01-21 19:41] samreid commented on #8
Meeting consensus: @jbphet will change the how-to-deploy-maintenance-release documentation to make sure `--locales=*` is used where appropriate.

We will also need to be careful about making API-level changes to build-server or perennial.

@jbphet also proposed adding a version field to the command message.  If something doesn't have "version", then it predates these changes and will hence need `-

[2016-01-22 16:56] jbphet opened #9 "API should have a version number to make backwards compatibility easier"
The API for the build server, which is essentially a URL, should be modified to include a version number.  This will make it easier to make changes to the build server's behavior without introducing incompatibilities with previous chipper versions, which are used to make maintenance releases of simulations.  For background on the motivation for this, see https://github.com/phetsims/perennial/issue

[2016-01-22 18:03] jbphet commented on #9
My thinking on this is to keep it simple and just have a monotonically increasing number as the value, so there would be a parameter in the URL with something like ```version=2```.  I did a quick poll on this thought on the dev Skype channel, and @samreid supported this proposal.

[2016-01-25 18:27] jbphet opened #10 "group id for files built by build-server and transferred to spot do not have consistent group IDs"
Note: Since this is a public repo, I'm going to avoid using specific group ID and user ID names in this ticket.

While checking the permissions and ownership of the build for the 1.0.0-rc.2 version of Neuron, I found that the files are owned by a different group from other repositories that I've deployed in the past.  It looks like this is tied to the way in which the original directory was create

[2016-01-25 18:41] pixelzoom commented on #10
To be a little more specific...

(1) This is an issue in spot:dev.

(2) When setgid permission is applied to a directory, files that were created in this directory belong to the group to which the directory belongs, not the group to which the creating process belongs. Any user who has write and execute permissions in the directory can create a file there, and the file belongs to the group that own

[2016-01-27 16:29] jbphet commented on #10
My account is used to do the file transfer from figaro to spot, and the umask is 0002 on both, so I'm clear on why it's a umask problem.  To clean this up, it seems like we should make sure that all developer accounts on spot have the same umask and group, and the directories with the problem should have their group id set to physphet.  Is that correct and is there anything else to be done?

[2016-01-27 17:01] pixelzoom commented on #10
Your account doesn't have anything to do with it. It's the account that created the directory (@samreid in all cases) that isn't creating the directory with setgid permissions.

[2016-01-28 17:53] pixelzoom commented on #10
Btw... The title of this issue is "group id for files built by build-server and transferred to spot do not have consistent group IDs".  I believe that his has nothing to do with build-server.  There are directories that have this problem that pre-date build-server, and the directories with this problem (with 1 exception) are owned by @samreid.  To see the dev/html/ directories on spot with this pr

[2016-01-28 17:54] samreid commented on #10
How do I resolve this problem?

[2016-01-28 18:01] pixelzoom commented on #10
Start by looking at your unmask on spot and on your local machine.

[2016-01-28 18:05] samreid commented on #10
Like this?

**Local Machine***
[code]
**Spot**
[code]

[2016-01-28 19:55] samreid commented on #10
I'm still unclear on what the problem is or how to address it.

[2016-01-29 21:35] jbphet commented on #6
Done, time stamps now look like this:
```Jan 29 2016 14:33:34 MST```

Closing.

[2016-01-29 21:35] #6 closed

[2016-01-29 21:39] jbphet commented on #8
Documentation has been updated and a maintenance release was completed successfully (Arithmetic).  Work is done for this, closing.

[2016-01-29 21:39] #8 closed

[2016-02-02 17:14] samreid commented on #10
@pixelzoom surmises that my Windows SCP client was causing these issues.  I can try creating directories a few different ways and see what the groups and permissions are.

[2016-02-02 17:16] samreid commented on #10
We also noted that these group permissions seem inconsistent, there may not be an actual problem that needs to be solved.

Meeting consensus: leave the issue open and wait until a practical problem arises.

@pixelzoom suggests to change the group id of the top-level directories so that subsequent directories get created with the correct parent groupid "physphet" instead of "facstaff".  They need t

[2016-02-02 18:23] pixelzoom commented on #10
Not quite.  The group id of the directories should be the same (physphet).  The *setgrpid* bit on the directories permissions mask needs to be set.

[2016-02-12 01:22] jonathanolson opened #11 "Build server should NOT make SQL queries to the website production database!"
It looks like addTranslator() was added in https://github.com/phetsims/perennial/commit/5ac71c3601835d6b0a8163cbbc80d2b669a2fb07 as part of https://github.com/phetsims/rosetta/issues/83 **after** I code-reviewed the build server. It apparently now makes a direct DB connection to the production website server.

This can:
1. Cause random failures to insert translators.
2. Cause random failures on th

[2016-02-12 02:10] jonathanolson commented on #11
https://github.com/phetsims/website/blob/master/src/java/edu/colorado/phet/website/data/LocalizedSimulation.hbm.xml shows that Hibernate is responsible for this table.

Looks like Rosetta (and not Hibernate) "own" certain tables (@phet-steele pointed me to https://github.com/phetsims/rosetta/commit/ffdd4ca7b508939223d7e9c95ec613d622452e16), which is an interaction I wasn't aware of. It doesn't see

[2016-02-12 17:17] jbphet commented on #11
The interaction that Rosetta has the the DB is for saving non-submitted user strings.  This was all done by @aaronsamuel137, so I'm no expert on it, but that's the big picture.  As part of our discussion, I'd also like to determine whether this is okay or should be done differently, and whether this would be affected by rollbacks of the DB.

[2016-02-12 19:12] ariel-phet commented on #11
priority seems appropriate setting @jonathanolson as assignee

[2016-02-12 22:51] jonathanolson commented on #11
Proposal:

Use a URL like: https://phet.colorado.edu/services/add-html-translator?simName=molarity&locale=es&userId=245345&authorizationCode=insertHere, possibly with the same authorization code.

This would add the relevant entry to the user_localized_simulation_mapping table, looking up the matching HTML sim LocalizedTranslation id.

If the request returns a status code of 201, the translator en

[2016-02-12 22:52] jonathanolson commented on #11
An authorization code OR checking to see if the request came from localhost should be required, so 3rd parties can't just randomly add entries to our database.

[2016-02-14 08:00] mattpen commented on #11
@jonathanolson - If the user is not from localhost or does not provide an authorization code, should the request return 401 - unauthorized?

[2016-02-15 04:53] mattpen commented on #11
@jonathanolson - Can you please clarify?  Do you mean that simply the authorization code should be "insertHere"?  Shouldn't we use something more secure, like a key stored in the db?

@jbphet - I wrote an initial draft for the website request.  It should be ready to test.

[2016-02-15 17:58] jonathanolson commented on #11
Sorry, wasn't suggesting that. GitHub doesn't treat angle brackets nicely, so I didn't include them here. Randomly generated code sounds best.

[2016-02-15 22:10] jbphet commented on #11
@mattpen - Is this on phet-dev, or am I testing on the main server?

[2016-02-16 02:43] mattpen commented on #11
@jbphet - I can deploy it to phet-dev tonight.  I was originally thinking we would test it on the VM first, but I don't think build-server is installed on the VM.

Do you have an example query that I could run on the VM to do a basic test before deploying on phet-dev?

[2016-02-16 07:29] mattpen commented on #11
@jonathanolson - I'm assuming this is for HTML sims only.  Can you confirm?

[2016-02-16 17:31] mattpen commented on #11
@jbphet - This is now up on phet-dev.  I'm logging details about any errors in the tomcat logs, let me know if you want to coordinate testing.

It should work via authorizationCode.
To get the code for phet-dev you can use this command:
[code]

[2016-02-16 18:35] jbphet commented on #11
Thanks @mattpen - I'll hopefully try this out within the next few days.

[2016-02-19 05:02] samreid commented on #10
Searching `setgrpid` on Google only yields 920 results, and Google suggests I may have meant `setgpid` which only has 365 results and looks like a C/C++ process priority value.  I feel like I'm going to need help on this issue.  I'm putting this issue on hold and will wait for help from someone that understands unix folder permissions such as @jonathanolson or @pixelzoom.

[2016-02-19 16:29] pixelzoom commented on #10
If you haven't already, start by reading the `chmod` man page (`man chmod`) for an overview of file modes, mode bits, etc.

`setuid` and `setgid` are file permissions, not commands, and they correspond to specific mode bits.  See:
• https://docs.oracle.com/cd/E19683-01/816-4883/secfile-69/index.html
• http://www.techrepublic.com/blog/it-security/understand-the-setuid-and-setgid-permissions-to-impr

[2016-02-23 21:00] samreid commented on #10
According to: https://en.wikipedia.org/wiki/Setuid

`root@foo# find /path/to/directory -type d -exec chmod g+s '{}' \;`

Since it seems desirable that we have the gid set on all directories under phet/dev/html, I'll try running this command there.  (Perhaps I should check first that each directory has the right group set).

[2016-02-24 16:11] samreid commented on #10
I confirmed that all files and folders under physics/phet/dev/html have the correct group `physphet`.

[2016-02-24 16:14] samreid commented on #10
When I typed `id` on spot, I found my gid = facstaff, this should not be a problem if all group id bits are set and the folders have physphet owners.

[2016-02-24 16:30] samreid commented on #10
By running this command:

`ls -l | grep -v drwxrws | grep -v drwxr-s`

I see the output @pixelzoom described above in https://github.com/phetsims/perennial/issues/10#issuecomment-176304486

According to http://www.toptip.ca/2010/03/linux-setgid-on-directory.html

   `chmod g+s mydir`

This makes sense, because we want to change the group execute from x to s.  I will try this command and report bac

[2016-02-24 16:31] samreid commented on #10
Before:
[code]

After
[code]

The `x` changed to an `s` with no other changes, so this command looks correct.  I'll run the chmod g+s on *

[2016-02-24 16:33] samreid commented on #10
There were two that I could not fix with this command:

[code]

They seem specific to @jbphet and like they do not need group permissions.  However, it would be nice to have a clean report when running

`ls -l | grep -v drwxrws | grep -v drwxr-s`

So I will reassign this issue to @jbphet to finish up.

[2016-03-05 09:38] jonathanolson opened #12 "Support for the maintenance release process"
Adding helpful scripts and documentation for the maintenance release process (testing with https://github.com/phetsims/chipper/issues/429).

[2016-03-05 09:40] jonathanolson opened #13 "[branch] maintenance-releases"
Ongoing work for https://github.com/phetsims/perennial/issues/12. I'd like to have it fully cleaned up and documented before it is moved to master.

[2016-03-05 09:49] jonathanolson opened #14 "Build server failure"
Was doing RC deployments for maintenance releases (fairly rapid-fire) and saw an email alert:

[code]

copied build-server log out, restarted build-server (via /etc/init.d/build-server start).

Notable lines:

[code]

Looks like a potential async-related bug where our taskCallback is getting called twice.

Additionally, the fact that I had to semi-manually restart build-server worries me. We may w

[2016-03-05 09:51] jonathanolson commented on #12
Due to build-server failures (https://github.com/phetsims/perennial/issues/14), I'll need to deploy a good amount of the RCs.

They've already had their versions auto-bumped, so checkout/grunt/grunt deploy-rc should be all that is needed.

[2016-03-08 01:22] jonathanolson commented on #12
Initial documentation (with steps) at https://github.com/phetsims/phet-info/blob/master/maintenance-release-process.md

[2016-03-08 01:53] ariel-phet commented on #12
Adding dev meeting tag (I would like to make sure we have all looked over the process doc)

[2016-03-08 01:59] jonathanolson commented on #13
Moved to master.

[2016-03-08 01:59] #13 closed

[2016-03-08 02:00] jonathanolson commented on #14
Didn't occur during multiple deployments today. Lowering priority.

[2016-03-08 03:24] pixelzoom commented on #12
I haven't had time to read through the documentation, will take me 15-30 minutes to review properly.

[2016-03-08 04:39] jonathanolson commented on #12
@ariel-phet, I'd be fine with only having one developer more thoroughly review the documentation and code.

I can briefly describe the general operation during the developer meeting it desired.

[2016-03-08 05:07] ariel-phet commented on #12
@jonathanolson OK, then please make the "briefly describe" part of developer meeting.

[2016-03-08 06:42] jonathanolson commented on #12
https://github.com/phetsims/phetcommon/network may also help explain, noting for tomorrow.

[2016-03-08 17:44] samreid commented on #12
We will discuss this with @ariel-phet on Thursday.  In particular, choosing a developer to review this documentation and related grunt tasks, and setting priority levels, etc.

[2016-03-08 20:59] jbphet commented on #14
I am going to contact OIT and find out if this process can automatically be restarted if it goes down.

[2016-03-09 16:10] jbphet commented on #14
I have contacted OIT about auto restarting, issue ID is INC0241596.

[2016-03-10 13:24] samreid opened #15 "Build server is up but crashed for unknown reasons."
During https://github.com/phetsims/fraction-matcher/issues/92

I did:

[code]

Then after a minute or two it printed out:

[code]

I'm unfamiliar with perennial and the build-server so I'm not sure what's wrong.

[2016-03-10 13:25] samreid commented on #15
Here's the description of a 503:

[2016-03-10 13:29] samreid commented on #15
I can see that build-server.js uses winston for logging, but I don't see where the logs are being created.

[2016-03-10 13:29] samreid commented on #15
@jessegreenberg @pixelzoom @jonathanolson @jbphet @phetsims/schmitzware @andrewadare heads up that the Build Server may be down.

[2016-03-10 13:31] samreid commented on #15
According to build-server.js, winston is just outputting to the console.  I wonder if this is piped to a file somewhere?

[code]

[2016-03-10 13:39] samreid commented on #15
Following the docs, I'll try:

[code]

It reported:

[code]

Now I can send commands to the build server again, though I am not sure why it failed in the first place.  Are there logs we can/should look at?

[2016-03-10 15:55] jonathanolson commented on #15
/data/share/phet/phet-repos/perennial/build-server.log or something like that

[2016-03-10 16:18] samreid commented on #15
Yes, that seems correct.

[2016-03-10 16:21] samreid commented on #15
I'm seeing a few errors in the log for this time frame (but no indication of when the build server restarted):

Mar 10 2016 06:19:42 MST - error: adding to user_localized_simulation_mapping, translator probably already exists for this sim and locale
Mar 10 2016 06:19:42 MST - error:  error: duplicate key value violates unique constraint "user_localized_simulation_mapping_pkey"

Mar 10 2016 06:22:5

[2016-03-10 19:51] pixelzoom commented on #12
@jonathanolson noted that all code is currently in perennial.

[2016-03-10 20:14] jessegreenberg commented on #15
SR: What is the state of build server, is it prone to crashing or should we investigate making it more reliable?

JO: There are ways we can make build server more reliable.  We can investigate possibilities in the future.

[2016-03-11 05:38] jonathanolson commented on #11
It looks like this caused a JDBC sync error on the website when I tried to create a copy of a translation. I recall someone else reporting something similar.

Increasing priority(!), as it's now eating into my time (checking whether things were corrupted, whether IDs were skipped, etc.)

[code]

[2016-03-11 05:48] jonathanolson commented on #11
I've confirmed what looks like other examples of errors (see https://github.com/phetsims/website/issues/402) due to this, where translations are missing translators.

[2016-03-11 16:23] jbphet commented on #11
Okay, I'll try to work on this today or next business day.

[2016-03-13 05:15] mattpen commented on #11
@jbphet  - The API method was deployed to figaro tonight and should be working.

[2016-03-14 18:36] jbphet commented on #11
The code has been added to the build server to make it interact with the translation credits DB table via a URL, and I worked with @mattpen and @jonathanolson to test it out on phet-dev and it appeared to work.  @mattpen has deployed the website-side functionality to figaro, and I just now (~12:30 pm MDT 3/14/2016) pulled the new build server code to figaro and restart the server.  I will leave th

[2016-03-15 18:47] jbphet commented on #11
At around 5:24 AM MDT this morning (March 15th), a translation was submitted for John Travoltage for the pt_BR (Brazilian Portuguese) locale, and the build server log shows that it used the URL to try to submit the translation credit information.  @mattpen - can you check and see if the credits information made it correctly into the DB?  If so, this issue can be closed.

[2016-03-15 19:10] mattpen commented on #11
http://phet.colorado.edu/en/for-translators/translation-credits#john-travoltage-header

@jbphet - Is the correct translator showing up on this page for this translation?

[2016-03-16 16:55] jbphet commented on #11
Yes, that looks correct.  I also verified another that happened overnight.  I'll take this to mean that the issue can be resolved.  Closing.

[2016-03-17 19:14] jbphet opened #16 "build server should remove old versions when publishing new ones"
We are running into some issues with the buildup of historical versions of the simulations and their translations, see https://github.com/phetsims/installer-builder/issues/10.  During the 3/17/2016 developer meeting it was decided that we don't need to keep these old versions around, since we will have them on spot or its replacement anyway.  There is an issue to remove them from the web server it

[2016-03-31 18:28] jbphet opened #17 "build server should copy built version to dev area for both RCs and production builds"
As of this writing, the build server copies the results of its build to the dev server (currently spot) when doing a release candidate (RC), but copies the _local_ version (i.e. from the developer's machine) to the dev server when doing a production release.  I'm not sure why it was done this way, but we discussed it in a recent dev meeting and decided that the version built by the build-server sh

[2016-04-01 22:10] jonathanolson commented on #14
Occurred again, just after this error:
[code]

Then failed with:
[code]

That might indicate where the extra callback is.

Also build-server didn't restart itself.

[2016-04-05 18:55] jbphet opened #18 "build server email messages in log are not useful"
As of this writing, the build server log contains many instances of the following (with different time stamps):
[code]

I believe that the intent was to print out the contents of the message in the log, but the code currently uses ```message.toString()``` to print what I believe is a JavaScript object.  This should probably be changed to something like ```JSON.stringify( message)```.

[2016-04-05 19:17] jbphet commented on #18
I've made the change described above, and will follow up the next time I get an email message from the build-server to see if it worked.

[2016-04-05 19:34] jbphet opened #19 "build server is sometimes copying translations to spot (dev server)"
On April 1 at 3:25 PM, a bulk rebuild of a bunch of sims was initiated.  During this process the build server copied translated files for some, but not all, of the simulations to spot (our development server).  I'm not at all sure why this would occur, and have dug into it a little bit and recorded my findings below.

For an example where the translated sims were copied over, see http://www.colora

[2016-04-05 19:42] jbphet commented on #19
The effort to fix this should be coordinated with #17 since it's the same area of the code.  In fact, this one (#19) should be fixed first so that we don't end up copying over all of the translations on a deploy.

[2016-04-05 20:01] pixelzoom commented on #19
@jbphet asked for feedback on:

That's the default. But building translations should be possible, via the `--locales` option. Otherwise we won't have the ability to RC test locale-specific changes or fixes.

Yes, translations must be rebuilt for production releases.

But I'm not sure whether translations should be copied to spot.  Of the drawbacks you enumerated in https://github.com/phetsims/pere

[2016-04-05 20:09] samreid commented on #19
We may need to RC test some translations in the future.

I don't feel strongly either way.  Having an exact dev mirror of figaro seems advantageous (it's a backup, it keeps things simple and clean to be a direct copy), but I agree it suffers the drawbacks you pointed out.

[2016-04-05 20:19] jbphet commented on #11
I just checked through the build server logs, and it looks like a significant proportion of the attempts to add translator credits are returning with a value of 400 instead of 201 (36 out of 96, or about 38%).  A return code of 400 apparently means "bad request", so I think we need to dig into this and figure out why there are this many apparent failures.  The build server log contains the URL and

[2016-04-05 20:31] jbphet commented on #19
Marking for discussion in dev meeting to finalize the desired behavior.

[2016-04-05 22:20] jonathanolson commented on #11
If it helps, one of the Tomcat log statements from one of those:
[code]

[2016-04-05 22:28] jonathanolson commented on #11
Looks like that's the response when a translator is repeatedly added.

The first time, it succeeds. Then every time after, they are already marked as a translator.

We could potentially move "success = true" outside the check for ```!simTranslations.contains( localizedSimulation)``` so that this is treated as a success?

[2016-04-07 20:23] jbphet commented on #11
Discussed in the 4/7/2016 developer meeting, decided that this isn't a high-priority issue since the data in the DB is fine.  This can be addressed after the phet-io and new server work is done.

[2016-04-08 16:57] jbphet commented on #19
This was discussed in the 4/7/2016 developer meeting, and we decided that the build tools should behave as follows:
+ ```grunt deploy-rc``` should, by default, build just the English sim version, but the locales flag can be used to specify other locales
+ ```grunt deploy-production``` should, by default, build all current translations, but the locales flag can be used specify some other set of loc

[2016-04-11 17:20] jbphet commented on #18
Just checked the build log and am now seeing entries like this:
[code]
This is an improvement, but it's a bit verbose, and there is already a lot of stuff to sort through in this log.  I'm going to take this one step further and have the email message log the ```to:```, ```subject:``` and ```text``` fields and leave off the rest.

[2016-04-14 18:33] jbphet commented on #14
Build server should now be set up to be automatically restarted if it goes down.

[2016-04-14 18:42] jbphet opened #20 "occasional SCP failures when transferring files to spot (dev server)"
We are occasionally seeing errors with the build server when it is transferring a lot of files from the server on which it's running (figaro as of this writing) to the dev server (spot as of this writing).  The errors in the build server log look like this:

@jonathanolson says that he thinks that this might be due to limitations imposed by CU's IT infrastructure that limit the number of sequentia

[2016-04-26 19:58] jbphet commented on #18
I've gotten it to where it includes the 'to', 'subject', and 'text' fields.  Here is an example:
[code]

It has some odd looking UTF formatting stuff in the subject, but I poked around a bit on line and this isn't unusual, and I'm not going to worry about it for now.

[2016-04-26 19:58] #18 closed

[2016-05-17 17:53] jbphet opened #21 "add URL request to build-server log"
The request received by the build server is not currently shown in the log.  This makes it tricky when trying to debug issues, because different versions of chipper can end up sending somewhat different requests.  The full URL itself should appear in the log.

[2016-05-18 17:31] jbphet commented on #21
This has been added, and I checked the log this morn and saw several instances of the URL, so it appears to be working.  It is currently printed out exactly as received, which means it has a lot of escaped characters in it (e.g. %22 instead of a double quote), so it may need to be run through decodeURIComponent if someone needs a more human-readable version of it.  Closing.

[2016-05-18 17:31] #21 closed

[2016-06-09 04:42] ariel-phet commented on #12
Are we in good shape here?

[2016-06-09 06:56] jonathanolson commented on #12
I've walked through the process with @jbphet, but I don't believe it's been code reviewed. I'll plan to use this for https://github.com/phetsims/chipper/issues/50.

[2016-06-09 13:41] samreid commented on #12
@andrewadare and I took this for a test drive yesterday.  We added step 0 to the instructions and ran into one problem where lint was failing on one of the steps (not the final step) that we couldn't figure out.  We'll be running the process again today or within the next few days, so we'll report back if it happens again.

[2016-06-09 16:14] jonathanolson commented on #12
Presumably we'll need to coordinate then, so we don't both try to run maintenance releases for the same sims at the same time!

[2016-06-10 20:27] jbphet opened #22 "maintenance release doesn't fully run on Windows"
There is an issue where npm install doesn't work on Windows due to some oddness about invoking it from scripts.  As of this writing, the problematic code looks like this:

[code]

@jonathanolson put a workaround for a similar issue into test-server.js in chipper, and it looked like this:

[code]

This is, however, not a portable solution.  We need to figure out something that will work on Windows

[2016-06-10 20:28] jbphet commented on #22
@jonathanolson found this and thinks it might be related: https://github.com/nodejs/node/issues/3675.

[2016-06-15 18:59] jbphet commented on #20
There is a comment in ```build-server.js``` that explains why each file is separately copied instead of using ```scp -r``` to copy the entire directory.  The comment and beginning of the associated function looks like this:

[code]

[2016-06-15 19:21] jbphet commented on #20
I added code to skip the transfer of translations to spot.  This code is a bit of a hack, and we may not want to keep it long term.  We should discuss in the next dev meeting.

[2016-06-16 13:45] samreid commented on #20
It sounds like we just need to fix the destination path.

[2016-06-16 13:50] samreid commented on #20
Or some way to do:

[code]

[2016-06-16 18:10] samreid commented on #20
@andrewadare recalled something about leaving or adding the trailing slash for the directory may affect whether the directory itself is transmitted.

[2016-06-20 14:56] samreid commented on #20
On Thursday, @andrewadare and @samreid recommended that @jbphet investigate further into the root cause of this problem, and @jbphet agreed to do so.

[2016-08-22 16:30] mattpen opened #23 "Translations missing after maintenance release on 6/22/16"
Phethelp received an email this morning requesting to readd the ar translations for concentration and molecules-and-light to the website.  Inspecting the archived built sim files, it was discovered that the built translations for these two sims are missing from the versions after June 22.  The last version with all of the translations is 1.2.5 for concentration 1.1.5 for molecules-and-light.

[2016-08-22 16:47] jbphet commented on #23
By looking at the files on Figaro, I can see that for both molecules-and-light and concentration the XML file that contains the list of translations got "reset", meaning that it contained only the English translation, after the publication on Jun 22nd.

[2016-08-22 16:49] jbphet commented on #23
For the record, the maintenance release that ended up blowing away the existing translation were to add the functionality needed for the BrainPop demo, see https://github.com/phetsims/phet-io/issues/476.

[2016-08-22 16:55] jbphet commented on #23
One way to resolve this quickly would be to merge the pre-Jun-22 XML file with the latest XML file (since some new translations have come in since Jun 22) and republish from the current branch.  That wouldn't tell us **why** this happened, but it would fix the immediate issue.  I think I'll move forward with this plan, then go back and look through the logs to see if there is something that needs

[2016-08-22 17:33] jbphet commented on #23
By the way, are we sure that these two sims are the only ones that were affected?  I just asked Steele to do some checking and make sure that the other HTML5 sims appear to be okay.

[2016-08-22 17:43] phet-steele commented on #23
I tried one translation from every other simulation and they loaded and ran successfully. The locale tested was more or less random for each.

[2016-08-22 18:50] jbphet commented on #23
This is now fixed for both Concentration and Molecules and Light.

[2016-08-22 18:52] mattpen commented on #23
I ran a quick script to test response status codes for all the localized sims in the database.  I only got 404 responses for C and MAL, so I don't think this affecting any other sims.

[2016-08-22 19:04] jbphet commented on #23
Here is my best educated guess at a root cause: Something went wrong with the bulk deployment process (this happens fairly frequently), and I did the production deployment manually for these sims, and I left off the ```--locales=*``` flag.  This absence of this flag is only a problem if the version of chipper used by the sim is older than Nov 15 2015, and I've verified that this was the case on th

[2016-08-22 19:06] mattpen commented on #23
I just ran my script again and it returned no 404's for localized sims.

[2016-08-22 19:09] jbphet commented on #23
Then I think our work here is done.  Closing.

[2016-08-22 19:13] pixelzoom commented on #23
There is something else that can be done -- test a few translations after deploying.  Given the state of PhET build tools, I do this as a habit.

[2016-08-22 20:36] samreid commented on #23
That is a good suggestion, here is my recommended addition to the bulk-maintenance-release-process.md:

[code]

@jbphet can you review my recommended addition to the bulk-maintenance-release-process.md and add it if it seems good?

[2016-08-22 22:06] jbphet commented on #23
Added the suggested text to the bulk-maintenance-release-process.md document with some minor edits.  Closing.

[2016-08-22 22:06] #23 closed

[2016-09-21 20:32] samreid opened #24 "Paths shouldn't be required to end in slash"
the paths are concatenated like DIR+SUBDIR but this requires slashes in DIR, which is in the build-config.json file.  It seems risky to require slashes there since they cannot be properly commented in json.  Let's get rid of the slashes and add them in code.  After all, // is much better than no slash at all.

[2016-09-22 01:49] mattpen commented on #20
This needs to be fixed to proceed with https://github.com/phetsims/chipper/issues/481#issuecomment-248740673.  I'm assigning to myself.

[2016-09-22 02:11] mattpen commented on #20
If our cwd is `build/` and we run `scp -r * /path/to/simname/version` it should copy everything in a single command and not create a new build directory on spot.  I'm not sure if it will solve the problem of sequential ssh sessions or not.  Perhaps we can use rsync if this does not work?

[2016-09-22 02:13] samreid commented on #20
I'm hopeful that changing from many scp commands to one will help with this issue.

[2016-09-22 03:24] mattpen commented on #20
I created branch `phet-io-changes` for this issue.

[2016-09-23 18:32] jonathanolson opened #25 "Add npm prune for automated maintenance release process"
See https://github.com/phetsims/chipper/issues/445 for details on why this is needed.

Will want "npm prune" before every "npm install".

[2016-09-28 16:14] mattpen opened #26 "Finish adapting build-server for phet-io"
- [x] .htaccess should be copied to /SIM/VERSION/protected, it is currently copied to /SIM/VERSION/
- [x] rc deploys are not completing the task and are causing subsequent builds to queue indefinitely
- [x] Initial production deploys are consistently failing due to repos failing to pull master.  Subsequent deploys complete successfully.

Changes are tracked in the `phet-io-changes` branch.

[2016-09-29 03:31] mattpen commented on #25
"npm install" was still failing when switching from an older version of chipper to a newer during deploys.  This problem appeared to be remedied by using update instead of install.

[2016-09-29 04:31] mattpen commented on #26
This appears to happen if the build-server is started and there are repos who are not checked out to master.  For example if the build-server hangs or crashes before calling afterDeploy.  I'm going to add a `grunt checkout-master` call to the initialization of the app.

[2016-09-30 20:08] mattpen commented on #20
[10:36:15 AM] Jesse Greenberg: I just did a deploy-rc for forces-and-motion-basics and it looks like all translated versions were moved to spot, is this the expected behavior?
[10:36:55 AM] Jesse Greenberg: http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.2/

The new command mentioned here: https://github.com/phetsims/perennial/issues/20#issuecomment-248793490 seems

[2016-10-01 02:10] mattpen commented on #20
@jbphet - I removed the translations from being copied in the previous commit.  Please let me know if I should add them back in.

[2016-10-01 02:11] mattpen commented on #26
@jbphet - These changes should be stable and have been tested on phet-server.  Would you like to review the changes before I merge them in with the master branch?

[2016-10-04 16:34] jbphet commented on #20
I think it is best to omit the translations on spot.  They take up a lot of room, and at least in my personal experience I've never had the need to access a translated version of a sim from the dev server.

I inspected the code change, and have a couple of notes:
+ With the changes in the ```spotScp``` function, the header comment is now incorrect.  This should be updated, assuming that the issue

[2016-10-04 17:47] mattpen commented on #20
The suggested changes have been applied and I restarted the build-server.  I'll check the next time someone does an RC deploy to make sure that it was successful.

[2016-10-04 17:48] mattpen commented on #20
Several RC deploys of phet-io brands have been deployed successfully after the change, RC deploys for phet brand are remaining to be tested

[2016-10-04 17:49] jbphet commented on #26
@mattpen said:

I'm looking at the changes, and it doesn't look like that was what was done.  It looks like instead a checkout of master was added to the method ```pullMaster```.  This makes sense, and seems like a good way to fix the problem that was observed, but thought I should note it.  It looks like other code cleanup was also done.

Other changes have been done to ```build-server.js``` sinc

[2016-10-04 18:03] mattpen commented on #26
@jbphet

Sam and I worked on this together and decided this would be better as it was somewhat ambiguous which `dependencies.json` would be used if we did `grunt checkout-master`.  We tested it out and it appears to be working nicely.

I'll review the results of the next RC deploy for the changes in phetsims/perennial#20 and reassign for final review/merging if everything looks good.

[2016-10-06 07:52] jonathanolson commented on #25
@mattpen or @samreid, should I still prune before 'npm update', or is 'npm update' sufficient? This will need to switch between new and old versions of chipper (before/after grunt update).

[2016-10-06 15:46] mattpen commented on #25
@jonathanolson - We found that for the build-server, both 'npm prune' and 'npm install' were needed to successfully run grunt with the appropriate version.  In a context that is not switching between two versions of grunt, this may not be necessary.

[2016-10-22 03:41] mattpen commented on #20
An RC deploy was tested today for faradays law as part of phetsims/chipper#507.  This is complete.

[2016-10-22 03:41] #20 closed

[2016-10-22 03:44] mattpen commented on #26
phetsims/perennial#20 is complete.  Changes have been merged with master and deployed to phet-server.  Closing

[2016-10-22 03:44] #26 closed

[2016-11-28 20:27] zepumph opened #27 "Lint perennial"
I noticed a few places where there were lint errors, I don't think they should be there.

[2016-11-28 20:32] zepumph commented on #27
@mattpen would you just quickly make sure that you think all is well. There was one that I did not do. build-server.js:159 erroring 'return outside of function' it seems like that could probably be replaced with process.exit() if we just wanted to quit, but I don't know enough to make that call for sure. (if that is the case line 175 and so on could probably be replaced as well.

[2016-11-29 04:10] mattpen commented on #27
I'm not sure how to handle these errors:

[code]

fs.extra and pg-query are not allowable var names in javascript, so there is no way to satisfy these rules.  Should we add exceptions to the lint rules?

[2016-11-29 15:54] zepumph commented on #27
Perhaps it is worth investigating updating the rule itself, but I've been adding this comment line to the end of each line:
`// eslint-disable-line require-statement-match` and it won't throw the error. I do that about 20 times in the installer builder because you have to require './module.js' as var module. If we change the rule we should make that exception too.

[2016-11-29 15:56] zepumph commented on #27
Also im always curious about how to deal with code like the build server.js,   should we add use strict to every function or just put the whole file in an iffy?

[2016-11-30 16:12] mattpen commented on #27
I'm not quite sure what the ramifications of putting the code in an iffy are.  @jbphet - do you have any opinions on this?

[2016-11-30 23:39] jbphet commented on #27
I just did some poking around on the scope of `use strict`, and found a Stack Overflow article that said this about it:

From this, it sounds like having it at the top of the file should apply to all functions within that file.  @zepumph  - are you sure that it would even be necessary to enclose the code in an IIFE?

[2016-11-30 23:40] zepumph commented on #27
Nice. I thought that use strict had to be in a function. Go for it!

[2016-11-30 23:43] zepumph commented on #27
Actually I take it back. When you do this:

[code]

eslint gives an error saying: use the function form of 'use strict'

So unless you want to put that in every single function, I would surround it in an IIFE. Tell me if what i'm saying is different for you.

[2016-12-01 00:42] mattpen commented on #27
This was actually already there, I recently removed it in https://github.com/phetsims/perennial/commit/5278089d72fe057597c5858b1d84e397b5b72dd5 due to the lint failure.  Maybe the lint rule should be modified?

[2016-12-02 00:24] jbphet commented on #27
There is a directive that overrides the `env` value for eslint that can be placed at the top of a Node JS file and makes it unnecessary to wrap the contents of the file in an IIFE.  The directive is 'eslint-env node', and if I place the following lines towards the top of build-server.js, eslint behaves as desired:
[code]
I had to update the version of eslint being used by my IDE, but once I did th

[2016-12-02 00:57] samreid commented on #27
To be clear,

[code]

However, we won't accidentally forget to put `var` because it is flagged as a lint error in both standard lint and env: node.

It seems we should be using "env: node" since that is what it is intended for, but I'm curious what other linting rules are affected.

[2016-12-02 02:19] pixelzoom commented on #27
Sorry - I don't have an input on IIFE vs non-IIFE, and have no experience with node scoping rules.

[2016-12-02 16:48] jonathanolson commented on #27
Top StackOverflow (http://stackoverflow.com/questions/32463512/is-there-any-reason-to-define-module-exports-using-an-iife) says it doesn't matter. No preference.

[2016-12-06 23:37] jbphet opened #28 "latest directory not being correctly identified"
There is a method in `build-server.js` called `getLocales` that is supposed to find the most recent directory, then find the file within that directory that contains the set of translated locales.  The code that attempts to identify the most recent directory is inadequate.  It looks like this:

[code]

This suffers from several issues, not the least of which is that it will identify 1.1.9 as being

[2016-12-08 20:24] samreid commented on #27
@zepumph got volunteered to try to add `/* eslint-env node */` in all of our node files, and try linting and see how much trouble it would be to get their lint working.

[2016-12-08 20:25] pixelzoom commented on #27
12/8/16 dev meeting:  Use `/* eslint-env node */` directive for node code. @zepumph will evaluate the effort required to remove IIFEs from existing node-specific code.  We'll revisit at next dev meeting.

[2016-12-08 21:11] zepumph commented on #27
I'm going to close this an open a new issue to add that to all node files.

[2016-12-08 21:11] #27 closed

[2016-12-14 20:30] jbphet opened #29 "dependencies not being copied to spot"
@samreid noticed that the `dependencies.json` file is not being copied to spot for RC deployments, possibly production deployments too.  I took a look through the code and the history, and I think that this commit may be implicated:

https://github.com/phetsims/perennial/commit/da982bde0f902abd7ef3ab2921f57e5425ccb4c3

It was an attempt at a solution to #20.

This change was probably not quite rig

[2016-12-14 22:16] jbphet commented on #29
@mattpen - it it is confirmed that this is the problem, can you update https://github.com/phetsims/states-of-matter/issues/196 - basically just close it and note that the work on this will be tracked here.

[2016-12-16 06:13] mattpen commented on #29
@jbphet - It looks like before the scp command was excluding any .html file that was not english, but included other files.  I erroneously translated this into only selecting the english html, which started excluding all non-html files.  I'll take a look tomorrow into how to fix it.

[2016-12-29 23:25] samreid opened #30 "Issues in /data/share/phet/phet-repos"
As seen in https://github.com/phetsims/phet-io/issues/726#issuecomment-269708276 @jonathanolson and I identified a few inconsistencies on the build server.  First, we saw files created by @zepumph that looked like they had incorrect permissions.  Second, it looked like files on /data/share/phet/phet-repos were being used for something other than builds--we wanted to make sure everyone is aware tha

[2016-12-31 02:49] jonathanolson commented on #30
I have ```umask 0002``` in my .bashrc and it seems to work well to set default permissions.

[2017-01-03 16:52] zepumph commented on #30
They are indeed. I had no idea that they were perennial specific. `/data/share/phet/phet-repos/phet-io-website` is used to deploy the phet-io website, and `phet-io-website/bin` is where the scripts for managing the phet-io-website's security is. Although those can be used from anywhere and are documented to be run locally, it is possible that people are using it from this dir.

Could you please be

[2017-01-03 17:01] zepumph commented on #30
I just updated my bashrc with umask 0002. Hopefully that will help.

[2017-01-04 20:30] samreid commented on #30
@jonathanolson can you please help ensure @zepumph is all set?

[2017-01-04 20:37] jonathanolson commented on #30
@zepumph, can you touch a file (e.g. ```touch ~/testfile```) and check its permissions (```ls -la ~/testfile```) and ensure that it has the group-write flag set (paste it here?)

[2017-01-04 20:42] zepumph commented on #30
[code]

[2017-01-04 20:45] zepumph commented on #30
Looks good to me. To proceed with the rest of the issue. Are there any issues that need permission changes currently?

 I think we should decide where phet-io-website should live so that it can deploy the website and to have access to /bin. Let's carry that on in https://github.com/phetsims/phet-io/issues/726

[2017-01-04 21:06] zepumph commented on #30
I just looked through phet-repos and it looks like there aren't any files that I own.

[2017-01-04 23:38] jonathanolson commented on #30
I did do a recursive `chown` to help @samreid, so that explains the current ownership.

Permissions look good, reassigning.

[2017-01-11 19:15] jonathanolson opened #31 "Automated maintenance releases should use npm prune"
See https://github.com/phetsims/phet-info/issues/39#issuecomment-271775803

[2017-01-19 04:48] mattpen commented on #29
@jbphet - It looks like this should be fixed now.  I uploaded the changes to phet-server, did a redeploy of chains, and verified that dependencies.json was copied along with it.

The root cause was that the original change I made only copied the English sim.  The command now copies the english sim and any other files that do not end with `.html`.

Sending back to you to review the commit and close

[2017-01-27 17:48] jbphet commented on #29
I just reviewed that code and have a few comments.  Also, we discussed this a bit during yesterday's developer meeting, so there may be a bit more work to be done as a result of what we concluded then.

Comments:
+ It would be good for the comments to explain why we transfer all files for phet-io brand and not for phet brand.  I believe this is because phet-io specifically does *not* produce any t

[2017-01-30 18:35] jessegreenberg commented on #29
After a recent RC deploy of gravity-force-lab 2.1.0-rc.1 I received this build-server error:

[code]

It looks like the error might be related to this issue since the problem is related to the scp step.  The build directory was copied correctly to spot even though I received this error (though dependencies.json was not copied over).

[2017-01-30 20:30] mattpen commented on #29
I'm not sure why this would have failed, as `find . -type f ! ( -iname '*.html' )` runs without error on phet-server, even running it as phet-admin.

[2017-02-02 21:10] jonathanolson commented on #31
Whoops, did this in https://github.com/phetsims/perennial/commit/4d60c1abbbaeb48e6ad8bf8df8821b30b6099046, forgot there was an issue.

[2017-02-02 21:10] #31 closed

[2017-02-02 21:10] jonathanolson commented on #25
Did this in https://github.com/phetsims/perennial/commit/4d60c1abbbaeb48e6ad8bf8df8821b30b6099046.

[2017-02-02 21:10] #25 closed

[2017-02-03 22:59] pixelzoom opened #32 "why so many devDependencies?"
According to its README.md, perennial is "Maintenance tools that won't change with different versions of chipper checked out".  It consists of 5 .js files.

(1) Why does it have 17 devDependencies in package.json?

(2) Does it really need to use lodash? (See https://github.com/phetsims/sherpa/issues/58#issuecomment-277384022.)

[2017-02-03 23:56] jonathanolson commented on #32
Build-server uses most of those, although there are some possibly unused entries:

- passwd-user
- pg (pg-query is used, does it automatically use pg?)
- express-dot (possibly loaded dynamically, probably for templates)

I don't see what the problem is. If depending on Lodash is problematic, removing its usage from sims is more difficult is.

If overall having lots of dependencies is a problem, I'

[2017-02-04 00:16] pixelzoom commented on #32
@jonathanolson said:

I'm not suggesting removing it from sims.  I'm just wondering if it's worth keeping an old version of lodash around for the small number of usages (8, some dubious) in perennial.

Space is not the point. The point is that perennial is code that is not supposed to change. And that means that it's dependencies must also be pinned.

[2017-02-04 00:20] jonathanolson commented on #32
We can bump the version and inspect the usages manually (I saw one _.contains that will need to change in my maintenance release code). I bumped to lodash@^4.0.0 in Yotta the other day.

I'd like to clarify that it is fine for it to change, but it should always be run from master (checkout-shas should never roll it back to an old version, that's why we have checkout-sha like stuff there).

[2017-02-09 17:20] samreid commented on #32
I think the main points to focus on for this issue are: (1) removing unused dependencies and (2) making sure the dependencies don't accidentally change version.

[2017-02-09 19:20] jbphet commented on #32
I'll take a look and determine which dependencies are unused and will remove them from the file.  Also, @mattpen says that the pg packages shouldn't be used, so if they are a separate issue should be logged.

[2017-02-10 16:41] jbphet commented on #29
Saw two more emails this morn that seem to indicate an issue with copying files to spot.  Below is the content of one of them:

[code]

[2017-02-10 17:05] samreid commented on #29
Correct, the dependencies.json is not where it should be:

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.1.4-rc.2/

[2017-02-10 17:06] samreid commented on #29
Bumping to high priority, the dependencies.jsons are essential.  @mattpen is this something you can look into further?

[2017-02-14 18:42] jessegreenberg commented on #29
I think I hit this again with an RC deploy, here is the error message and dependencies.json:

[code]

[2017-02-14 19:03] mattpen commented on #29
I think I'm missing some double escapes in the strings, although I'm not sure why.

i.e.:

[code]

[code]

[2017-02-15 20:09] jbphet opened #33 "remove unused code and dependency"
The file `build-server.js` has a require statement for pg-query, and the it appears to configure a query but never use it.  The actual code looks like this:

[code]

I've looked through the history of the code and the query code was originally added on 10/27/2015 (commit 5ac71c3601835d6b0a8163cbbc80d2b669a2fb07) in order to put translation credits into the database.  However, the current version o

[2017-02-15 20:11] jbphet commented on #32
Looking through the code, it appears that the following packages in the dependencies file are unused in the code:

+ `express-dot
+ `pg`
+ `passwd-user`

Also, the package `pg-query` appears to be used in the code, but only to set up an SQL query that is actually never used.  I've logged a separate issue for this, see #33, but I believe that this dependency will ultimately be removed too.

[2017-02-15 20:34] jbphet commented on #32
I committed changes to remove the three packages listed above, then in a separate commit removed the code that used `pg-query` and then removed that dependency as well.  I then tested on ox-dev by pulling, doing npm prune, npm update, and a restart of the build server and made sure it started okay.  I think did a test build by submitting a changed translation for the 'chains' sim.  Everything seem

[2017-02-15 20:36] jbphet commented on #33
I've addressed this issue and have tested on ox-dev, see https://github.com/phetsims/perennial/issues/32#issuecomment-280130531 for details.  Assigning to @mattpen to inspect changes and do any further testing he things is necessary.  Once he approves, we should make the changes live on phet-server and close this.

[2017-02-15 20:50] mattpen commented on #33
@jbphet - I reviewed https://github.com/phetsims/perennial/commit/14730564e405afd183182f2530bfb9c43a98ad46 and it looks good to me.  I also reviewed the logs from the test on phet-server-dev and everything looks like it is working as expected.  I believe this is ready for deployment on phet-server.

[2017-02-16 05:38] mattpen commented on #32
@jbphet - The changes look good to me, I think its ready for deploy to phet-server.

[2017-02-16 16:43] jbphet commented on #32
I'll give everyone a heads up in the developer meeting and then will pull this and restart the server.

[2017-02-16 18:53] jbphet commented on #33
I've pulled these changes on to phet-server and restarted the build server, and ran a successful test build.  All looks good at this point.  Closing, will reopen if any problems are found as a result of these changes.

[2017-02-16 18:53] #33 closed

[2017-02-22 17:35] samreid commented on #32
@jbphet gave everyone a heads up last developer meeting.  Re-label for developer meeting if there is anything else to discuss.

[2017-02-22 17:53] pixelzoom commented on #32
@jbphet Is there anything left to discuss here? Or can this be closed?

[2017-02-23 16:18] jbphet commented on #32
I pulled the changes onto the server, restarted so that they would take effect, and did a test build.  Everything looked good.  I haven't heard of any problems with building, so I think this can be safely closed.

[2017-02-23 16:18] #32 closed

[2017-03-09 17:51] mattpen commented on #29
No one has noticed missing dependencies since this was deployed.  Closing.

[2017-03-09 17:51] #29 closed

[2017-03-10 17:41] zepumph opened #34 "Rename '/data/share/phet/phet-repos'?"
I have found that this folder name is misleading. It is named as though anything on the server could access the repo needed to access its content. Recently I was told that in fact this is not the case, because the build-server uses these repos to checkout shas and make production builds.  Maybe it would be more clear to rename this to 'phet-repos-for-build-server' or 'phet-repos-no-touching' or so

[2017-03-16 04:28] mattpen commented on #34
It seems to me like `perennial-repos` may be more accurate and we should repurpose `phet-repos` for general use.

However, I don't think the three repos you mentioned should be affected by perennial because sims should  not be dependent on them and vice versa.  We are currently running rosetta in the phet-repos directory and it hasn't caused any problems.

Is there a use case other than perennial

[2017-03-16 06:48] jonathanolson commented on #34
A similar example on bayes.colorado.edu: I have `/data/share/phet/continuous-testing` with checked-out repos for continuous testing, and `/data/share/phet/yotta-statistics` similarly for yotta.

Following that pattern, would `/data/share/phet/build-server` be sufficient?

Additionally, this may be an issue for phettest.colorado.edu (`/home/mendeleev/git`), although I've been the only one maintaini

[2017-03-16 15:13] zepumph commented on #34
phet-io sims have a dependency on phet-io-website for the devguide documentation.

[2017-03-16 16:27] samreid commented on #34
`/data/share/phet/build-server` sounds fine to me

[2017-03-16 17:07] samreid commented on #34
@zepumph says: `data/share/phet/perennial-repos/`

[2017-03-16 17:13] zepumph commented on #34
Consensus was to discuss further with @mattpen and @jbphet about naming. @samreid and I think that it makes sense to have every use case have its own directory from `/data/share/phet`. So the phet-io-website and all repos needed for that use case (even though it is just the one repo) will live in `/data/share/phet/phet-io-website/` and the same for the installer-builder, and then also for perennia

[2017-03-17 23:22] jbphet commented on #34
I've looked into this a bit, and realized what was nagging at me about this.  Rosetta (the translation utility) also runs from these repos, and though it interacts with the string files directly through github, there is a file that is shared between Rosetta and the build-server called `simInfoArray`, and there is code in both code bases that uses a relative path to get to that file.  This is perha

[2017-03-20 15:20] samreid commented on #34
I'd prefer not to have to change the name twice.  Perhaps we can call it "perennial-repos" for now, and document that rosetta currently uses perennial repos?  Hopefully it is not too much work to get rosetta using its own copy of `simInfoArray`?

[2017-03-20 17:20] jbphet commented on #34
Renaming it twice wouldn't bother me, but if it's troubling to others, I'd be okay with renaming it to 'perennial-repos' and having Rosetta continue to run out of there until I or someone else takes the time to pull it into a separate directory.  I've logged an issue for Rosetta that describes roughly what would need to be done, see https://github.com/phetsims/rosetta/issues/148.

[2017-03-20 17:30] samreid commented on #34
I'd be ok with it being renamed twice, may be best if it will be a while for the rosetta issue to be fixed.

[2017-03-21 15:18] zepumph commented on #34
Is it as easy as a 'mv' command? I like 'perennial-and-rosetta-repos' for now, I don't think it matters too much,  and I don't mind renaming it twice. I just worry a bit about flat out naming it without 'usage' search. Perhaps aliases will change if they point in that folder. Otherwise can anyone think of any dangers of just renaming as is?

[2017-03-21 15:24] samreid commented on #34
Presumably the build server and rosetta services would have to be updated to point to the new location and restarted.

[2017-03-21 15:37] zepumph commented on #34
Yeah I would assume so, but I'm not the guy to ask. I searched our repos for 'phet-repos' and this is all that came up. Readme files (some of which shouldn't be pointing there anyways. I'll fix this). I think that it's important to get @mattpen and @jbphet in on this conversation.

![image](https://cloud.githubusercontent.com/assets/6856943/24155568/d6faf51e-0e19-11e7-9948-4b82ca661aa0.png)

[2017-03-21 15:50] mattpen commented on #34
We would also need to update the RHEL service files for rosetta and phet-server, at the same time that we actually rename the repos.

[2017-03-21 16:16] zepumph commented on #34
Perhaps just renaming it once is smarter.

[2017-03-22 23:40] jbphet commented on #14
The build server has now been migrated to our new server machine (phet-server.colorado.edu), and we are using systemctl to handle task management.  It's been stable there for a while, so I think it's safe to close this.

[2017-03-23 02:03] mattpen commented on #34
Do rosetta and phet-server need to be able to access the same instance of simInfoArray.json in real time?  Or can they just work from the latest version of it in github (meaning separate directories would be fine)?  It looks like it only changes whenever a production sim is published.

[2017-03-23 15:39] jbphet commented on #34
Let's just rename it once, and I'll make it a priority to pull rosetta into a separate directory area.  I'll add the code to pull simInfoArray before each new publication attempt, and we should be golden.

[2017-04-06 16:20] zepumph commented on #34
Assigning to @jbphet to let us know when rosetta is out of this dir.

[2017-04-07 17:15] mattpen commented on #34
Removing assignment, please let me know if I can be of assistance.

[2017-04-10 17:43] jbphet commented on #28
This just bit us (I think) when @jonathanolson tried to do a redeploy of Molecules and Light, so I'm going to make this a top priority and get it fixed.

[2017-04-10 20:13] jbphet commented on #28
This should now be fixed.  The deployment Molecules and Light of version 1.1.13 went awry in that it didn't produce any translations.  This was traced to the presence of a file of unknown origin in the sim's directory (the file was named `t2.txt`, and there was another one named `t1.txt`).  The algorithm to identify the latest deployment directory was intolerant to these files, and also used lexic

[2017-04-10 20:16] jbphet commented on #28
I was just reflecting on this a bit, and I think I should have someone familiar with the phet-io deployment process review this change and make sure that it isn't going to mess anything up.  And, for that matter, just look over what I've done.  Reopening and assigning to @zepumph for this, he can reassign if appropriate, and can close if the code looks reasonable and doesn't negatively impact phet

[2017-04-10 21:06] zepumph commented on #28
I think that things will be good for now, because you are looking at versions that don't have "-rc" "-phetio" or 'dash something' after the version numbers. But if you want to extend this algorithm for those uses too ( like phetio), I think these lines would need to change a bit.
[code]
changing the line to:
[code]

What do you think? It seems like it would still be backwards compatible to 'pure'

[2017-04-12 19:53] jbphet commented on #28
Generalizing this eventually seems like a good idea, but there are enough questions about how this would be done and how it would be used that I don't think it's a high priority at the moment.  For instance, there is a proposal under consideration to modify the version numbering that would impact this (see https://github.com/phetsims/chipper/issues/560).

The main thing that I'd like to be sure of

[2017-04-12 20:57] zepumph commented on #28
I'm sorry if I wasn't being clear before. Yes I think there would be a problem. Here is a list of version numbers on phet-server for phetio sims:

[code]

When you split on dots, you try to parse as int before splitting on the dash that holds the qualifier. I think that this is an important step because you are disregarding directories that have the phetio suffix. I would make the same suggestion

[2017-04-17 17:16] samreid opened #35 "Should package.json contain "grunt-eslint"?"
In https://github.com/phetsims/chipper/issues/565 we stopped using "grunt-eslint" and removed it from all package.json (including perennial's).  However, I'm unsure how perennial works and whether that grunt-eslint entry may be necessary for building maintenance versions.  I suspect not, because the sim will have the grunt-eslint entry but I'm just not 100% sure.  Assigned to some people that I sa

[2017-04-18 16:00] zepumph commented on #35
I'm not really sure about perennial. Sorry I will have to defer to more capable opinions here.

[2017-04-18 17:14] jonathanolson commented on #35
Presumably it shouldn't need the old eslint version, and can be removed.

[2017-04-18 17:47] jbphet commented on #35
I also think it would be safe to remove it.  We can plan to do it, pull on phet-server, then do a test build of a sim (e.g. chains) as a test if you like.

[2017-04-18 19:16] samreid commented on #35
Sounds good @jbphet, I have already removed it.  Can you take the next steps, or should someone else?

[2017-04-19 19:01] jbphet commented on #35
I'll test.

[2017-04-19 19:48] jbphet commented on #35
I'd forgotten about this, but the build server pulls perennial each time a build request occurs, so this change was automatically propagated to the server on the first build after the change was committed.  From checking the file update time on phet-server, the modified `package.json` file has been in use since 11:06 AM on April 17th, which is roughly half an hour after the commit was made (see ht

[2017-04-19 19:48] #35 closed

[2017-04-19 19:50] samreid commented on #35
It sounds like things are working ok, but it sounds like we need to be careful what we commit to perennial.

[2017-04-19 20:25] jonathanolson opened #36 "How to identify branches that need manual maintenance release patches"
When a fix needs to be pushed out (e.g. recently https://github.com/phetsims/phet-android-app/issues/16, https://github.com/phetsims/phetcommon/issues/37, https://github.com/phetsims/vibe/issues/30, https://github.com/phetsims/special-ops/issues/68), I've patched master and every release branch for every live simulation.

This currently misses simulations that have a different branch (or are not o

[2017-04-20 15:52] samreid commented on #36
RCs should be deployed from a release branch, so how are they being missed?

[2017-04-20 15:56] jonathanolson commented on #36
e.g. graphing-slope-intercept, as it has never been deployed to production, so the website/DB doesn't have any information about branches.

Or also say balloons-and-static-electricity, where it successfully patches 1.1 (the live version), but 1.2 was branched before the patches were applied and is in RC testing.

[2017-04-20 16:34] samreid commented on #36
Can you query the git repo for branches and use our naming conventions in order to see which branches need work?

[2017-04-20 17:42] jonathanolson commented on #36
Sounds like you're proposing trying to patch any repo that acts like a sim that has a release-like branch (and patching all branches for existing sims that are greater or equal to the production version?)

This could probably be done, but would need to either be a "what did the automated process miss, and fix it manually", or heavily modify the automated process (it assumes it only has to patch on

[2017-04-20 18:54] pixelzoom commented on #36
4/20/17 dev meeting:

• @jonathanolson will send an email to phet-dev when a patch is eminent.
• Developers will decide whether they have anything in QA that needs patching.
• @phet-steele will be added to phet-dev mailing list.

[2017-04-20 18:54] #36 closed

[2017-04-21 21:08] jbphet opened #37 "investigate using synchronous system calls"
build-server.js current has what is often referred to as a 'pyramid of doom' (see https://en.wikipedia.org/wiki/Pyramid_of_doom_(programming) caused by a long sequence of asynchronous system calls.  Here is a screenshot of the code:

![pyramid](https://cloud.githubusercontent.com/assets/3082831/25296096/cfa50e06-26a3-11e7-99c9-4a17a5686cb1.PNG)

This is hard to read and maintain, so I started inve

[2017-06-06 16:11] jbphet opened #38 "builds should not overwrite /latest/ redirect rules if version number is <= currently deployed version"
We just ran into an issue where version 1.0.8 of Function Builder was essentially overwritten by a deployment of 1.0.7.  Our best guess as to the cause of this is that the link for the build request got pasted into Skype and something crawled the chat and hit the link.  The build server code should probably be modified to prevent deployment over top of any existing previous deployment, and the fai

[2017-06-06 16:12] jbphet commented on #38
@zepumph was proposing using a POST message.  Assigning to him to elaborate.

[2017-06-06 16:14] jbphet commented on #38
On 2nd thought, using a POST is a separate thing.  Assigning to myself for now, and will ping @zepumph about creating an issue about using POST.

[2017-06-06 16:21] zepumph opened #39 "Secure the build requests"
Currently the URL outputted from grunt deploy-production/rc is all you need to start the build. This is because it is a GET request, and the authentication is housed in the URL itself. This is quite unsafe. We realized this when a url was pasted into the skype chat, and 12 hours later a Skype bot had started a build.

Two ways to secure the build requests:
- [ ] Make the request a POST.
- [ ] Put

[2017-06-06 16:21] jbphet commented on #38
@jonathanolson points out that the build server *does* need to support overwriting of existing version for translations.  This may have to be a special case for the English version of the simulation.  Marking for discussion at dev meeting.

[2017-06-06 16:35] jonathanolson commented on #39
Both sound good to me.

[2017-07-06 22:41] zepumph commented on #34
@jbphet what is the status on this, what can I do to help?

[2017-07-07 15:37] jbphet commented on #34
@zepumph - it just keeps getting put off for higher priority items.  You're welcome to just do it if you have the time and inclination.  If this has become a high priority and you need my input, let me know and we'll put it at the top of the list.  If you're just trying to reduce the number of items assigned to you, go ahead and remove your assignment, and I'll take care of it when some time is se

[2017-07-07 16:56] zepumph commented on #34
Sure thing. There is no rush, I just had a bit of time and was organizing. Let me know when this gets done or if you want my input.

[2017-07-10 20:04] pixelzoom opened #40 "check for --repo"
perennial and chipper have some identical grunt tasks, specifically checkout-shas and checkout-master.  For perennial, those tasks require a `--repo` option.   Which I habitually forget because I'm used to the chipper tasks.  And I get this downstream error message:

[code]

Yet another example of not testing that something required is indeed present.

[2017-08-16 00:25] zepumph commented on #14
This just came up today while trying to deploy a new RC version with @andrea-phet for projectile-motion. We tried to deploy 4 separate times:

1. AL ran `grunt deploy-rc` but with an incorrect authorization code, so we got the following error in the build-server logs: `error: wrong authorization code`.

2. We fixed the authorization code in build-local.json and tried again, here is the end of the

[2017-08-16 00:27] zepumph commented on #14
I ran `sudo journalctl -u  build-server | grep "Error: Callback was already called."` and found 173 lines since January that matched. It looks like this is an ongoing problem.

[2017-08-18 23:05] jbphet commented on #34
**Note:** When rosetta is moved and its systemctl files are updated, the same actions need to be done on ox-dev to keep them in sync.

[2017-08-28 17:34] jbphet commented on #12
This issue has been languishing for a while.  I've done several maintenance releases using this process, and it wasn't easy, but it ultimately worked.  @jonathanolson has also done some.

@jonathanolson - is a code review still needed on this, or is it safe to close?

[2017-08-28 17:35] jonathanolson commented on #12
Probably safe to close. We'll presumably code-review after build changes later this year.

[2017-08-28 17:35] #12 closed

[2017-09-11 16:38] jbphet opened #41 "builds failing with message "Output exceeds 32000 characters""
The build server sent out a failure message early yesterday morn.  The first portion looked like this:

[code]

I remember a few people having this issue for local builds a week or two ago and asked @jessegreenberg about it.  He referred me to https://github.com/phetsims/chipper/issues/605.

[2017-09-28 17:37] mattpen opened #42 "Review build-server for improvements in modularity and async handling"
Investigate moving away from callback pyramid of doom.  Suggestions for improvement were Async await (@samreid), Promises(@jbphet), and fibers/future(@mattpen).

[2017-10-14 13:30] pixelzoom opened #43 "status.sh doesn't stop when it encounters errors"
Encountered while attempting to publish a maintenance release in https://github.com/phetsims/unit-rates/issues/203#issuecomment-336634284.

'status.sh' (and any other piece of production code, for that matter) should stop when it encounters fatal errors.

Example:

[code]

These "fatal" error were buried way back in the output, so they took me awhile to notice.

Assigning to @ariel-phet to priorit

[2017-10-16 18:02] ariel-phet commented on #43
@jonathanolson can you let me know how long this should take to fix? Probably a reasonably high priority if not a huge time investment.

[2017-10-16 19:53] jonathanolson commented on #43
The way I know to handle this is to add something like:
[code]
for every external command run (this is how we detect errors in smithers backup scripts, but we mail out the failure message).

@pixelzoom, does this sound like a good approach? (If yes, I will add it).

Not sure if it's helpful, but I generally run status.sh, switch windows to something else to wait, and then when I think it's done I'

[2017-10-18 17:59] pixelzoom commented on #43
I don't think so. There's something reassuring about seeing the "green" line :)

Perhaps before we make a change to status.sh, we should determine what was causing the failures noted above?

[2017-10-19 20:22] zepumph opened #44 "branch: phetio-latest"
Branch involved at determining what the latest published sim will be on the phet-io website. Discussion in https://github.com/phetsims/phet-io-wrappers/issues/30#issuecomment-333233629.

[2017-10-23 17:36] jonathanolson commented on #43
Sure. I don't believe I've had it error out before. Is there a way I can reproduce the failure you experienced above?

[2017-10-23 17:41] pixelzoom commented on #43
To reproduce:

[code]

[2017-10-23 18:05] jonathanolson commented on #43
So, this was already fixed in master. (Fun story, I fixed it on the checked-out SHA, and it was apparently byte-for-byte identical to latest master!)

But because status.sh is in chipper (old version gets checked out) instead of perennial (where it probably should live), we'd have to patch our release branches to get this to work after checkouts.

Thoughts?

[2017-10-23 18:08] pixelzoom commented on #43
Punt for now, move status.sh to perennial in chipper 2.0?

[2017-10-23 18:17] jonathanolson commented on #43
Sounds good.

[2017-10-23 18:35] pixelzoom opened #45 "review all issues for possible inclusion in "chipper 2.0" milestone"
Looks like most (all?) perennial issues should have the "chipper:2.0" label.  Rather than label them all, I'm creating this "blanket" issue.

[2017-10-30 16:07] ariel-phet commented on #45
Assigning @mattpen and @jonathanolson to take a brief first pass at open perennial issues and bring up for Thursday meeting

[2017-10-30 20:44] jonathanolson commented on #44
I see a 'phetio-latest' branch. Is this issue for that branch? (if so please rename issue).

It looks like the code change is in the build-server writePhetioHtaccess (seems different than examining what the latest sim is on the phet-io website, but is part of the deploy process).

Is the description above accurate? And can this be merged to master?

[2017-10-30 20:45] jonathanolson commented on #41
@jbphet, any knowledge of if we've run into this recently?

[2017-10-30 20:48] jonathanolson commented on #40
Added checking for that option above.

[2017-10-30 20:48] #40 closed

[2017-10-30 20:50] jonathanolson commented on #37
Looks like https://github.com/phetsims/perennial/issues/42 is basically a duplicate of this.

Noted:

[2017-10-30 20:50] jonathanolson commented on #42
Duplicate of https://github.com/phetsims/perennial/issues/37, closing.

[2017-10-30 20:50] #42 closed

[2017-10-30 20:50] zepumph commented on #44
That is a question for @mattpen

[2017-10-30 20:52] jonathanolson commented on #22
I believe this is fixed, closing.

[2017-10-30 20:52] #22 closed

[2017-10-30 20:53] jonathanolson commented on #17
@jbphet, I believe this currently happens in deployments (if not in build-server itself). Can you confirm, and close if it's done?

[2017-10-30 20:54] jonathanolson commented on #16
If we're removing old versions, how are we going to support phet-io playback (or other playback) in general?

Should we discuss again?

[2017-10-30 20:56] jonathanolson commented on #28
https://github.com/phetsims/perennial/issues/7 is a duplicate, some extra information there.

[2017-10-30 20:56] jonathanolson commented on #7
Duplicate of https://github.com/phetsims/perennial/issues/28 (there is more information there, so closing here).

[2017-10-30 20:56] #7 closed

[2017-10-30 20:56] jonathanolson commented on #4
@jbphet, should this be done for chipper 2?

[2017-10-30 20:58] jonathanolson commented on #45
I took a pass over and tagged issues I personally thought should be handled. @mattpen can you also check through to see what your opinion is?

[2017-10-30 21:28] mattpen commented on #44
The change hasn't been tested yet.  I'll plan on testing and merging the change if successful when I upgrade node/npm as part of phetsims/chipper#604.

[2017-10-30 21:37] mattpen commented on #15
@samreid - Have you seen this behavior since March 2016?  I don't recall ever seeing this error.  Can we close this issue?

[2017-10-30 21:58] mattpen commented on #11
The build-server is no longer receiving the error above because I improved the logging in August 2016.  However, there are still occasional errors (30 since the switch to phet-server from figaro).  Here's the complete list:

[code]

I'm not sure what would be causing the unauthorized attempts, maybe some web crawler grabbed the URL from GitHub?  The Locale Not Found indicates that a particular loc

[2017-10-30 22:01] mattpen commented on #10
This does not appear to be relevant to Chipper 2.0.  Commenting to bump the issue. (@jbphet)

[2017-10-30 22:03] mattpen commented on #45
I reviewed the remaining issues and tagged any that I thought necessary.

@pixelzoom @ariel-phet  Should we close this issue?

[2017-10-30 22:05] pixelzoom commented on #45
Sounds like we've accomplished what @ariel-phet asked for in https://github.com/phetsims/perennial/issues/45#issuecomment-340494264, so closing.

[2017-10-30 22:05] #45 closed

[2017-10-31 02:44] samreid commented on #15
I haven't seen this problem for a long time, closing.

[2017-10-31 02:44] #15 closed

[2017-10-31 15:47] jbphet commented on #4
Yes, this would be a good thing to have on the list.

[2017-10-31 18:20] jbphet opened #46 "need better log info for grunt failures"
I'm currently trying to track down the cause of several build failures related to translation.  By going through the log, I can see that the command `grunt build-for-server` is failing, but I can't see much about why.  Here is an excerpt:

[code]

From this, I can see that the failure must have occurred in the "after-requirejs-build", but then it just says [135B blob data], which seems odd and is

[2017-10-31 22:10] jbphet commented on #17
I just looked at the build server and the grunt tasks in chipper, and it looks to me like the local build is still doing the transfer of the dev file.  In `build-server.js` I see the following code:
[code]
These are the only two calls to `spotScp`, which would seem to imply that they only happen if it's an rc build.

In `chipper/js/grunt/Gruntfile.js`, I'm seeing this:

[code]
This looks like a lo

[2017-11-02 18:33] mattpen commented on #9
This should be implemented before we change the API. This will probably not occur as part of Chipper 2.0.

[2017-11-15 19:06] jonathanolson commented on #39
POST-data seems sufficient. We'll also want to potentially send build-request versions, so we can differentiate requests in the future if needed.

[2017-11-15 22:58] mattpen opened #47 "Upgrade to Express 4?"
As I was reviewing the api reference for express, I noticed that the version we are using (3) is now deprecated.  The current supported version is 4 and 5 is in alpha.  After reviewing the [migration guide](https://expressjs.com/en/guide/migrating-4.html) it looks like the update should be relatively straightforward as we are only using one function that was removed.

If we upgrade build-server, i

[2017-11-15 23:00] mattpen opened #48 "Branch: chipper:2.0"
This branch was created to separate unstable changes for the chipper:2.0 project from master.  Currently the build-server switches perennial to the master branch as part of the deployment process, so we should not put anything that is not ready for production in the master branch.

[2017-11-15 23:45] mattpen opened #49 "Should the build-server checkout master of perennial"
In the past I've had trouble testing development in a git branch because build-server runs `git checkout master` on the perennial directory.  This doesn't change the current running process, but when there is a failure (as expected during development) the build-server automatically tries to restart itself, and then reverts to running from master.  It would be nice if it did not do this so that we

[2017-11-15 23:46] mattpen commented on #49
Discussed this with @jonathanolson earlier today, we agreed that I should investigate further.

[2017-11-16 15:54] jbphet commented on #47
No concerns here, and I'll log an equivalent ticket for rosetta.

[2017-11-16 19:04] mattpen commented on #39
As a reminder to myself, this required moving the varnish routing for build-server before the rules that ignore caching of non-GET/HEAD requests.

[2017-11-16 20:58] mattpen commented on #39
I have implemented a POST API in the build-server and changed chipper such that deploy-rc and deploy-production now send POST requests instead of query parameters.  I have tested both rc and prod deploys with chains on ox-dev.

We will also need to update rosetta's call to the build-server to use post requests instead of query params.

I have left the query parameter API in place to support old ve

[2017-11-16 21:05] mattpen commented on #47
I've upgraded to express 4 in the chipper2.0 branch and tested an rc and production deploy on ox-dev.  The deployments went off without a hitch.  The only thing I needed to change was new code written for #39, so I think its safe to accept this upgrade.

[2017-11-16 21:05] #47 closed

[2017-11-16 21:05] mattpen commented on #48
Current issues being tracked in this branch: #39, #47.

[2017-11-29 12:07] jonathanolson commented on #1
Discussing what type of things should move would be valuable.

Pros of moving to perennial:

- When old versions of sims are checked out, you still have the latest copy (very backwards-compatible, but sim builds can't rely on it)
- Chipper's node_modules could shrink, which will speed up builds and potentially checking out node_modules over time.
- Can update things here that apply to release bran

[2017-11-29 15:54] pixelzoom commented on #1
@jonathanolson asked:

We need to run `checkout-master` on a non-master branch. `print-shas.sh` is sometimes useful while working on a release branch and its dependencies, but could live without it.

No objections.

[2017-11-29 16:07] jbphet opened #50 "use a common account for transfers of builds to spot"
(moved to here from (https://github.com/phetsims/chipper/issues/627)

@pixelzoom recently thought that I had published an RC of a sim for which he is the responsible dev due to file permissions.  The following dialog resulted.  Bottom line: We should use something other than my account info for transferring files from the build server to the dev server.

Slack thread:

@pixelzoom  [5:14 PM]
I see

[2017-11-29 16:08] jbphet commented on #50
I just looked on phet-server, and indeed, my account is being used for transfers to the server. We should set up a common account and use that instead.

[2017-11-29 16:23] jbphet commented on #50
@mattpen - I'm assigning this to you since you're working on the build server for Chipper:2.0 and probably know about whatever spot accounts we have for this (or how to get one set up).  Let me know if you'd rather have me follow up on it.

[2017-11-29 17:51] samreid commented on #1
I'm unclear on what belongs in perennial vs chipper.  It seems that whatever moves to perennial locks us in to a particular way of doing it.  For instance, let's say we move "find-duplicates" to perennial.  Seems safe enough, but then what if we rename "js" directories to "src" one day (this will not happen but I am speaking hypothetically), then we would have to change the way find-duplicates wor

[2017-11-29 20:43] jonathanolson commented on #1
Yes, if we would want something to be version-specific so that we can check out an old version of it, then it should not be in perennial.

[2017-11-29 20:59] jonathanolson commented on #37
Promises + async/await has been amazing for the rest of chipper/perennial. I'll be available to help with this.

[2017-11-29 21:01] jonathanolson commented on #19
@mattpen, it was recently noted that build-server's rc (but not production) copies things to spot. Just noting that the proposal is that build-server rc/production both copy the files to spot (so client-side no dev upload should be done).

Furthermore, we'll potentially want to factor out some of the perennial code (where the deploy code will live) for use in build-server for this. See `dev.js`.

[2017-11-29 21:06] mattpen commented on #37
Changing assignment to myself as @jbphet is focused on changes for rosetta.

[2017-11-29 22:33] samreid commented on #16
For PhET-iO versions, we have a current plan and a proposed plan:

Current Plan: every PhET-iO version must remain available on the phet-io website.  This is because we had no way to protect against breaking changes.

Proposed Plan: every latest PhET-iO {{MAJOR}}.{{MINOR}} version must remain available on the phet-io website.  This is because our proposed stability plan breaks compatibility when m

[2017-11-30 17:08] zepumph commented on #1
I agree that those should be on master always, but perennial doesn't seem like the right repo for that. I always thought of perennial as a repo that was for the build-server. What if we made another repo that is "always on master" that holds development tools

@samreid

Or at least locks us to a script that handles backwards compatibility.

[2017-11-30 20:22] mattpen commented on #16
Additional discussion in https://github.com/phetsims/website/issues/408

[2017-11-30 20:23] ariel-phet commented on #16
It seems like leaving the old versions up on the production server is not a problem so long as it is not affecting the installer build or causing server load/etc issues by being crawled/indexed by google. Those questions will be dealt with by @mattpen. Closing.

[2017-11-30 20:23] #16 closed

[2017-11-30 20:24] mattpen opened #51 "Investigate blocking access or blocking bots for historical versions"
Original discussion in https://github.com/phetsims/website/issues/408 and https://github.com/phetsims/perennial/issues/16.

We should consider blocking access to historical versions or at least prevent bots from crawling non-latest directories.

[2017-11-30 20:53] jonathanolson commented on #51
Does our installer builder respect robots.txt?

[2017-11-30 21:05] mattpen commented on #51
That's a question for @zepumph but I would assume that it does not.

[2017-11-30 21:09] jonathanolson commented on #1
That is almost by definition what perennial is supposed to be. Its GitHub documentation says:

It just turns out we also decided that the build-server code can share maintenance code with other things (and stays on master), so it can live on perennial.

[2017-11-30 21:18] zepumph commented on #51
We completely ignore `robots.txt`. We include the `-s0` for the httrack ripper, a flag that bypasses robot guidelines.

[2017-11-30 21:45] jbphet opened #52 "simInfoArray shouldn't be updated when publishing on the test server (ox-dev)"
The `simInfoArray` file, which is the file that the build-server writes and the translation utility reads to find out where to access simulation information, appears to be getting updates when publications occur on the test sever (ox-dev).  Here is an example of a commit that demonstrates the problem: https://github.com/phetsims/rosetta/commit/a05493337337db2307912ebed318b48bc35e24df#diff-820b87a1

[2017-12-04 18:32] pixelzoom commented on #1
12/4/17 dev meeting:  OK to move chipper/data/ files over.  Will revisit at next dev meeting if needed.

[2017-12-05 07:03] jonathanolson commented on #51
In the discussion, I don't see why we'd add these to robots.txt to prevent things like google from indexing them. Presumably we are setting the canonical url correctly?

I'm not very familiar with the installer builder, so I'd defer to @zepumph on that.

[2017-12-05 07:04] jonathanolson commented on #43
This was moved to perennial (so should be solved), closing.

[2017-12-05 07:04] #43 closed

[2017-12-06 05:37] mattpen opened #53 "Should translations trigger an update of phet-io files?"
We are now creating phet-io sims that have all locales included and accessible via query parameter.  Should we automatically update the phet-io sims when translations are submitted?

[2017-12-06 16:46] samreid commented on #53
Unless it is very easy, I'd recommend to wait on adding that step until the future (when there is need for it, and when our processes have stabilized).

[2017-12-06 16:46] ariel-phet commented on #53
@zepumph @samreid @mattpen

My thinking would be that yes, the phet-io sims would get an automatic update, but we would not consider this a new version of the sim in terms of number scheme. Is that thinking incorrect? To me the sim code has not changed at all, we are just adding more strings.

Might be worth talking about at dev meeting as well. We would want the non-io all.html file also automati

[2017-12-06 16:47] ariel-phet commented on #53
I am also fine with punting for now as @samreid suggests

[2017-12-06 16:57] mattpen commented on #53
Translations will not increment the version number (not even the maintenance number) in either phet or phet-io.

I think this work is already complete (rebuilding the _all file on translation submissions).

<hr>

@jonathanolson and I decided to open this issue because with the _all files and locale query parameters now being used in phet-io, it would be fairly easy to adapt translation submissions

[2017-12-06 22:18] zepumph commented on #53
Although I agree with @samreid that we are a ways down the road from needing this in phet-io, if it is easy to implement, and we get it for free with phet-io brand for no additional cost, then I don't see my not. @mattpen will it just overwrite the old file on the server? Does that mean that the file is not served every time there is a new translation? We don't have varnish (not sure if varnish ca

[2017-12-06 23:53] mattpen commented on #53
The file isn't overwritten in place.  The build-server writes the new files in a temporary directory then copies them to the public directory.  There should effectively be no downtime.

[2017-12-07 00:58] zepumph commented on #53
Cool beans. What about

Is there another (better) issue I could look up to reference/address this?

[2017-12-07 01:46] mattpen commented on #53
@zepumph - I'm not aware of an easy way to parse it from the sim file.  You could determine it by parsing the xml file produced with production deploys (e.g. https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc.xml).  You could also make a call to the Metadata API, which has a list of localizations for each sim.

If there is a sim in production for phe

[2017-12-07 02:38] zepumph opened #54 "Silent error when manual "brands" flag omitted on dev deploy"
I'm not sure if this is already a known issue. I am finding that to dev deploy on perennial, the `brands` flag must be included, it won't find it in my build-local.json. If I omit it, then the program dies silently:

[code]

I tried this with the build-local `brands` key filled in two ways, both had the same problem:
[code]

@jonathanolson do you know what's up?

[2017-12-07 02:42] zepumph opened #55 ""phetio" is not stripped from phet-io version on dev deploy"
Here is an about dialog from: https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-dev.16/phetio/wrappers/instance-proxies/instance-proxies.html?link&relativeSimPath

![image](https://user-images.githubusercontent.com/6856943/33695980-8ffd4f08-daac-11e7-843b-526be06cd431.png)

Currently the index wrapper is broken because it expects the version to look like "1.7.0-dev.16" but instead it is

[2017-12-07 02:46] zepumph commented on #55
This is blocking https://github.com/phetsims/phet-io-wrappers/issues/38

[2017-12-07 06:47] jonathanolson commented on #54
Thanks, I'll look into it (haven't fully gotten the deploys/whatnot ready for full use, sorry about the issues).

[2017-12-07 07:54] zepumph commented on #54
Bugs like this aren't a hindrance at all! I'm just trying to help work out
tweaks in the system.

On Dec 6, 2017 9:47 PM, "Jonathan Olson" <notifications@github.com> wrote:

[2017-12-07 09:19] jonathanolson opened #56 "New build-server request API proposal"
Current api:

{
  repos // dependencies.json format
  simName
  version // string, includes rc.X if available, -phetio triggers phet-io build
  locales // array of locales
  option: 'rc' // if provided, signals an RC build
  email // for notifications
  id // ????
  authorizationKey // for security
}

My idealized api:

{
  api: '2.0' // so it can be distinguished
  dependencies // dependencies.js

[2017-12-07 11:36] jonathanolson commented on #55
Also, I think the "expected" version would be 1.7.0-dev.16-phetio. Will that cause problems?

[2017-12-07 11:38] jonathanolson commented on #55
Should be fixed (to the above) in the 2.0 branch.

[2017-12-11 18:02] mattpen commented on #56
@jonathanolson Would we assume that any request to deploy to the production server for phet brand would trigger a call to the synchronize API on the website (adding the sim to the database and generating an admin page)?

This would require a parallel change in rosetta.  Tagging @jbphet so he is aware.  I'm ok with the change.

[2017-12-11 18:30] jonathanolson commented on #56
Correct.

Yes. @jbphet, would we need to discuss any of the chipper 2.0 changes for rosetta? Is it building sims at all?

[2017-12-11 19:08] mattpen commented on #39
The new POST api was deployed today and the query parameter api is still in place.  Deploys and translations were both tested successfully.

[2017-12-11 19:08] #39 closed

[2017-12-12 01:03] jonathanolson commented on #56
Perennial deploy has been set up to fire off the new style of request. Pending on @mattpen to hear about implementation.

[2017-12-12 15:51] jbphet commented on #56
Yes, rosetta builds new translations whenever they are submitted by translators.  It does this by firing off a request to the build server.  I'm assuming the build server will be backwards compatible, i.e. it will support the old version of requests, correct?  It would be good to upgrade rosetta to the new API though, so please log an issue and point me to whatever I need to know, and I'll do it.

[2017-12-12 16:13] jonathanolson commented on #56
api:2.0 should be POST only, and presumably we need to support the original API in POST, as we are in that state of shas right now.

[2017-12-12 17:07] mattpen commented on #56
@jonathanolson - In the `brands` object, will phet brand be `'phet'` and phet-io be `'phet-io'`?

[2017-12-12 18:34] jonathanolson commented on #56
Yes, although other brands (adapted-from-phet, etc.) might be possible to dev-deploy, etc. (but not get sent to production)

[2017-12-13 07:31] mattpen commented on #37
I've started implementing this as part of the refactor for #56.

[2017-12-13 07:32] mattpen commented on #56
I've pushed changes to handle the new API requests, but nothing is tested yet and there is a lot of error checking still missing.

[2017-12-13 19:27] mattpen commented on #52
@jbphet - the best solution is probably to use the Metadata API instead of passing a json file back and forth via github.  The biggest problem is that currently you can't get unpublished sims in the Metadata API (such as chains and example-sim).  I could implement a new query parameter in the API for rosetta to make this possible though.

[2017-12-13 19:38] mattpen commented on #52
I added a temporary patch to prevent commits and push of this file on ox-dev, but I think it would be better to take advantage of our API in the long term.

[2017-12-14 20:55] jbphet commented on #52
Yes, I'd love to take advantage of the meta-data API, but the inability to get information about chains and example-sim has been a deal breaker on this.  If you could add a query parameter that would enable the retrieval of this data, that would be awesome, and we could eliminate entirely eliminate simInfoArray from the process.

[2017-12-14 20:59] jbphet commented on #52
This issues is related to https://github.com/phetsims/rosetta/issues/148, and if we get to where we have the meta data working, both issues are solved.

[2017-12-15 16:24] mattpen commented on #56
@jonathanolson - The new API should be available now for testing on ox-dev.  I sucessfully ran an RC deploy here: https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-rc.20/

[2017-12-15 16:28] mattpen commented on #37
Using async/await instead of callbacks has been implemented for the entire build-server and is working nicely. Closing.

[2017-12-15 16:28] #37 closed

[2017-12-15 18:54] mattpen opened #57 "After async await refactor, build-server is now returning 503"
Before the refactor, the build-server sent a response after the request was queued and before the build was finished, but is now waiting for the build to finish.  This causes a 503 because builds are always over 60 seconds and varnish times out after 60 seconds.

[2017-12-15 19:18] zepumph commented on #53
To bring this back from the dead, here is the way I see the issue:
* Releasing a new translation replaces the current all file for the version, it isn't a maintenance release.
* Updating this file will not cause any problems in terms of our clients that are using that hosted file because downtime is a non issue.
* Phet deploys will update the all.html file, and we often try to keep the deploy proc

[2017-12-15 19:18] zepumph commented on #53
Also I would love to hear from @samreid to see if he agrees.

[2017-12-15 19:19] samreid commented on #53
All remarks in https://github.com/phetsims/perennial/issues/53#issuecomment-352089058 sound great, I am optimistic that we wouldn't need to disable it.

[2017-12-15 19:20] zepumph commented on #51
This doesn't effect the installer-builder at all, we already use filters to ignore old versions. Let me know if I can be of more help on this one.

[2017-12-15 19:32] mattpen commented on #57
This should be fixed by the previous commit.

[2017-12-15 19:32] #57 closed

[2017-12-15 21:48] mattpen commented on #53
I think to accomplish this we just need to add `--brands=phet,phet-io` to the build-server call in rosetta

[2017-12-15 21:58] jonathanolson commented on #53
Note that if phet-io isn't supported for the simulation, then including it in brands will fail out the build.

[2017-12-16 02:15] zepumph commented on #55
Confirmed fixed for https://www.colorado.edu/physics/phet/dev/html/chains/1.11.0-dev.1/phet-io/chains_all_phetio.html?development&phetioStandalone. Closing

[2017-12-16 02:15] #55 closed

[2017-12-18 16:20] jbphet commented on #53
@jonathanolson's comment seems like a deal breaker for adding these flags to the build requests that come from rosetta.  @mattpen - true?  Is there a good way through the metadata API for rosetta to determine whether phet-io is supported for a given sim?

[2017-12-18 16:35] mattpen commented on #53
@jbphet - I don't think we want to include phet-io data in the Metadata API.

@jonathanolson - How would we be able to determine if a sim supports phet-io?  Do we keep a list in phet-info, or is it indicated in package.json?

One option would be to make two calls to the build-server per translation, one per brand, instead of one call for both brands.  We would then handle failures for phet somehow

[2017-12-18 18:23] jonathanolson commented on #53
Yes, it would be included in the supportedBrands in the package.json (phet.supportedBrands.includes( 'phet-io'))

[2017-12-18 19:20] mattpen commented on #53
It sounds like we should be checking this before the build step on the build-server, even if its already being checked locally via grunt.  Should we (1) stop execution of the deploy and print and error to the logs or (2) only build the supported brands and print a warning to the logs?

@jbphet @jonathanolson - thoughts?

[2017-12-18 23:25] jonathanolson commented on #53
That sounds the safest.

[2017-12-19 16:34] jbphet commented on #53
@mattpen said:

and also:

and additionally:

So, unless I'm missing something, rosetta would have no way of determining whether a sim supports phet-io, but is supposed to request it as a build product, and under proposal 1 this would cause a failure and the translation wouldn't get published.  So proposal 2 seems more viable, but I don't like that either since it will frequently cause warnings in

[2017-12-19 21:05] jonathanolson commented on #53
If true, we could potentially support something like --brands=*, right?

[2017-12-20 16:16] mattpen commented on #53
@jbphet - Rosetta should have access to the package.json file for the sims right?  It could determine which brands to build based on that file.

[2017-12-20 17:04] jbphet commented on #53
I'm trying not to assume that rosetta has other things around it on the file system, but it could read the package.json directly from GitHub and use that to decide.  To do this right, though, it would have to pull that file off of the branch that matches the current version, which is doable.  I'll create an issue and assign this to myself.

[2017-12-20 18:33] pixelzoom opened #58 "provide support for restoring working copy"
There have been too many times when I've run pull-all.sh, only to discover that master is broken. While it's good to discover that master is broken, it's often inconvenient, causes me to change my workplan for the day, and slows my progress on sim development.  It would be nice to have a convenient way to (a) create a log file of _all_ shas in my working copy, so that I have a set of "safe" shas",

[2017-12-20 18:47] jbphet commented on #53
An issue to add this to rosetta has been created, see https://github.com/phetsims/rosetta/issues/172.

[2017-12-20 20:50] pixelzoom opened #59 "problems with print-shas.sh"
I was looking at print-shas.sh to help solve https://github.com/phetsims/perennial/issues/58.  But print-shas.sh has problems of its own.  If it encounters a file that's not a directory containing `.git`, it does this:

`24 echo ">>>>>>>>>>>>>>>>>>>>>>>> Missing repo: $sim"`

Two problems:

(1) `$sim` is undefined. It should be `$repo`.

(2) Files like GitHub.iml are incorrectly reported as being

[2017-12-20 20:51] pixelzoom commented on #58
status.sh can be used to create a log file, for example:

`print-shas.sh | grep -v Missing > log`

(The `grep -v` is a workaround for https://github.com/phetsims/perennial/issues/59.)

[2017-12-20 20:52] pixelzoom commented on #59
@jonathanolson FYI, since this undoubtedly need to be fixed in perennial "chipper2.0" branch.

[2017-12-20 21:16] pixelzoom commented on #58
Something like this (untested) would work for `restore-shas.sh`.   I have not checked this into perennial master because of the on-going chipper 2.0 work.

[code]

[2017-12-21 06:46] samreid commented on #58
I can see value in a utility like this, here are some recommendations:

1. Consider keeping a record of N previous logfiles (N>1), otherwise if a developer accidentally runs `pull-all.sh` twice in a row, they will lose their good SHAs.
2. Consider implementing this using dependencies.json/checkout-shas/etc since we already need to support most of this functionality, and it will run steps like npm

[2017-12-21 16:09] samreid commented on #58
The other "pre-emptive" solution is to require pre-commit (or pre-push) tests.  This could slow down some kinds of workflow, but could prevent the kind of problem @pixelzoom identified.  If we go down this path, we would want the following features:
1. Commits (or pushes) on a repo could require testing to pass on the repo and all downstream repos that depend on the repo. The main point is to spee

[2017-12-21 16:58] pixelzoom commented on #59
I'd like to fix this so that I can proceed on #58.  @jonathanolson in addition to master, which branches should I fix?

[2017-12-21 17:01] pixelzoom commented on #58
Regardless of whether we pursue one of the more complicated solutions proposed in https://github.com/phetsims/perennial/issues/58#issuecomment-353271728 and https://github.com/phetsims/perennial/issues/58#issuecomment-353389913, I'd like to proceed with fixing print-shas.sh (see #59) and committing `restore-shas.sh`.  This will address 95% of what I need, with 1% of the work compared to other opti

[2017-12-21 17:09] jonathanolson commented on #59
Master is the only branch that would need these updates. There is a chipper 2.0 related branch, but it's only for the build-server code.

[2017-12-21 17:22] pixelzoom commented on #58
Here's the usage after I make the minimal number of changes:

[code]

[2017-12-21 17:41] pixelzoom commented on #58
The above usage requires you to remember to run `print-shas.sh` before doing `pull-all.sh`.  For 15 minutes more work, I could make `pull-all` run `print-shas.sh > $HOME/.phet/print-shas.log`, and `restore-shas.sh` use  `$HOME/.phet/print-shas.log` by default. Then the usage would be:

[code]

[2017-12-21 17:47] samreid commented on #58
I think it's worth the 15 minutes.

[2017-12-21 18:33] pixelzoom commented on #58
12/21/17 dev meeting:

OK to proceed with proposal in https://github.com/phetsims/perennial/issues/58#issuecomment-353412428.

@jonathanolson would like to have something that reverts everything to a specified date.

[2017-12-21 18:34] pixelzoom opened #60 "provide ability to revert working copy to a specified date"
From https://github.com/phetsims/perennial/issues/58#issuecomment-353424090:

@jonathanolson would like to have something that reverts everything to a specified date.

[2017-12-21 18:36] pixelzoom commented on #60
12/21/17 dev meeting:

Would be nice to be able to get date and shas from bayes.

[2017-12-21 18:56] pixelzoom commented on #60
In https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-353429028, @samreid said:

[2017-12-21 19:11] pixelzoom commented on #59
Slack developer channel:

Chris Malley [12:03 PM]
Is anyone relying on the current output format of print-shas? `{{REPO}} : {{SHA}}`, e.g. `neuron : a7f11417afa492b88a888f380cea70cd4296c295`. Proposing to remove the “:”, i.e.: `{{REPO}} {{SHA}}`, e.g. `neuron a7f11417afa492b88a888f380cea70cd4296c295`.

Jonathan Olson [12:07 PM]
I don't believe I'm relying on it anywhere

Sam Reid [12:08 PM]
Removi

[2017-12-21 19:15] pixelzoom commented on #59
Changes to print-shas.sh:

• ignores files and directories that are not git repositories
• for each git repository, prints a line with format "{{repo}} {{sha}}"

[2017-12-21 19:27] pixelzoom commented on #58
pull-all.sh now calls `print-shas.sh > $HOME/.phet/print-shas.log`.  If $HOME/.phet/ doesn't exist, it is created.

[2017-12-21 19:38] pixelzoom opened #61 "delete parallel-pull-all.sh ?"
Chris Malley [12:31 PM]
Why do we have both `pull-all.sh -p` and `parallel-pull-all.sh` ?

Jesse Greenberg [12:32 PM]
I think that parallel-pull-all.sh can be deleted

Sam Reid [12:33 PM]
checking….

Chris Malley [12:33 PM]
Git history was lost when scripts were moved to perennial bin, that’s unfortunate.
Looks like @jessegreenberg added parallel support to pull-all.sh in chipper on 6/12/17.
Is an

[2017-12-21 19:43] pixelzoom commented on #61
`parallel-pull-all.sh` has been deleted in chipper and perennial.  Please use `pull-all.sh -p`.

Closing.

[2017-12-21 19:43] #61 closed

[2017-12-21 19:46] #59 closed

[2017-12-21 19:57] pixelzoom opened #62 "redo the migration of chipper/bin/"
chipper/bin/ scripts were copied to perennial/bin by @jonathanolson on 12/4/17.  By copying them instead of moving them, we've lost the git history for all of the scripts.  (The first commit message for every script is the not-very-helpful "Data, fixes, and lint-everything".)

I recommend that this migration be redone in a way that (1) preserves git history, and (2) picks up changes that have been

[2017-12-21 19:58] pixelzoom commented on #62
Slack developer channel:

Chris Malley [12:36 PM]
Any way we can restore git history for perennial/bin/*.sh ?
@jonathanolson I guess that’s a question for you, since you moved the scripts to perennial.

Chris Malley [12:47 PM]
@jonathanolson Now that I’m making significant changes to perennial/bin/ scripts, I’m a little concerned about having the same set of (now out-of-date) scripts in chipper/bi

[2017-12-21 20:01] pixelzoom commented on #62
Also recommended to delete chipper/bin/.  We don't want to have duplicate/diverging scripts in master, with people pointing to old versions of scripts that are evolving (e.g. pull-all.sh, print-shas.sh).  If something breaks by chipper/bin/ going away, we should fix it to point to perennial/bin/.

[2017-12-21 20:18] samreid commented on #62
I updated my $path to use perennial instead of chipper.

[2017-12-21 20:36] pixelzoom opened #63 "print-vestigial.sh complains about non-repos"
print-vestigial.sh is supposed to look for vestigial git repos in your working copy. But it complains about files that are not repos, e.g.:

[code]

[2017-12-21 20:47] pixelzoom commented on #63
Fixed, closing.

[2017-12-21 20:47] #63 closed

[2017-12-21 20:50] pixelzoom commented on #58
`restore-shas.sh` is pushed and appears to be working.   The only issue is that it will put all repos in your working copy in a detached HEAD state.  So before you do another `pull-all.sh`, you'll need to run `for-each.sh active-repos git checkout master`.  Wondering if I should be using something other than `git checkout ${SHA}` in `restore-shas.sh`?

[2017-12-21 20:52] pixelzoom commented on #58
@jonathanolson @samreid advice on https://github.com/phetsims/perennial/issues/58#issuecomment-353454549?

[2017-12-21 21:14] jonathanolson commented on #62
I'll look into it.

Additionally, should I look into significantly changed files? (e.g. https://github.com/phetsims/chipper/blob/master/js/grunt/deployDev.js is the "original" for https://github.com/phetsims/perennial/blob/master/js/grunt/dev.js that may be valuable if we are preserving history, even if it is almost completely different).

[2017-12-21 21:17] pixelzoom commented on #62
yeah, probably good to preserve any history we can.

[2017-12-21 21:21] jonathanolson commented on #62
I just checked, and this would definitely break our current deployment (build-server currently relies on chipper/bin/clone-missing-repos.sh). Unless it's a priority to get rid of chipper/bin in master (and @mattpen handles this in build-server master, tests and releases to production), I'd like to just leave them in-place for now.

[2017-12-21 21:26] jonathanolson commented on #58
`grunt checkout-master-all` in perennial is helpful for doing the equivalent.

I think that's just the cost of checking out older things. Adding logic that tries to keep unchanged things on master doesn't seem too helpful, as it would be inconsistent (you'll still have some things on detached heads). You'll presumably need to re-check-out master on what you want to change/commit to, hopefully the

[2017-12-21 21:58] samreid commented on #58
How about `cp -r ~/git-root ~./git-root-backup` then `pull-all.sh`.  To revert, you `mv ~/git-root` to `git-root-old` and `mv ~/.git-root-backup` to `~/.git-root`.  Then you are still in the desired branches.  Or will this tear up our SSDs?

[2017-12-22 02:03] samreid commented on #58
There appears to be a much better solution thanks to https://stackoverflow.com/questions/1223354/undo-git-pull-how-to-bring-repos-to-old-state

[code]

PROS: This should alleviate the need for complex scripts such as https://github.com/phetsims/perennial/issues/58#issuecomment-353184433 and will be tolerant to multiple pulls.  No need to keep track of a log file.
CONS: There are undoubtedly drawba

[2017-12-22 02:04] samreid commented on #58
UPDATE: I tried running `git reset --hard master@{"10 minutes ago"}` in a sim repo and it did not report that I was in detached head.

[2017-12-26 19:37] pixelzoom commented on #58
@samreid said:

You consider that complex?...

Getting a set of shas and getting all repos based on time are apples and oranges.  Getting based on time _will not_ get you back to where you were before a pull-all.sh.   You are highly likely to pick up additional changes that had been pushed but were not in your working copy.

`restore-shas.sh` is working fine for me now, and I'm willing to live wit

[2017-12-26 19:37] #58 closed

[2017-12-26 19:43] pixelzoom commented on #58
Mentioning @jbphet site he was out when we discussed adding `restore-shas.sh`.  Let me know if you have any questions.  Summary: Before pulling anything, `pull-all.sh` automatically writes `$HOME/.phet/print-shas.out`.  If you discover that what you pulled is broken, you can run `restore-shas.sh` to restore the shas from `$HOME/.phet/print-shas.out`.  After running `restore-shas.sh`, all of your r

[2018-01-03 22:16] jonathanolson commented on #62
@samreid and @pixelzoom, it looked like you looked into some solutions from https://stackoverflow.com/questions/1365541/how-to-move-files-from-one-git-repo-to-another-not-a-clone-preserving-history, but they wouldn't maintain commit timestamps. Did it look like there are no good solutions, or should I look into options?

[2018-01-03 22:49] samreid commented on #62
I tried the patch strategy once and the git filter-branch strategy once (in attempt to maintain history for the phet-io playback wrapper which also needs to migrate) and they both collapsed timestamps.  However, there is a good possibility that I did something wrong and I'd like you to take an independent look.

[2018-01-03 23:00] pixelzoom commented on #62
I didn't investigate any solutions, just skimmed what @samreid referenced in Slack.

[2018-01-05 22:06] samreid opened #64 "Builds fail if there is no screenshot"
While working on https://github.com/phetsims/gravity-force-lab-basics/issues/22 I tried to do `grunt dev --brands=phet,phet-io` and received this error:

[code]

@jonathanolson or @mattpen any idea what is going wrong here?

[2018-01-05 22:11] samreid commented on #64
It looks like the phet-io brand wasn't built at all.

[2018-01-05 22:13] samreid commented on #64
I asked on slack: phet-io brand isn’t building for gravity-force-lab-basics.  package.json already had `supportedBrands`.  I tried `brands`.  Didn’t seem to work.  How can I do this correctly?

[2018-01-05 22:24] samreid commented on #64
I’m getting this build failure in gravity force lab basics

`> grunt --brands=phet,phet-io`

`...`

`no image file exists: ../gravity-force-lab-basics/assets/gravity-force-lab-basics-screenshot.png. Aborting generateThumbnails`

[2018-01-05 22:34] samreid commented on #64
After I added a placeholder screenshot, deployment works successfully.  I think this would be a problem for any sim without a screenshot.

[2018-01-05 22:36] samreid commented on #64
This issue should probably be in chipper, but I'll leave it here for now in case it's easy to solve.

[2018-01-05 23:05] jonathanolson commented on #64
Should be fixed in the above commit. Also for reference, this is just for the chipper 2.0 branch.

@samreid can you confirm?

[2018-01-06 02:24] samreid commented on #64
Would you want to fail the build if it is for production and the screenshot does not exist?  Does this happen elsewhere?

[2018-01-08 17:02] jonathanolson opened #65 "Perennial flag commands"
It would be good to have commands that are able to:

1. Modify the package.json, for adding support for phet-io brands or other related items, and
2. Regenerate perennial/data files, commit and push.

Common sections that would need to be modified:

- adding or removing supported brands for a runnable
- `accessible` flag
- `runnable` flag
- `simulation` flag
- `automatedTestEnabled` flag

So I'd p

[2018-01-08 21:42] jonathanolson commented on #64
Now checking in production deploy.

[2018-01-08 21:58] jonathanolson opened #66 "Bayes service to run/update `grunt generate-data`"
Instead of trying to get people to remember to run this, we should automatically update the files whenever there is a relevant change.

Presumably a service on bayes that continually pulls (like continuous testing), but just checks the data files.

[2018-01-08 22:41] jonathanolson opened #67 "Build-server should return relevant status codes"
I just delivered the following bogus request (to test POST data) to production build server:
[code]
and got back a 200 OK status code, along with the message:

Presumably it should return one of the 4xx status codes instead, so that automated tooling (i.e. perennial's deploy processes) would know this was a failure?

[2018-01-09 04:31] samreid commented on #64
I didn't test this, but the commit seems correct.  We could perhaps test it using chains, but I'm inclined to call it good. (We can test it for live deploys in the near future).

[2018-01-09 04:31] #64 closed

[2018-01-11 04:24] mattpen commented on #67
@jonathanolson - I agree.  I'll change the response to 4xx errors for client errors.  We should also change the success code to `202 Accepted` as the http response is returned before the build completes and we never have a chance to return a 5xx error code for build failures.

[2018-01-11 08:36] jonathanolson commented on #66
Set up generate-data to handle everything automatically, and it's set up to run in a loop on bayes.

[2018-01-11 08:36] #66 closed

[2018-01-11 17:40] samreid commented on #65
It seems reasonable but I'm trying to understand the reason for making these grunt commands--how do you picture they will integrate into our processes?

[2018-01-11 18:01] jonathanolson commented on #65
Sorry, I thought we closed this issue. #66 has been implemented instead.

[2018-01-11 18:01] #65 closed

[2018-01-11 18:26] jessegreenberg commented on #60
I needed this for https://github.com/phetsims/resistance-in-a-wire/issues/120 so I will work on this issue.

[2018-01-11 19:36] jessegreenberg opened #68 "Check in tool to compare file sizes across time"
From https://github.com/phetsims/resistance-in-a-wire/issues/120 we needed a tool that allows us to easily compare file sizes over time. Related to #60 because this tool required the ability to check out working copy by date.

I will clean up the Bash script I used and commit it to perennial/bin.

[2018-01-12 18:54] mattpen commented on #67
@jonathanolson - I changed the default status code to 202.  Missing information will return 400.  A bad authorization code will return 401.

[2018-01-12 21:37] jonathanolson commented on #67
Sounds great! I'll kick off another set of perennial unit tests to make sure I'm properly handling that.

[2018-01-13 03:55] jonathanolson opened #69 "One-off deploy details"
Some clarification of what people would hope to achieve with one-off deployments would be helpful. Some thoughts:

- What is allowed in the one-off part of the version? Currently for parsing, it's anything that doesn't contain `-` or `.` (so that parsing is easier).
- Should we allow deploying with working-copy changes (for the sim repo)?
  - PRO: This is great for when you need to repeatedly buil

[2018-01-15 19:43] pixelzoom commented on #69
Self assigning to give feedback about "what people want from one-off deploys", as request on Slack.

[2018-01-15 21:52] jessegreenberg commented on #60
I checked this in, but I am pretty inexperienced with bash scripts. @ariel-phet could you please assign a developer to review this? It is being used for #68, this issue could be reviewed with that one.

[2018-01-15 21:54] jessegreenberg commented on #68
I checked in the bash script I used for this. @ariel-phet can you please assign a developer to review https://github.com/phetsims/perennial/commit/0f1e7b64d9ea3bc1b973d0e496bbc5b423afe5a6?  This makes use of another new script `checkout-date.sh` from #60, which also requires review.

[2018-01-16 00:10] pixelzoom commented on #69
I've never had a need to do a one-off deploy, I've always accomplished that with a dev version.  So I don't have any concrete experience to inform my feedback.  That said...

Any token that doesn't contain a separator seems fine for the one-off part of the version identifier.

If it were me that were responsible for a one-off, I would never deploying anything that isn't pushed, it's just a bad ide

[2018-01-16 03:37] samreid commented on #60
At the moment, I do not have enough bash expertise to do a proper review of the script.

[2018-01-16 18:04] mattpen opened #70 "Change command to copy non-html files for chipper 1.0 deploys to node"
`child_process.execSync( 'find . -type f ! -iname \'*.html\' -exec scp {} ' + simVersionDirectory + ' \\;', { cwd: buildDir } );`

This command has been problematic in the past and is hard to understand, we shoudl change to using more easily readable js instead of a long shell command.

[2018-01-16 18:09] mattpen commented on #70
Currently the command is not even working as intended as the latest RC build copied all translations to spot.

[2018-01-16 19:55] mattpen commented on #70
We should change other child_process commands to use node's `fs` library as well, i.e. `mv` and `cp` calls.

[2018-01-16 20:43] phet-steele opened #71 "Parsing error: The keyword 'const' is reserved"
ALSO: @jonathanolson what's up with the weird line at the top?:

`[4mRunning "lint-everything" task[24m`

[code]

[2018-01-16 20:53] mattpen opened #72 "Investigate issue with add html translator"
[code]

[2018-01-16 21:09] pixelzoom commented on #68
@ariel-phet asked me to have a look, so self assigning. I'll try to get to it sometime this week.

[2018-01-16 21:10] pixelzoom commented on #60
@ariel-phet asked me to have a look, so self assigning. I'll try to get to this (and #68) sometime this week.

[2018-01-17 01:25] jonathanolson commented on #69
If we only allow branches (so we can push), this would also be my preference.

I like the general idea of this. I'd also consider `{{SIM_REPO}}-{{ONE_OFF_NAME}}`, since common code branches for sims are already `{{SIM_REPO}}-{{BRANCH_NAME}}` (and if we have one-off-name==branch-name, it would follow a pattern). This gets more difficult because now we're using `-` again as a different type of separ

[2018-01-17 02:08] jonathanolson commented on #56
Working well. Is there anywhere we should document this API, or can this be closed?

[2018-01-17 02:30] jonathanolson commented on #54
There is currently an assertion at the top of the dev task:
[code]
presumably this would fail things before it progressed? Can you test off of master now?

[2018-01-17 02:57] jonathanolson opened #73 "Maintenance release upgrades"
Ideally will:

- Clean up code, use common perennial functions, upgrade to es6+ features. Should dramatically reduce the size of the code (and help readability).
- Support chipper 2.0 sims (detect chipper package.json version, and run different build/deploy commands).
- Integrate automated cherry-picking where possible.

[2018-01-17 04:29] mattpen commented on #56
There is a readme file where it should be documented in the /js/build-server directory.  I'll make sure it's updated as we seem to be in a stable state now.

[2018-01-18 17:59] pixelzoom commented on #60
This script looks really great, nice job @jessegreenberg.

I made one minor (but typical) change in the above commit.   Rather than hardcoding the name of the script ( "checkout-date.sh") in the usage message, it's more maintainable to use `basename $0`.

One other suggestion: Instead of using `$1` here:

`87 git checkout `git rev-list -n 1 --before="$1" master`

... it would be preferably to assi

[2018-01-18 18:04] pixelzoom commented on #60
Disclaimer: I reviewed this for script primarily for style. I'm not familiar with the main call to `git` in this script (line 87), so I'm assuming that the script has been tested and verified to work.

[2018-01-18 18:20] pixelzoom commented on #68
A few things:

(1) Similar to https://github.com/phetsims/perennial/issues/60#issuecomment-358729680, use `basename $0` instead of hardcoding "print-sim-sizes.sh" in the usage message. I'll leave this one for you to change.

(2) It looks like some (all?) of the command line args are optional, since there are default values for `SINCE`, `UNTIL` and `FORMAT`.  If that's the case, then the usage mess

[2018-01-18 18:30] pixelzoom opened #74 "convention for variable names in shell scripts"
Noted while reviewing https://github.com/phetsims/perennial/issues/68#issuecomment-358735634 ...

By convention, environment variables (e.g. `HOME`) and internal shell variables (e.g. `SHELL`) are capitalized.  Variable names are case-sensitive, so this convention avoids accidentally overriding environmental and internal variables. If you use this convention, you can rest assured that you don't ne

[2018-01-18 19:37] samreid commented on #69
I prefer everything committed, no detached head allowed.

[2018-01-18 19:50] jonathanolson commented on #69
Version: 1.2.0-sonification.3
Sim branch: 1.2-sonification
Common code branches: molecule-shapes-1.2-sonification
Deploys to directory: molecule-shapes/1.2-sonification.3 (the version)

[2018-01-20 03:46] mattpen commented on #38
@jonathanolson - is this handled in the perennial grunt tasks now?  Or does it need to be added to the build-server?

[2018-01-22 20:23] jonathanolson commented on #38
I believe JB's recommendation was for the build-server to prevent the deployment.

I can actually imagine that this may be less-than-desirable if we need to publish maintenance release for older phet-io versions.

@mattpen, is it possible to just prevent the part that sets what the "latest" version is on the website? @jbphet, would this be sufficient?

[2018-01-23 01:15] jonathanolson commented on #69
One-off version deployed as part of unit tests (it picks a random one-off branch name): https://www.colorado.edu/physics/phet/dev/html/bumper/12.1.0-oneoffqc4kk44osco.1/

Reported full success to create the branch and to deploy.

[2018-01-23 03:45] jonathanolson commented on #69
Implemented and documented.

[2018-01-23 03:45] #69 closed

[2018-01-23 15:43] jbphet commented on #38
@jonathanolson - when you say "@jbphet, would this be sufficient?", I'm not quite clear on what "this" is.  Can you please clarify?  The specific case that I we are hoping to avoid is when a build request for an older version ends up overwriting a published newer version.  If the chipper 2.0 code prevents this, and notifies the one who made the request via email, we should be good.

[2018-01-23 17:24] jonathanolson commented on #38
Every deploy puts the newly deployed things into a versioned directory. So if we deploy 1.2.0 first, it goes under `htdocs/sims/html/${sim}/1.2.0/`. Then a later deployment to 1.1.5 would go to `htdocs/sims/html/${sim}/1.1.5/` and should not overwrite files.

There IS the potential issue where the .htaccess file would change (which defines what `/latest/` goes to), and there is also the issue that

[2018-01-24 15:40] jbphet commented on #38
@jonathanolson said:

Sounds great.  I probably shouldn't have used the term "overwrite" because you're right - it wasn't actually getting overwritten on the file system.  The publication process was just causing the most recently built version to be the one at the "lastest" link, and it sounds like your proposal solves that problem, so it sounds good to me.

[2018-01-24 15:49] jonathanolson commented on #38
That's build-server/website side, so I'm unassigning myself and leaving @mattpen assigned.

[2018-01-25 17:17] mattpen commented on #44
This change will need to be discarded and rewritten as it is too far behind master.

[2018-01-25 17:19] jbphet commented on #9
The API has been enhanced to have this, and rosetta is using it, as are the build tools.  Closing.

[2018-01-25 17:19] #9 closed

[2018-01-25 17:35] pixelzoom commented on #62
Now that the chipper 2.0 merge has occurred, self-assigned to see where this is at.

[2018-01-25 17:38] pixelzoom commented on #1
Following chipper 2.0 merge, I suspect that this can be closed. But @mattpen and @jonathanolson would need to confirm.

[2018-01-25 17:41] jonathanolson commented on #62
I haven't yet figured out a great way to do this, but I haven't investigated all options.

[2018-01-25 17:42] jonathanolson commented on #1
Closing. @mattpen can reopen if there's something I missed.

[2018-01-25 17:42] #1 closed

[2018-01-25 17:42] mattpen commented on #50
I've updated the devUsername on phet-server to be `phet-admin`.  Builds should now be transferred with this account.  I deployed Chains RC `1.15.1-rc.1` and it successfully transferred with the shared account. Closing.

[2018-01-25 17:42] #50 closed

[2018-01-25 17:44] mattpen commented on #48
All changes were merged and I removed the branch.

[2018-01-25 17:44] #48 closed

[2018-01-25 17:45] mattpen commented on #19
`grunt production` now requests that the build-server deploy to both the production and dev servers and this has been working nicely.  Closing.

[2018-01-25 17:45] #19 closed

[2018-01-25 17:57] mattpen commented on #51
Setting the canonical URL should be a website issue.  Removing the chipper2.0 tag.

[2018-01-26 01:16] jessegreenberg opened #75 "create-one-off task isn't working"
I tried to create a one-off branch today with `grunt create-one-off --branch={{BRANCH}}`, but I am getting an error that the task is not found. I recently pulled all and did an npm prune and update in perennail, chipper and the sim, @jonathanolson do you know why this might be happening?

[2018-01-26 01:19] jessegreenberg commented on #75
Ah, this worked: ` grunt create-one-off --branch=a11yComboBox --repo=molarity`, so it looks like maybe this perennial command cannot be run from the sim directory?

[2018-01-26 01:25] jessegreenberg commented on #75
Same for `grunt one-off --brands=phet`. But from perennial `grunt one-off --repo=molarity --brands=phet --branch=a11yComboBox` worked great.

[2018-01-26 16:57] jonathanolson commented on #75
Apologies about that!

Yes, it was not being forwarded. It should be forwarded now with the above commit.

[2018-01-26 18:09] jessegreenberg commented on #75
Thanks @jonathanolson,  fix worked great.  One more thing, it looks like the required command is
`grunt one-off --brands=phet --branch=a11yComboBox` (branch name required) but documentation states that
`grunt one-off --brands=phet` is all that is needed.

Can it get the branch name from the checked out branch or is it important to specify branch name?

[2018-01-30 20:53] pixelzoom opened #76 "bump version id after running lint"
I ran `grunt dev --repo=equality-explorer --brands=phet`, only to have it fail due to a lint error in scenery-phet `ThermometerNode` (which was fixed in master, but not in my working copy).  Now I have to manually revert the version number.

Recommended to bump the version number _after_ lint (and other things that depend on working copy?) have been run.  For example, I suspect that having an unus

[2018-01-30 21:02] jonathanolson commented on #76
Definitely can be done, but will increase the deployment time (it will build the sim twice). Any objections? (tagging for dev meeting in case it isn't handled before then)

[2018-01-30 21:04] jessegreenberg commented on #76
This would be nice, I think it is worth the increase in deployment time.

[2018-01-30 21:26] pixelzoom commented on #76
Hmmm... I'm not sure it's worth the time required to build twice.  Maybe just run `lint-all`?

[2018-01-30 22:06] jonathanolson commented on #76
Running lint-all beforehand sounds like a good compromise to me.

[2018-01-30 22:10] pixelzoom commented on #76
Running `grunt lint` before `git push` would be an even better compromise :)

[2018-02-01 17:31] jonathanolson commented on #76
It should be possible to lint during the initial checks (before anything is pushed/etc.) Any objections?

[2018-02-01 19:26] samreid commented on #76
I configured IDEA to run `grunt lint-everything` on commit.  You can do so by adding an external tool, and wiring up through the commit dialog.  This isn't as good as a pre-commit task, but it seems better than nothing!

[2018-02-01 21:38] jonathanolson commented on #76
Implemented above.

[2018-02-01 21:38] #76 closed

[2018-02-03 00:26] jbphet opened #77 "translation builds failing"
The last several translation builds have failed.  Here is an example of one of the emails that was received:

[code]

I discussed this with @mattpen, and he said that the build server appears to be looking for the directory ` '../gravity-and-orbits/build/phet` and not finding it, which indicates that the sim is using a pre-2.0 version of chipper, but the build server thinks its a 2.0+ version.  I

[2018-02-03 00:31] jbphet commented on #77
I've taken the translation utility off line over the weekend, and @mattpen and I set up a time to work on this on Monday Feb 5 2018.

[2018-02-05 17:35] pixelzoom opened #78 "problems with use of chipperVersion"
Multiple problems with how perennial is using `chipperVersion`:

(1) Perennial currently relies on chipper version ids `'2.0.0'` and `'0.0.0'` to decide which vintage of chipper it's dealing with (call them chipper2 vs chipper0).  These literals are not encapsulated; they appear in 5 `if` expressions and 1 `assert` message, spread across 3 .js files.   And they are using string comparison, not an

[2018-02-05 17:42] jbphet commented on #77
For reference, there were 7 email notifications of build failures that brought this to our attention.  In the rosetta log, the first of the build requests was issued at Feb 02 2018 05:49:18 MST, and the last at Feb 02 2018 06:34:06 MST.  There were no other build requests in the log after that time, and I disabled rosetta at around 5:30 PM (17:30) that same day.

[2018-02-05 17:43] samreid commented on #78
* It seems perennial should just operate based on the MAJOR or MAJOR.MINOR versions.
* If we generalize SimVersion.js, then Version.js or ProjectVersion.js may be a good name

In the absence of further information, it seems reasonable that chipper would use the same version strategies we use for sims (even though I don't envision a chipper "RC" or the likes in the near future).

[2018-02-05 18:07] jbphet commented on #77
In working with @mattpen, it looks like there was a failure of the requireJS build for the first failure, and then some unhandled promises.  We recalled some changes to promise handling in the build server, and @mattpen checked, and it looks like those changes were not deployed to perennial.  Perennial has now been updated.

This should improve the accuracy of the error message that we are receivi

[2018-02-05 18:26] jonathanolson commented on #78
I agree this should be cleaned up, although I'm not sure yet if reusing SimVersion for other repositories is the correct choice. I don't know yet if this would only be used for chipper, or if we'll want to use it for other common repositories in the future.

I'd generally opt for creating ChipperVersion (which would have its own logic and feature detection/handling), even if it would duplicate few

[2018-02-05 18:28] pixelzoom commented on #78
Using ChipperVersion seems like a fine compromise.  And if it's properly encapsulated, will be easy to change (if necessary) in the future.

[2018-02-05 18:46] jonathanolson commented on #78
@mattpen, devDeploy documentation doesn't have matching parameter names, so documentation will need to be updated there once I'm done with the changes.

[2018-02-05 19:08] jonathanolson commented on #77
It looks like we may need an automated maintenance release to fix the locales in localeInfo on sims chipper versions. @ariel-phet, it would be generally good if I could upgrade the automated maintenance release process before that is done.

[2018-02-05 19:13] jonathanolson commented on #78
Implemented in the above commit. Presumably build-server will want to improve its usages of version checks (as noted in the first comment).

[2018-02-05 19:43] jbphet commented on #77
@mattpen, @jonathanolson, and I have pieced together what was going on here.  A translator mistakenly submitted translations for the locale `en_CA` for two simulations, Gravity and Orbits (GAO) and States of Matter (SOM).  This locale was added fairly recently to handle a special situation, and I only did maintenance releases for the sims for which it was requested.  GAO and SOM were not in that b

[2018-02-05 19:44] jbphet commented on #77
I just noticed that @jonathanolson commented while I was updating the issue, so assigning to @ariel-phet for prioritization.

[2018-02-05 19:50] jbphet commented on #77
@oliver-phet - can you let the translator who triggered this problem know that he needs to be careful about selecting the correct locale?

[2018-02-05 20:31] jbphet commented on #77
For reference, here are the issues relating to somewhat recent addition of support for new locales:

https://github.com/phetsims/rosetta/issues/149
https://github.com/phetsims/rosetta/issues/158

[2018-02-05 22:19] oliver-phet commented on #77
@jbphet Translator notified.

[2018-02-05 23:02] ariel-phet commented on #77
Marking this for dev meeting as I would like to discuss with several parties. Generally I am leaning towards waiting a few weeks (I would like to get a few things polished off before we have @jonathanolson work on the automated MR process)

[2018-02-07 00:22] jessegreenberg opened #79 "Problems with deployed build directory for deploy-rc from chipper 1.0"
I just deployed https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-rc.2/, which has a chipper sha that was prior to chipper 2.0 work. Every built translation is under this directory, and the twitter card and screenshot images are also missing. It surprised me because the directory looks so different from https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0

[2018-02-07 18:06] mattpen commented on #79
@jessegreenberg - The translations should not have been transferred to spot for an rc deploy.  I'll look into what went wrong there.

The image files were not generated by the build task on phet-server, so I'm not sure what happened there.  When you build it locally, do they show up?

[2018-02-07 18:30] jessegreenberg commented on #79
They do not appear locally. But I don't remember generated images ever showing up in local builds.

[2018-02-07 18:30] jessegreenberg commented on #79
Here is everything under local build:

![capture](https://user-images.githubusercontent.com/6396244/35934280-538e92aa-0bfa-11e8-86a9-506f366936b6.PNG)

[2018-02-07 19:20] mattpen commented on #78
The build-server documentation and usage have been updated.  Closing.

[2018-02-07 19:20] #78 closed

[2018-02-07 19:27] mattpen commented on #79
This was fixed in 917d3d364462f97b877caaf32cebcab1df219da7 and f04791411965e907ed6c8af1c42560a9ca69f732.

[2018-02-07 19:27] #79 closed

[2018-02-07 23:22] pixelzoom opened #80 "non-standard shebang in log.sh"
Since bash is universally installed in the same location, the standard shebang for bash scripts is:

`#!/bin/bash`

And that appears in all bash scripts in perennial/bin -- except log.sh, which has:

`#!/usr/bin/env bash`

A `/usr/bin/env` shebang is typically used for scripts to be executed by a program that will be in $PATH, but whose location may vary.  Python is a good example -- depending on

[2018-02-07 23:23] pixelzoom commented on #80
@samreid FYI, since you were the author.  Feel free to close.

[2018-02-08 17:59] pixelzoom opened #81 "branch: phet-io-changes"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 17:59] pixelzoom opened #82 "branch: phet-server"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 20:05] ariel-phet commented on #77
@jonathanolson says this would be a good simple test of the maintenance release process once that is upgraded

[2018-02-09 03:21] mattpen commented on #67
@jbphet @jonathanolson - Are chipper and rosetta properly handling the 202/401 status codes now?

[2018-02-09 06:34] samreid commented on #80
Thanks! Closing.

[2018-02-09 06:34] #80 closed

[2018-02-09 16:40] jbphet commented on #67
Rosetta is not explicitly handling 401 - it just prints out codes that indicate failure.  I'll assign this to myself and add a specific message.

[2018-02-12 19:55] mattpen commented on #72
This should have been fixed in the above commit.  It has been deployed and is ready for a test.

[2018-02-13 18:05] jbphet commented on #72
This does not appear to be fixed.  We have started to receive emails from translators that the translations are not being published.  The following translations have been submitted recently, appear to succeed in rosetta, and are not appearing on the site (some sim+locale combinations appear multiple times because the translator retried):

| Build Time | Sim | Locale  |
| ------------- | ----------

[2018-02-13 18:09] jbphet commented on #72
Also, when @mattpen and I looked at this yesterday, he said that there wasn't a good way to push a translation to the site if the automated process doesn't work.  This seems like a problem to me.  Yesterday, we asked the translator for one of the failures above to retry the submission, which they did, and it still didn't work, so we are in the awkward position of enlisting translators to do our te

[2018-02-13 20:19] mattpen commented on #72
I've been taking a look at the failed CLB in be tranlsation at 6:58 today.

The addTranslator is now sending the correct parameters, but the call appears to have failed on the website side because a LocalizedSimulation object for `be` did not exists.  This is created by the synchronize project call.  The build-server logs report that the call was successful, but the logs on the website side omit t

[2018-02-13 20:20] mattpen commented on #72
Looks like we were missing `await` on the write file call in the build-server.

[2018-02-13 21:07] mattpen commented on #72
@jbphet - I was able to retrigger each of the translations in the list above.  CLB/be, PL/hi, and AI/hr are all available on the website and the translation credits have all been added.

The root cause of this problem was that the synchronize project process on the website and the writing of the new sim-name.xml file were happening asynchronously, so when new locales were translated for a sim, the

[2018-02-13 21:23] jbphet commented on #72
I just checked the web site, and am seeing the translations, so this looks good - thanks @mattpen.  I'll watch the translation log over the next few days to make sure all is well.

I don't think so - I just wanted to be sure that we could publish translations that end up in this state since there were a few, and since it seems possible that an issue like this could recur.  It sounds like you've fi

[2018-02-13 21:28] jbphet commented on #72
@oliver-phet - you mentioned to me that we'd gotten some emails from translators about this problem.  Can you look through the table in https://github.com/phetsims/perennial/issues/72#issuecomment-365352169 and see if this matches up with who you have heard from, and let them know that their translations are now live and the issue should be resolved?  Also, they should let us know if they see any

[2018-02-19 20:51] zepumph commented on #54
marking as high priority because it will be easy to test, and I should do it before long.

[2018-02-20 19:20] mattpen commented on #38
I've added checks to the code that rewrites the .htaccess file for the /latest/ directory.  The website is already handling these requirements. I'm planning to test on ox-dev later today.

[2018-02-21 17:25] jbphet commented on #72
We received two new translations early this morning.  The locale for both is "nn", which is Norwegian Nynorsk, and the sims were build-an-atom and pendulum-lab.  Both are visible on the web site as of this writing.  This seems to indicate that the problem with sims getting published is resolved, so I'm going to close this issue.  I'll keep an eye on translations and re-open if I see any publicatio

[2018-02-21 17:25] #72 closed

[2018-02-21 18:12] mattpen commented on #52
@jbphet - the metadata should now be working for this purpose, see details in https://github.com/phetsims/rosetta/issues/171#issuecomment-367417895.

[2018-02-21 20:59] zepumph commented on #54
Works great now. Nice stuff!

[2018-02-21 20:59] #54 closed

[2018-02-26 23:56] jbphet opened #83 "Build failures occurring when no file exists for the primary sim"
There were two build failures that occurred today, both for the Swedish locale (sv), one for atomic-interactions and one for concentration.  After some investigation on this, I have a theory: This is a bit of an unusual case - atomic-interactions and concentration both have only one string in their string files - their title.  That's because the bulk of each of these simulation's strings are in so

[2018-02-26 23:57] jbphet commented on #83
Assigning to @mattpen for initial investigation, he can bring in @jonathanolson and/or me as needed.

[2018-02-27 03:44] mattpen commented on #83
This failed during the `grunt production` step, and isn't really related to the build-server.  @jonathanolson can you please take a look?  The failures occured during the after-requirejs build step.

[code]

[code]

[2018-02-27 16:23] jbphet commented on #83
Another thought: this may be a problem for any sim where the title is not translated.

[2018-02-27 16:26] jbphet commented on #83
I'm going to add @oliver-phet as an assignee so that he can tell the Swedish translator to please resubmit atomic-interactions and concentration with the titles translated.  The title is the first item that appears on the translation page.

@oliver-phet - let me know if you need any more details on the translator.  Once he/she has been notified, you can unassign yourself.

[2018-02-27 16:35] oliver-phet commented on #83
Translator notified.

[2018-02-27 17:26] samreid commented on #44
@mattpen can I get a status on this?

[2018-02-27 17:50] mattpen commented on #44
@samreid

The changes have been migrated to the `chipper2.0` branch manually in the above commit.  This branch is no longer necessary so I'll remove it.

The changes have not yet been tested, are they blocking progress on phetsims/phet-io-wrappers#30?

[2018-02-27 17:51] samreid commented on #44
I was getting closer to a point where I was ready to test that, even though we wouldn't use it in production for another month at least.

[2018-02-27 17:57] mattpen commented on #38
The changes have been successful for deploys of chains.  I'm going to deploy this on production and close the issue.

[2018-02-27 17:57] #38 closed

[2018-02-28 04:16] mattpen opened #84 "writePhetioHtaccess is failing for chipper 1.0 builds"
[code]

[2018-02-28 19:03] jbphet commented on #83
We got another one of these failures today, Feb 28 2018 at 10:01 am (approximately).  It was for phet-scale-basics, locale = mr (Marathi).  It appears to be exactly the same pattern, i.e. translators are submitting translations that exclude the title.  To help illustrate the problem, this is what you see right now if you go to the translation page, select ph-scale-basics for the sim and Marathi fo

[2018-02-28 20:03] jbphet opened #85 "Translation appears to have built successfully, but is not visible on website"
I'm keeping an eye on translation submissions, since there have been some issues lately.  I noticed that a translation of plinko-probability was submitted recently for the sv (Swedish) locale, and it doesn't appear to be visible on the website.  Below are some details that should help in tracking down the issue.

This may be related to a previously resolved issue that had somwhat similar symptoms,

[2018-02-28 20:03] jbphet commented on #85
Assigning to @mattpen for initial investigation.

[2018-02-28 20:27] mattpen commented on #85
It looks like there may still be some concurrency problems with the request to notify the server about translations.

Here are the logs from the syncronize project request:

[code]

There was apparently no swedish entry in the translations .xml file when the sync call was made, so when the translator was added the call failed.

This is essentially the same problem that caused https://github.com/ph

[2018-03-01 18:06] mattpen commented on #85
It looks like sv is still missing from plinko-probability.xml.  The most likely reason this could happen is if `/babel/plinko-probability/plinko-probability-strings_sv.json` did not exist when the build server tried to create the xml file.  The github file was committed on 2/26@16:54 and the xml was built on 2/26@16:55, so the file should have been available to the build-server. I was able to manu

[2018-03-01 18:37] mattpen commented on #85
@jbphet - nevermind the previous request.

It looks like the file was checked out successfully before the xml file was built.

[code]

[2018-03-02 02:19] mattpen commented on #85
OK, so I believe that the swedish translation was skipped because the sim file did not exist yet in the deploy directory. This is likely due to the fact that the copy command that runs after grunt is using a callback rather than promises.  This command needs to execute synchronously.  I'll wrap it in an async/await, I think that should fix the problem.

[2018-03-02 17:59] pixelzoom opened #86 "add option to specify commit message when version number is bumped"
I don't know if this belongs in perennial or chipper, so creating an issue here.

Now that bumping the version number is automated, I miss being able to (optionally) add a commit message that describes the purpose of the version.   In the past, I did this for "significant" dev versions, with messages like "before making major changes", "after making major changes", "to verify #13", etc.  This save

[2018-03-02 18:01] jbphet commented on #85
@mattpen - if you like, you can assign this to me to keep an eye on whether this is recurs in the next couple of weeks or so.  I tend to monitor the translation submissions on an almost-daily basis anyway.

[2018-03-02 19:33] ariel-phet commented on #86
@jonathanolson said this should be relatively quick. He may have some questions for @pixelzoom

[2018-03-02 19:42] jonathanolson commented on #86
More careful reading answered my questions. Running perennial unit tests with changes before I commit/push.

[2018-03-02 22:08] jonathanolson commented on #86
Implemented and tests passing. Spot checked 4 different deployment commands. @pixelzoom, can you try a deploy with this?

[2018-03-02 23:22] pixelzoom commented on #86
@jonathanolson Can you summarize what you implemented?

[2018-03-02 23:47] mattpen commented on #85
@jbphet this has not been deployed yet. I need to test it first, I'll notify you when it is up (probably Monday 3/5)

[2018-03-05 21:05] pixelzoom commented on #86
I had occasion to use this today for `grunt dev`.   Answered the "what did you implement?" question myself by inspecting commit and by looking at `grunt --help` in perennial.  Closing.

[2018-03-05 21:05] #86 closed

[2018-03-06 22:35] jbphet commented on #85
I just checked the logs, and there are two more translations that have been submitted that are not appearing on the site.  Both are for the 'mr' locale (Marathi), and the sims are unit-rates and states-of-matter-basics.  @mattpen - can you please work your magic and get these to appear on the website?

[2018-03-07 18:52] jbphet commented on #85
Two more appeared yesterday, both also with the 'mr' locale (Marathi), the sims are reactants-products-and-leftovers and rutherford-scattering.

[2018-03-08 11:01] jonathanolson commented on #75
Implemented branch detection from what is checked out. Can you verify?

[2018-03-08 19:20] mattpen opened #87 "Deploy 8d7819725e4fecd611f560b10c79e6d5037221b0 to production"
This sha has been tested for all deploy configurations and was deployed to production today.

Testing results: https://docs.google.com/spreadsheets/d/19Jn7e0wFW0NIjX0z-Hh2XPDWngRvr5LKeYBC6Qx7Ajk/edit?usp=sharing

[2018-03-08 19:20] #87 closed

[2018-03-08 19:22] mattpen commented on #85
The fix was deployed as part of #87.  I'll manually update the few mr sims that fell through the cracks.

[2018-03-08 19:23] mattpen commented on #84
This should be working now, it was fixed as part of #87

[2018-03-08 19:23] #84 closed

[2018-03-08 20:05] mattpen commented on #85
I was able to synchronize the simulations listed above for `mr` with the website and confirm that they are published.  I was also able to add the translation credits and verify they were added to the database, but I could not verify that they were published on the website.  I believe they will show up in a day or so once the various caches time out.

[2018-03-08 20:05] #85 closed

[2018-03-08 21:04] mattpen commented on #56
Documentation was added, closing.

[2018-03-08 21:04] #56 closed

[2018-03-23 15:39] mattpen commented on #44
The /latest links were tested and deployed to production.

Full testing results here: https://docs.google.com/spreadsheets/d/1IyEzNukabAlhgm3PV6xtSALyffU1wj7VdYwaZRdbed0/edit?usp=sharing

[2018-03-23 15:41] #44 closed

[2018-03-23 15:43] mattpen commented on #70
All child_process commands were replaced with the appropriate fs command or with node-rsync.

These changes were deployed to production.

Testing results are here: https://docs.google.com/spreadsheets/d/1IyEzNukabAlhgm3PV6xtSALyffU1wj7VdYwaZRdbed0/edit?usp=sharing

[2018-03-23 15:43] #70 closed

[2018-03-23 15:46] mattpen commented on #49
My current process is to development in a feature branch and restart the build-server on ox-dev by first checking out that branch, running npm prune/update; then restarting the node process.  I've got an alias setup under phet-admin to run this process in one command so I don't think further development is needed in this regard for now..

[2018-03-23 15:46] #49 closed

[2018-03-31 18:44] mattpen commented on #11
This work was addressed as part of the updates for add translator in chipper 2.0 and is no longer a problem. Closing.

[2018-03-31 18:44] #11 closed

[2018-04-23 17:30] jonathanolson commented on #34
No strong preferences.

[2018-04-24 15:05] jbphet commented on #52
Metadata is now being used for sim info, and seems to be working well.  Closing.

[2018-04-24 15:05] #52 closed

[2018-04-24 22:47] jonathanolson opened #88 "Production deployments failing"
Just tried to deploy the area-model sims (uses newer chipper SHAs), and they failed like:
[code]

@mattpen or @jbphet, thoughts?

[2018-04-24 22:54] jonathanolson commented on #88
Looks tentatively like it's trying to create `/data/web/static/phetsims/sims/html/area-model-algebra/1.0.0/` without first creating `/data/web/static/phetsims/sims/html/area-model-algebra/`. Then it looks like it's hardcoded to ignore any error in this operation, and the rsync recursive copies then fail out.

[2018-04-24 23:18] mattpen commented on #88
It should be creating `/data/web/static/phetsims/sims/html/area-model-algebra/1.0.0/` with the flag to create any necessary parent directories.  I'll verify.

[2018-04-25 00:04] mattpen commented on #88
It looks like I made some incorrect assumptions about how `fs.mkdir` was handling missing parents.  I added checks to make sure the sim directory was created before attempting to create the version directory, as well as adding checks for allowing `EEXIST` errors to occur (these are expected and should be allowed to proceed).  I deployed the changes to phet-server and @jonathanolson successfully bu

[2018-04-25 00:14] jonathanolson commented on #88
Working well, thanks!

[2018-04-25 00:14] #88 closed

[2018-04-25 23:36] pixelzoom commented on #34
No preference, I didn't know this directory existed.

[2018-04-26 14:07] mattpen commented on #34
I would prefer not to change the directory name at this time, for reasons stated above.

[2018-04-26 17:09] zepumph commented on #34
@pixelzoom suggested making a readme file for the top of that directory saying "These are for the build server, don't use them."  We all agree, @mattpen volunteered to take this on.

[2018-04-26 17:26] mattpen commented on #34
I added the following to `/data/share/phet/phet-repos/README`:

[code]

[2018-04-26 17:26] #34 closed

[2018-04-26 19:28] zepumph opened #89 "RIAW RC 1.5.0-rc.3 is missing the a11y view"
The previous version has the a11y view built in, https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.1/phet and so does a more recent 1.6.0-dev.1.

But
https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.3/phet/ does not include it.

When I built the sim locally beforehand it was built. @jonathanolson and I thought it was a build-server issue. @mattpen what do you think?

[2018-04-27 15:53] jbphet commented on #46
The interaction between the build server and rosetta has improved, and seems to be working well lately.  I don't think there is anything easy that can be done here, and the problem doesn't justify a bunch of effort. Closing.

[2018-04-27 15:53] #46 closed

[2018-04-27 21:05] jbphet commented on #67
I added specific logging messages for 401 and handling (a while ago) for 202.  That's it for me - unassigning.

[2018-04-30 16:44] mattpen opened #90 "Rsync permissions error"
During a deploy for molecule-shapes-basics 1.1.10, we received a permissions error during the rsync step:

[code]

A subsequent build did not recreate the problem.  Opening this issue to track further errors.

[2018-05-08 14:28] mattpen commented on #89
@zepumph - What is the build command I can use to recreate this?

[2018-05-08 16:08] zepumph commented on #89
`grunt generate-a11y-view-html` will put an a11y view into your sim dir you run it from. On build we use `getA11yViewHTMLFromTemplate` in `buildRunnable` to get a string we can write to the build dir. I hope that is helpful.

[2018-05-14 19:56] mattpen commented on #89
This is related to the translated sim filter for rc deploys and the dev copy of production deploys.  I updtaed the filter to allow files with "_a11y" in the name and deployed this to production.  @zepumph is going to test later today.

[2018-05-14 20:14] zepumph commented on #89
Looks great thanks @mattpen

![image](https://user-images.githubusercontent.com/6856943/40021063-4e5320fa-5770-11e8-9471-f66809fd7b52.png)

[2018-06-01 16:34] zepumph commented on #89
@mattpen did this ever get deployed to the build server. This a11y view isn't showing up for us right now.

[2018-06-01 17:59] mattpen commented on #89
@zepumph - It is showing up for me and looks like it was created at build time, can you check again?

[2018-06-01 19:18] #89 closed

[2018-06-01 19:19] zepumph commented on #89
Yeah I don't think this is the stem of an issue I'm investigating, sorry to bother.

[2018-06-04 15:51] jbphet commented on #41
I have seen this a handful of times recently, but it doesn't seem to cause any issues with the build, so I'm going to close it.

[2018-06-04 15:51] #41 closed

[2018-06-08 01:21] zepumph opened #91 "What .htaccess should phet-io dev builds be using?"
I just recently did a dev deploy of Faradays Law 1.4.0-dev.28, and found that the htaccess that was copied over on build was for spot, and can be found in `phet-io/templates/dev/.htaccess`. This should be updated to point to apache to the proper passwords file, right now we just get a 500 level server error because it is looking in the spot path, I will try to manually update this. (Perhaps this i

[2018-06-08 01:27] zepumph commented on #91
It worked to just manually update that template in phet-io, but that isn't very robust, and it seems like perennial now has a better system for this htaccess file, I see `writePhetioHtaccess.js`. Assigning this over to @mattpen to see if he wants to improve this hard coded template file in `phet-io/` to align with the dynamic and override-able way you are doing things for rc/production.

[2018-06-08 22:58] jbphet commented on #83
We received two more of these this week, both were attempts to build a Maori (locale=mi) version of Circuit Construction Kit: DC - Virtual Lab.  Again, the translator didn't fill in the title, and the build failed.  Here's the build error message:

[code]

Here's what the CCK DC - Virtual Lab page for the Maori translation:

![image](https://user-images.githubusercontent.com/3082831/41184358-09620

[2018-06-08 23:06] oliver-phet commented on #83
Translator notified.

[2018-06-13 17:04] mattpen commented on #91
Currently writePhetioHtaccess.js is intended for the build-server, but it could potentially be factored out into common code and used in the grunt task for dev deploys as well.  @jonathanolson does this sound ok with you?

[2018-06-13 22:53] zepumph opened #92 "phet-io-absolute-url"
To support in work for https://github.com/phetsims/phet-io-wrappers/issues/82

[2018-06-14 20:40] jonathanolson commented on #91
Sounds good to me (perennial/js/common?)

[2018-06-18 15:21] mattpen commented on #91
@zepumph - I've refactored this to common and updated the dev deploy process.

[2018-06-18 15:39] samreid commented on #92
Branch deleted, closing.

[2018-06-18 15:39] #92 closed

[2018-06-18 17:41] zepumph commented on #91
That is looking very nice, I tested by deploying chains to https://phet-dev.colorado.edu/html/chains/1.18.0-dev.2/phet-io/wrappers/index/.

Here is what the wrappers folder looks like:
[code]

I'm wondering if it is my fault that the .htaccess file is of the facstaff group, or if it is the dev process's fault. How can I change that? Does this happen to anyone else?

[2018-06-18 19:32] mattpen commented on #91
@zepumph - Were there any errors printed in the dev deploy process? It looks like all of the files are missing the group write flag as well.

[2018-06-18 19:53] zepumph commented on #91
There were no errors!

[code]

In my bashrc rc, I weirdly see these two lines one after another, could this be the culprit?
[code]

[2018-06-18 21:00] jbphet commented on #28
I'm doing a bit of GitHub cleanup, and thought I'd follow up on this issue.  I just looked at the directories that exist on phet-server, and none of them have the -phetio name, and only very few have -rc in their name, and I think that may be a mistake (e.g. they are not supposed to be there).  That being the case, I'm not inclined to generalize this to handle the other cases suggested by @zepumph

[2018-06-18 21:10] jbphet opened #93 "Suggest improvement to usage of getLocales"
While working on #28, I noticed something that I thought was confusing in the usage of the `getLocales` function.  The first portion of the function looks like this:

[code]

There is only one call site and it looks like this:
[code]

It seems quite odd to me that the function is basically short circuited unless the client passes in a value of '*' for locales.  Based on its name and header descrip

[2018-06-18 21:11] jbphet commented on #93
Assigning to @mattpen, since he has all of the commits on this file, though it looks like some history may have been lost prior to his work on this.  He is welcome to reassign if appropriate.

[2018-06-18 21:12] jbphet commented on #93
Pinging @zepumph since this is slightly related to issue #28, which he and I have worked on.

[2018-06-18 22:43] zepumph commented on #28
Things are going well. I don't see a need for the generalization!

[2018-06-18 22:43] #28 closed

[2018-06-20 17:32] mattpen commented on #91
[code]

As far as I know, these two lines are equivalent and mean that files will not be created with all/other write by default, but shouldn't affect group permissions and have nothing to do with the owner.

[2018-06-20 18:18] mattpen commented on #91
@zepumph - I added explicit calls to set the permissions and group for all files deployed by the dev process.  I'll manually fix the files already deployed.  https://bayes.colorado.edu/dev/html/chains/1.18.0-dev.5/ appears to have worked successfully with the proper .htaccess file, can you please run a test from your side as well?

[2018-06-20 22:07] zepumph commented on #91
[code]

Looks very nice! Thanks!

[2018-06-20 22:07] #91 closed

[2018-06-20 22:07] zepumph commented on #91
[code]

Looks very nice! Thanks!

[2018-06-29 02:00] zepumph opened #94 "grunt lint-everything is broken"
Maybe I am using it wrong, but I thought that lint everything would catch everything. What do you think @mattpen?

[code]

[2018-07-04 20:58] jonathanolson commented on #94
Yikes, I've been using this, and it's definitely not looking at sim repos.

After a bit of investigation, it looks like it is only linting perennial itself. Most confusingly, if I patch:

[code]

around the eslint call, the repos reports a correct-looking list of directories, HOWEVER the report contains results only under perennial/js.

@samreid this seems quite unexpected, do you have any ideas w

[2018-07-04 21:02] jonathanolson commented on #94
It looks like eslint is still on 3.19.0 on my copy (our minimum in package.json), although it could be a dependency of eslint that changed.

NOTABLY: I'm reproducing the problem on my MBP (has definitely npm installed recently), while my Windows system (which is more stale) is working correctly.

[2018-07-04 21:03] jonathanolson commented on #94
print-shas on a "working" setup before I pull (Windows):
[code]

[2018-07-04 21:05] jonathanolson commented on #94
`npm ls` for working Windows setup: https://gist.github.com/jonathanolson/8757b1e9a69874b9cd5c05a22dad6f8b

[2018-07-04 21:06] jonathanolson commented on #94
print-shas.sh on the failing macOS:
[code]

[2018-07-04 21:07] jonathanolson commented on #94
macOS (failing) `npm ls`: https://gist.github.com/jonathanolson/a244a34bfefb27b9d36c864173af4991

[2018-07-04 21:12] jonathanolson commented on #94
Windows still failing after a pull-all. I'll try a fresh npm checkout there. It also picked up a phet-io-wrappers lint failure that might be getting missed by bayes.

[2018-07-04 21:18] jonathanolson commented on #94
Checkout out a fresh npm install triggers the buggy situation:
[code]

[2018-07-04 21:35] jonathanolson commented on #94
Narrowed the location of the regression (executing the following installs seems to "fix" things):
[code]

I'll figure out which one triggers the correct behavior.

[2018-07-04 21:38] jonathanolson commented on #94
Looks like it's related to the version of `ignore`, reverting to 3.3.7 fixes things:

[code]

[2018-07-04 21:43] jonathanolson commented on #94
Bisected to a regression between ignore 3.3.8 and 3.3.9.

[2018-07-04 22:01] jonathanolson commented on #94
No clue where the actual "break" is, but the commit https://github.com/kaelzhang/node-ignore/commit/d3cdd5ec53ec2962854340698d6b9541421bbff5 seems to be the trigger.

[2018-07-11 20:58] pixelzoom commented on #94
I have no input on how to fix this, but agree that it should be fixed.

[2018-07-11 23:05] samreid commented on #94
I also don't know how to fix this (aside from finding the root cause and patching it or reverting to a prior version of something?)  I also agree that pinning dependencies would have prevented this problem.  A reminder that https://github.com/phetsims/chipper/issues/114 is only one way to pin dependencies, we could also check in node modules into a repo (I recall we discussed it but forgot the con

[2018-07-12 16:12] jonathanolson commented on #94
Due to security issues leaking into eslint today (https://github.com/eslint/eslint-scope/issues/39) and the above issues, I'd definitely want to look further into pinning dependencies.

[2018-07-12 19:23] pixelzoom commented on #94
7/12/18 dev meeting:
• I verified that lint-everything is still broken.
• CT lints sims individually, but won't catch lint errors in non-sim code (wrappers,...)
• We have platform-specific dependencies for filesystem stuff, which complicates "pinning" dependencies.
• Start with a report, to see if this is intentional new behavior or an unintended bug. @jonathanolson will do this.
• Investigate npm

[2018-07-12 19:24] pixelzoom opened #95 "investigate npm shrinkwrap"
Per 7/12/18 dev meeting and https://github.com/phetsims/perennial/issues/94#issuecomment-404622941.

https://docs.npmjs.com/cli/shrinkwrap

Assigned to @ariel-phet to prioritize and assign.

[2018-07-14 04:02] samreid commented on #94
I got fresh node_modules in chipper and am unable to lint-everything.  Self assigning in case I have time to see if there is another way to specify the paths in our lint call.

[2018-07-17 15:44] mattpen opened #96 "Determine cause of deployment failures on 7/13"
The deploys of BASE 1.2.3 and CAF 1.0.1 for phet-io failed on 7/13 due to problems setting file permissions on bayes.  This was due to this being a redeploy, where there were files already in place.  The existing files somehow had become owned by the user `tomcat` instead of `phet-admin`.  Because of this, `phet-admin` was not allowed to set the group write flag despite the fact that phet-admin wa

[2018-07-19 15:12] KatieWoe opened #97 "Failure to lint everything"
[code]
Possibly related to this commit:

https://github.com/phetsims/perennial/commit/943fcc411535ffec84d2a82fd997fa003e809851

[2018-07-19 20:00] KatieWoe commented on #97
Looks good on CT

[2018-07-19 20:37] #97 closed

[2018-07-20 05:18] samreid opened #98 "Add a check for VPN"
I've had deployments fail several times because VPN wasn't running, I'm going to add a prompt.

[2018-07-20 05:19] samreid commented on #98
Added in the preceding commit, @jonathanolson am I doing this right?

[2018-07-20 05:20] samreid commented on #98
Also, do we need this for `grunt rc` or `grunt prod`?

[2018-07-20 05:23] jonathanolson commented on #98
I think there's an issue for (a) doing a network check first before other things, so it doesn't require a prompt, and (b) doing it for all deployments.

[2018-07-20 05:29] samreid commented on #98
That sounds nice.  I didn't see a perennial issue referring to VPN (other than this one), I'm not sure where to look.  Perhaps we can leave this in place until that other issue is complete?  I'm not the only one who will benefit from this--another developer ran into this last week.

[2018-07-20 21:55] samreid commented on #98
Sorry, wrong commit.  It belonged over in https://github.com/phetsims/wave-interference/issues/42

[2018-07-25 10:52] jonathanolson commented on #73
I'll be spot-checking and testing before passing anything to QA, but this is a generated QA list for 3 different maintenance release patches:

- area-builder 1.1
  - https://github.com/phetsims/vibe/issues/32
  - [ ] [area-builder 1.1.8-rc.1](https://phet-dev.colorado.edu/html/area-builder/1.1.8-rc.1/area-builder_en.html)
- area-model-algebra 1.0
  - https://github.com/phetsims/chipper/issues/677

[2018-07-25 20:36] zepumph opened #99 "Investigate broken "latest" links in regards to recent phet-io maintenance release"
@mattpen found that the latest links were broken for "chipper 1.0" simulations deployed as part of https://github.com/phetsims/phet-io/issues/1329 (the list of simulations is https://github.com/phetsims/phet-io/issues/1329#issuecomment-407122396).

The problem was that the phet-io simulations, although when developed were deployed with `-phetio` in the version directory, had that omitted in the re

[2018-07-25 21:03] jonathanolson commented on #99
This seems incorrect to me. The build-server would presumably inspect the chipper SHA's package.json to determine whether it is for chipper 2.0 or not, and that should be fundamentally orthogonal to what api version is used for the request.

Presumably the build server logic should detect this, and create the proper directory name.

[2018-07-25 21:38] mattpen commented on #99
@jonathanolson and @zepumph and I discussed on a call.

The main problem is a regression where chipper 1.0 phet-io brand deploys used to send versions like `x.x.x-phetio`, but are now being sent as `x.x.x`.  This caused the wrappers to fail, so we changed them manually, but this manual change caused the latest links to fail.  The build server will now need to assume that it must append `-phetio` t

[2018-07-25 21:39] zepumph commented on #99
Let me know if I can be of any more assistance.

[2018-07-25 21:46] mattpen opened #100 "Refining the latest links for phet-io"
@jonathanolson, @zepumph, and I discussed the possibility of changing the `/latest` links for phet-io to instead be `/latest/{{major.minor}}`.  The reasoning is this will allow clients to automatically pick up non-breaking maintenance releases, but avoid potentially api-breaking minor/major releases.

Here is an example of how the redirect structure would look in the .htaccess file:
[code]
Here, t

[2018-07-25 21:59] zepumph commented on #100
Well documented @mattpen, thanks! I would like to add that option (3) above, the database, could be used in other places and its robustness extends to future tasks we may need to accomplish. For example, an api call to this database would replace @jonathanolson's manually maintained maintenance release json in perennial. I definitely think it would be time well spent, (coming from the guy that wou

[2018-07-25 22:00] zepumph commented on #100
@mattpen perhaps it would be helpful to give a time estimate on how much work it would be to create the database as apposed to the other, more specified, solutions.

[2018-07-25 23:03] ariel-phet commented on #100
Marking for developer meeting as I would like to make sure I fully understand the issue

[2018-07-25 23:19] samreid commented on #100
I agree we should implement a latest minor version, not sure the best way to do so.

[2018-07-26 18:43] mattpen commented on #100
@dev-meeting we decided (3) is probably the best way to go.  I'll create a new issue to discuss requirements for a phet-io sim information database.

[2018-07-27 15:00] mattpen commented on #99
This fix was deployed today.

[2018-07-27 15:00] #99 closed

[2018-08-02 18:57] samreid commented on #100
Maybe other possibilities?

/sims/chains/latest/1.17
/sims/chains/1.17/latest
/sims/chains/1.17

[2018-08-02 19:01] samreid commented on #100
@kathy-phet said `/sims/chains/1.17` seems reasonable. @samreid pointed out that the landing page will be at the root (moved from /wrappers/index/index.html to /index.html).  @jonathanolson pointed out that the maintenance release process would need to know that new relative path.

[2018-08-02 19:02] samreid commented on #100
@mattpen said `/sims/chains/1.17` will not be more technically difficult than the other paths with `latest`.

[2018-08-09 16:13] jonathanolson opened #101 "Style for automated maintenance commands"
For automated maintenance releases, does anyone have a preference between doing things in the Node.js REPL:

[code]

vs adding many grunt tasks:
[code]

There is a slight advantage to the Node REPL, as it allows doing more flexible things like this (actual example):
`Maintenance.addNeededPatchesBuildFilter( 'chipper', async ( releaseBranch, builtSim ) => buildSim.includes( 'OG_TITLE' ) );`
whereas

[2018-08-09 18:24] samreid commented on #100
@mattpen got the go-ahead to add phet-io info to the database.

[2018-08-09 18:26] samreid commented on #101
REPL looks significantly superior.  Easier to read, probably easier to debug.  Won't need to create adapter grunt tasks, etc.

[2018-08-09 18:38] mattpen commented on #100
I'll track the database work in phetsims/phet-io#1344.  When that is complete I'll use this issue to track changes to the htaccess rules.

[2018-08-09 22:04] jonathanolson commented on #98
I've added a check, but weirdly accesses without VPN (right now on this computer) to bayes are timing out rather than failing to immediately connect.

I don't want to add `-o ConnectTimeout=10` to SSH options, since that isn't portable. @samreid can you check how this behaves (trying to dev deploy) on your end?

[2018-08-10 12:04] jonathanolson commented on #101
The so-far description of the firefox and google-analytics maintenance release is in https://github.com/phetsims/special-ops/blob/master/firefox-google-analytics-maintenance-example.md. It includes the majority of the console output, and it was a process anyways, so it probably won't fit in a comment.

Retagging to see if we'll go over it fully at developer meeting. Maybe block off a whole day? Ma

[2018-08-11 00:34] jonathanolson commented on #98
@samreid noted in Slack that that this was working. Closing.

[2018-08-11 00:34] #98 closed

[2018-08-15 03:22] jonathanolson opened #102 "Run additional checks on all deployment input info before running things."
For instance, if there is a brand that does not exist, it should fail out before doing anything permanent.

[2018-08-15 03:22] jonathanolson opened #103 "Automated maintenance scripts should use the index wrapper location"

[2018-08-15 19:17] jonathanolson opened #104 "Should we change how dev deploys work?"
Right now they require an up-to-date checked-in master version of the sim (so that it can commit the version, not have conflicts, and also commit the top-level dependencies.json).

This seems like it has been inconvenient for developers. Additionally I really don't care about the top-level dependencies.json (I've never used it).

The one main reason I see that we're still doing this is so that we

[2018-08-15 19:20] jonathanolson opened #105 "Should RC deploys be required between production deploys?"
It was decided that it was OK to assume this was correct, but in practice it's definitely not been what has been desired multiple times. We've run into "quick deploys" multiple times now where I've had to advise people to "force and RC deploy" or to just patch package.json so the auto-increment will work.

Can we get rid of this restriction?

And how to we handle version auto-incrementing if you d

[2018-08-15 19:27] pixelzoom commented on #105
This restriction was most recently encountered in https://github.com/phetsims/molarity/issues/48.  We were going to patch PhET-iO issue after multiple confirmations in local builds.  But we discovered that an RC is required between production deploys.  I could have published an RC, ignored it, then published the production version.  But that ignores the "process" problem rather than addressing it

[2018-08-16 00:18] ariel-phet commented on #101
@jonathanolson Lets plan to do a "Cliffs notes" version at dev meeting and see where that gets us.

[2018-08-16 00:39] zepumph commented on #105
To try to balance the potential need for both items in @jonathanolson's list, perhaps we could have an option like `noRC` that "forces" the production build without an RC. This option is only used manually, and not automatically be the build server, so there would be a differentiation between uses, and failed builds that occurred with the `noRC` option could be handled right then.

I also think th

[2018-08-16 00:47] zepumph commented on #104
Part of me thinks that they are dev versions, and should be thought of inconsequentially. They are supposed to be snapshots taken of a sim for a specific purpose at that time. They aren't meant to have any temporal value. I think it is more up to the developer to document a specific dev release link in the issue that called for it. Also if this is a problem then maybe we should be more strict abou

[2018-08-16 04:07] jonathanolson commented on #104
So call me crazy, but what if instead of `dev.8` it was `dev.{{TIMESTAMP}}`, OR some type of version that is not incremented but the deployment process figures out the directory.

[2018-08-16 14:48] jessegreenberg commented on #105
I have been asked to publish maintenance releases where the only change is to update credits and in these cases testing seems excessive.

I like @zepumph's suggestion in https://github.com/phetsims/perennial/issues/105#issuecomment-413384329.

[2018-08-16 14:59] jessegreenberg commented on #104
The current process has not been inconvenient for me. If I need to deploy a dev version that is not out of master, one-off deploys/branches have served nicely and the purpose of deploy has been documented in the branch issue.

[2018-08-16 15:06] samreid commented on #105
Since we have no easy way to diff published simulations, a step where there is at least a spot check before publication sounds valuable.  If it is intended to be an incremental change in SHAs, it doesn't need to be a full test matrix.

Can someone identify the disadvantage of creating an RC, even if it is only spot tested?  Does it take too long or complicate the process?

[2018-08-16 15:28] jonathanolson opened #106 "Third party license changes for automated maintenance releases?"
Whenever I deploy automated maintenance releases, it looks like it is spamming commits to https://github.com/phetsims/sherpa/commits/master. Can this step be postponed until the end of the deployments, so it is one commit?

Additionally, it looks like whether a version is reported for a sim is inconsistent in the report:

[code]

[2018-08-16 18:16] pixelzoom commented on #106
I recently published RPAL 1.2.0 and Molarity 1.4.0 and 1.4.1 (not automated maintenance releases).   I see a commit to third-party-license.json for for Molarity 1.4.0, but not for the other two.   What performs this commit? What went wrong?

[2018-08-16 19:00] jonathanolson commented on #103
https://github.com/phetsims/chipper/commit/8db0653ee0cbb6ed716fa3b4d4759bcb75d8118a changed the location.

[2018-08-16 20:40] jonathanolson commented on #106
Hmm, it should run at the end of every production deploy (after sending the build to the server).

Maybe it errored (was an error printed? do you have console history still of the deploy)? It's also possible to CTRL-C (or equivalent) out of the deploy at this point that would interrupt it.

[2018-08-16 20:45] pixelzoom commented on #106
I received a "Build Succeeded" email from the build server. I don't recall seeing any console error, and I no longer have console history.  And I didn't abort the build before it completed -- `grunt production` explicitly warns against that, as I recall.

[2018-08-18 05:16] samreid opened #107 "Move MeterNode from wave-interference to scenery-phet"
For https://github.com/phetsims/wave-interference/issues/24 I would like to move MeterNode and all its history from wave-interference to scenery-phet.  We previously discussed moving between repos here: https://github.com/phetsims/perennial/issues/62

A summary of the strategies I tried is here:
https://github.com/phetsims/perennial/issues/62#issuecomment-355149985

I saw a third strategy here tha

[2018-08-18 14:09] samreid commented on #107
I'm going to try a script like this one:

[code]

[2018-08-18 14:46] samreid commented on #107
I tried this and got:

[code]

I tried re-cloning then reversing the log, and got:
[code]

[2018-08-18 16:01] samreid commented on #107
The commits that led to MeterNode touch numerous (dozens?) wave-interference modules.  Cherry-picking them would bring all of these wave interference changes into the history of scenery-phet, which seems undesirable.

[2018-08-21 17:53] jonathanolson commented on #94
Looks like it's working on multiple platforms. Closing.

[2018-08-21 17:53] #94 closed

[2018-08-21 21:06] mattpen opened #108 "Branch: phetio-deploy"
This branch is for developing changes requested in #100 & phetsims/phet-io#1344.

[2018-08-22 22:33] samreid commented on #104
I'd like to hear more about what the specific problems have been.  The existing process has been clear and straightforward for my development.

[2018-08-22 22:37] samreid commented on #106
+1 for batching sherpa commits.  Or maybe we can `git squash` them later, if it is too awkward to batch the tasks.  I don't know why some sims have no version noted.

[2018-08-22 22:43] pixelzoom commented on #106
@samreid said:

See https://github.com/phetsims/chipper/issues/593.

[2018-08-23 01:17] zepumph commented on #104
There has been one time for interaction-dashboard that I really wanted to create a dev version from a branch, because it didn't feel formal enough for a one off branch, but in retrospect I think that it probably belonged as a one off branch to support a permanent link for a paper. See https://github.com/phetsims/interaction-dashboard/issues/81

I can understand (though I have not yet needed to do

[2018-08-23 16:10] jonathanolson commented on #101
The "with big things collapsed by default" version is at: https://gist.github.com/jonathanolson/9539cc6a5a4e3fd874caa405fb8ebc51

[2018-08-23 19:53] jonathanolson commented on #106
I'll modify it so it runs once a day on bayes.

[2018-08-23 19:59] pixelzoom commented on #105
8/23/18 dev meeting consensus:  Continue to require an RC before a production version.  If it's something simple, test the RC yourself without involving QA, then deploy production.  So no changes to build process.

[2018-08-23 20:00] #105 closed

[2018-08-30 18:27] mattpen commented on #108
This was merged with master in ac1b6dda9f232244541d2c7493c53037d8829119. Deleting branch and closing.

[2018-08-30 18:27] #108 closed

[2018-08-30 19:12] mattpen commented on #100
@zepumph @samreid - I believe this should be ready for primetime.  I just redeployed chains in production and the minor redirects seem to be working as designed. (I only deployed 1.17 and the links were generated for all major/minor versions).

See:
https://phet-io.colorado.edu/sims/chains/1.16/chains_all_phet-io.html?phetioStandalone
https://phet-io.colorado.edu/sims/chains/1.17/chains_all_phet-i

[2018-08-30 20:53] zepumph commented on #100
My vote is "no, but we will let you know if that changes"

Am I right in assuming that if we published any maintenance release for phet-io without changing content (just updating the maintenance number), this would update all latest links for that simulation.

[2018-08-30 21:12] mattpen commented on #100
@zepumph said

In theory yes.  This will allow all links to be set on the next maintenance deploy.  After that the only link that should change will the the version being deployed.

[2018-08-31 02:57] samreid commented on #100
That sounds good to me.

In testing this, I observed that:
https://phet-io.colorado.edu/sims/chains/1.17/wrappers/index/index.html
links to
https://phet-io.colorado.edu/sims/chains/1.17.11/chains_all_phet-io.html?phetioStandalone

Is that as desired?  Or should that latter link be 1.17 instead of 1.17.11?  If we agree that the latter link should be 1.17, then how can we achieve that?

[2018-08-31 15:33] KatieWoe opened #109 "CT: Failure to Lint everything"
[code]
Started 8/30 at 8:53 pm

[2018-08-31 17:34] zepumph commented on #109
I see @mbarlow12 added these last night. Assigning over to him.

[2018-08-31 17:38] zepumph commented on #100
That sounds messy, but I agree there is a problem here, how can we assure that clients are manually editing that link, or the link to the lib file. Perhaps we need to update the index page on production build to only point to the major/minor version. But doesn't that lock you into always getting the most recent maintenance release. I guess we probably do want to lock clients into that.

[2018-08-31 18:31] phet-steele commented on #109
This issue is already made in the repo these lint errors belong to: phetsims/phet-android-app/issues/66.

[2018-08-31 18:31] #109 closed

[2018-08-31 18:55] samreid commented on #100
We would like clients by default to use the MAJOR.MINOR link, but would we allow them to use the MAJOR.MINOR.MAINTENANCE link if they need to?  That may change how we approach this.

[2018-08-31 20:28] zepumph commented on #100
I feel like ideally clients wouldn't know anything about the maintenance release version. That would make maintainability and maintenance release client update accountability much easier.

For the codebase, it could be potentially straightfoward to update this, although lots of testing would be needed. Marking for stable release of FL and unassigning @mattpen. Thanks for getting this off the groun

[2018-08-31 21:38] zepumph commented on #100
See https://github.com/phetsims/phet-io/issues/1352 in relation to republishing sims to get the latest links working.

[2018-09-05 00:06] zepumph commented on #100
@samreid I'm unsure about what direction we should plan for. I see a few options:

Do we assume that whenever a client is importing phet-io.js, they are doing so with the minor release latest link, like: `<script src="https://phet-io.colorado.edu/sims/fardays-law/1.5/lib/phet-io.js"></script>`

Do we need to hard code in assumptions about production builds into Client.js, for example, the client l

[2018-09-05 01:12] samreid commented on #100
It seems appealing to have all PhET-iO clients using MAJOR.MINOR in the same way that PhET brand clients just use /latest.  However, I don't know if this will be risky or if we will need clients to be able to sometimes specify MAINTENANCE.  Let's discuss this at developer meeting.

[2018-09-05 16:34] samreid commented on #100
Some options:

1. make all URLs use MAJOR.MINOR and drop support for MAINTENANCE somehow.  This shouldn't be done for local build, dev tests, rc tests.  It is unfortunate that we may want a feature that is only testable in production.
2. check in with the developer team at large whether (1) is good before trying to build it.
3. go ahead with step (1) now then run it past the developer team later (

[2018-09-05 16:39] samreid commented on #100
For developer meeting: a summary of the problem at hand:

We would like clients to be using MAJOR.MINOR so that we can update the MAINTENANCE version without requiring them to change their URLs or wrappers.  However, this is a new deployment paradigm for us (somewhat akin to the way we use /latest on phet.colorado.edu for sims), but this would be for MAJOR.MINOR, not just for MAJOR/latest.  We thi

[2018-09-05 23:12] pixelzoom commented on #100
If I understand correctly, the proposal is to have the client use a URL that points to the latest MAJOR.MINOR version number, and then PhET swap in new maintenance releases as they become available.

(1) I think that replacing what the client's URL points to is problematic.  The first time that we break something (which will happen), the client will be asking for a MAJOR.MINOR.MAINT URL.

(2) If s

[2018-09-06 00:35] jonathanolson commented on #100
The alternative would presumably be an automated system that notifies all clients when a new version of something is published?

It seems way more likely that clients would not update and use the "broken" old versions (usually maintenance patches fix freshly broken behavior or make important updates). It seems that WE really don't want clients ever using an OLD maintenance release, since it may be

[2018-09-06 04:58] jonathanolson commented on #100
I haven't been aware of any maintenance patch that has dropped support for browsers, and I'd strongly advocate that we NEVER do a maintenance patch that breaks/changes browser support.

[2018-09-06 18:50] samreid commented on #100
Meeting today:

@jonathanolson recommends clients always use latest maintenance version.
@jbphet says it may be best to require clients to use latest maintenance version.
@jonathanolson says if we break something in a maintenance release, we could immediately re-release to fix the breakage.

@jonathanolson asks how this will work for playback.  What if something moves by a pixel in 1.5.1, then pla